<% if @inpatient_movements.present? %>
  <div id="filterrific_results">
    <div class="card fixed-panel-list">
      <table class="table table-hover table-striped table-sm">
        <thead class="thead-light">
          <tr>
            <th><%= filterrific_sorting_link(@filterrific, :fecha) %></th>
            <th><%= filterrific_sorting_link(@filterrific, :usuario) %></th>
            <th><%= filterrific_sorting_link(@filterrific, :movimiento) %></th>
            <th><%= filterrific_sorting_link(@filterrific, :paciente) %></th>
            <th class="text-center">Acciones</th>
          </tr>
        </thead>
        <tbody id="inpatient_movements">
          <%= render @inpatient_movements %>
        </tbody>
      </table>
    </div>
    <div class="row d-flex align-items-center" style="height: 50px">
      <div class="col-5">
        <%= will_paginate @inpatient_movements, list_classes: %w(pagination mb-0), 
          previous_label: '<i class="fa fa-angle-left"></i>',
          next_label: '<i class="fa fa-angle-right"></i>', 
          renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
      </div>
      <div class="col-5 d-flex justify-content-around align-items-center">
        <div>
          Movimientos <span class="badge badge-secondary"><%= @inpatient_movements.count %></span>
        </div>
        <% InpatientMovement.find_each do |mov_type| %>
        <div>
          <%= link_to inpatient_movements_path(filterrific: {:with_status => 0}), 
            class: 'tn btn-link text-dark text-left p-0',
            title: "Ver solicitudes", data: { toggle: 'tooltip', placement: 'bottom' } do %>
            <%= mov_type.name.humanize.pluralize(@inpatient_movements.for_type(mov_type.id).count) %> 
            <span class="badge badge-info"><%= @inpatient_movements.disponible.count %></span>
          <% end %>
        </div>
        <div>
          <%= link_to inpatient_movements_path(filterrific: {:with_status => 1}), 
            class: 'tn btn-link text-dark text-left p-0',
            title: "Ver pedidos en auditoría", data: { toggle: 'tooltip', placement: 'bottom' } do %>
            Ocupadas <span class="badge badge-warning"><%= @inpatient_movements.ocupada.count %></span>
          <% end %>
        </div>
        <div>
          <%= link_to inpatient_movements_path(filterrific: {:with_status => 2}), 
            class: 'tn btn-link text-dark text-left p-0',
            title: "Ver pedidos aceptados", data: { toggle: 'tooltip', placement: 'bottom' } do %>
            Inactivas <span class="badge badge-primary"><%= @inpatient_movements.inactiva.count %></span>
          <% end %>
        </div>
      </div>
      <div class="col-2 d-flex justify-content-end align-items-center">
      </div>
    </div>
  </div>
<% else %>
  <%= render(
    partial: 'shared/not_found_filter',
    locals: { object_name: 'camas' }
  ) %>
<% end %>
