<%= render 'inpatient_prescriptions/header' %>

<div class="card fixed-custom-card">
  <div class="card-header d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center">
      <%= fa_icon "eye" %>
      <h5 class="card-title mb-0 ml-2">
        Viendo movimiento de internación
      </h5>
    </div>
    <div>
      <%= link_to bed_path(format: 'pdf'), class: 'btn',  
        :title => 'Imprimir pdf', :'data-placement'=>'top', :'data-toggle'=>'tooltip', target: :_blank do %>
        <%= fa_icon "print" %>
      <% end %>
      <%= link_to inpatient_movements_path, class: 'btn btn-light',
          :title => 'Cerrar', :'data-placement'=>'top', :'data-toggle'=>'tooltip' do %>
        <%= fa_icon "times" %>
      <% end %>
    </div>
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <h4>Tipo de movimiento</h4>
        <%= fa_icon "#{@inpatient_movement.movement_type.fa_icon}" %> <%= @inpatient_movement.movement_type_name.upcase %>
        <hr>
      </div>
      <div class="col-4">
        <div class="d-flex justify-content-bewteen align-items-center">
          <%= fa_icon 'bed', size: '4x' %>
          <h4 class="pl-2">
            Cama
            <%= @inpatient_movement.bed_name %>
          </h4>
        </div>
      </div>
      <div class="col-4">
        <div class="d-flex justify-content-bewteen align-items-center">
          <%= fa_icon 'door-closed', size: '4x' %>
          <h4 class="pl-2">
            Habitación
            <span class="badge badge-secondary">
              <%= @inpatient_movement.bed.bedroom_name %>
            </span>
          </h4>
        </div>
      </div>
      <div class="col-12">
        <hr>
        <div class="d-flex justify-content-bewteen align-items-center">
          <!-- Patient profile -->
          <div class='col-12'>
            <div class="media">
              <div class="mr-3">
                <%= link_to patient_path(@inpatient_movement.patient), target: :_blank, class: "link" do %>
                  <%= image_tag patient_avatar(@inpatient_movement.patient, 83, 102), size: '150x200', class:"img-thumbnail media-object" %>
                <% end %>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Paciente</h4>
                <p>
                  <%= link_to patient_path(@inpatient_movement.patient), target: :_blank, class: "link" do %>
                    <%= @inpatient_movement.patient_fullname.titleize %>
                  <% end %> 
                </p>
                <p><strong>DNI: </strong><%= @inpatient_movement.patient_dni %></p>
                <p><strong>Edad: </strong><%= @inpatient_movement.patient_age_string %></p>
              </div>
            </div>
          </div> <!-- End Patient profile -->
        </div>
      </div> 
      <div class="col-12">
        <hr>
        <h5>Creado por</h5>
        <p>
          <%= @inpatient_movement.user.full_name %>
        </p>
      </div>  
    </div>
  </div>
  <div class="card-footer d-flex justify-content-between">
    <div class="text-right w-100">
      <%= link_to inpatient_movements_path,
        'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Volviendo... ".html_safe,
        class: "btn btn-light mr-1" do %>
        Volver
      <% end %>
    </div> <!-- fin botones right -->
  </div>
</div>
