<%= render 'state_reports/header' %>

<% content_for :container do %>-fluid<% end %>

<div class="row">
  <div class="col-12">
    <div class="card fixed-custom-card">
      <div class="card-header bg-primary text-white d-flex justify-content-between">
        <div class="d-flex align-items-center ml-2">
          <%= fa_icon "plus" %>
          <h5 class="card-title mb-0 ml-2">
            Nuevo reporte de producto entregado por paciente entre dos fechas
          </h5>
        </div>
        <%= link_to :back, class: "btn text-white" do %>
          <%= fa_icon "times" %>
        <% end %>   
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-7 border-right">
            <%=  simple_form_for @patient_product_state_report, url: state_reports_patient_product_state_reports_path, method: :post, html: { id: "report-form" } do |f| %>
              <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
              <%= f.error_notification message: f.object.errors[:patient_product_state_report].to_sentence if f.object.errors[:patient_product_state_report].present? %>
              <div class="row nested-fields">
                <div class="col-6">
                  <%= f.input :since_date, as: :string, label: "Desde", html5: true, required: true,
                    :input_html => {
                      id: "since_date",
                      required: true,
                      class: "form-control datepicker",
                      autocomplete: "off",
                      value: f.object.since_date.present? ? f.object.since_date.strftime("%d/%m/%Y") : '',
                    }
                  %>
                </div>
                <div class="col-6">
                  <%= f.input :to_date, as: :string, label: "Hasta", html5: true, required: true,
                    :input_html => {
                      id: "to_date",
                      required: true,
                      class: "form-control datepicker",
                      autocomplete: "off",
                      value: f.object.to_date.present? ? f.object.to_date.strftime("%d/%m/%Y") : '',
                    }
                  %>
                </div>
              </div>

              <%# INSUMOS SOLICITADOS %>
              <%= render "shared/reports/report_products_table", form: f %>
            <% end %>
          </div>
          <div class="col-5">
            <h5>Últimos reportes generados</h5>
            <table class="table">
              <thead>
                <tr>
                  <th>Creado</th>
                  <th>Productos</th>
                  <th>Desde</th>
                  <th>Hasta</th>
                  <th></th>
                </tr>
              </thead>
              <tbody id="last-reports">
                <% @last_reports.each do |report|%>
                  <tr>
                    <td><%= report.created_at.strftime("%d/%m/%y") %></td>
                    <td><%= report.product.present? ? report.product_name : report.report_products.count %></td>
                    <td><%= report.since_date.strftime("%d/%m/%Y") %></td>
                    <td><%= report.to_date.strftime("%d/%m/%Y") %></td>
                    <td>
                      <%= link_to state_reports_patient_product_state_report_path(report), class: 'btn btn-light btn-sm',
                        title: 'Ver reporte', data: { toggle: 'tooltip', placement: 'top'}, 
                        'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i>".html_safe do %>
                        <%= fa_icon "eye" %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <div class="text-center" id="load-more-btn">
              <%= link_to load_more_state_reports_patient_product_state_reports_path(offset: @last_reports.count), 
                remote: true, class: 'btn btn-light' do %>
                Mostrar más
              <% end %>
            </div>
          </div>
        </div>
      </div> 
      <div class="card-footer text-right">
        <%= link_to :back, class: "btn btn-light mr-2" do %>
          Volver
        <% end %>
        <%= button_tag(type: 'submit', class: "btn btn-success", form:'report-form', 'data-disable-with' => "<i class='fa fa-circle-notch fa-spin'></i> Generando".html_safe) do %> 
          <%= fa_icon "check" %>
          Generar
        <% end %>
      </div>
    </div>
  </div>
</div>