<tr id="parent-<%= f.object.id %>" class="nested-fields order-product-<%= f.object.id %> <%= f.object.errors.any? ? 'has-error' : '' %>">
  
  <!-- Codigo de Producto -->
  <td>
   <%= f.object.product.code %>
  </td>
  
  <!-- Nombre de Producto -->
  <td>
   <%= f.object.product.name %>
  </td>
  
  <!-- Unidad de Producto -->
  <td>
   <%= f.object.product.unity.name %>
  </td>

  <!-- Dosis total -->
  <td>
    <%= f.object.total_dose %>
  </td>
  
  <!-- Observation -->
  <td>
    <%= f.object.observation %>
  </td>
  
  <td class="actions-col">
    <%= link_to deliver_children_inpatient_prescription_inpatient_prescription_products_path(order.id, f.object.id), 
                                                                                             remote: true, 
                                                                                             method: :PATCH, 
                                                                                             class: "btn btn-success",
                                                                                             data: {
                                                                                               toggle: "tooltip",
                                                                                               placement: "top",
                                                                                               title: "Entregar" 
                                                                                             } do %>
      <%= fa_icon 'paper-plane'%>
    <% end %>
      <%= link_to_add_association f, 
      :children, 
      class: 'btn btn-primary btn-md',
      partial: "prescriptions/inpatient_prescriptions/partials/delivery_child_fields", 
      render_options: {
        locals: { order: order, parent: f }
      },
      data: {
        "association-insertion-node" => "tbody#inpatient-order-product-cocoon-container-#{f.object.id}",
        "association-insertion-method" => "append",
        "product-id" => f.object.id,
        toggle: "tooltip",
        placement: "top",
        title: "Agregar" 
      } do %>
        <%= fa_icon "plus" %>
      <% end %>
    <%# end %>
  </td>
</tr>
<tr>
  <td colspan="6" style="<%= f.object.children.present? ? "" : "display: none;" %>" id="parent-product-<%= f.object.id %>">
    <table class="table table-hover table-sm mb-0">
      <thead>
        <tr>
          <th>Código</th>
          <th>Producto</th>
          <th>Stock</th>
          <th>A Entregar</th>
          <th>Descripción</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="inpatient-order-product-cocoon-container-<%= f.object.id %>" class="inpatient-order-product-cocoon-container">
        <%= f.simple_fields_for :children do |child_form| %>
          <%= render "prescriptions/inpatient_prescriptions/partials/delivery_child_fields", f: child_form, parent: f, order: order %>
        <% end %>
      </tbody>
    </table>
  </td>
</tr>
