<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between bg-warning">
    <div class="d-flex align-items-center ml-2">
      <%= fa_icon "edit" %>
      <h5 class="card-title mb-0 ml-2">
        Editando perfil
      </h5>
    </div>
    <%= link_to profile_path(@profile), class: 'btn pull-right close-btn' do %>
      <%= fa_icon 'times' %>
    <% end %>
  </div>
  <div class="card-body" id="panel-body-new">

    <%= simple_form_for @profile, remote: true, html: {class: "", role: 'check-modified'} do |f| %>
      <%= f.error_notification %>
      <div class='container-fluid'>
        <div class="row">
          <div class="col-md-6 text-center">
              <div class="d-flex align-items-center justify-content-center">
                <%= image_tag user_avatar(f.object.user, 200), class:"img-thumbnail" %>
              <div class="ml-3">
                <%= f.input :avatar %>
              </div>
            </div>

          </div>

          <div class="col-md-6">
            <%= f.input :first_name, label: "Nombres", readonly: true %>
            <%= f.input :last_name, label: "Apellidos", readonly: true %>
            <%= f.input :dni, placeholder: 'DNI', readonly: true %>
            <%= f.input :email, placeholder: 'usuario@dominio.com', readonly: true %>

            <%= f.input :sex, as: :radio_buttons,
              collection: [['masculino', 'Masculino'], ['femenino', 'Femenino']],
              label: "Sexo",
              label_method: :second,
              value_method: :first,
              input_html: {class: "radio ml-3"}
            %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="card-footer d-flex justify-content-end">
    <%= link_to 'Volver', profile_path(@profile), class: 'btn mr-2' %>
    <button type='submit' name='commit' class='btn btn-success' form="<%= @profile.new_record? ? 'new_profile' : 'edit_profile_' + @profile.id.to_s %>">
      <%= fa_icon 'save' %> Guardar
    </button>
  </div>
</div>




