<%= simple_form_for @profile, remote: true, html: {class: "form-inline"} do |f| %>
  <%= f.error_notification %>
  <div class='container-fluid'>
      <%= f.input :first_name, label: "Nombre", required: true %>
      <%= f.input :last_name, label: "Apellido", required: true %><br><br>
      <%= f.input :dni, placeholder: 'DNI', input_html: { min: '10000', max:'99999999' }, required: false %>
      <%= f.input :date_of_birth, label: 'Fecha de nacimiento',
                  as: :string,
                  :placeholder => "Seleccionar fecha",
                  input_html: {class: "form-control", required: false,
                  value: "#{@profile.date_of_birth unless @profile.new_record?}"},
                  html5: false%><br><br>
      <%= f.input :email, placeholder: 'usuario@dominio.com', required: false %>
      <%= f.input :address, label: "Domicilio", required: false %><br><br>
      <%= f.input :enrollment, placeholder: "Ej: TU455654", label: "Matrícula", required: false %><br><br>
      <%= f.input :sex, as: :radio_buttons,
        collection: [['hombre', 'Hombre'], ['mujer', 'Mujer']],
        label: "Sexo",
        label_method: :second,
        value_method: :first,
        input_html: {class: "radio"} %>
  </div>
<% end %>
