<% if user_signed_in? %>
  <li class="inverse-dropdown">
    <a class="inverse-dropdown dropdown-toggle" data-toggle="dropdown" href="#">
      <span class="glyphicon glyphicon-user "></span>
      <%= current_user.full_name %>
      &nbsp;&nbsp;
    </a>
    <ul class="inverse-dropdown dropdown-menu">
      <% if current_user.has_role? :admin %>
        <li>
          <%= link_to rails_admin_path do %>
            <%= content_tag(:span, '', class: 'glyphicon glyphicon-sunglasses') %>
            Administración
          <% end %>
        </li>
      <% end %>
      <li>
        <%= link_to edit_profile_path, remote: true do %>
          <%= content_tag(:span, '', class: 'glyphicon glyphicon-edit') %>
          Mi perfil
        <% end %>
      </li>
      <li>
        <%= link_to edit_user_registration_path do %>
          <%= content_tag(:span, '', class: 'glyphicon glyphicon-lock') %>
          Cambiar contraseña
        <% end %>
      </li>
      <li>
        <%= link_to destroy_user_session_path, :method => :delete do %>
          <%= content_tag(:span, '', class: 'glyphicon glyphicon-off') %>
          Cerrar sesión
        <% end %>
      </li>
    </ul>
  </li>
<% end %>
