<div class="card fixed-custom-card">
  <div class="card-header <%= @internal_order.new_record? ? 'bg-primary text-white' : 'bg-warning' %> d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center ml-2">
      <%= fa_icon (@internal_order.new_record? ?  "plus" : "edit")%>
      <h5 class="card-title mb-0 ml-2">
        <%= @internal_order.new_record? ? "Nueva provisión de sector" : "Editando provisión interna" %>
      </h5>
    </div>
    <%= link_to :back, class: @internal_order.new_record? ? 'btn text-white' : 'btn' do %>
      <%= fa_icon "times" %>
    <% end %>
  </div>
  <div class="card-body">
    <%= simple_form_for @internal_order,
                        :url => (@internal_order.new_record? ? internal_orders_providers_path : internal_orders_provider_path(@internal_order)),
                        html: { role: 'check-modified', id: 'order-form' } do |f| %>
      <%= f.error_notification %>

      <div class="row">
        <div class="col-6 border-right">

          <%# Sector Proveedor %>
          <label>Sector proveedor</label>
          <h6><%= current_user.sector_name %></h6>

          <%# Sector Proveedor %>
          <%= f.input :applicant_sector_id, label: 'Sector solicitante',
            collection: @sectors.map {|s| [ s['name'], s['id'] ] },
            required: true,
            selected: f.object.applicant_sector.present? ? f.object.applicant_sector.id : "",
            :input_html => {
              id: 'provider-sector',
              class: 'selectpicker-md custom-select-pick show-tick',
              "data-width"=>"auto",
              "title"=>"Seleccionar sector",
              "data-width"=> "100%",
              "data-live-search"=>true
            }
          %>

          <%# Observation %>
          <%= f.label :observation, "Observaciones" %>
          <div class="custom-input-group">
            <%= f.input :observation, label: false, as: :text, :input_html => { :cols => 38  , :rows => 2 } %>
          </div>
        </div>
        <div class="col-6" id='last-requests'>
          <% if @last_delivers.present? %>
          Últimas entregas de sectores
            <table class="table">
              <thead>
                <tr>
                  <th>Fecha</th>
                  <th>Sector</th>
                  <th>Productos</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% @last_delivers.reverse.each do |request| %>
                  <tr>
                    <td><%= request.created_at.strftime('%d/%m/%y') %></td>
                    <td><%= request.applicant_sector_name %></td>
                    <td><%= request.order_products.count %></td>
                    <td>
                      <%= link_to internal_orders_applicant_path(request), target: :_blank, class: 'btn btn-light btn-sm' do %>
                        <%= fa_icon 'external-link-alt' %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% else %>
            No hay entregas realizadas.
          <% end %>
        </div>
      </div>

      <input name="commit" id="submit-type" type="hidden">
    <% end %>
  </div>

  <div class="card-footer d-flex justify-content-end">
    <%= link_to 'Volver', internal_orders_providers_path, class: 'btn btn-secondary mr-1' %>

    <% if @internal_order.persisted? && policy(:internal_order_provider).edit_products?(@internal_order) %>
      <%= link_to edit_products_internal_orders_provider_path(@internal_order),  
        'data-disable-with' => "Editar productos <i class='fa fa-spinner fa-spin'></i>".html_safe,
        class: 'btn btn-warning btn-md mr-1' do %>
        <%= fa_icon "edit" %>
        Editar productos
      <% end %>
    <% end %>

    <button type='submit' name='commit' class='btn btn-success mr-1' form='order-form' value='Guardar', data-disable-with="<i class='fa fa-spinner fa-spin'></i> Guardando">
      <%= fa_icon "save" %> Guardar y agregar productos
    </button>
  </div>
</div>
