<% if @internal_orders.present? %>
  <div id="filterrific_results">
    <div class="card fixed-panel-list">
      <table class="table table-hover table-striped table-sm">
        <thead>
          <tr>
            <th><%= filterrific_sorting_link(@filterrific, :codigo) %></th>
            <th><%= filterrific_sorting_link(@filterrific, :solicitante) %></th>
            <th><%= filterrific_sorting_link(@filterrific, :origen) %></th>
            <th><%= filterrific_sorting_link(@filterrific, :estado) %></th>
            <th>
              <%= fa_icon "cubes" %>
            </th>
            <th>
              <%= fa_icon "exchange-alt" %>
            </th>
            <th>
              <%= fa_icon "comments" %>
            </th>
            <th>
              <%= fa_icon "calendar" %>
              <%= filterrific_sorting_link(@filterrific, :solicitado) %>
            </th>
            <th>
              <%= fa_icon "calendar" %>
              <%= filterrific_sorting_link(@filterrific, :entregado) %>
            </th>
            <th class="text-center">Acciones</th>
          </tr>
        </thead>
        <tbody id=internal_orders>
          <%= render partial: "sectors/internal_orders/providers/partials/provider", collection: @internal_orders, as: :internal_order %>
        </tbody>
      </table>
    </div>
    <div class="row d-flex align-items-center" style="height: 50px">
      <div class="col-5">
        <%= will_paginate @internal_orders, list_classes: %w(pagination mb-0), 
          previous_label: '<i class="fa fa-angle-left"></i>',
          next_label: '<i class="fa fa-angle-right"></i>', 
          renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
      </div>
      <div class="col-5 d-flex justify-content-around align-items-center">
        <div>
          Provisiones <span class="badge badge-secondary"><%= @internal_orders.count %></span>
        </div>
        <div>
          <%= link_to internal_orders_providers_path(filterrific: {:with_status => 1}), 
            class: 'tn btn-link text-dark text-left p-0',
            title: "Ver solicitudes", data: { toggle: 'tooltip', placement: 'bottom' } do %>
            Solicitudes sin responder <span class="badge badge-info"><%= @internal_orders.solicitud_enviada.count %></span>
          <% end %>
        </div>
        <div>
          <%= link_to internal_orders_providers_path(filterrific: {:with_status => 2}), 
            class: 'tn btn-link text-dark text-left p-0',
            title: "Ver pedidos en auditoría", data: { toggle: 'tooltip', placement: 'bottom' } do %>
            En auditoría <span class="badge badge-warning"><%= @internal_orders.proveedor_auditoria.count %></span>
          <% end %>
        </div>
      </div>
      <div class="col-2 d-flex justify-content-end align-items-center">
      </div>
    </div>
  </div>
<% else %>
  <%= render(
    partial: 'shared/not_found_filter',
    locals: { object_name: 'entregas' }
  ) %>
<% end %>

