<div class="card fixed-custom-card">
  <div class="card-header <%= @outpatient_prescription.new_record? ? 'bg-primary text-white' : 'bg-warning' %> d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center ml-2">
      <%= fa_icon (@outpatient_prescription.new_record? ?  "plus" : "pen")%>
      <h5 class="card-title mb-0 ml-2">
        <%= @outpatient_prescription.new_record? ? 'Agregar receta ambulatoria' : 'Editando receta ambulatoria' %>
        
      </h5>
    </div>
    <%= link_to :back, class: @outpatient_prescription.new_record? ? 'btn text-white' : 'btn' do %>
      <%= fa_icon "times" %>
    <% end %>
  </div>
  <div class="card-body">

    <%= simple_form_for @outpatient_prescription, 
      url: @outpatient_prescription.new_record? ? create_outpatient_prescriptions_path(outpatient_prescription.patient) : @outpatient_prescription, 
      html: { role: 'check-modified'} do |f| %>
      <%= f.error_notification %>
      <div class="row">
        <div class="col-6">
          <div class="row">
            <div class="col-6 border-right">
              <div class="d-flex">
                <div class="w-25">
                  <%= image_tag patient_avatar(outpatient_prescription.patient), size: '162x200', class: "img-thumbnail" %>
                </div>
                <div class="w-75">
                  <h5 id="patient-name" data-insurance-url="<%= get_insurance_path %>" data-patient-dni="<%= @outpatient_prescription.patient.dni %>">
                    <strong><%= @outpatient_prescription.patient.last_name %>,</strong> 
                    <%= @outpatient_prescription.patient.first_name %>
                  </h5>
                </div>
              </div>
                
              <h5 class="mt-3">
                <%= @outpatient_prescription.patient.dni %>
                <span class="badge badge-<%= @outpatient_prescription.patient.Temporal? ? "warning" : "success" %>">
                  <%= @outpatient_prescription.patient.status %>
                </span>
              </h5>

              <h5> <%= @outpatient_prescription.patient.email %> </h5>

              <% if @outpatient_prescription.patient.birthdate.present? %>
                <p class="mb-0 mt-3"><strong>Fecha de nacimiento</strong></p>
                <p><%= @outpatient_prescription.patient.birthdate.strftime("%d/%m/%Y")%> | <%= @outpatient_prescription.patient.age_string %></h5>
              <% end %>

              <%# <div id="pat-os-body"></div> %>
            </div>


            <div class="col-6 border-right">              
              <%# Medico %>
              <div>
                <%= f.label :professional_id do %>
                  Médico
                  <%= link_to new_professional_path, class: "btn btn-primary btn-sm", remote: 'true',
                    title: 'Nuevo médico', tabindex: "-1", data: { toggle: 'tooltip', placement: 'top' } do %>
                    <%= fa_icon "plus" %>
                  <% end %>
                <% end %>
                <div class="custom-input-group">
                  <%= f.input :professional, as: :string,
                    label: false,
                    placeholder: 'Matrícula | Apellido | Nombre',
                    required: true,
                    autocomplete: false,
                    :input_html => {
                      id: "professional",
                      data: { autocomplete_source: professionals_path },
                      value: "#{ if f.object.professional.present?; f.object.professional.full_info; end }",
                      size: 30
                    }
                  %>
                  <%= f.hidden_field :professional_id, id: "professional_id", value: "#{if f.object.professional.present?; f.object.professional.id; end }" %>
                  <div class="with-loading">
                    <%= fa_icon 'spinner', class: "fa-spin"%>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
        <div class="col-6">

        <!--------------------------inputs receta---------------------------------->
          <div class="row">
            <%# fecha recetada %>
            <div class="col-4">
              <%= f.input :date_prescribed, label: 'Fecha recetada',
                  as: :string,
                  :placeholder => "Seleccionar fecha",
                  input_html: {
                    tabindex: "-1",
                    class: "form-control pull-right datepicker prescribed-date #{("is-invalid" if f.object.errors[:date_prescribed_in_range].any? )} #{("is-valid" if f.object.date_prescribed.present? && !f.object.errors[:date_prescribed_in_range].any? ) }",
                    required: true,
                    autocomplete: 'off',
                    value: "#{f.object.date_prescribed.present? ? f.object.date_prescribed.strftime("%d/%m/%Y") : Date.today.strftime("%d/%m/%Y")}"
                  },
              html5: false %>

              <div class="invalid-feedback d-block">
                <% if f.object.errors[:date_prescribed_in_range].any? %>
                  <%= f.object.errors[:date_prescribed_in_range].first %>
                <% end %>
              </div>
              
            </div>
      

            <%# fecha de vencimiento %>
            <div class="col-4">
              <%= f.label :patient_id do %>
                Fechas de vencimiento
              <%end%>
              <div id="expiry-date">
                <%= "#{f.object.expiry_date.present? ? f.object.expiry_date.strftime("%d/%m/%Y") : 1.months.since.end_of_month.strftime("%d/%m/%Y")}" %>
              </div>
              <%= f.hidden_field :expiry_date, id: "expiry_date", value: "#{f.object.expiry_date.present? ? f.object.expiry_date.strftime("%d/%m/%Y") : 1.months.since.end_of_month.strftime("%d/%m/%Y")}" %>
            </div>
          </div>

          <%# diagnostico %>
          <div>
            <%= f.input :observation, label: 'Observaciones', as: :text, :input_html => { :cols => 30  , :rows => 1 } %>
          </div>
        </div>
      </div><!--  /.row -->
      
      <!-- Productos a dispensar -->
      <%= render "shared/prescription_orders/order_products_table", form: f, :relation => :outpatient_prescription_products %>

      <input name="commit" id="submit-type" type="hidden">     
    <% end %>
  </div>

  <div class="card-footer d-flex justify-content-end">
    <%= link_to 'Volver', outpatient_prescriptions_path, class: 'btn mr-1 btn-light' %>
  
    <!--button type='submit' class='btn btn-success mr-2' form="<%#= @outpatient_prescription.new_record? ? 'new_outpatient_prescription' : 'edit_outpatient_prescription_' + @outpatient_prescription.id.to_s %>" data-value='audit'>
      
      <div class="c-msg" style="pointer-events: none;">
        <%#= fa_icon "save" %> Guardar 
      </div>
      
      <div class="d-none" style="pointer-events: none;">
        Guardando...
        <%#= fa_icon "spinner", class: "fa-spin send-audit" %>
      </div>

    </button-->

    <button type='submit' class='btn btn-primary' form="<%= @outpatient_prescription.new_record? ? 'new_outpatient_prescription' : 'edit_outpatient_prescription_' + @outpatient_prescription.id.to_s %>" data-value='dispensing'>
      <div class="c-msg" style="pointer-events: none;">
        <%= fa_icon "paper-plane" %> Guardar y dispensar
      </div>
      <div class="d-none" style="pointer-events: none;">
        Guardando...
        <%= fa_icon "spinner", class: "fa-spin send-audit" %>
      </div>
    </button>
  </div>
</div>

<% content_for :modal do %>
  <%= render "shared/modals/lot_selection_dialog_deprecated" %>
<% end %>