<div class="authform" id="edit-pass-form">
  <% content_for :page_header do %>
    Cambiar contraseña
  <% end %>
  <%= form_for(resource, :as => resource_name, :url => user_registration_path, :html => { :method => :put, :role => 'form'}) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="form-group">
      <%= f.label 'Usuario' %>
      <%= f.text_field :username, disabled: true, class: 'form-control' %>
    </div>
    <fieldset>
      <div class="form-group">
        <%= f.label 'Nueva contraseña' %>
        <%= f.password_field :password, :autofocus => true, required: true,
        :autocomplete => 'off', class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label 'Confirmar contraseña' %>
        <%= f.password_field :password_confirmation, required: true, class: 'form-control' %>
      </div>
    </fieldset>
    <fieldset>
      <p>Necesitas ingresar tu actual contraseña para guardar los cambios.</p>
      <div class="form-group">
        <%= f.label 'Contraseña actual' %>
        <%= f.password_field :current_password, required: true, class: 'form-control' %>
      </div>
    </fieldset>
    <%= link_to 'Volver', :back, class: 'btn left' %>
    <%= f.submit 'Guardar cambios', :class => 'button right' %>
  <% end %>
</div>
