<div class="card fixed-custom-card">
  <div class="card-header <%= @professional.new_record? ? 'bg-primary text-white' : 'bg-warning' %> d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center ml-2">
      <%= fa_icon (@professional.new_record? ?  "plus" : "edit")%>
      <h5 class="card-title mb-0 ml-2">
        <%= @professional.new_record? ? "Agregar médico" : "Editando médico" %>
      </h5>
    </div>
    <%= link_to :back, class: @professional.new_record? ? 'btn text-white' : 'btn' do %>
      <%= fa_icon "times" %>
    <% end %>
  </div>
  <div class="card-body">

    <%= simple_form_for @professional, html: {class: "", role: 'check-modified'} do |f| %>
      <%= f.error_notification %>
      <%= f.input :first_name, placeholder: 'Juan', required: true, label: 'Nombres' %>
      <%= f.input :last_name, placeholder: 'Perez', required: true, label: 'Apellidos' %>
      <%= f.input :dni, placeholder: '12345678', required: false, label: 'DNI', input_html: { min: '10000', max:'99999999' } %>
    
      <%= f.label :is_active, 'Estado' %>
      <%= f.hidden_field :is_active, id: "is_active", label: 'Estado', value: (f.object.is_active.present? ? f.object.is_active : true) %>
      <input type="checkbox" name="professional-status" data-toggle="switchbutton" <%= (f.object.is_active.present? ? "checked" : true) %> data-onlabel="Activo" data-offlabel="Inactivo" data-onstyle="success" data-offstyle="danger">
    <% end %>

  </div>

  <div class="card-footer d-flex justify-content-end">
    <%= link_to 'Volver', professionals_path, class: 'btn mr-2' %>
    <% unless @professional.new_record? %>
      <%= link_to new_professional_path(id: @professional), class: "btn btn-primary mr-2", remote: 'true',
        title: 'Nuevo médico', tabindex: "-1", data: { toggle: 'tooltip', placement: 'top' } do %>
        Validar
        <%= fa_icon "check" %>
      <% end %>
    <% end %>
    <button type='submit' name='commit' class='btn btn-success' form="<%= @professional.new_record? ? 'new_professional' : 'edit_professional_' + @professional.id.to_s %>">
      <%= fa_icon 'save' %> Guardar
    </button>
  </div>
</div>
