<% content_for :page_header do %>
  <ul class="nav nav-tabs nav-tabs-cust">
    <li role="presentation" id="page-title">
      <a href="">Profesionales</a>
    </li>
    <li role="presentation" class="<%= active_action('index') %>">
        <%= link_to professionals_path do %>
          <%= content_tag(:span, '', class: 'glyphicon glyphicon-list') %>
          Listado
        <% end %>
    </li>
    <li role="presentation" class="<%= active_action('new') %>">
      <%= link_to new_professional_path do %>
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-plus') %>
        Nuevo
      <% end %>
    </li>
  </ul>
<% end %>