<% content_for :page_header do %>
    <li class="nav-item <%= active_action('index') %> non-sel">
        <%= link_to professionals_path, class: 'nav-link' do %>
          <%= fa_icon "user-md" %>
          Médicos
        <% end %>
    </li>
    <li class="nav-item <%= active_action('new') %> non-sel">
      <%= link_to new_professional_path, class: 'nav-link text-primary' do %>
        <%= fa_icon "plus" %>
        Agregar médico
      <% end %>
    </li>
  </ul>
<% end %>