  <tr id="professional_<%= professional.id %>">
    <div class="js-fade fade-in is-paused">
    <td><%= professional.first_name %></td>
    <td><%= professional.last_name %></td>
    <td><%= professional.qualifications.present? ? professional.qualifications.first.code : "---" %></td>
    <% @count_pres = (professional.outpatient_prescriptions.count + professional.chronic_prescriptions.count) %>
    <td><span class="badge badge-<%=if @count_pres > 0; 'primary'; else; 'secondary'; end%>" ><%= @count_pres %></span></td>
    <td>
      <span class="badge badge-<%= professional.is_active? ? "success" : "danger" %>">
        <%= professional.is_active? ? "Activo" : "Inactivo" %>
      </span>
    </td>
    <td><%= professional.dni %></td>
    <td><%= professional.professional_type.present? ? professional.professional_type.name : "----" %></td>
    <td class="actions-col">
      <%= render(
        partial: 'shared/action_buttons',
        locals:{ 
            object: professional, 
            show: {visible: true, target: (show_target if defined?(show_target) )},
            edit: {visible: true, target: (edit_target if defined?(edit_target) )},
            destroy: {
              visible: true, 
              title: "Eliminar Médico",
              body: "Esta seguro que desea eliminar la Médico #{ professional.full_name }?",
              path: "/medicos/#{professional.id}"
            }
        })
      %>
    </td>
  </div>
</tr>
