  <tr id="professional_<%= professional.id %>">
    <div class="js-fade fade-in is-paused">
    <td><%= professional.first_name %></td>
    <td><%= professional.last_name %></td>
    <td><%= professional.enrollment? ? professional.enrollment : "---" %></td>
    <% @count_pres = professional.prescriptions.count %>
    <td><span class="label label-<%=if @count_pres > 0; 'primary'; else; 'default'; end%>" ><%= @count_pres %></span></td>
    <td>
      <span class="label label-<%= professional.is_active? ? "success" : "danger" %>">
        <%= professional.is_active? ? "Activo" : "Inactivo" %>
      </span>
    </td>
    <td><%= professional.dni %></td>
    <td><%= professional.professional_type.name %></td>
    <td>
      <% if policy(professional).show? %>
        <%= link_to professional_path(professional), class: 'btn btn-default btn-xs',
              title: 'Ver detalles', data: { toggle: 'tooltip', placement: 'top' } do %>
          <%= content_tag(:span, '', class: 'glyphicon glyphicon-eye-open') %>
        <% end %>
      <% end %>
      <% if policy(professional).edit? %>
        <%= link_to edit_professional_path(professional), class: 'btn btn-warning btn-xs',
              title: 'Editar', data: { toggle: 'tooltip', placement: 'top' } do %>
          <%= content_tag(:span, '', class: 'glyphicon glyphicon-edit') %>
        <% end %>
      <% end %>
      <% if policy(professional).delete? %>
        <%= link_to delete_professional_path(professional), remote: true,
              class: 'btn btn-danger btn-xs', title: 'Borrar', data: { toggle: 'tooltip', placement: 'top' } do %>
          <%= content_tag(:span, '', class: 'glyphicon glyphicon-trash') %>
        <% end %>
      <% end %>
    </td>
  </div>
  </tr>
