  <tr id="professional_<%= professional.id %>">
    <div class="js-fade fade-in is-paused">
    <td><%= professional.first_name %></td>
    <td><%= professional.last_name %></td>
    <td><%= professional.enrollment? ? professional.enrollment : "---" %></td>
    <% @count_pres = professional.prescriptions.count %>
    <td><span class="badge badge-<%=if @count_pres > 0; 'primary'; else; 'secondary'; end%>" ><%= @count_pres %></span></td>
    <td>
      <span class="badge badge-<%= professional.is_active? ? "success" : "danger" %>">
        <%= professional.is_active? ? "Activo" : "Inactivo" %>
      </span>
    </td>
    <td><%= professional.dni %></td>
    <td><%= professional.professional_type.present? ? professional.professional_type.name : "----" %></td>
    <td class="actions-col">
      <% if policy(professional).show? %>
        <%= link_to professional_path(professional), class: 'btn btn-secondary btn-sm',
              title: 'Ver detalles', data: { toggle: 'tooltip', placement: 'top' } do %>
          <%= fa_icon "eye" %>
        <% end %>
      <% end %>
      <% if policy(professional).edit? %>
        <%= link_to edit_professional_path(professional), class: 'btn btn-warning btn-sm',
              title: 'Editar', data: { toggle: 'tooltip', placement: 'top' } do %>
          <%= fa_icon "pen" %>
        <% end %>
      <% end %>
      <% if policy(professional).delete? %>
        <%= link_to delete_professional_path(professional), remote: true,
              class: 'btn btn-danger btn-sm', title: 'Borrar', data: { toggle: 'tooltip', placement: 'top' } do %>
          <%= fa_icon "trash" %>
        <% end %>
      <% end %>
    </td>
  </div>
</tr>
