<div class="row">
  <div class="col-md-4">
    <h5><strong>Nombres</strong></h5>
    <%= @professional.first_name %>
    <h5><strong>Apellidos</strong></h5>
      <%= @professional.last_name %>
    <h5><strong>DNI: </strong></h5>
    <%= @professional.dni %>
    <h5><strong>Activo?: </strong></h5>
    <%= @professional.is_active? ? "Si" : "No" %>
  </div>
  <div class="col-md-4">
    <h5><strong>Matrícula: </strong></h5>
    <%= @professional.enrollment %>
    <h5><strong>Legajo: </strong></h5>
    <%= @professional.docket %>
    <h5><strong>Especialdad </strong></h5>
    <%= @professional.professional_type.name %>
    <h5><strong>Cantidad de prescripciones: </strong><span class="badge"><%= @professional.prescriptions.count %><span></h5>
  </div>
  <div class="row">
    <div class="col-md-4">
      <% if @professional.prescriptions.present? %>
      <h5><strong>Últimas prescripciones</strong></h5>
      <% end %>
    </div>
  </div>
</div>
