<%= render 'header' %>

<% if @professionals.present? %>
  <div class="card">
    <div class="card-header">
      <%= form_for_filterrific @filterrific do |f| %>
        <div class="row justify-content-between">
          <div class="col-2">
            <label>Buscar</label>
            <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
            <%= f.text_field(
              :search_professional,
              class: 'filterrific-periodically-observed form-control',
              placeholder: 'Nombre o apellido',
              autocomplete: 'off'
            ) %>
          </div>
          <div class="col-2">
            <label>Buscar</label>
            <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
            <%= f.text_field(
              :search_professional_enrollment,
              class: 'filterrific-periodically-observed form-control',
              placeholder: 'Matrícula'
            ) %>
          </div>
          <div class="col-2">
            <label>Buscar</label>
            <%= f.text_field(
              :search_dni,
              class: 'filterrific-periodically-observed form-control',
                placeholder: 'DNI'
                ) %>
          </div>
          <div class="col-2">
            <label>Especialidad</label>
            <%= f.select( :with_professional_type_id, @filterrific.select_options[:professional_type_id],
                { include_blank: 'Todos' }, {class: 'form-control'} ) %>
          </div>
          <div class="col-2">
            <label>Ordenar por</label>
            <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by],{}, {class: 'form-control'}) %>
          </div>
          <%= link_to reset_filterrific_url, class: "btn btn-sm pull-right" do %>
            <%= content_tag(:span, '', class: 'glyphicon glyphicon-refresh') %>
          <% end %>
          <%= render_filterrific_spinner %>
        </div>
      <% end %>
    </div>
    <div class="card-body fixed-panel-index">
      <%= render(
        partial: 'professionals/list',
        locals: { professionals: @professionals }
      ) %>
    </div>
  </div>
<% else %>
  <%= render(
    partial: 'shared/not_found',
    locals: { object_name: 'médicos' }
  ) %>
<% end %>