<%= render 'header' %>


<div class="card">
  <div class="card-header bg-primary text-white">
    <h5 class="card-title mb-0">
      <%= fa_icon "plus" %> Agregar nuevo médico
      <%= link_to :back, class: 'btn float-right text-white p-0' do %>
        <%= fa_icon "times" %>
      <% end %>
    </h5>
  </div>
  <div class="card-body" id="panel-body-new">
    <%= render 'form', professional: @professional %>
  </div>
  <div class="card-footer text-right">
    <%= link_to 'Volver', professionals_path, class: 'btn' %>
    <button type='submit' name='commit' class='btn btn-success' form='new_professional'>
      <%= fa_icon "check" %> Agregar
    </button>
  </div>
</div>
