<p>Seleccione uno de los siguientes médicos:</p>
<ul class="list-group list-group-hovered">
  <% @professionals.each do |item| %>
    <li class="list-group-item p-2 d-flex align-items-center justify-content-between">
      <span><%= item[:fullname] %> | <%= item[:dni] %> | MP <%= item[:enrollments][0][:code] %></span>
      <%= link_to professionals_path(professional: item), method: :POST, remote: true, class: "btn btn-sm btn-success", data: { toggle: "tooltip", placement: "top" },
        title: "Seleccionar" do %>
        <%= fa_icon "check" %>
      <% end %>
    </li>
  <% end %>
</ul>