<%= render 'header' %>

<div class="card fixed-custom-card">
  <div class="card-header d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center">
      <%= fa_icon "eye" %>
      <h5 class="card-title mb-0 ml-2">
        Viendo médico
      </h5>
    </div>
    <%= link_to professionals_path, class: 'btn pull-right close-btn' do %>
      <%= fa_icon 'times-circle' %>
    <% end %>
  </div>
  

  <div class="card-body">
    <div class="row">
      <div class="col-3">
        <div class="col-md-12">
          <%= image_tag professional_avatar(@professional, 200), class:"img-thumbnail media-object mb-2" %>
          <h5><strong>Nombre</strong></h5>
          <%= @professional.first_name %>
          <h5><strong>Apellido</strong></h5>
            <%= @professional.last_name %>
          <h5><strong>DNI: </strong></h5>
          <%= @professional.dni %>
          <h5><strong>Activo?: </strong></h5>
          <%= @professional.is_active? ? "Si" : "No" %>
          <h5><strong>Matrícula: </strong></h5>
          <%= @professional.enrollment %>
          <h5><strong>Legajo: </strong></h5>
          <%= @professional.docket %>
          <h5><strong>Especialdad </strong></h5>
          <% if @professional_type.present? %>
            <%= @professional.professional_type.name %>
          <% else %>
            ----
          <% end %>
        </div>
      </div>
      <div class="col-md-9">
        <h5 class="card-title">
          <strong>Recetas </strong><span class="badge badge-secondary"><%= (@professional.outpatient_prescriptions.count + @professional.chronic_prescriptions.count) %></span>
          <div class="float-right">
            Pendientes <span class="badge badge-secondary"><%#= @professional.prescriptions.where(status: Prescription.statuses[:pendiente]).count %></span>
            Dispensadas <span class="badge badge-success"><%#= @professional.prescriptions.where(status: Prescription.statuses[:dispensada]).count %></span>
          </div>
        </h5>


            <!-- Panel -->
        <div class="row mt-3">
          <div class="col-12">
            <ul class='nav nav-tabs nav-justified'>
              <li class='nav-item'>
                <a class="nav-link active" data-toggle='tab' href='#outpatient-prescriptions' role="tab">
                  <%= fa_icon "cubes" %> Recetas ambulatorias
                  <span class="badge badge-secondary"><%= @professional.outpatient_prescriptions.count %></span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link <%= @professional.chronic_prescriptions.count == 0 ? 'disabled' : '' %>" data-toggle='tab' href='#chronic-prescriptions' role="tab">
                  <%= fa_icon "paper-plane" %> Recetas crónicas
                  <span class="badge badge-secondary"><%= @professional.chronic_prescriptions.count %></span>
                </a>
              </li>
              
            </ul>
          </div>
        </div>

        <div class="tab-content mt-2">
          <div id='outpatient-prescriptions' class='tab-pane fade show active'>
            <!-- Insumos a dispensar -->
            <div class="card">
              <table class="table table-hover table-sm">
                <thead class="thead-light">
                  <tr>
                    <th>Código</th>
                    <th>Paciente</th>
                    <th>Estado</th>
                    <th>Insumos</th>
                    <th>Recetada</th>
                    <th>Dispensada</th>
                    <th class="text-center actions-col">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <% @professional.outpatient_prescriptions.each do |outpatient_prescription| %>
                    <tr id="outpatient_prescription_<%= outpatient_prescription.id %>">
                      <td>
                        <%= outpatient_prescription.remit_code %>
                      </td>
                      <td>
                        <%= outpatient_prescription.patient.fullname.humanize %>
                      </td>
                      <td>
                        <span class="badge badge-<%= outpatient_prescription_status_label(outpatient_prescription) %>">
                          <%= outpatient_prescription.status.underscore.humanize %>
                        </span>
                      </td>
                      <td>
                        <%= outpatient_prescription.outpatient_prescription_products.count %>
                      </td>
                      <td>
                        <%= outpatient_prescription.date_prescribed.strftime("%d/%m/%Y") %>
                      </td>
                      
                      <td>
                        ---
                      </td>
                      
                      <td class="text-left actions-col">
                        <div class="d-flex">
                          <% if policy(outpatient_prescription).dispense? %>
                            <%= link_to dispense_outpatient_prescription_path(outpatient_prescription), :"data-turbolinks" => false,
                              class: 'btn btn-primary btn-sm mr-1 ml-1',
                              title: 'Dispensar', 
                              data: { toggle: 'tooltip', placement: 'top' } do %>
                              <%= fa_icon "paper-plane" %>
                            <% end %>
                          <% end %>

                          <%= render(
                                partial: 'shared/action_buttons',
                                locals:{ 
                                    object: outpatient_prescription, 
                                    show: {visible: true, target: :_blank},
                                    edit: {visible: true, target: :_blank},
                                    destroy: {
                                      visible: true, 
                                      title: "Eliminar prescripción",
                                      body: "Esta seguro que desea eliminar la prescripción de #{ outpatient_prescription.patient.fullname.humanize }?",
                                      path: "/outpatient_prescriptions/#{outpatient_prescription.id}"
                                    }
                                    
                                }
                            ) 
                          %>
                        </div>                 
                      </td>                
                    </tr>               
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>

          <div id='chronic-prescriptions' class='tab-pane fade'>
            <!-- Tabla de dispensaciones -->
            <div class="card">
              
            <table class="table table-hover table-sm">
                <thead class="thead-light">
                  <tr>
                    <th>Código</th>
                    <th>Paciente</th>
                    <th>Estado</th>
                    <th>Insumos</th>
                    <th>Recetada</th>
                    <th>Última dispensación</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <% @professional.chronic_prescriptions.each do |chronic_prescription| %>
                    <tr id="chronic_prescription_<%= chronic_prescription.id %>">
                      <td>
                        <%= chronic_prescription.remit_code %>
                      </td>
                      <td>
                        <%= chronic_prescription.patient.fullname.humanize %>
                      </td>
                      <td>
                        <span class="badge badge-<%= chronic_prescription_status_label(chronic_prescription) %>">
                          <%= chronic_prescription.status.underscore.humanize %>
                        </span>
                      </td>
                      <td>
                        <%= chronic_prescription.original_chronic_prescription_products.count %>
                      </td>
                      <td>
                        <%= chronic_prescription.date_prescribed.strftime("%d/%m/%Y") %>
                      </td>
                      
                      <td>
                        <% if chronic_prescription.chronic_dispensations.last.present? %>
                          <%= chronic_prescription.chronic_dispensations.last.created_at.strftime("%d/%m/%Y %H:%M") %>
                        <% else %>
                          ---
                        <% end %>
                      </td>
                      
                      <td>
                        <div class="d-flex">
                          <% if policy(chronic_prescription).dispense_new? %>
                            <%= link_to new_chronic_prescription_chronic_dispensation_path(chronic_prescription),
                              class: 'btn btn-sm btn-primary mr-1 ml-1',
                              title: t("actions.tooltip.dispense"),
                              target: :_blank,
                              data: { toggle: 'tooltip', placement: 'top'} do %> 
                              <%= fa_icon "paper-plane"%>
                            <% end %>
                          <% end %>
                          <%= render(
                            partial: 'shared/action_buttons',
                            locals:{ 
                                object: chronic_prescription, 
                                show: {visible: true, target: :_blank},
                                edit: {visible: true, target: :_blank},
                                destroy: {
                                  visible: true, 
                                  title: "Eliminar prescripción",
                                  body: "Esta seguro que desea eliminar la prescripción de #{ chronic_prescription.patient.fullname.humanize }?",
                                  path: "/chronic_prescriptions/#{chronic_prescription.id}"
                                }
                                
                            }
                          ) 
                          %>
                        </div>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>        
          </div> <!-- End last movements tab pane -->
        </div>
      </div>
    </div>
  </div>


  <div class="card-footer d-flex justify-content-end">
    <%= link_to 'Volver', professionals_path, class: "btn mr-2" %>
    <% if policy(@professional).edit? %>
      <%= link_to edit_professional_path(@professional), :"data-turbolinks" => false, class: "btn btn-warning" do %>
        <%= fa_icon "pen" %>
        Editar
      <% end %>
    <% end %>
  </div>
</div>
