<%= render 'header' %>

<div class="card fixed-custom-card">
  <div class="card-header d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center">
      <%= fa_icon "eye" %>
      <h5 class="card-title mb-0 ml-2">
        Viendo médico
      </h5>
    </div>
    <%= link_to professionals_path, class: 'btn pull-right close-btn' do %>
      <%= fa_icon 'times-circle' %>
    <% end %>
  </div>
  

  <div class="card-body">
    <div class="row">
      <!-- Panel Tab-->
      <div class="col-10">
        <ul class='nav nav-tabs nav-justified'>
          <li class='nav-item'>
            <a class="nav-link active" data-toggle='tab' href='#outpatient-prescriptions' role="tab">
              <%= fa_icon "cubes" %> Recetas ambulatorias
              <span class="badge badge-secondary"><%= @professional.outpatient_prescriptions.count %></span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= @professional.chronic_prescriptions.count == 0 ? 'disabled' : '' %>" data-toggle='tab' href='#chronic-prescriptions' role="tab">
              <%= fa_icon "paper-plane" %> Recetas crónicas
              <span class="badge badge-secondary"><%= @professional.chronic_prescriptions.count %></span>
            </a>
          </li>          
        </ul>

        <div class="tab-content">
          <div id='outpatient-prescriptions' class='tab-pane fade show active pt-2'>
            <!-- Insumos a dispensar -->
            <div class="card">
              <table class="table table-hover table-sm">
                <thead class="thead-light">
                  <tr>
                    <th>Código</th>
                    <th>Paciente</th>
                    <th>Estado</th>
                    <th>Insumos</th>
                    <th>Recetada</th>
                    <th>Dispensada</th>
                    <th class="text-center actions-col">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <% @professional.outpatient_prescriptions.each do |outpatient_prescription| %>
                    <tr id="outpatient_prescription_<%= outpatient_prescription.id %>">
                      <td>
                        <%= outpatient_prescription.remit_code %>
                      </td>
                      <td>
                        <%= outpatient_prescription.patient.fullname.humanize %>
                      </td>
                      <td>
                        <span class="badge badge-<%= outpatient_prescription_status_label(outpatient_prescription) %>">
                          <%= outpatient_prescription.status.underscore.humanize %>
                        </span>
                      </td>
                      <td>
                        <%= outpatient_prescription.outpatient_prescription_products.count %>
                      </td>
                      <td>
                        <%= outpatient_prescription.date_prescribed.strftime("%d/%m/%Y") %>
                      </td>
                      
                      <td>
                        <% if outpatient_prescription.date_dispensed.present? %>
                          <%= outpatient_prescription.date_dispensed.strftime("%d/%m/%Y %H:%M") %>
                        <% else %>
                          -----
                        <% end %>
                      </td>
                      
                      <td class="text-left actions-col">
                        <div class="d-flex">
                          <% if policy(outpatient_prescription).dispense? %>
                            <%= link_to dispense_outpatient_prescription_path(outpatient_prescription), :"data-turbolinks" => false,
                              class: 'btn btn-primary btn-sm mr-1 ml-1',
                              title: 'Dispensar', 
                              data: { toggle: 'tooltip', placement: 'top' } do %>
                              <%= fa_icon "paper-plane" %>
                            <% end %>
                          <% end %>

                          <%= render(
                                partial: 'shared/action_buttons',
                                locals:{ 
                                    object: outpatient_prescription, 
                                    show: {visible: true, target: :_blank},
                                    edit: {visible: true, target: :_blank},
                                    destroy: {
                                      visible: true, 
                                      title: "Eliminar prescripción",
                                      body: "Esta seguro que desea eliminar la prescripción de #{ outpatient_prescription.patient.fullname.humanize }?",
                                      path: "/recetas_ambulatorias/#{outpatient_prescription.id}"
                                    }
                                    
                                }
                            ) 
                          %>
                        </div>                 
                      </td>                
                    </tr>               
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>

          <div id='chronic-prescriptions' class='tab-pane fade pt-2'>
            <!-- Tabla de dispensaciones -->
            <div class="card">
              
            <table class="table table-hover table-sm">
                <thead class="thead-light">
                  <tr>
                    <th>Código</th>
                    <th>Paciente</th>
                    <th>Estado</th>
                    <th>Insumos</th>
                    <th>Recetada</th>
                    <th>Última dispensación</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <% @professional.chronic_prescriptions.each do |chronic_prescription| %>
                    <tr id="chronic_prescription_<%= chronic_prescription.id %>">
                      <td>
                        <%= chronic_prescription.remit_code %>
                      </td>
                      <td>
                        <%= chronic_prescription.patient.fullname.humanize %>
                      </td>
                      <td>
                        <span class="badge badge-<%= chronic_prescription_status_label(chronic_prescription) %>">
                          <%= chronic_prescription.status.underscore.humanize %>
                        </span>
                      </td>
                      <td>
                        <%= chronic_prescription.original_chronic_prescription_products.count %>
                      </td>
                      <td>
                        <%= chronic_prescription.date_prescribed.strftime("%d/%m/%Y") %>
                      </td>
                      
                      <td>
                        <% if chronic_prescription.chronic_dispensations.last.present? %>
                          <%= chronic_prescription.chronic_dispensations.last.created_at.strftime("%d/%m/%Y %H:%M") %>
                        <% else %>
                          ---
                        <% end %>
                      </td>
                      
                      <td>
                        <div class="d-flex">
                          <% if policy(chronic_prescription).dispense_new? %>
                            <%= link_to new_chronic_prescription_chronic_dispensation_path(chronic_prescription),
                              class: 'btn btn-sm btn-primary mr-1 ml-1',
                              title: t("actions.tooltip.dispense"),
                              target: :_blank,
                              data: { toggle: 'tooltip', placement: 'top'} do %> 
                              <%= fa_icon "paper-plane"%>
                            <% end %>
                          <% end %>
                          <%= render(
                            partial: 'shared/action_buttons',
                            locals:{ 
                                object: chronic_prescription, 
                                show: {visible: true, target: :_blank},
                                edit: {visible: true, target: :_blank},
                                destroy: {
                                  visible: true, 
                                  title: "Eliminar prescripción",
                                  body: "Esta seguro que desea eliminar la prescripción de #{ chronic_prescription.patient.fullname.humanize }?",
                                  path: "/recetas_cronicas/#{chronic_prescription.id}"
                                }
                                
                            }
                          ) 
                          %>
                        </div>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>        
          </div> <!-- End last movements tab pane -->
        </div>
      </div><!-- fin .col[panel tab]-->

      <!-- Datos del profesional -->
      <div class="col-2 border-left">


        <%= image_tag professional_avatar(@professional, 200), class:"img-thumbnail" %>
        <h5 class="mt-3"><strong><%= @professional.last_name %>,</strong> <%= @professional.first_name %></h5>

        <h5 class="mt-3"> <%= @professional.dni %> </h5>

        <h5><strong>Activo?: </strong> <%= @professional.is_active? ? "Si" : "No" %> </h5>
        <h5><strong>Matrículas: </strong></h5>
        <% @professional.qualifications.each do |qualification| %>
          <p class="mb-1"> <%= "#{qualification.name} #{qualification.code}" %> </p>
        <% end %>
        <h5><strong>Legajo: </strong> <%= @professional.docket %> </h5>
        <h5><strong>Especialdad </strong>
          <% if @professional_type.present? %>
            <%= @professional.professional_type.name %>
          <% else %>
            ----
          <% end %>
        </h5>

        <h5> 
          <strong>Recetas generadas</strong>
          <span class="badge badge-secondary"><%= (@professional.outpatient_prescriptions.count + @professional.chronic_prescriptions.count) %></span>
        </h5>
        <% 
          # Suma de prescripciones pendientes cronicas / ambulatorias #
          total_pending = (@professional.outpatient_prescriptions.pendiente.count + @professional.chronic_prescriptions.pendiente.count) 
          # Suma de prescripciones parcialmente dispensadas cronicas  #
          total_partial_dispense = @professional.chronic_prescriptions.dispensada_parcial.count 
          # Suma de prescripciones dispensadas cronicas / ambulatorias #
          total_dispense = (@professional.outpatient_prescriptions.dispensada.count + @professional.chronic_prescriptions.dispensada.count) 
          # Suma de prescripciones vencidas dispensadas cronicas / ambulatorias  #
          total_out_of_date = (@professional.outpatient_prescriptions.vencida.count + @professional.chronic_prescriptions.vencida.count) 
        %>
        <ul class="pl-4">
          <li>
            <h5>
              <% total_dispensed = @professional.outpatient_prescriptions.pendiente.count %>
              Pendientes <span class="badge badge-secondary"><%= total_pending  %></span>
            </h5>
          </li>
          <li>
            <h5>
              Parcialmente dispensadas <span class="badge badge-primary"><%= total_partial_dispense %></span>
            </h5>
          </li>
          <li>
            <h5>
              Dispensadas <span class="badge badge-success"><%= total_dispense %></span>
            </h5>
          </li>
          <li>
            <h5>
              Vencidas <span class="badge badge-danger"><%= total_out_of_date %></span>
            </h5>
          </li>
        </ul>
      </div><!-- fin .col[datos del profesional] -->
    </div><!-- fin .row --> 
  </div>


  <div class="card-footer d-flex justify-content-end">
    <%= link_to 'Volver', professionals_path, class: "btn mr-2" %>
    <% if policy(@professional).edit? %>
      <%= link_to edit_professional_path(@professional), :"data-turbolinks" => false, class: "btn btn-warning" do %>
        <%= fa_icon "pen" %>
        Editar
      <% end %>
    <% end %>
  </div>
</div>
