<tr class="nested-fields">
  <td>
    <%= f.input :supply_id, as: :string,
      placeholder: 'Código',
      label: false,
      required: false,
      :input_html => {
        class: "supply-code-template select-change",
        data: { autocomplete_source: search_by_id_supplies_path },
        size: 2,
        autocomplete: 'off'
      } 
    %>
  </td>
  <td>
    <%= f.input :supply_id, as: :string, id: "nom_ins", class: "form-control",
      label: false,
      placeholder: 'Nombre',
      required: false,
      :input_html => {
        class: "supply-name-template select-change",
        data: { autocomplete_source: search_by_name_supplies_path },
        size: 36,
        value: "#{if f.object.supply.present?; f.object.supply_name; end }"
      } 
    %>
    <%= f.input :supply_id, :as => :hidden, :input_html => { class: 'supply-id'} %>
  </td>
  <td>
    <%= f.input :supply_unity, as: :fake, label: false, disabled: true, required: false, 
      input_html: {
        class: 'unity',
        size: 5,
        placeholder: "Unidad",
        value: "#{
          if f.object.supply.present?
            f.object.supply.unity
          end
        }"
      } 
    %>
  </td>
  <td>
    <%= f.input :supply_area, as: :fake, label: false, disabled: true, required: false, 
      input_html: {
        class: 'area',
        size: 15,
        placeholder: "Rubro",
        value: "#{
          if f.object.supply.present?
            f.object.supply.supply_area.name
          end
        }"
      } 
    %>
  </td>
</tr>
