<% if @lots.present? %>
  <div id="filterrific_results">
    <div class="card fixed-panel-list">
      <table class="table table-hover table-striped table-sm">
        <thead >
          <tr>
            <th><%= filterrific_sorting_link(@filterrific, :codigo) %></th>
            <th><%= filterrific_sorting_link(@filterrific, :codigo_producto) %></th>
            <th><%= filterrific_sorting_link(@filterrific, :producto) %></th>
            <th><%= filterrific_sorting_link(@filterrific, :estado) %></th>
            <th><%= filterrific_sorting_link(@filterrific, :laboratorio) %></th>
            <th><%= filterrific_sorting_link(@filterrific, :vencimiento) %></th>
            <th class="text-center">Acciones</th>
          </tr>
        </thead>
        <tbody id="lots">
          <%= render @lots %>
        </tbody>
      </table>
    </div>
    <div class="col-5 d-flex justify-content-around align-items-center">
      <div>
        Procedencias <span class="badge badge-secondary"><%= @lot_provenances.count %></span>
      </div>
    </div>
    <div class="col-2 d-flex justify-content-end align-items-center">
    </div>
  </div>
<% else %>
  <%= render(
    partial: 'shared/not_found_filter',
    locals: { object_name: 'procedencias' }
  ) %>
<% end %>
