<%= render 'header' %>

<div class="card fixed-custom-card">
  <div class="card-header d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center">
      <%= fa_icon "eye" %>
      <h5 class="card-title mb-0 ml-2">
        Viendo lote <%= @lot.code %>
      </h5>
    </div>
    <div>
      <%= link_to :back, class: 'btn btn-light', :title => 'Cerrar', :'data-placement'=>'top', :'data-toggle'=>'tooltip' do %>
        <%= fa_icon "times" %>
      <% end %>
    </div>
  </div>

  <div class="card-body">
    <h4 class="border-bottom">Producto</h4>
    <div class="row">
      <div class="col-2">
        <h5>Código</h5>
        <%= @lot.product_code %>
      </div>
      <div class="col-5">
        <h5>Nombre</h5>
        <%= @lot.product_name %>
      </div>
      <div class="col-2">
        <h5>Unidad</h5>
        <%= @lot.product_unity_name %>
      </div>
      <div class="col-3">
        <h5>Rubro</h5>
        <%= @lot.product_area_name %>
      </div>
    </div>

    <h4 class="border-bottom mt-2">Lote</h4>
    <div class="row">
      <div class='col-2'>
        <h5>Código</h5>
        <%= @lot.code %>
      </div>
      <div class="col-2">
        <h5>Laboratorio</h5>
        <%= @lot.laboratory.name %>
      </div>
      <div class='col-3'>
        <h5>Vencimiento</h5>
        <%= @lot.expiry_date_string %>
      </div>
    </div>
  </div>

  <div class="card-footer d-flex justify-content-between">
    <div class="text-right w-100">
      <%= link_to :back, class: "btn btn-light mr-1" do %>
        Volver
      <% end %>    

      <%= link_to edit_lot_path(@lot), class: 'btn btn-warning btn-md mr-1' do %>
        <%= fa_icon "pen" %>
        Editar
      <% end %>
    </div>
  </div>
</div>
  
