<div class="card fixed-custom-card">
  <div class="card-header <%= @prescription.new_record? ? 'bg-primary text-white' : 'bg-warning' %> d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center ml-2">
      <%= fa_icon (@prescription.new_record? ?  "plus" : "pen")%>
      <h5 class="card-title mb-0 ml-2">
        <%= @prescription.new_record? ? "Agregar receta ambulatoria" : "Editando receta ambulatoria" %>
      </h5>
    </div>
    <%= link_to :back, class: @prescription.new_record? ? 'btn text-white' : 'btn' do %>
      <%= fa_icon "times" %>
    <% end %>
  </div>
  <div class="card-body">

    <%= simple_form_for @prescription, html: { role: 'check-modified'} do |f| %>
      <%= f.error_notification %>
      <div class='row'>
        <div class='col-6'>
          <div class='row'>
            <div class="col-12">
              <%= f.input :order_type, :as => :hidden, :input_html => { value: 'ambulatoria' } %>
              <%= f.label :professional_id do %>
                Médico
                <% if f.object.cronic_dispensations.count == 0 %>
                  <%= link_to new_professional_path, class: "btn btn-primary btn-sm", remote: 'true',
                    title: 'Nuevo médico', tabindex: "-1", data: { toggle: 'tooltip', placement: 'top' } do %>
                    <%= fa_icon "plus" %>
                  <% end %>
                <% end %>
              <% end %>

              <div class="custom-input-group">
                <%= f.input :professional, as: :string,
                  label: false,
                  placeholder: 'Matrícula | Apellido | Nombre',
                  readonly: f.object.new_record? ? "" : true,
                  class: "m-0",
                  :input_html => {
                    id: "professional",
                    data: { autocomplete_source: get_by_enrollment_and_fullname_professionals_path },
                    value: "#{ if f.object.professional.present?; f.object.professional.full_info; end }",
                  }
                %>
                <div class="with-loading">
                    <%= fa_icon 'spinner', class: "fa-spin"%>
                </div>
              </div>
              
              <%= f.hidden_field :professional_id, id: "professional_id", value: "#{if f.object.professional.present?; f.object.professional.id; end }" %>
              <%= f.label :patient_id, class: "text-left" do %>
                Paciente
                <% if policy(Patient).new? %>
                  <% if f.object.cronic_dispensations.count == 0 %>
                    <%= link_to new_patient_path, class: "btn btn-primary btn-sm", remote: 'true',
                      title: 'Nuevo paciente temporal', tabindex: "-1", data: { toggle: 'tooltip', placement: 'top' } do %>
                      <%= fa_icon "plus" %>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
              <div class="row">
                <div class="col-4">
                  <div class="custom-input-group">
                    <%= f.input :patient, as: :string, class: 'form-control',
                      label: false,
                      placeholder: 'DNI',
                      required: true,
                      readonly: f.object.new_record? ? "" : true,
                      :input_html => {
                        id: 'patient-dni',
                        data: { autocomplete_source: get_by_dni_patients_path },
                        value: "#{if f.object.patient.present?; f.object.patient.dni; end }",
                      }
                    %>
                    <div class="with-loading">
                      <%= fa_icon 'spinner', class: "fa-spin"%>
                    </div>
                  </div>
                </div>
                <div class="col-8">
                <div class="custom-input-group">
                    <%= f.input :patient, as: :string, class: 'form-control',
                      label: false,
                      placeholder: 'Apellido y nombre',
                      required: true,
                      readonly: f.object.new_record? ? "" : true,
                      :input_html => {
                        id: 'patient-fullname',
                        data: { autocomplete_source: get_by_fullname_patients_path },
                        value: "#{if f.object.patient.present?; f.object.patient.fullname; end }",
                      }
                    %>
                    <div class="with-loading">
                      <%= fa_icon 'spinner', class: "fa-spin"%>
                    </div>
                  </div>
                  <%= f.hidden_field :patient_id, id: "patient_id", value: "#{if f.object.patient.present?; f.object.patient.id; end }" %>
                </div>
              </div>
            </div>
          </div>
          <div class='row'>
            <div class='col-6'>
              <%= f.input :prescribed_date, as: :string, label: "Fecha recetada", html5: true, required: true,
                :input_html => {
                  required: true,
                  class: "form-control prescribed-date",
                  autocomplete: "off",
                  value: "#{f.object.new_record? ? DateTime.now.strftime("%d/%m/%Y") : f.object.prescribed_date.strftime("%d/%m/%Y")}"
                }
              %>
            </div>
            <div class='col-6'>
              <%= f.input :expiry_date, label: 'Fecha vencimiento',
                as: :string,
                :placeholder => "Seleccionar fecha",
                input_html: {
                  tabindex: "-1",
                  class: "form-control",
                  required: true,
                  autocomplete: 'off',
                  value: "#{f.object.expiry_date unless f.object.new_record? || f.object.expiry_date.present?}"
                },
                html5: false %>
            </div>
            <div class="col-12">
              <%= f.input :observation, label: 'Observaciones', as: :text, :input_html => { :cols => 30  , :rows => 1 } %>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="col-12 invisible" id="non-os">
            <div class="card table-info">
                <div class="card-header">No posee obra social.</div>
            </div>
          </div>
          <div class='col-12 invisible' id="pat-os">
            <div class="row panel-pres">
              <div class="col-12">
                <div class="card">
                  <!-- Default panel contents -->
                  <table class="table table-sm">
                    <thead>
                      <tr class="info">
                        <th>Financiador</th>
                        <th>Código</th>
                        <th>Fecha</th>
                      </tr>
                    </thead>
                    <tbody id="pat-os-body">
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 invisible" id="non-pres">
            <div class="card">
                <div class="card-header">Aún no tiene recetas.</div>
            </div>
          </div>
          <div class="row panel-pres invisible" id="pat-pres">
            <div class="col-12">
              <div class="card">
                <!-- Default panel contents -->
                <div class="card-header">Últimas recetas</div>
                <div class="card">
                  <table class="table table-hover table-sm">
                    <thead>
                      <tr>
                        <th>Tipo</th>
                        <th>Profesional</th>
                        <th>Ins</th>
                        <th>Estado</th>
                        <th>Fecha</th>
                      </tr>
                    </thead>
                    <tbody id="pat-pres-body">
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Insumos solicitados -->
      <div class="card">
        <table class="table table-hover table-sm mb-0">
          <thead>
            <tr>
              <th>Código</th>
              <th>Producto</th>
              <th>Tu stock</th>
              <th>Solicitado</th>
              <th>Dispensado</th>
              <th>Lote</th>
              <th>Observación</th>
              <th></th>
            </tr>
          </thead>
          <tbody class="quantity_ord_supply_lots" id="cocoon-container">
            <%= f.simple_fields_for :quantity_ord_supply_lots do |form_quantity| %>
              <%= render "quantity_ord_supply_lot_fields", :f => form_quantity %>
            <% end %>
          </tbody>
        </table>
        <%= link_to_add_association f, :quantity_ord_supply_lots, class: 'btn btn-primary btn-sm',
        data: {"association-insertion-node" => "tbody.quantity_ord_supply_lots", "association-insertion-method" => "append"} do %>
            <%= fa_icon "plus" %>
            Agregar producto
        <% end %>
        
        <%# Mostramos el mensaje de validación, en el caso de que no tenga un insumo cargado. %>
        <% if !f.object.quantity_ord_supply_lots.any? && f.object.errors[:quantity_ord_supply_lots].any? %>
          <div class="invalid-feedback d-block">
            <%= f.object.errors[:quantity_ord_supply_lots].first %>
          </div>
        <% end %>
      </div>
    <% end %>

  </div>

  <div class="card-footer d-flex justify-content-end">
    <%= link_to 'Volver', prescriptions_path, class: 'btn mr-2' %>
    <button type='submit' name='commit' class='btn btn-success mr-2' form="<%= @prescription.new_record? ? 'new_prescription' : 'edit_prescription_' + @prescription.id.to_s %>">
      <%= fa_icon 'save' %> Guardar
    </button>
    <button type='submit' name='commit' class='btn btn-primary' form='<%= @prescription.new_record? ? 'new_prescription' : 'edit_prescription_' + @prescription.id.to_s %>' value='Dispensar'>
      <%= fa_icon "paper-plane" %> Guardar y dispensar
    </button>
  </div>
</div>
