<%= simple_form_for @prescription, remote: true, html: {class: "form-inline"} do |f| %>
  <%= f.error_notification %>
  <%= f.input :professional_id,
                    label: 'Doctor',
                    label_method: :full_name,
                    value_method: :id,
                    collection: @professionals,
                    include_blank: false,
                    input_html: { class: 'chosen-select', id: 'professional_id' },
                    prompt: 'Seleccione un doctor o cree uno'
  %><br><br>
  <%= f.hint 'No seleccione ningún doctor para crear uno nuevo.', id: 'professional-hint', style: "display: none" %>

  <%= f.simple_fields_for :professional, html: {class: "form-inline"} do |form_professional| %>
    <%= render "professional_fields", :f => form_professional %>
  <% end %><br>

  <%= f.input :patient_id,
                    label: 'Paciente',
                    label_method: :full_info,
                    value_method: :id,
                    collection: @patients,
                    include_blank: false,
                    input_html: { class: 'chosen-select', id: 'patient_id' },
                    prompt: 'Seleccione un paciente o cree uno'
  %><br><br>
  <%= f.hint 'No seleccione ningún paciente para crear uno nuevo.', id: 'patientHint', style: "display: none" %>

  <%= f.simple_fields_for :patient, html: { class: 'form-inline' } do |form_patient| %>
    <%= render "patient_fields", :f => form_patient %>
  <% end %><br>

  <div class='row'>
    <div class='col-md-6'>
      <label>Medicación</label>
      <div id="quantity-medications">
          <%= f.simple_fields_for :quantity_medications, html: {class: "form-inline"} do |form_quantity| %>
            <%= render "quantity_medication_fields", :f => form_quantity %>
          <% end %>
          <div class="links">
            <%= link_to_add_association f, :quantity_medications, class: 'btn btn-default btn-sm' do %>
                <%= content_tag(:span, '', class: 'glyphicon glyphicon-plus') %>
            <% end %>
          </div>
      </div>
    </div>
    <div class='col-md-6'>
      <label>Suministro</label>
      <div id="quantity-supplies">
          <%= f.simple_fields_for :quantity_supplies, html: {class: "form-inline"} do |form_quantity| %>
            <%= render "quantity_supply_fields", :f => form_quantity %>
          <% end %>
          <div class="links">
            <%= link_to_add_association f, :quantity_supplies, class: 'btn btn-default btn-sm' do %>
                <%= content_tag(:span, '', class: 'glyphicon glyphicon-plus') %>
            <% end %>
          </div>
      </div>
      <br>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-6'>
      <%= f.input :observation, label: 'Observaciones', as: :text,
          :input_html => { :cols => 46  , :rows => 2 } %>
    </div>
    <div class='col-md-6'>
      <%= f.input :date_received, label: 'Fecha recibida',
                                  as: :string,
                                  :placeholder => "Seleccionar fecha",
                                  input_html: {class: "form-control", required: true,
                                  value: "#{@prescription.date_received.strftime("%d/%m/%y %H:%M") unless @prescription.new_record?}"},
                                  html5: false
                                  %><br><br>
    </div>
  </div>
<% end %>
