<%= simple_form_for @prescription, html: { role: 'check-modified'} do |f| %>
  <%= f.error_notification %>
  <div class='row'>
    <div class='col-6'>
      <div class='row'>
        <div class="col-12">
          <%= f.input :order_type, :as => :hidden, :input_html => { value: 'cronica' } %>
          <%= f.label :professional_id do %>
            Profesional
            <% if f.object.cronic_dispensations.count == 0 %>
              <%= link_to new_professional_path, class: "btn btn-primary btn-sm", remote: 'true',
                title: 'Nuevo profesional', tabindex: "-1", data: { toggle: 'tooltip', placement: 'top' } do %>
                <%= fa_icon "plus" %>
              <% end %>
            <% end %>
          <% end %>
          <%= f.input :professional_id, as: :string,
            label: false,
            placeholder: 'Matrícula | Apellido | Nombre',
            required: true,
            readonly: f.object.cronic_dispensations.count > 0,
            :input_html => {
              id: "professional",
              data: { autocomplete_source: get_by_enrollment_and_fullname_professionals_path },
              value: "#{ if f.object.professional.present?; f.object.professional.enrollment; end }",
              size: 30
            } 
          %>
          <%= f.hidden_field :professional_id, id: "professional_id", value: "#{if f.object.professional.present?; f.object.professional.id; end }" %>

          <%= f.label :patient_id do %>
            Paciente
            <% if f.object.cronic_dispensations.count == 0 %>
              <%= link_to new_patient_path, class: "btn btn-primary btn-sm", remote: 'true',
                title: 'Nuevo paciente', tabindex: "-1", data: { toggle: 'tooltip', placement: 'top' } do %>
                <%= fa_icon "plus" %>
              <% end %>
            <% end %>
          <% end %>
          <%= f.input :patient_id, as: :string, class: 'form-control',
            label: false,
            placeholder: 'DNI | Apellido | Nombre',
            required: true,
            readonly: f.object.cronic_dispensations.count > 0,
            :input_html => {
              id: 'patient',
              data: { autocomplete_source: get_by_dni_and_fullname_patients_path },
              value: "#{if f.object.patient.present?; f.object.patient.dni; end }",
              size: 30
            }
          %>
          <%= f.hidden_field :patient_id, id: "patient_id", value: "#{if f.object.patient.present?; f.object.patient.id; end }" %>
        </div>
      </div>
      <div class='row'>
        <div class="col-6">
          <%= f.input :times_dispensation, label: false, label: 'Meses a dispensar', required: true,
            input_html: {
              readonly: f.object.cronic_dispensations.count > 0,
              "data-tooltip"=>true,
              :class=>"has-tip request-quantity",
              :placeholder=>"Cant",
              "data-placement"=>"right",
              value: f.object.times_dispensation.present? ? f.object.times_dispensation : 6,
              min: '0', step:'any', :style => 'width: 70px'  
            } 
          %>
        </div>
        <div class="col-6">
          <%= f.input :prescribed_date, label: 'Fecha recetada',
            as: :string,
            :placeholder => "Seleccionar fecha",
            input_html: {
              tabindex: "-1",
              readonly: f.object.cronic_dispensations.count > 0,
              class: "form-control pull-right",
              required: true,
              autocomplete: 'off',
              value: "#{@prescription.prescribed_date unless @prescription.new_record?}"
            },
            html5: false %>
        </div>
        <div class='col-12'>
            <%= f.input :observation, label: 'Observaciones', as: :text, :input_html => { :cols => 30  , :rows => 1 } %>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="col-12 invisible" id="non-os">
        <div class="panel panel-info">
            <div class="panel-heading">No posee obra social.</div>
        </div>
      </div>
      <div class='col-12 invisible' id="pat-os">
        <div class="row panel-pres">
          <div class="col-12">
            <div class="panel panel-info">
              <!-- Default panel contents -->
              <table class="table table-sm">
                <thead>
                  <tr class="info">
                    <th>Financiador</th>
                    <th>Código</th>
                    <th>Fecha</th>
                  </tr>
                </thead>
                <tbody id="pat-os-body">
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="card invisible" id="non-pres">
        <div class="card-header">Aún no tiene prescripciones.</div>
      </div>
      <div class="row panel-pres invisible" id="pat-pres">
        <div class="col-12">
          <div class="card">
            <!-- Default panel contents -->
            <div class="card-header">Últimas recetas</div>
            <div class="card">
              <table class="table table-hover table-sm">
                <thead>
                  <tr>
                    <th>Tipo</th>
                    <th>Profesional</th>
                    <th>Ins</th>
                    <th>Estado</th>
                    <th>Fecha</th>
                  </tr>
                </thead>
                <tbody id="pat-pres-body">
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Insumos solicitados -->
  <div class="card">
    <table class="table table-hover table-sm mb-0">
      <thead>
        <tr>
          <th>Cód</th>
          <th>Insumo</th>
          <th>Tu stock</th>
          <th>Consumo/Mes</th>
          <th>Entregar</th>
          <th colspan="2">Lote</th>
          <th>Observación</th>
          <th></th>
        </tr>
      </thead>
      <tbody class="quantity_ord_supply_lots">
        <% if ["edit", "update"].include?(params[:action]) %>
          <%= f.simple_fields_for :quantity_ord_supply_lots, @prescription.quantity_ord_supply_lots.sin_entregar do |form_quantity| %>
            <%= render "quantity_ord_supply_lot_fields", f: form_quantity %>
          <% end %>
        <% else %>
          <%= f.simple_fields_for :quantity_ord_supply_lots do |form_quantity| %>
            <%= render "quantity_ord_supply_lot_fields", :f => form_quantity %>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <%= link_to_add_association f, :quantity_ord_supply_lots, class: 'btn btn-primary',
      data: {"association-insertion-node" => "tbody.quantity_ord_supply_lots", "association-insertion-method" => "append"} do %>
      <%= fa_icon "plus" %>
      Agregar insumo solicitado
    <% end %>
  </div>
<% end %>
