<%= simple_form_for @prescription, remote: true, html: {class: "form-inline"} do |f| %>
  <%= f.error_notification %>
  <%= f.label :professional_id, "Doctor" %>
  <%= f.text_field :professional_id, id: "professional", class: "form-control",
                    placeholder: 'Nombre o Apellido',
                    data: { autocomplete_source: doctors_professionals_path },
                    size: 30 %>
  <%= f.hidden_field :professional_id, id: "professional_id" %><br><br>

  <%= f.label :patient_id, "Paciente" %>
  <%= f.text_field :patient_id, id: "patient", class: "form-control",
                    placeholder: 'Nombre o Apellido',
                    data: { autocomplete_source: search_patients_path },
                    size: 30 %>
  <%= f.hidden_field :patient_id, id: "patient_id" %><br><br>

   <div class='row'>
    <div class='col-md-12'>
      <label>Insumo</label>
      <div id="quantity-supply-lots">
        <%= f.simple_fields_for :quantity_supply_lots, html: {class: "form-inline"} do |form_quantity| %>
          <%= render "quantity_supply_lot_fields", :f => form_quantity %>
        <% end %>
        <div class="links">
          <%= link_to_add_association f, :quantity_supply_lots, class: 'btn btn-default btn-sm' do %>
              <%= content_tag(:span, '', class: 'glyphicon glyphicon-plus') %>
          <% end %>
        </div>
      </div>
      <br>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-6'>
      <%= f.input :observation, label: 'Observaciones', as: :text,
          :input_html => { :cols => 30  , :rows => 3 } %>
    </div>
    <div class='col-md-6'>
      <%= f.input :date_received, label: 'Fecha recibida',
                                  as: :string,
                                  :placeholder => "Seleccionar fecha",
                                  input_html: {class: "form-control", required: true, autocomplete: 'off',
                                  value: "#{@prescription.date_received unless @prescription.new_record?}"},
                                  html5: false
                                  %><br><br>
    </div>
  </div>
<% end %>
