<div id="filterrific_results">
  <% if @prescriptions.present? %>
    <div class="panel panel-default">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Código</th>
            <th><%= filterrific_sorting_link(@filterrific, :doctor) %></th>
            <th><%= filterrific_sorting_link(@filterrific, :paciente) %></th>
            <th><%= filterrific_sorting_link(@filterrific, :estado) %></th>
            <th><%= filterrific_sorting_link(@filterrific, :insumos_solicitados) %></th>
            <th>
              <%= filterrific_sorting_link(@filterrific, :recetada) %>
              <%= content_tag(:span, '', class: 'glyphicon glyphicon-calendar') %>
            </th>
            <th>
              <%= filterrific_sorting_link(@filterrific, :dispensada) %>
              <%= content_tag(:span, '', class: 'glyphicon glyphicon-calendar') %>  
            </th>
            <th colspan="3">Acciones</th>
          </tr>
        </thead>
        <tbody id=prescriptions>
          <%= render @prescriptions %>
        </tbody>
      </table>
    </div>
    <div id="page_links">
      <%= paginate @prescription %>
    </div>
  <% else %>
    <%= render(
      partial: 'shared/not_found_filter',
      locals: { object_name: 'prescripciones' }
    ) %>
  <% end %>
</div>
