<tr id="prescription_<%= prescription.id %>">
  <td><%= prescription.remit_code %></th>
  <td><%= prescription.order_type.humanize %></th>
  <td class="pres-col-pro"><%= prescription.professional.full_name %></td>
  <td class="pres-col-pat"><%= prescription.patient.full_info %></td>
  <td>
    <span class="badge badge-<%= prescription_status_label(prescription) %>">
      <%= prescription.status.underscore.humanize %>
    </span>
  </td>
  <td>
    <% if prescription.ambulatoria? %>
      <%= prescription.quantity_ord_supply_lots.count %>
    <% else %>
      <%= prescription.quantity_ord_supply_lots.sin_entregar.count %>
    <% end %>
  </td>
  <td>
    <%= prescription.movements.count %>
  </td>
  <td>
    <% if prescription.prescribed_date.present? %>
      <%= prescription.prescribed_date.strftime("%d/%m/%Y") %>
    <% else %>
      ------
    <% end %>
  </td>
    <% if prescription.dispensed_at.present? %>
      <td>
      <%= prescription.dispensed_at.strftime("%d/%m/%y %H:%M") %>
    <% else %>
      <td class="text-center">
      ----
    <% end %>
  </td>
  <td class="text-center actions-col">
    <% if policy(prescription).show? %>
      <%= link_to prescription_path(prescription), class: 'btn btn-secondary btn-sm', 
        title: 'Ver detalles', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= fa_icon "eye" %>
      <% end %>
    <% end %>
    <% if policy(prescription).edit? %>
      <% unless prescription.dispensada? %>
        <%= link_to edit_prescription_path(prescription), 
              class: 'btn btn-warning btn-sm', title: 'Editar', data: { toggle: 'tooltip', placement: 'top' } do %>
          <%= fa_icon "pen" %>
        <% end %>
      <% end %>
    <% end %>
    <% if policy(prescription).delete? %>
      <%= link_to delete_prescription_path(prescription), remote: true,
            class: 'btn btn-danger btn-sm', title: 'Borrar', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= fa_icon "trash" %>
      <% end %>
    <% end %>
  </td>
</tr>
