<tr id="prescription_<%= prescription.id %>">
  <td class="pres-col-pro"><%= prescription.professional.full_name %></td>
  <td class="pres-col-pat"><%= prescription.patient.full_info %></td>
  <td>
    <span class="label label-<%= prescription.status_label %>">
      <%= prescription.status.split('_').map(&:capitalize).join(' ') %>
    </span>
  </td>
  <td class="pres-col-sup">
    <% if prescription.quantity_supply_lots.present? %>
      (<%= prescription.quantity_supply_lots.count %>)
      <% prescription.quantity_supply_lots.each do |qsl| %>
        <span class="badge">
          <%= qsl.quantity %>
        </span>
        <%= qsl.supply_name %>
      <% end %>
    <% else %>
      ------
    <% end %></td>
  <td>
    <% if prescription.date_received.present? %>
      <%= prescription.date_received.strftime("%d/%m/%y %H:%M") %>
    <% else %>
      ------
    <% end %>
  </td>
    <% if prescription.dispensada? %>
      <td>
      <%= prescription.date_dispensed.strftime("%d/%m/%y %H:%M") %>
    <% else %>
      <td class="text-center">
      <%= link_to dispense_prescription_path(prescription), remote: true,
            class: 'btn btn-success btn-xs', title: 'Dispensar', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-send') %>
      <% end %>
    <% end %>
  </td>
  <td>
    <%= link_to prescription_path(prescription), remote:true,
          class: 'btn btn-default btn-xs', title: 'Ver detalles', data: { toggle: 'tooltip', placement: 'top' } do %>
      <%= content_tag(:span, '', class: 'glyphicon glyphicon-eye-open') %>
    <% end %>
    <% unless prescription.dispensada? %>
      <%= link_to edit_prescription_path(prescription), remote: true,
            class: 'btn btn-warning btn-xs', title: 'Editar', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-edit') %>
      <% end %>
    <% end %>
    <%= link_to delete_prescription_path(prescription), remote: true,
          class: 'btn btn-danger btn-xs', title: 'Borrar', data: { toggle: 'tooltip', placement: 'top' } do %>
      <%= content_tag(:span, '', class: 'glyphicon glyphicon-trash') %>
    <% end %>
  </td>
</tr>
