<tr id="prescription_<%= prescription.id %>">
  <td><%= prescription.professional.full_name %></td>
  <td><%= prescription.patient.full_info %></td>
  <td>
    <span class="label label-<%= prescription.prescription_status.label %>">
      <%= prescription.prescription_status.name %>
    </span>
  </td>
  <td class="med-sup-col">
    <% if prescription.medications.present? %>
      <% prescription.medications.each do |med| %>
        <span class="badge">
          <%= prescription.quantity_medications.find_by_medication_id(med.id).quantity %>
        </span>
        <%= med.full_info %>
      <% end %>
    <% else %>
      ------
    <% end %>
  </td>
  <td class="med-sup-col">
    <% if prescription.supplies.present? %>
      <% prescription.supplies.each do |sup| %>
        <span class="badge">
          <%= prescription.quantity_supplies.find_by_supply_id(sup.id).quantity %>
        </span>
        <%= sup.name %>
      <% end %>
    <% else %>
      ------
    <% end %></td>
  <td>
    <% if prescription.date_received.present? %>
      <%= prescription.date_received.strftime("%d/%m/%y %H:%M") %>
    <% else %>
      ------
    <% end %>
    </td>
    <% if prescription.date_dispensed %>
      <td>
      <%= prescription.date_dispensed.strftime("%d/%m/%y %H:%M") %>
    <% else %>
      <td class="text-center">
      <%= link_to dispense_prescription_path(prescription), remote: true,
            class: 'btn btn-success btn-xs', title: 'Dispensar', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-send') %>
      <% end %>
    <% end %>
  </td>
  <td>
    <%= link_to prescription_path(prescription), remote:true,
          class: 'btn btn-default btn-xs', title: 'Ver detalles', data: { toggle: 'tooltip', placement: 'top' } do %>
      <%= content_tag(:span, '', class: 'glyphicon glyphicon-eye-open') %>
    <% end %>
    <% unless prescription.dispensed? %>
      <%= link_to edit_prescription_path(prescription), remote: true,
            class: 'btn btn-warning btn-xs', title: 'Editar', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-edit') %>
      <% end %>
    <% end %>
    <%= link_to prescription_path(prescription), remote: true, class: 'btn btn-danger btn-xs',
          title: 'Borrar', method: :delete, data: { toggle: 'tooltip', placement: 'top',
          confirm: "Desea eliminar la prescripción del paciente #{prescription.patient.full_info}?"} do %>
      <%= content_tag(:span, '', class: 'glyphicon glyphicon-trash') %>
    <% end %>
  </td>
</tr>
