<tr id="prescription_<%= prescription.id %>">
  <td class="pres-col-pro"><%= prescription.professional.full_name %></td>
  <td class="pres-col-pat"><%= prescription.patient.full_info %></td>
  <td>
    <span class="label label-<%= prescription.status_label %>">
      <%= prescription.status.split('_').map(&:capitalize).join(' ') %>
    </span>
  </td>
  <td class="pres-col-sup">
    <% if prescription.quantity_supply_requests.present? %>
      (<%= prescription.quantity_supply_requests.count %>)
      <% prescription.quantity_supply_requests.each do |qsr| %>
        <span class="badge">
          <%= qsr.quantity %>
        </span>
        <%= qsr.supply_name %>
      <% end %>
    <% else %>
      ------
    <% end %></td>
  <td>
    <% if prescription.prescribed_date.present? %>
      <%= prescription.prescribed_date.strftime("%d/%m/%Y") %>
    <% else %>
      ------
    <% end %>
  </td>
    <% if prescription.dispensada? %>
      <td>
      <%= prescription.date_dispensed.strftime("%d/%m/%y %H:%M") %>
    <% else %>
      <% if policy(prescription).dispense? %>
        <td class="text-center">
        <%= link_to dispense_prescription_path(prescription), remote: true,
              class: 'btn btn-success btn-xs', title: 'Dispensar', data: { toggle: 'tooltip', placement: 'top' } do %>
          <%= content_tag(:span, '', class: 'glyphicon glyphicon-send') %>
        <% end %>
      <% else %>
        <td>
        Sin dispensar
      <% end  %>
    <% end %>
  </td>
  <td>
    <% if policy(prescription).show? %>
      <%= link_to prescription_path(prescription), remote:true,
            class: 'btn btn-default btn-xs', title: 'Ver detalles', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-eye-open') %>
      <% end %>
    <% end %>
    <% if policy(prescription).edit? %>
      <% unless prescription.dispensada? %>
        <%= link_to edit_prescription_path(prescription), remote: true,
              class: 'btn btn-warning btn-xs', title: 'Editar', data: { toggle: 'tooltip', placement: 'top' } do %>
          <%= content_tag(:span, '', class: 'glyphicon glyphicon-edit') %>
        <% end %>
      <% end %>
    <% end %>
    <% if policy(prescription).delete? %>
      <%= link_to delete_prescription_path(prescription), remote: true,
            class: 'btn btn-danger btn-xs', title: 'Papelera', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-trash') %>
      <% end %>
    <% end %>
  </td>
</tr>
