<tr class="nested-fields">
  <td>
    <%= f.input :supply_id, as: :string,
      placeholder: 'Código',
      label: false,
      required: true,
      :input_html => {
        class: "supply-code select-change input-sm",
        data: { autocomplete_source: search_by_id_supplies_path },
        size: 4,
        autocomplete: 'off'
      } 
    %>
  </td>
  <td>
    <%= f.input :supply_id, as: :string, id: "nom_ins", class: "form-control",
      label: false,
      placeholder: 'Nombre',
      required: true,
      :input_html => {
        class: "supply-name select-change input-sm",
        data: { autocomplete_source: search_by_name_supplies_path },
        size: 35,
        value: "#{if f.object.supply.present?; f.object.supply_name; end }"
      } 
    %>
    <%= f.input :supply_id, :as => :hidden, :input_html => { class: 'supply-id'} %>
  </td>
  <td>
    <% @stock = 1 %>
    <%= f.input :stock, as: :fake, label: false, disabled: true, 
      input_html: {
        class: 'stock-quantity input-sm',
        size: 6, 
        placeholder: "Cant",
        value: "#{
          if f.object.supply.present? 
            @stock = SectorSupplyLot.where(sector_id: current_user.sector_id).with_supply(f.object.supply).sum(:quantity)
          end
        }"
      } %>
  </td>
  <td>
    <%= f.input :requested_quantity, label: false, placeholder: 'Cant', required: true,
      input_html: {
        "data-tooltip"=>true,
        :class=>"has-tip request-quantity input-sm",
        :title=>"Cantidad solicitada",
        "data-placement"=>"right",
        min: '0', step:'any', :style => 'width: 70px'  
      } 
    %>
  </td>
  <td>
    <%= f.input :delivered_quantity, label: false, placeholder: 'Cant', required: true,
      input_html: {
        "data-tooltip"=>true,
        :class=>"has-tip deliver-quantity input-sm",
        :title=>"Cantidad entregada",
        "data-placement"=>"right",
        min: '0', step:'any', :style => 'width: 70px'
      } 
    %>
  </td>
  <td>
    <%= button_tag type: "button", class: "btn btn-light select-lot-btn" do %>
      <% if f.object.sector_supply_lot_id.present? %>
        <%= fa_icon "barcode" %> <%= f.object.sector_supply_lot.lot_code %> <%= fa_icon "cubes" %> <%= f.object.sector_supply_lot.quantity %>
      <% else %>
        <%= fa_icon "barcode" %> Seleccionar lote
      <% end %>
    <% end %>
    <!--
    <% if f.object.supply_id.present? && @stock > 0 %>
      <%= button_tag type: 'button', class: 'btn btn-sm search-lots',
        title: 'Buscar lotes', data: { html: true, toggle: 'tooltip', placement: 'top' } do %>
        <%= fa_icon "search" %>
      <% end %>
    <% end %>
    <% if f.object.sector_supply_lot_id.present? %>
      <%= f.select(:sector_supply_lot_id, [],{},
        {
          class: 'selectpicker custom-select-pick show-tick',
          "data-width"=>"fit",
          "title"=>"#{f.object.sector_supply_lot.lot_code+" <span class='badge'>"+f.object.sector_supply_lot.quantity.to_s+"</span>" }",
          "data-size"=>"5",
          disabled: true,
          value: "#{if f.object.sector_supply_lot.present?; f.object.sector_supply_lot.id end }"
        })
      %>
    <% else %>
      <%= f.select(:sector_supply_lot_id, [],{},
        {
          class: 'selectpicker custom-select-pick show-tick',
          "data-width"=>"fit",
          "title"=>"#{if @stock == 0; "No hay stock"; else; "Código"; end}",
          "data-size"=>"5",
          disabled: true
        })
      %>
    <% end %> -->
    <%= f.input :sector_supply_lot_id, :as => :hidden, :input_html => { class: 'sector-supply-lot-id'} %>
  </td>
  <td>
    <%= f.input :provider_observation, label: false, as: :text,
      :input_html => { class: 'input-sm', :cols => 25  , :rows => 1 } %>
  </td>
  <td>
    <% if f.object.sector_supply_lot_id.present? %>
      <%= button_tag type: 'button', class: 'btn btn-xs',
        title: '
        <table>
          <thead>
            <tr>
              <th>Lote</th> 
              <th>Stock</th>
              <th class="text-center">Laboratorio</th>
              <th>Vencimiento</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>'+f.object.sector_supply_lot.lot_code+'</td>
              <td>'+f.object.sector_supply_lot.quantity.to_s+'</td>
              <td class="lab-col">'+f.object.sector_supply_lot.laboratory+'</td>
              <td>'+if f.object.sector_supply_lot.expiry_date.present?; f.object.sector_supply_lot.expiry_date.strftime("%d/%m/%Y"); else; 'No vence'; end+'</td>
            </tr>
          </tbody>
        </table>', data: { html: true, toggle: 'tooltip', placement: 'left' } do %>
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-info-sign') %>
      <% end %>
    <% end %>
    <%= link_to_remove_association  f, class: 'remove-tag btn btn-warning btn-xs',
      title: 'Quitar', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= fa_icon "minus" %>
    <% end %>
  </td>
</tr>
