<script  type="text/javascript">
  //Esta porción de JS se coloca en este documento ya que el evento "onchange"
  //se activa desde el html.

  //Se crea un diccionario de las medicaciones con sus respectivas cantidades en stock.
  <% @medications = Medication.all %>
  var quantityToMedication = {
  <% @medications.each do |medication| %>
    "<%=medication.id%>": {
    quantity : "<%=medication.quantity%>"
  }
  <% end %>
  };

  //Función para establecer el máximo al campo "Cantidad" de cada medicación.
  function setMaxQuantity(idSelect){
    var medications = $('#quantity-medications');
    var medicationCant = medications.find('.nested-fields').size();
    var idNum = idSelect.substr(idSelect.length - 1); //Se toma el último caracter del id, que es lo unico que varía.
    var medication_id =  $("#chosen-medication-"+idNum+" option:selected").val(); //Se aloja el id de la opcion seleccionada para acceder al diccionario.

    if($("#chosen-medication-"+idNum+" option:selected").val() != 0){
      document.getElementById("quantity-medication-"+idNum).setAttribute("required", true);
      document.getElementById("quantity-medication-"+idNum).disabled = false;
      document.getElementById("quantity-medication-"+idNum).setAttribute("max", quantityToMedication[medication_id].quantity);
    }else{
      document.getElementById("quantity-medication-"+idNum).setAttribute("required", false);
      document.getElementById("quantity-medication-"+idNum).disabled = true;
    }

    //Loop para deshabilitar el suministro seleccionado en el resto y asi no repetirlo.
    for(i = 1; i <= medicationCant; i++){
      var selectedValue = $("#chosen-medication-"+i+" option:selected").val();
      for(x = 1; x <= medicationCant; x++){
        console.log(x);
        if(x != i){
          $("#chosen-medication-"+x).find('option[value="'+ selectedValue +'"]:not(:selected)').attr('disabled','disabled');
          $("#chosen-medication-"+x).trigger("chosen:updated");
        }
      }
    }
  }
</script>

<div class="nested-fields">
  <%= f.input_field :medication_id,
                    label_method: :name,
                    value_method: :id,
                    collection: @medications,
                    include_blank: true,
                    class: 'chosen-select',
                    id: 'chosen-medication-1',
                    prompt: 'Seleccione un medicamento',
                    onchange: "setMaxQuantity(this.id);"
  %>
  <%= f.input :quantity, placeholder: 'Cantidad', required: false, disabled: true,
                          label: false, input_html: { "data-tooltip"=>true, :class=>"has-tip",
                            :title=>"Seleccione un medicamento", "data-placement"=>"right",
                            min: '0', step:'any', id: 'quantity-medication-1', :style => 'width: 100px' }%>

  <%= link_to_remove_association  f, class: 'remove-tag btn btn-default btn-sm' do %>
      <%= content_tag(:span, '', class: 'glyphicon glyphicon-remove') %>
  <% end %>
</div>
