<tr class="nested-fields">
  <!-- Código de producto -->
  <td>
    <div class="custom-input-group">
      <%= f.input :supply, as: :string,
        placeholder: 'Código',
        label: false,
        required: true,
        :input_html => {
          class: "supply-code select-change input-sm",
          data: { autocomplete_source: search_by_id_supplies_path },
          size: 4,
          autocomplete: 'off',
          value: "#{if f.object.supply.present?; f.object.supply.id; end }"
        } 
      %>
      <div class="with-loading">
        <%= fa_icon 'spinner', class: "fa-spin"%>
      </div>
    </div>
  </td>

  <!-- Nombre de producto  -->
  <td>
    <div class="custom-input-group">
      <%= f.input :supply, as: :string, id: "nom_ins", class: "form-control",
        label: false,
        placeholder: 'Nombre',
        required: true,
        :input_html => {
          class: "supply-name select-change input-sm",
          data: { autocomplete_source: search_by_name_supplies_path },
          size: 35,
          value: "#{if f.object.supply.present?; f.object.supply_name; end }"
        } 
      %>
      <div class="with-loading">
        <%= fa_icon 'spinner', class: "fa-spin"%>
      </div>
    </div>
    <%= f.input :supply_id, :as => :hidden, :input_html => { class: 'supply-id'} %>
  </td>

  <!-- Cantidad en stock -->
  <td>
    <% @stock = 1 %>
    <%= f.input :stock, as: :fake, label: false, disabled: true, 
      input_html: {
        class: 'stock-quantity input-sm',
        size: 6, 
        placeholder: "Cant",
        value: "#{
          if f.object.supply.present? 
            @stock = SectorSupplyLot.where(sector_id: current_user.sector_id).with_supply(f.object.supply).sum(:quantity)
          end
        }"
      } %>
  </td>

  <!-- Cantidad solicitada -->
  <td>
    <%= f.input :requested_quantity, label: false, placeholder: 'Cant', required: true,
      input_html: {
        "data-tooltip"=>true,
        :class=>"has-tip request-quantity input-sm",
        :title=>"Cantidad solicitada",
        "data-placement"=>"right",
        min: '0', step:'any', :style => 'width: 70px'  
      } 
    %>
  </td>

  <!-- Cantidad a dispensar -->
  <td>
    <%= f.input :delivered_quantity, label: false, placeholder: 'Cant', required: true,
      input_html: {
        "data-tooltip"=>true,
        :class=>"has-tip deliver-quantity input-sm",
        :title=>"Cantidad entregada",
        "data-placement"=>"right",
        min: '0', step:'any', :style => 'width: 70px'
      } 
    %>
  </td>

  <!-- Lote -->
  <td>
    <%= button_tag type: "button", class: "btn btn-#{select_btn_status(f.object)} select-lot-btn" do %>
      <% if f.object.sector_supply_lot_id.present? %>
        <%= fa_icon "barcode" %> <%= f.object.sector_supply_lot.lot_code %> <%= fa_icon "cubes" %> <%= f.object.sector_supply_lot.quantity %>
      <% else %>
        <%= fa_icon "barcode" %> Seleccionar lote
      <% end %>
    <% end %>
    <%= f.input :sector_supply_lot_id, :as => :hidden, :input_html => { class: 'sector-supply-lot-id'} %>
  </td>

  <!-- Observaciones -->
  <td>
    <%= f.input :provider_observation, label: false, as: :text,
      :input_html => { class: 'input-sm', :cols => 25  , :rows => 1 } %>
  </td>

  <!-- Botón quitar -->
  <td>
    <%= link_to_remove_association  f, class: 'remove-tag btn btn-warning btn-xs',
      title: 'Quitar', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= fa_icon "minus" %>
    <% end %>
  </td>
</tr>
