<tr class="nested-fields">
  <td>
    <%= f.input :sector_supply_lot_id, as: :string,
                      placeholder: 'Código',
                      label: false,
                      required: true,
                      :input_html => {
                        class: "supply-lot-sup-code select-change",
                        data: { autocomplete_source: search_by_code_sector_supply_lots_path },
                        size: 4,
                        autocomplete: 'off',
                        value: "#{f.object.supply_code unless f.object.new_record?}"
                      } %>
  </td>
  <td>
    <%= f.input :sector_supply_lot_id, as: :string,
                      placeholder: 'Nombre insumo',
                      label: false,
                      required: true,
                      :input_html => {
                        class: "supply-lot-name select-change",
                        data: { autocomplete_source: search_by_name_sector_supply_lots_path },
                        size: 38,
                        value: "#{f.object.supply_name unless f.object.new_record?}"
                      } %>
    <%= f.hidden_field :sector_supply_lot_id, class: "supply-lot-id" %>
  </td>
  <td>
    <%= f.input :quantity, placeholder: 'Cant', required: true,
                label: false, input_html: { min: '1', max: '9999', class: 'supply-lot-quantity success' } %>
  </td>
  <td>
    <%= f.select(:sector_supply_lot_id, [],{},
      {
        class: 'selectpicker show-tick',
        "data-width"=>"fit",
        "title"=>"Código",
        "data-size"=>"5",
        disabled: true
      }) %>
  </td>
  <td>
    <%= f.input :sector_supply_lot_id, as: :string,
                label: false,
                placeholder: "Razón social",
                disabled: true,
                input_html: {
                  :style => 'width: 150px',
                  class: "supply-lot-laboratory",
                  value: "#{f.object.laboratory unless f.object.new_record?}"
                },
                html5: false %>
  </td>
  <td>
    <%= f.input :sector_supply_lot_id, as: :string,
                label: false,
                placeholder: "Una fecha",
                disabled: true,
                input_html: {
                  :style => 'width: 100px',
                  class: "supply-lot-expiry",
                  value: "#{f.object.expiry_date.present? ? f.object.expiry_date.strftime("%d/%m/%Y") : 'No expira' unless f.object.new_record?}"
                },
                html5: false %>
  </td>
  <%= f.hidden_field :sector_supply_lot_id, class: "supply-lot-id" %>
  <td>
    <%= link_to_remove_association  f, class: 'remove-tag btn btn-warning btn-sm',
      title: 'Quitar', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-minus') %>
    <% end %>
  </td>
</tr>
