<div class="nested-fields">
  <%= f.text_field :supply_lot_id, class: "form-control supply-cod",
                    placeholder: 'Código', label: false,
                    data: { autocomplete_source: search_by_code_supply_lots_path },
                    size: 5,
                    required: false %>
  <%= f.text_field :supply_lot_id, id: "nom_ins", class: "form-control supply-name",
                    placeholder: 'Nombre de insumo',
                    data: { autocomplete_source: search_by_name_supply_lots_path },
                    size: 40,
                    required: true %>
  <%= f.input :quantity, placeholder: 'Cant', required: false, disabled: true,
              label: false,
              input_html: { "data-tooltip"=>true, :class=>"has-tip",
                            :title=>"Seleccione un insumo", "data-placement"=>"right",
                            min: '0', step:'any', id: 'quantity-supply-1',
                            :style => 'width: 70px'
                          }%>
  <%= link_to_remove_association  f, class: 'remove-tag btn btn-default btn-sm' do %>
      <%= content_tag(:span, '', class: 'glyphicon glyphicon-remove') %>
  <% end %>
</div>
