<div class="row">
  <div class="col-md-6">
    <p>
      <h5><strong>Doctor:</strong></h5>
      <%= @prescription.professional.full_name %>
      <strong>DNI: </strong> <%= @prescription.professional.dni %>
      <% if @prescription.professional.enrollment.present? %>
        <strong>Matrícula: </strong> <%= @prescription.professional.enrollment %>
      <% end %>
    </p>

    <p>
      <h5><strong>Paciente:</strong></h5>
      <%= @prescription.patient.first_name %> <%=@prescription.patient.last_name%>
      <strong>DNI: </strong><%= @prescription.patient.dni %>
    </p>

    <p>
      <h5><strong>Estado:</strong>
        <span class="label label-<%= @prescription.prescription_status.label %>">
          <%= @prescription.prescription_status.name %>
        </span>
      </h5>
    </p>

    <% if @prescription.supply_lots.present? %>
      <p>
        <h5><strong>Insumos:</strong></h5>
        <% @prescription.supply_lots.each do |sup_lot| %>
          <span class="badge">
            <%= @prescription.quantity_supply_lots.find_by_supply_lot_id(sup_lot.id).quantity %>
          </span>
          <%= sup_lot.supply_name %><br>
        <% end %>
      </p>
    <% end %>

    <% if @prescription.observation.present? %>
      <p>
        <h5><strong>Observaciones:</strong></h5>
        <%= @prescription.observation %>
      </p>
    <% end %>
  </div>
  <div class="col-md-6">
    <p>
      <h5><strong>Fecha emitida:</strong></h5>
      <%= @prescription.created_at.strftime("%d/%m/%y %H:%M") %>
    </p>

    <p>
      <h5><strong>Fecha última modificación:</strong></h5>
      <%= @prescription.updated_at.strftime("%d/%m/%y %H:%M") %>
    </p>

    <p>
      <h5><strong>Fecha recibida:</strong></h5>
      <%= @prescription.date_received.strftime("%d/%m/%y %H:%M") %>
    </p>

    <p>
      <h5><strong>Fecha dispensada:</strong></h5>
      <% if @prescription.dispensed? %>
        <%= @prescription.date_dispensed.strftime("%d/%m/%y %H:%M") %>
      <% else %>
        A dispensar
      <% end %>
    </p>
  </div>
</div>
