// Add the dialog title
$('#dialog h3').html("<i class=' glyphicon glyphicon-pencil'></i>  Editando prescripción");

// Render the edit form
$('.modal-body').html('<%= j render("form") %>');

// Add form button
$('.modal-footer').html(
  "<button type='button' class='btn btn-default pull-left' data-dismiss='modal'>Volver</button>"+
  "<% unless @prescription.dispensada? %>"+
    "<button type='submit' name='commit' class='btn btn-success' style='margin-right: 15%' form='edit_prescription_<%=@prescription.id%>' value='Guardar y dispensar'>Guardar y dispensar</button>"+
  "<% end %>"+
  "<button type='submit' name='commit' class='btn btn-primary pull-right' form='edit_prescription_<%=@prescription.id%>' value='Guardar cambios'>Guardar cambios</button>"
);

// Show the dynamic dialog
$('#dialog').modal("show");

// Set focus to the first element
$('#dialog').on('shown.bs.modal', function () {
  $('.first_input').focus();
});

<%= render 'form_function' %>

$('#prescription_prescribed_date').val("<%= @prescription.prescribed_date.strftime('%d/%m/%Y') %>");
$('#prescription_expiry_date').val("<%= @prescription.expiry_date.strftime('%d/%m/%Y') %>");
