<%= render 'header' %>

<div class="card fixed-custom-card">
  <div class="card-header d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center">
      <%= fa_icon "eye" %>
      <h5 class="card-title mb-0 ml-2">
        Viendo receta <%= @prescription.ambulatoria? ? "ambulatoria" : "crónica" %>
      </h5>
    </div>
    <div>
      <%= link_to prescriptions_path, class: 'btn',
          :title => 'Cerrar', :'data-placement'=>'top', :'data-toggle'=>'tooltip' do %>
        <%= fa_icon "times" %>
      <% end %>
    </div>
  </div>

  <div class="card-body">
    <% if @prescription.ambulatoria? %>
      <div class="row">
        <!-- Professional profile -->
        <div class='col-md-3 col-xs-3'>
          <div class="media">
            <div class="mr-3">
              <%= link_to professional_path(@prescription.professional), class: "link" do %>
                <%= image_tag professional_avatar(@prescription.professional, 83), class:"img-thumbnail media-object" %>
              <% end %>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Médico</h4>
              <p>
                <%= link_to professional_path(@prescription.professional), class: "link" do %>
                  <%= @prescription.professional_fullname %>
                <% end %>
              </p>
              <p><strong>Matrícula: </strong><%= @prescription.professional_enrollment %></p>
            </div>
          </div> 
        </div><!-- End professional profile -->

        <!-- Patient profile -->
        <div class='col-md-3 col-xs-3'>
          <div class="media">
            <div class="mr-3">
              <%= link_to patient_path(@prescription.patient), class: "link" do %>
                <%= image_tag patient_avatar(@prescription.patient, 83, 102), class:"img-thumbnail media-object" %>
              <% end %>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Paciente</h4>
              <p>
                <%= link_to patient_path(@prescription.patient), class: "link" do %>
                  <%= @prescription.patient_fullname.titleize %>
                <% end %>    
              </p>
              <p><strong>DNI: </strong><%= @prescription.patient_dni %></p>
              <p><strong>Edad: </strong><%= @prescription.patient_age_string %></p>
            </div>
          </div>
        </div> <!-- End Patient profile -->

        <!-- Extra info -->
        <div class='col-md-6 col-xs-6'>
          <div class='row'>
            <div class='col-md-3 col-xs-3'>    
              <strong>Recetada:</strong><br>
              <%= @prescription.prescribed_date.strftime("%d/%m/%Y") %>
            </div>
            <div class='col-md-3 col-xs-3'>
              <strong>Vencimiento:</strong><br>
              <%= @prescription.expiry_date.strftime("%d/%m/%Y") %>
            </div>
            <div class='col-md-3 col-xs-3'>
              <strong>Código:</strong>
              <%= @prescription.remit_code %>
            </div>
          </div>
          <hr>
          <strong>Observaciones:</strong>
          <%= @prescription.observation.present? ? @prescription.observation : 'Sin observaciones' %>
        </div><!-- End extra info -->
      </div>
      <!-- Insumos a dispensar -->
      <div class="card">
        <table class="table table-hover table-sm">
          <thead>
            <tr>
              <th>Cód Ins</th>
              <th>Insumo</th>
              <th>Solicitado</th>
              <th><%= @prescription.dispensada? ? 'Entregado' : 'A entregar' %></th>
              <th>Lote</th>
              <th>Laboratorio</th>
              <th>Vencimiento</th>
              <th>Observaciones</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @prescription.quantity_ord_supply_lots.each do |qosl| %>
              <tr>
                <td>
                  <%= qosl.supply_id %>
                </td>
                <td>
                  <%= qosl.supply_name %>
                </td>
                <td>
                  <%= qosl.requested_quantity %> <%= qosl.unity.pluralize(qosl.requested_quantity) %>
                </td>
                <td>
                  <%= qosl.delivered_quantity %> <%= qosl.unity.pluralize(qosl.delivered_quantity) %>
                </td>
                <% if qosl.sector_supply_lot.present? %>
                  <td>
                    <%= qosl.sector_supply_lot.lot_code %>
                  </td>
                  <td>
                    <%= qosl.sector_supply_lot.laboratory %>
                  </td>
                  <td>
                    <% if qosl.supply.needs_expiration %>
                      <%= qosl.sector_supply_lot.expiry_date.present? ? qosl.sector_supply_lot.expiry_date.strftime("%d/%m/%Y") : "Sin asignar" %>
                    <% else %>
                      No vence
                    <% end %>
                  </td>
                <% else %>
                  <td>Sin lote</td><td>----</td><td>----</td>
                <% end %>
                <td><%= qosl.provider_observation.present? ? qosl.provider_observation : '----' %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% elsif @prescription.cronica? %>
      <div class="row">
        <!-- Professional profile -->
        <div class='col-md-3 col-xs-3'>
          <div class="media">
            <div class="media-left">
              <%= link_to professional_path(@prescription.professional), class: "link" do %>
                <%= image_tag professional_avatar(@prescription.professional, 83), class:"img-thumbnail media-object" %>
              <% end %>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Médico</h4>
              <p>
                <%= link_to professional_path(@prescription.professional), class: "link" do %>
                  <%= @prescription.professional_fullname %>
                <% end %>
              </p>
              <p><strong>Matrícula: </strong><%= @prescription.professional_enrollment %></p>
            </div>
          </div> 
        </div><!-- End professional profile -->

        <!-- Patient profile -->
        <div class='col-md-3 col-xs-3'>
          <div class="media">
            <div class="media-left">
              <%= link_to patient_path(@prescription.patient), class: "link" do %>
                <%= image_tag patient_avatar(@prescription.patient, 83, 102), class:"img-thumbnail media-object" %>
              <% end %>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Paciente</h4>
              <p>
                <%= link_to patient_path(@prescription.patient), class: "link" do %>
                  <%= @prescription.patient_fullname.titleize %>
                <% end %>
              </p>
              <p><strong>DNI: </strong><%= @prescription.patient_dni %></p>
              <p><strong>Edad: </strong><%= @prescription.patient_age_string %></p>
            </div>
          </div>
        </div> <!-- End Patient profile -->
        
        <!-- Extra info -->
        <div class='col-md-6 col-xs-6'>
          <div class='row'>
            <div class='col-md-6 col-xs-6'>    
              <strong>Recetada:</strong><br>
              <%= @prescription.prescribed_date.strftime("%d/%m/%Y")%>
            </div>
            <div class='col-md-6 col-xs-6'>
              <strong>Código:</strong>
              <%= @prescription.remit_code %>
            </div>
          </div>
          <hr>
          <strong>Observaciones:</strong>
          <%= @prescription.observation.present? ? @prescription.observation : 'Sin observaciones' %>
        </div><!-- End extra info -->
      </div>
      <!-- Tabs -->
      <div class='row'>
        <div class='col-md-12'>
          <ul class='nav nav-tabs nav-justified'>
            <li class='nav-item'>
              <a class='nav-link active' data-toggle='tab' href='#supplies'>
                <%= fa_icon "cubes" %>
                Insumos recetados
                <span class="badge badge-secondary"><%= @prescription.quantity_ord_supply_lots.sin_entregar.count %></span>
              </a>
            </li>
            <li class='nav-item'>
              <a class='nav-link <%= @prescription.cronic_dispensations.to_set.count > 0 ? '' : 'disabled' %>' data-toggle='tab' href='#dispensations'>
                <%= fa_icon "paper-plane" %>
                Dispensaciones
                <span class="badge badge-secondary"><%= @prescription.cronic_dispensations.to_set.count %>/<%= @prescription.times_dispensation %></span>
              </a>
            </li>
            <li class='nav-item'>
              <a class='nav-link' data-toggle='tab' href='#last_movements'>
                <%= fa_icon "exchange-alt" %>
                Movimientos
                <span class="badge badge-secondary"><%= @prescription.movements.count %></span>
              </a>
            </li>
          </ul>
        </div>
      </div><!-- End tabs -->
      <div class="tab-content">
        <!-- Insumos recetados -->
        <div id='supplies' class='tab-pane container active'>
          <table class="table table-hover table-sm">
            <thead>
              <tr>
                <th>Cód Ins</th>
                <th>Insumo</th>
                <th>Consumo/mes</th>
                <th>Observaciones</th>
              </tr>
            </thead>
            <tbody>
              <% @prescription.quantity_ord_supply_lots.sin_entregar.each do |qosl| %>
                <tr>
                  <td>
                    <%= qosl.supply_id %>
                  </td>
                  <td>
                    <%= qosl.supply_name %>
                  </td>
                  <td>
                    <%= qosl.requested_quantity %> <%= qosl.unity.pluralize(qosl.requested_quantity) %>
                  </td>
                  <td><%= qosl.provider_observation.present? ? qosl.provider_observation : '----' %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

        <!-- Insumos dispensados -->
        <% cronic_dispensations = @prescription.cronic_dispensations.order(created_at: :desc).to_set %>
        <div id='dispensations' class='tab-pane fade'>
          <div role="tabpanel">
            <div class="col-sm-2">
              <ul class="nav nav-pills brand-pills nav-stacked" role="tablist">
                <% i = 0 %>
                <% cronic_dispensations.each do |cd| %>
                  <li role="presentation" class="brand-nav <%= i == 0 ? "active" : ""%>">
                    <a href="#tab<%= cd.id %>" aria-controls="tab<%= cd.id %>" class="text-right" role="tab" data-toggle="tab">
                      <span class="badge badge-secondary"><%= cronic_dispensations.count - i %>°</span> &nbsp;
                      <%= cd.created_at.strftime("%d/%m/%Y") %>
                      <%= cd.created_at.strftime("%H:%M")%>
                    </a>
                  </li>
                  <% i += 1 %>
                <% end %>
              </ul>
            </div>
            <div class="col-sm-10">
              <div class="tab-content">
                <% i = 0 %>
                <% cronic_dispensations.each.each do |cd| %>
                  <div role="tabpanel" class="tab-pane <%= i == 0 ? "active" : ""%>" id="tab<%= cd.id %>">
                    <table class="table table-hover table-condensed">
                      <thead>
                        <tr>
                          <th>Cód Ins</th>
                          <th>Insumo</th>
                          <th>Consumo/mes</th>
                          <th>Entregado</th>
                          <th>Lote</th>
                          <th>Observaciones</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <% cd.quantity_ord_supply_lots.each do |qosl| %>
                          <tr>
                            <td>
                              <%= qosl.supply_id %>
                            </td>
                            <td>
                              <%= qosl.supply_name %>
                            </td>
                            <td>
                              <%= qosl.requested_quantity %> <%= qosl.unity.pluralize(qosl.requested_quantity) %>
                            </td>
                            <td>
                              <%= qosl.delivered_quantity %> <%= qosl.unity.pluralize(qosl.delivered_quantity) %>
                            </td>
                            <td>
                              <%= qosl.sector_supply_lot.present? ? qosl.sector_supply_lot.lot_code : '----' %>
                            </td>
                            <td><%= qosl.provider_observation.present? ? qosl.provider_observation : '----' %></td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>  
                  </div>
                  <% i += 1 %>
                <% end %>
              </div>
            </div>
          </div>
        </div> <!-- End tab content-->
        <div id='last_movements' class='tab-pane fade'>
          <!-- Tabla de movimientos -->
          <%= render '/shared/movements_table', order: @prescription %>
        </div> <!-- End last movements tab pane -->
      </div>
    <% end %>
  </div>
  <div class="card-footer text-right">
    <%= link_to 'Volver', prescriptions_path, class: "btn btn-light mr-1" %>
    <%= link_to prescription_path(format: 'pdf'), class: 'btn btn-info mr-1', target: :_blank do %>
      <%= fa_icon "print" %>
      Imprimir
    <% end %>
    <% if policy(@prescription).return_status? %>
      <a href="#return-confirm" data-id="<%= @prescription.id %>" class="return-confirm btn btn-warning mr-1">
        <%= fa_icon "redo" %>
        Retornar
      </a>
    <% end %>
    <% if policy(@prescription).return_cronic_dispensation? %>
      <a href="#return-confirm" data-id="<%= @prescription.id %>" class="return-confirm btn btn-danger mr-1">
        <%= fa_icon "redo" %>
        Retornar dispensación
      </a>
    <% end %>
    <% if policy(@prescription).edit? %>
      <%= link_to edit_prescription_path(@prescription), :"data-turbolinks" => false,
        class: "btn btn-warning" do %>
        <%= fa_icon "pen" %>
        Editar
      <% end %>
    <% end %>
  </div>
</div>


<% if policy(@prescription).return_status? %>
  <!-- Modal para retornar estado -->
  <div class="modal" id="return-confirm">
    <div class="modal-dialog">
      <div class="modal-content panel-warning">
        <div class="modal-header panel-heading">
          <a class="close" data-dismiss="modal">×</a>
          <h3><%= content_tag(:span, "", class: "glyphicon glyphicon-retweet") %> Retornar a <%= prev_status = Prescription.statuses.key(@prescription.status_before_type_cast - 1).split('_').map(&:capitalize).join(' ') %></h3>
        </div>
        <div class="modal-body">
          <p>Seguro que desea retornar la prescripción a <%= prev_status %>?</p>
          <p>Se devolverán todos los insumos a tu stock.</p>
        </div>
        <div class="modal-footer text-right">
          <a href="#" data-dismiss="modal" class="btn">Cancelar</a>
          <%= link_to 'Confirmar', return_status_prescription_path, method: :get, :class => 'btn btn-warning' %>
        </div>
      </div>
    </div>
  </div>
<% end %>


<% if policy(@prescription).return_cronic_dispensation? %>
  <!-- Modal para retornar estado -->
  <div class="modal" id="return-confirm">
    <div class="modal-dialog">
      <div class="modal-content panel-danger">
        <div class="modal-header panel-heading">
          <a class="close" data-dismiss="modal">×</a>
          <h3><%= fa_icon "redo" %> Retornar a stock la última dispensación.</h3>
        </div>
        <div class="modal-body">
          <p>
            Seguro que desea retornar la <%= @prescription.cronic_dispensations.to_set.count %>° dispensación realizada el 
            <%= @prescription.cronic_dispensations.newest_first.first.created_at.strftime("%d/%m/%Y %H:%M") %>?
          </p>
        </div>
        <div class="modal-footer text-right">
          <a href="#" data-dismiss="modal" class="btn">Cancelar</a>
          <%= link_to 'Confirmar', return_cronic_dispensation_prescription_path, method: :get, :class => 'btn btn-danger' %>
        </div>
      </div>
    </div>
  </div>
<% end %>