<%= form_for_filterrific @filterrific do |f| %>
  <div class="row d-flex justify-content-end">
    <div class="col d-flex justify-content-end align-items-center">
      <%= render_filterrific_spinner %>
      <%= link_to stock_movements_path(reset: true), class: 'btn btn-secondary ml-2',
         title: 'Reiniciar', data: { toggle: 'tooltip', placement: 'top' }, 
         'data-disable-with' => "<i class='fa fa-redo fa-spin'></i>".html_safe do %>
        <%= fa_icon 'redo' %>
      <% end %>
    </div>
    <div class="col">
      <div class="input-group">
        <%= f.text_field(
          :search_lot,
          class: 'filterrific-periodically-observed form-control border',
          placeholder: 'Lote',
          autocomplete: 'off',
          ) %>
      </div>
    </div>
    <div class="col">
      <%= f.select(:for_movement_types,
        @filterrific.select_options[:movement_types].map {
          |status| [status.first, status.second]
        },{ include_blank: false, include_hidden: false },
        {
          class: "selectpicker-md show-tick custom-select-pick", 
          multiple: true,
          allow_blank: false,
          title: 'Movimiento',
          "data-width"=>"100%",
        }) %>
    </div>
    <div class="col">
      <%= f.text_field(:since_date, autocomplete: 'off',
        class: 'datepicker form-control',
        id: 'since_date',
        placeholder: "Desde fecha", 
        data: { date_format: 'DD/MM/YYYY'}) %>
    </div>
    <div class="col">
      <%= f.text_field(:to_date, autocomplete: 'off',
        class: 'datepicker form-control',
        id: 'to_date',
        placeholder: "Hasta fecha", 
        data: { date_format: 'DD/MM/YYYY'}) %>
    </div>
    <div class="col">
      <div class="input-group">
        <%= f.select(:sorted_by,
          @filterrific.select_options[:sorted_by].map {
            |status| [status.first, status.second]
          },{},
          { class: "selectpicker-md show-tick custom-select-pick", "data-width"=>"100%"}) %>
      </div>
    </div>
  </div>
<% end %>