<tr id="stock_movement_<%= stock_movement.id %>">
  <td><%= stock_movement.created_at.strftime("%d/%m/%Y") %></td>
  <th scope="row"><%= stock_movement.lot_stock.lot_code %></th>
  <td><%= stock_movement.order.present? ? stock_movement.order.class.model_name.human : 'Se eliminó' %></td>
  <td class="text-truncate" style="max-width: 150px;"><%= stock_movement.order_origin_name if stock_movement.order.present? %></td>
  <td class="text-truncate" style="max-width: 150px;"><%= stock_movement.order_destiny_name if stock_movement.order.present? %></td>
  <td><%= stock_movement.order_status.humanize if stock_movement.order.present? %></td>
  <td class="text-<%= stock_movement.adds? ? 'success' : 'danger' %>"><%= stock_movement.quantity %></td>
  <% if stock_movement.order.present? %>
    <td>
      <%= link_to polymorphic_url([stock_movement.order.class.name.underscore.pluralize, 
                                  (stock_movement.order.custom_notification_url if stock_movement.order.class.method_defined?(:custom_notification_url)) ], 
                                  resaltar: @stock.product_id,
                                  id: stock_movement.order.id), 
                                  target: :_blank, 
                                  class: "btn btn-sm btn-light" do %>
        <%= fa_icon 'external-link-alt' %>
      <% end %>
    </td>
  <% end %>
</tr>
