<div>

  <h4>Actualización 04/02/2021</h4>

  <div>
    <h5>Selección múltiple de lotes:</h5>
    <p>
      Se implementó la selección múltiple de lotes de un mismo producto en los distintos tipos de órdenes. 
      La función cuenta con la posibilidad de seleccionar distintas cantidades de diferentes lotes para completar la cantidad solicitada o a entregar para un producto.
    </p>
      
      <%= image_tag 'update_notifications/lot_selection.png', class: "mw-100" %>

    <p class="mt-2">El botón de selección de lotes, también tiene un indicador de cuantos lotes se han seleccionado y una barra con diferentes colores </p>
    <ul>
      <li><span class="badge">Blanco:</span> que no se ha seleccionado ningun lote.</li>
      <li><span class="badge badge-primary">Azul:</span> indica lotes seleccionados con una cantidad total que no completa la cantidad a entregar.</li>
      <li><span class="badge badge-success">Verde:</span> indica lotes seleccionados con cantidad total a entregar.</li>
      <li><span class="badge badge-danger">Rojo:</span> indica lotes seleccionados con una cantidad mayor a la cantidad a entregar.</li>
    </ul>
      <%= image_tag 'update_notifications/lot_indicator.png', class: "mw-100" %>
    <p class="mt-2">
      Dicha mejora, abarca:
    </p>
    <ul>
      <li class="font-weight-bold">Pedidos de Sectores</li>
      <li class="font-weight-bold">Pedidos de Establecimientos</li>
      <li class="font-weight-bold">Recetas Ambulatorias / Crónicas</li>
      <li class="font-weight-bold">Remitos de Abastecimientos</li>
    </ul>

  </div>
  
  <div>
    <h5>Módulo Abastecimiento:</h5>
    <p>Se implementó módulo Abastecimiento, el cual permite la carga de remito de diferentes productos y lotes.</p>
    <ul>
      <li>Selección de Establecimiento.</li>
      <li>Selección de Sector del Establecimiento seleccionado.</li>
      <li>Selección de Rubros a cargar en el remito. Esto tambien limita a los productos de los mismos.</li>
      <li>Asignación de un código alfanumérico como identificador del remito.</li>
      <li>
        Carga de productos:
        <ul>
            <li>Asignación de renglón.</li>
            <li>Asignación de producto por código o nombre:
              <ul>
                <li>Cuenta con filtro por rubro, según rubros seleccionados.</li>
              </ul>
            </li>
            <li>
              Asignación de Lotes:
              <ul>
                <li>Asignación Presentación.</li>
                <li>Asignación Cantidad.</li>
                <li>Asignación Código de lote / Nombre de lote / fecha expiración de lote.</li>
              </ul>
            </li>
        </ul>
      </li>

    </ul>
  </div>
  <div>
    <h5>Módulo Recibos:</h5>
    <ul>
      <li>Optimización de carga por Recibos.</li>
      <li>Optimización de validaciones.</li>
    </ul>
  </div>
  <div>
    <h5>Módulo Stock:</h5>
    <ul>
      <li>
        Mejoras de listado de stock por productos.
      </li>
      <li>Botón con acceso a los movimientos de un producto desde el listado.</li>
      <li>
        Se optimizó el detalle de cada producto.
        <ul>
          <li>Listado de lotes.</li>
          <li>Listado de últimos movimientos.
            <ul>
              <li>Se agregó filtros para listado de movimientos.</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div>
    <h5>Módulo Establecimientos:</h5>
    <ul>
      <li>Nueva trazabilidad de estados.</li>
      <li>Se quitó el retorno una vez que se encuentra en camino.</li>
      <li>Optimización de validaciones.</li>
      <li>Selector múltiple de lotes.</li>
    </ul>
  </div>  
  <div>
    <h5>Módulo Sectores:</h5>
    <ul>
      <li>Optimización de validaciones.</li>
      <li>Selector múltiple de lotes.</li>
    </ul>
  </div>
  <div>
    <h5>Módulo Productos:</h5>
    <ul>
      <li>Optimización del modúlo Productos.</li>
    </ul>
  </div>
  <div>
    <h5>Módulo Rubros:</h5>
    <ul>
      <li>Se implementó módulo Rubros.
        <div>
          <%= image_tag 'update_notifications/product_areas.png', class: "mw-100" %>
        </div>
        <ul>
          <li>
            Listado de rubros y subrubros en forma de directorios con jerarquias.
          </li>
          <li>Listado de productos que contiene cada rubro con acceso al detalle del mismo.</li>
        </ul>
      </li>
    </ul>
  </div>  
  <div>
    <h5>Módulo Recetas:</h5>
    <p>Se dividió el listado de prescripciones entre Crónicas y Ambulatorias:</p>
    <ul>
      <li>
        Recetas Ambulatorias
        <ul>
          <li>Selector múltiple de lotes</li>
          <li>Optimización de válidaciones</li>
        </ul>
      </li>
      <li>
        Recetas Crónicas
        <ul>
          <li>Creación de receta crónica:
            <ul>
              <li>Se dividió en dos pasos:
                <ul>
                  <li>
                  Creación con los productos originales recetados por el médico:
                    <div>
                      <%= image_tag 'update_notifications/chronic_form.png', class: "mw-100" %>
                      <ul>
                        <li>El sistema automáticamente cálcula la cantidad a ser dispensada basado en la cantidad de dosis.</li>
                      </ul>
                    </div>

                  </li>
                  <li>
                  Dispensación:
                    <div>
                      <%= image_tag 'update_notifications/chronic_dispensation.png', class: "mw-100" %>
                      <ul>
                        <li>Botón agregar productos.</li>
                        <li>La dispensación cuenta con la posibilidad de asignar más de un producto por cada producto recetado.
                          <span class="text-danger">La cantidad de productos dispensados en un mismo producto cuenta como 1 dosis de tratamiento.</span>
                        </li>
                        <li>Cada producto recetado cuenta con un indicador porcentual de lo que lleva dispensado.</li>
                        <li>Cada dispensación puede o no dispensar la totalidad de productos asignados en la receta.</li>
                      <ul>
                    </div>

                  </li>
                </ul>
              </li>
              <li>
                Porcentaje dispensado de cada producto:
                <div>
                  <%= image_tag 'update_notifications/chronic_products_detail.png', class: "mw-100" %>
                </div>
              </li>
              <li>Dispensaciones realizadas:
                <div>
                  <%= image_tag 'update_notifications/chronic_dispensations_detail.png', class: "mw-100" %>
                  <ul>
                    <li>Se pueden generar las dispensasiones necesarias para completar la receta.</li>
                    <li>Listado de dispensaciones realizadas con la posibilidad de retornar <span class="text-danger">en un período de 24 horas</span>.</li>
                    <li>Botón para desplegar el listado de lotes seleccionados en la dispensación de cada producto.</li>
                  </ul>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>