<%= simple_form_for @lot_archive, method: :post, url: create_archive_lot_stocks_url(@lot_stock.stock, @lot_stock), remote: true, html: {role: 'check-modified'} do |f_lot_archive| %>
  <%= f_lot_archive.error_notification %>

  <div class="row">
    <div class="col-md-12">
      <label class="h5">Cantidad en stock: 
        <%= @lot_stock.quantity %>
      </label>
    </div>
    <div class="col-md-12">
      <%= f_lot_archive.input :quantity, label: 'Cantidad a archivar', required: true %>
    </div>
    <div class="col-md-12">
      <%= f_lot_archive.input :observation, label: 'Observaciones', required: true %>
    </div>
    <%= f_lot_archive.input :lot_stock_id, as: :hidden, input_html: { value: @lot_stock.id } %>
  </div>
<% end %>