<% lot_stocks.each do |lot_stock| %>
  <tr id="lot_stock_<%= lot_stock.id %>">
    <td><%= lot_stock.lot_code %></td>
    <td class="text-truncate"><%= lot_stock.product_name %></td>
    <td><%= lot_stock.lot_short_expiry_date_string %></td>
    <td><span class="badge badge-<%= lot_status_label(lot_stock.lot) %>"><%= lot_stock.lot.status.humanize %></span></td>
    <td><%= lot_stock.quantity %></td>
    <td><%= lot_stock.archived_quantity %></td>
    <td class="action-col text-center">
      <% if policy(lot_stock).show? %>
        <%= link_to stock_show_lot_stocks_path(lot_stock.stock, lot_stock), class: 'btn btn-light btn-sm',
          title: 'Ver detalles', data: { toggle: 'tooltip', placement: 'top' } do %>
          <%= fa_icon "eye" %>
        <% end %>
      <% end %>

      <% if policy(LotArchive).new? %>
        <%= link_to new_lot_archive_path(lot_stock), class: "btn btn-warning btn-sm", remote: true, 
          title: 'Archivar', tabindex: "-1", data: { toggle: 'tooltip', placement: 'top' } do %>
          <%= fa_icon 'archive'%>
        <% end %>
      <% end %>
    </td>
  </tr>
<% end %>