<%#= render 'header' %>

<div class="card fixed-custom-card">
  <div class="card-header d-flex justify-content-between">
    <div class="d-flex align-items-center"> 
      <%= fa_icon 'eye' %>
      <h5 class="card-title mb-0 ml-2">
        Viendo archivo de lote <%= @lot_archive.lot_stock.lot.code %>
      </h5>
    </div>
    <%= link_to stocks_path, class: 'btn btn-light',
      :title => 'Cerrar', :'data-placement'=>'top', :'data-toggle'=>'tooltip' do %>
      <%= fa_icon 'times' %>
    <% end %>
  </div>
  <div class="card-body">
    <div class="d-flex justify-content-start">
      <div class="p-1 flex-fill">
        <h5>Lote </h5><%= @lot_archive.lot_stock.lot.code %>
      </div>
      
      <div class="p-1 flex-fill">
        <h5>Laboratorio </h5><%= @lot_archive.lot_stock.lot.laboratory.name.humanize %>
      </div>

      <div class="p-1 flex-fill">
        <h5>Fecha vencimiento </h5><%= @lot_archive.lot_stock.lot.expiry_date.present? ? @lot_archive.lot_stock.lot.expiry_date.strftime("%d/%m/%Y") : '---' %>
      </div>
      <div class="p-1 flex-fill">
        <h5>Cantidad </h5><%= @lot_archive.quantity %>
      </div>
      <div class="p-1 flex-fill">
        <h5>Estado </h5>
        <span class="badge badge-<%= @lot_archive.archivado? ? 'success' : 'primary' %>">
          <%= @lot_archive.status.humanize %>
        </span>
      </div>
      
      <div class="p-1 flex-fill">
        <h5>Observaciones </h5>
          <%= @lot_archive.observation %>
      </div>
      
    </div>

  </div>

  <!-- Botones de acción footer -->
  <div class="card-footer d-flex justify-content-end">
    <%= link_to 'Volver', stocks_path, class: "btn" %>
  </div>
</div>