<div class="card fixed-custom-card">
  <div class="card-header <%= order.new_record? ? 'bg-primary text-white' : 'bg-warning' %> d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center ml-2">
      <%= fa_icon (order.new_record? ?  "plus" : "edit")%>
      <h5 class="card-title mb-0 ml-2">
        <%= order.new_record? ? 'Nueva' : 'Editando' %> <%= order.order_type %> de establecimiento
        código <%= order.remit_code if order.persisted? %>
      </h5>
    </div>
    <%= link_to :back, class: order.new_record? ? 'btn text-white' : 'btn' do %>
      <%= fa_icon "times" %>
    <% end %>
  </div>
  <div class="card-body">
    <div class="row order-header-info mb-2">
      <%= render "establishments/external_orders/edit_products_header", order: order %>
    </div>

    <%# Dispatch order as POST method %>
    <%= simple_form_for order_product, 
                        url: dispatch_order_external_orders_applicant_path(order),
                        method: :POST,
                        html: { id: "dispatch-order"} do |form| %>
    <% end %>

    <%# Error message of dispatch order without products%>
    <% if @error.present? %>
      <div class="text-danger mt-2 mb-2">
        <%= @error %>
      </div>
    <% end %>
    
    <%# INSUMOS SOLICITADOS %>
    <%= render "shared/orders/applicant/table", order: order, order_product: order_product %>

  </div>

  <div class="card-footer d-flex justify-content-end">
    <%= link_to 'Volver', external_orders_applicants_path, class: 'btn btn-secondary mr-2' %>
  
    <button class='btn btn-primary mr-2 send-order' 
            type="button" 
            data-url="<%= dispatch_order_external_orders_applicant_path(order) %>"
            data-title="Enviando solicitud de establecimiento"
            data-body="Hay productos que no han sido guardados aún">
      
      <div class="c-msg" style="pointer-events: none;">
        <%= fa_icon "paper-plane" %> Enviar
      </div>
      
      <div class="d-none" style="pointer-events: none;">
        <%= fa_icon "spinner", class: "fa-spin send-audit" %>
        Guardando...
      </div>

    </button>
  </div>
</div>


<% content_for :modal do %>
  <%= render(partial: 'shared/modals/send_unsaved_confirmation') %>
<% end %>