<%= render "external_orders/header" %>

<div class="card fixed-custom-card">
  <div class="card-header d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center ml-2">
      <%= fa_icon "eye" %>
      <h5 class="card-title mb-0 ml-2">
        Viendo plantilla de <%= @external_order_template.order_type %>
      </h5>
    </div>
    <%= link_to external_order_templates_path, class: 'btn btn-light',
      :title => 'Cerrar', :'data-placement'=>'top', :'data-toggle'=>'tooltip' do %>
      <%= fa_icon "times" %>
    <% end %>
  </div>
  <div class="card-body" id="panel-body-new">
    <div class="row">
      <div class="col-md-3">
        <h5>Nombre</h5>
        <%= @external_order_template.name %>
      </div>
      <div class="col-md-3">
        <% if @external_order_template.solicitud? %>
          <h5>Sector proveedor</h5>
        <% else %>
          <h5>Sector solicitante</h5>
        <% end %>
        <%= @external_order_template.destination_sector.name %>
      </div>
      <% if @external_order_template.observation.present? %>
        <div class="col-md-3">
          <h5>Observaciones</h5>
          <%= @external_order_template.observation %>
        </div>
      <% end %>
      <div class="col-md-3">
        <h5>Creada por</h5>
        <% if @external_order_template.created_by.profile.present? %>
          <span><%= image_tag user_avatar(@external_order_template.created_by, 25), class:"img-circle img-profile-nav" %></span>
        <% end %>
        <%= @external_order_template.created_by.full_name %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <!-- Insumos a dispensar -->
        <div class="card">
          <table class="table table-hover table-sm mb-0">
            <thead>
              <tr>
                <th>Código</th>
                <th>Producto</th>
                <th>Unidad</th>
                <th>Rubro</th>
                <th></th>
              </tr>
            </thead>
            <tbody class="external_order_template_supplies">
              <% @external_order_template.external_order_template_supplies.joins(:supply).order("name").each do |iots| %>
                <tr>
                  <td><%= iots.supply_id %></td>
                  <td><%= iots.supply_name %></td>
                  <td><%= iots.unity %></td>
                  <td><%= iots.supply.supply_area.name %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer d-flex align-item-center justify-content-between">
    <div>
      <% if policy(@external_order_template).destroy? %>
        <%= link_to delete_external_order_template_path(@external_order_template), remote: true,
              class: 'btn btn-danger btn-md pull-left', title: 'Eliminar', data: { toggle: 'tooltip', placement: 'top' } do %>
          <%= fa_icon "trash" %>
        <% end %>
      <% end %>
    </div>
    <div>
      <%= link_to 'Volver', external_order_templates_path, class: "btn btn-light mr-2" %>
      <% if policy(@external_order_template).edit? %>
        <%= link_to edit_external_order_template_path(@external_order_template), :"data-turbolinks" => false,
          class: "btn btn-warning mr-2" do %>
          <%= fa_icon "pen" %>
          Editar
        <% end %>
      <% end %>
      <% if policy(@external_order_template).edit_provider? %>
        <%= link_to edit_provider_external_order_template_path(@external_order_template), :"data-turbolinks" => false,
          class: "btn btn-warning mr-2" do %>
          <%= fa_icon "pen" %>
          Editar
        <% end %>
      <% end %>
      <% if policy(@external_order_template).use_applicant? %>
        <%= link_to use_applicant_external_order_template_path(@external_order_template), class: "btn btn-primary",
          'data-disable-with' => "<i class='fa fa-spinner'></i> Creando".html_safe do %>
          <%= fa_icon "plus" %>
          Crear solicitud
        <% end %>
      <% end %>
      <% if policy(@external_order_template).use_provider? %>
        <%= link_to use_provider_external_order_template_path(@external_order_template), class: "btn btn-primary",
          'data-disable-with' => "<i class='fa fa-spinner'></i> Creando".html_safe do %>
          <%= fa_icon "plus" %>
          Crear despacho
        <% end %>
      <% end %>
    </div>
  </div>
</div>