<% if @outpatient_prescriptions.present? %>
  <div id="filterrific_results">
    <div class="card fixed-panel-list">
      <table class="table table-hover table-striped table-sm">
        <thead>
          <tr>
            <th>Código</th>
            <th><%= filterrific_sorting_link(@filterrific, :profesional) %></th>
            <th><%= filterrific_sorting_link(@filterrific, :paciente) %></th>
            <th><%= filterrific_sorting_link(@filterrific, :estado) %></th>
            <th>
              <%= content_tag(:span, '', class: 'glyphicon glyphicon-barcode') %>
              <%= filterrific_sorting_link(@filterrific, :ins) %>
            </th>
            <th>
              <%= content_tag(:span, '', class: 'glyphicon glyphicon-transfer') %>
              <%= filterrific_sorting_link(@filterrific, :mov) %>
            </th>
            <th>
              <%= filterrific_sorting_link(@filterrific, :recetada) %>
              <%= content_tag(:span, '', class: 'glyphicon glyphicon-calendar') %>
            </th>
            <th class="text-center">Acciones</th>
          </tr>
        </thead>
        <tbody id="outpatient_prescriptions">
          <%= render @outpatient_prescriptions %>
        </tbody>
      </table>
    </div>
    <div class="row d-flex align-items-center" style="height: 50px">
      <div class="col-4">
        <%= will_paginate @outpatient_prescriptions, list_classes: %w(pagination mb-0), 
          previous_label: '<i class="fa fa-angle-left"></i>',
          next_label: '<i class="fa fa-angle-right"></i>', 
          renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
      </div>
      <div class="col-5 d-flex justify-content-around align-items-center">
        <div>
          Recetas <span class="badge badge-secondary"><%= @outpatient_prescriptions.count %></span>
        </div>
        <div>
          Pendientes <span class="badge badge-secondary"><%= @outpatient_prescriptions.pendiente.count %></span>
        </div>
        <div>
          Dispensadas <span class="badge badge-success"><%= @outpatient_prescriptions.dispensada.count %></span>
        </div>
      </div>
      <div class="col-3 d-flex justify-content-end align-items-center">
      </div>
    </div>
  </div>
<% else %>
  <%= render(
    partial: 'shared/not_found_filter',
    locals: { object_name: 'recetas' }
  ) %>
<% end %>
