<% if @outpatient_prescriptions.present? %>
  <div id="filterrific_results">
    <div class="card fixed-panel-list">
      <table class="table table-hover table-striped table-sm">
        <thead class="thead-light">
          <tr>
            <th>Código</th>
            <th><%= filterrific_sorting_link(@filterrific, :medico) %></th>
            <th><%= filterrific_sorting_link(@filterrific, :paciente) %></th>
            <th><%= filterrific_sorting_link(@filterrific, :estado) %></th>
            <th><%= filterrific_sorting_link(@filterrific, :productos) %></th>
            <th><%= filterrific_sorting_link(@filterrific, :movimientos) %></th>
            <th><%= filterrific_sorting_link(@filterrific, :recetada) %></th>
            <th class="text-center">Acciones</th>
          </tr>
        </thead>
        <tbody id="outpatient_prescriptions">
          <%= render @outpatient_prescriptions %>
        </tbody>
      </table>
    </div>
    <div class="row d-flex align-items-center" style="height: 50px">
      <div class="col-5">
        <%= will_paginate @outpatient_prescriptions, list_classes: %w(pagination mb-0), 
          previous_label: '<i class="fa fa-angle-left"></i>',
          next_label: '<i class="fa fa-angle-right"></i>', 
          renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
      </div>
      <div class="col-5 d-flex justify-content-around align-items-center">
        <div>
          Recetas <span class="badge badge-secondary"><%= @outpatient_prescriptions.count %></span>
        </div>
        <div>
          <%= link_to outpatient_prescriptions_path(filterrific: {:for_statuses => ['pendiente']}), 
            class: 'tn btn-link text-dark text-left p-0',
            title: "Ver recetas pendientes", data: { toggle: 'tooltip', placement: 'bottom' } do %>
            Pendientes <span class="badge badge-secondary"><%= @outpatient_prescriptions.pendiente.count %></span>
          <% end %>
        </div>
        <div>
          <%= link_to outpatient_prescriptions_path(filterrific: {:for_statuses => ['dispensada']}), 
            class: 'tn btn-link text-dark text-left p-0',
            title: "Ver recetas dispensadas", data: { toggle: 'tooltip', placement: 'bottom' } do %>
            Dispensadas <span class="badge badge-success"><%= @outpatient_prescriptions.dispensada.count %></span>
          <% end %>
        </div>
      </div>
      <div class="col-2 d-flex justify-content-end align-items-center">
      </div>
    </div>
  </div>
<% else %>
  <%= render(
    partial: 'shared/not_found_filter',
    locals: { object_name: 'recetas' }
  ) %>
<% end %>
