<tr id="outpatient_prescription_<%= outpatient_prescription.id %>">
  <td><%= outpatient_prescription.remit_code %></th>
  <td class="pres-col-pro"><%= outpatient_prescription.professional.full_name %></td>
  <td class="pres-col-pat"><%= outpatient_prescription.patient.full_info %></td>
  <td>
    <span class="badge badge-<%= outpatient_prescription_status_label(outpatient_prescription) %>">
      <%= outpatient_prescription.status.underscore.humanize %>
    </span>
  </td>
  <td>
    <%= outpatient_prescription.outpatient_prescription_products.count %>
  </td>
  <td>
    <%= outpatient_prescription.movements.count %>
  </td>
  <td>
    <% if outpatient_prescription.date_prescribed.present? %>
      <%= outpatient_prescription.date_prescribed.strftime("%d/%m/%Y") %>
    <% else %>
      ------
    <% end %>
  <td class="text-left actions-col">
    <div class="d-flex">
      <% if policy(outpatient_prescription).dispense? %>
        <%= link_to dispense_outpatient_prescription_path(outpatient_prescription), :"data-turbolinks" => false,
          class: 'btn btn-primary btn-sm mr-1 ml-1',
          title: 'Dispensar', 
          data: { toggle: 'tooltip', placement: 'top' } do %>
          <%= fa_icon "paper-plane" %>
        <% end %>
      <% end %>
      
      <%= render(
        partial: 'shared/action_buttons',
        locals:{ 
            object: outpatient_prescription, 
            show: {visible: true},
            edit: {visible: true},
            destroy: {
              visible: true, 
              title: "Eliminar prescripción",
              body: "Esta seguro que desea eliminar la prescripción de #{ outpatient_prescription.professional.full_name }?",
              path: "/recetas_ambulatorias/#{outpatient_prescription.id}"
            }
            
        }
      ) 
      %>
    </div>
  </td>
</tr>
