<div class="panel panel-info" id="filter-panel">
  <div class="panel-collapse collapse" id="filter">
    <div class="panel-body">
      <%= form_for_filterrific @filterrific do |f| %>
        <div class="col-md-2 col-sm-2">
          <label>Insumo</label>
          <%= f.text_field(
            :search_text,
            class: 'filterrific-periodically-observed form-control',
            placeholder: 'Código o Nombre',
            autocomplete: 'off'
          ) %>
        </div>
        <div class="col-md-1 col-sm-1">
          <label>Lote</label>
          <%= f.text_field(
            :search_lot_code,
            class: 'filterrific-periodically-observed form-control',
            placeholder: 'Código',
            autocomplete: 'off'
          ) %>
        </div>
        <div class="col-md-2 col-sm-2">
          <label>Laboratorio</label>
          <%= f.text_field(
            :search_laboratory,
            class: 'filterrific-periodically-observed form-control',
            placeholder: 'Razón social',
            autocomplete: 'off'
          ) %>
        </div>
        <div class="col-md-2 col-sm-2">
          <label>Estado</label>
          <%= f.select(:with_status, @filterrific.select_options[:with_status],{}, {class: 'form-control'}) %>
        </div>
        <div class="col-md-2 col-sm-2">
          <label>Ordenar por</label>
          <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by],{}, {class: 'form-control'}) %>
        </div>
        <div class="col-md-2 col-sm-2">
           <label>Vencido desde</label>
           <%= f.text_field(:expired_from, placeholder: "Una fecha", data: { date_format: 'DD/MM/YYYY'},
             class: 'form-control filterrific-periodically-observed', id: 'expired-from') %>
        </div>
        <%= link_to reset_filterrific_url, class: "btn btn-default btn-md pull-right" do %>
          <%= content_tag(:span, '', class: 'glyphicon glyphicon-refresh') %>
        <% end %>
        <!-- Spinner para la carga -->
        <%= render_filterrific_spinner %>
      <% end %>
    </div>
  </div>
</div>
