<%= simple_form_for @new_supply_lot, remote: true, html: {class: "form-inline"} do |f| %>
  <%= f.error_notification %>
  <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th>Cód Insumo</th>
        <th>Insumo</th>
        <th>Lote</th>
        <th>Laboratorio</th>
        <th>Fecha expiración</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <div class="js-fade fade-in is-paused">
          <td>
            <%= f.text_field :supply_id, class: "form-control",
                              placeholder: 'Cód Ins', label: false,
                              data: { autocomplete_source: search_by_id_supplies_path },
                              size: 5,
                              required: true,
                              autocomplete: 'off' %>
          </td>
          <td>
            <%= f.text_field :supply_id, id: "nom_ins", class: "form-control",
                              placeholder: 'Nombre',
                              data: { autocomplete_source: search_by_name_supplies_path },
                              size: 38,
                              required: true,
                              value: "#{@new_supply_lot.supply_name unless @new_supply_lot.new_record?}" %>
            <%= f.hidden_field :supply_id, id: "supply_id" %>
          </td>
          <td>
            <%= f.text_field :lot_code, class: "form-control", size: 10, required: true,
                              placeholder: 'Código', label: false, autocomplete: 'off' %>
          </td>
          <td>
            <%= f.text_field :laboratory_id, id: "laboratory",
                              class: 'form-control',
                              placeholder: 'Razón social',
                              data: { autocomplete_source: search_by_name_laboratories_path },
                              size: 20,
                              required: true,
                              value: "#{@new_supply_lot.laboratory.name unless @new_supply_lot.new_record?}" %>
          </td>
          <%= f.hidden_field :laboratory_id, id: "laboratory_id" %>
          <td>
            <%= f.input :expiry_date, as: :string, label: false, :placeholder => "Una fecha",
                        input_html: {
                          :style => 'width: 109px',
                          class: "form-control",
                          required: true,
                          autocomplete: 'off',
                          id: 'expiry-date',
                          value: "#{f.object.expiry_date.strftime('%d/%m/%Y') unless f.object.new_record? || f.object.expiry_date.present?}"
                        },
                        html5: false %>
          </td>
          <td class="td-btn">
            <button type='reset' class='btn btn-default btn-md pull-left' tabindex="-1">
              <span class='glyphicon glyphicon-erase'></span>
            </button>
            <button type='submit' name='commit' class='btn btn-primary pull-right' form='new_supply_lot'>
              Nuevo lote
            </button>
          </td>
        </div>
      </tr>
    </tbody>
  </table>
<% end %>
