  <tr id="supply_lot_<%= supply_lot.id %>">
    <div class="js-fade fade-in is-paused">
      <td><%= supply_lot.code %></td>
      <td class="col-sup-name"><%= supply_lot.supply_name %></td>
      <td>
        <span class="badge badge-<%= supply_lot.status_label %>">
          <%= supply_lot.status.underscore.humanize %>
        </span>
      </td>
      <td><%= supply_lot.lot_code %></td>
      <td><%= supply_lot.laboratory.name %></td>
      <td><%= supply_lot.expiry_date? ? supply_lot.expiry_date.strftime("%d/%m/%Y") : "No expira" %></td>
      <td class="text-left actions-col">
        <% if policy(supply_lot).show? %>
          <%= link_to supply_lot_path(supply_lot), remote:true, class: 'btn btn-secondary btn-sm',
                title: 'Ver detalles', data: { toggle: 'tooltip', placement: 'top' } do %>
            <%= fa_icon "eye" %>
          <% end %>
        <% end %>
        <% if current_page?(controller: 'supply_lots', action: 'trash_index') %>
          <% if policy(supply_lot).restore? %>
            <%= link_to restore_confirm_supply_lot_path(supply_lot), remote: true,
                  class: 'btn btn-primary btn-sm', title: 'Restaurar', data: { toggle: 'tooltip', placement: 'top' } do %>
              <%= fa_icon "trash-restore" %>
            <% end %>
          <% end %>
          <% if policy(supply_lot).purge? %>
            <%= link_to purge_confirm_supply_lot_path(supply_lot), remote: true,
                  class: 'btn btn-danger btn-sm', title: 'Eliminar', data: { toggle: 'tooltip', placement: 'top' } do %>
              <%= fa_icon "times" %>
            <% end %>
          <% end %>
        <% else %>
          <% if policy(supply_lot).edit? %>
            <%= link_to edit_supply_lot_path(supply_lot), remote: true, class: 'btn btn-warning btn-sm',
                  title: 'Editar', data: { toggle: 'tooltip', placement: 'top' } do %>
              <%= fa_icon "edit" %>
            <% end %>
          <% end %>
          <% if policy(supply_lot).delete? %>
            <%= link_to delete_supply_lot_path(supply_lot), remote: true,
                  class: 'btn btn-danger btn-sm', title: 'Papelera', data: { toggle: 'tooltip', placement: 'top' } do %>
              <%= fa_icon "trash" %>
            <% end %>
          <% end %>
        <% end %>
      </td>
    </div>
  </tr>
