<% content_for :page_header do %>
  Lotes en provincia
  <% if policy(SupplyLot).new? %>
    <%= button_tag(class: "btn btn-primary btn-xs", 'data-toggle' => 'collapse', 'data-target' => '#new') do %>
      <%= content_tag(:span, '', class: 'glyphicon glyphicon-plus') %>
      Nuevo
    <% end %>
  <% end %>
<% end %>
<% if policy(@supply_lots).new? %>
  <div class="panel panel-primary" id="filter-panel">
    <div class="panel-collapse collapse" id="new">
        <%= render "form" %>
    </div>
  </div>
<% end %>

<%= render "filter" %>

<%= render(
  partial: 'supply_lots/list',
  locals: { supply_lots: @supply_lots }
) %>
