<% content_for :page_header do %>
  <h3>Lotes de insumos
    <% if policy(SupplyLot).new? %>
      <%= button_tag(class: "btn btn-primary btn-sm", 'data-toggle' => 'collapse', 'data-target' => '#new') do %>
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-plus') %>
        Nuevo
      <% end %>
    <% end %>
    <%= button_tag(class: "btn btn-info btn-sm", 'data-toggle' => 'collapse', 'data-target' => '#filter') do %>
      <%= content_tag(:span, '', class: 'glyphicon glyphicon-filter') %>
      Filtrar
    <% end %>
  </h3>
<% end %>
<% if policy(@supply_lots).new? %>
  <div class="panel panel-primary" id="filter-panel">
    <div class="panel-collapse collapse" id="new">
        <%= render "form" %>
    </div>
  </div>
<% end %>

<%= render "filter" %>

<%= render(
  partial: 'supply_lots/list',
  locals: { supply_lots: @supply_lots }
) %>
