<p id="notice"><%= notice %></p>

<h1>Supply Lots</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Expiry date</th>
      <th>Date received</th>
      <th>Quantity</th>
      <th>Initial quantity</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @supply_lots.each do |supply_lot| %>
      <tr>
        <td><%= supply_lot.code %></td>
        <td><%= supply_lot.expiry_date %></td>
        <td><%= supply_lot.date_received %></td>
        <td><%= supply_lot.quantity %></td>
        <td><%= supply_lot.initial_quantity %></td>
        <td><%= supply_lot.status %></td>
        <td><%= link_to 'Show', supply_lot %></td>
        <td><%= link_to 'Edit', edit_supply_lot_path(supply_lot) %></td>
        <td><%= link_to 'Destroy', supply_lot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Supply Lot', new_supply_lot_path %>
