<% content_for :page_header do %>
  <h3>Lotes de insumos
    <%= button_tag(class: "btn btn-primary btn-sm", 'data-toggle' => 'collapse', 'data-target' => '#new') do %>
      <%= content_tag(:span, '', class: 'glyphicon glyphicon-plus') %>
      Nuevo
    <% end %>
    <%= button_tag(class: "btn btn-info btn-sm", 'data-toggle' => 'collapse', 'data-target' => '#filter') do %>
      <%= content_tag(:span, '', class: 'glyphicon glyphicon-filter') %>
      Filtrar
    <% end %>
  </h3>
<% end %>
<div class="panel panel-primary" id="filter-panel">
  <div class="panel-collapse collapse" id="new">
      <%= render "form" %>
  </div>
</div>

<%= render "filter" %>

<%= render(
  partial: 'supply_lots/list',
  locals: { supply_lots: @supply_lots }
) %>
