<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @supply_lot.code %>
</p>

<p>
  <strong>Expiry date:</strong>
  <%= @supply_lot.expiry_date %>
</p>

<p>
  <strong>Date received:</strong>
  <%= @supply_lot.date_received %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @supply_lot.quantity %>
</p>

<p>
  <strong>Initial quantity:</strong>
  <%= @supply_lot.initial_quantity %>
</p>

<p>
  <strong>Status:</strong>
  <%= @supply_lot.status %>
</p>

<%= link_to 'Edit', edit_supply_lot_path(@supply_lot) %> |
<%= link_to 'Back', supply_lots_path %>
