  <tr id="laboratory_<%= laboratory.id %>">
    <div class="js-fade fade-in is-paused">
      <td><%= laboratory.name %></td>
      <td><%= laboratory.cuit %></td>
      <td class="text-left actions-col">
        <% if policy(laboratory).show? %>
          <%= link_to laboratory_path(laboratory), class: 'btn btn-secondary btn-sm',
                title: 'Ver detalles', data: { toggle: 'tooltip', placement: 'top' } do %>
            <%= fa_icon "eye" %>
          <% end %>
        <% end %>
        <% if policy(laboratory).edit? %>
          <%= link_to edit_laboratory_path(laboratory), class: 'btn btn-warning btn-sm',
                title: 'Editar', data: { toggle: 'tooltip', placement: 'top' } do %>
            <%= fa_icon "pen" %>
          <% end %>
        <% end %>
        <% if policy(laboratory).delete? %>
          <%= link_to delete_laboratory_path(laboratory), remote: true,
                class: 'btn btn-danger btn-sm', title: 'Borrar', data: { toggle: 'tooltip', placement: 'top' } do %>
            <%= fa_icon "trash" %>
          <% end %>
        <% end %>
      </td>
    </div>
  </tr>
