<%= render 'header' %>

  <% if @laboratories.present? %>
    <%= form_for_filterrific @filterrific do |f| %>
      <div class="card">
        <div class="card-header">
          <div class="row justify-content-between">
            <div class="col-4">
              <label>Razón social</label>
              <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
              <%= f.text_field(
                :search_name,
                class: 'filterrific-periodically-observed form-control',
                placeholder: 'Nombre'
              ) %>
            </div>
            <div class="col-3">
              <label>CUIT</label>
              <%= f.text_field(
                :search_cuit,
                class: 'filterrific-periodically-observed form-control',
                  placeholder: 'Número'
                ) %>
            </div>
            <div class="col-3">
              <label>GLN</label>
              <%= f.text_field(
                :search_gln,
                class: 'filterrific-periodically-observed form-control',
                  placeholder: 'Número'
                ) %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="card-body fixed-panel-index">
        <%= render(
          partial: 'laboratories/list',
          locals: { laboratories: @laboratories }
        ) %>
      </div>
    </div>
  <% else %>
    <%= render(
      partial: 'shared/not_found',
      locals: { object_name: 'laboratorios' }
    ) %>
  <% end %>
</div>