<tr id="establishment_<%= establishment.id %>">
  <div class="js-fade fade-in is-paused">
    <td><%= establishment.cuie.present? ? establishment.cuie.upcase : '---' %></td>
    <td><%= establishment.name %></td>
    <td><%= establishment.establishment_type.present? ? establishment.establishment_type.name : '---' %></td>
    <td><%= establishment.sectors.count %></td>
    <td><%= establishment.users.to_set.count %></td>
    <td class="text-left actions-col">

      <%= render(
        partial: 'shared/action_buttons',
        locals:{ 
            object: establishment, 
            show: {visible: true, target: (show_target if defined?(show_target) )},
            edit: {visible: true, target: (edit_target if defined?(edit_target) )},
            destroy: {
              visible: true, 
              title: "Eliminar establecimiento",
              body: "Esta seguro que desea eliminar el establecimiento #{ establishment.name }?",
              path: "/establecimientos/#{establishment.id}"
            }
            
        }
      ) 
      %>
    </td>
  </div>
</tr>
