<% if @establishments.present? %>
  <div id="filterrific_results">
    <div class="card">
      <table class="table table-hover table-striped table-sm">
        <thead >
          <tr>
            <th>CUIE</th>
            <th><%= filterrific_sorting_link(@filterrific, :nombre) %></th>
            <th><%= filterrific_sorting_link(@filterrific, :tipo) %></th>
            <th><%= filterrific_sorting_link(@filterrific, :sectores) %></th>
            <th>Usuarios</th>
            <th class="text-center">Acciones</th>
          </tr>
        </thead>
        <tbody id="establishments">
          <%= render @establishments %>
        </tbody>
      </table>
    </div>
    <div class="d-flex align-items-center justify-content-center" style="height: 50px">
      <div class="col-5">
        <%= will_paginate @establishments, list_classes: %w(pagination mb-0), 
          previous_label: '<i class="fa fa-angle-left"></i>',
          next_label: '<i class="fa fa-angle-right"></i>', 
          renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
      </div>
      <div class="col-5 d-flex justify-content-around align-items-center">
      </div>
      <div class="col-2 d-flex justify-content-end align-items-center">
      </div>
    </div>
  </div>
<% else %>
  <%= render(
    partial: 'shared/not_found_filter',
    locals: { object_name: 'establecimientos' }
  ) %>
<% end %>
