<%= render 'internal_orders/header' %>

<div class="card fixed-custom-card">
  <div class="card-header d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center">
      <%= fa_icon "eye" %>
      <h5 class="card-title mb-0 ml-2">
        Viendo sector <%= @sector.name %>
      </h5>
    </div>
    <%= link_to sectors_path, class: 'btn' do %>
      <%= fa_icon 'times' %>
    <% end %>
  </div>


  <div class="card-body">
    <div class="card mb-4">
      <div class="card-body">
          <ul class="list-group list-group-flush">
          <li class="list-group-item"><span class="font-weight-bold">Establecimiento:</span> <%= @sector.establishment.name %> </li>
          <li class="list-group-item"><span class="font-weight-bold">Descripción:</span> <%= @sector.description %></li>
        </ul>
      </div>
    </div>

    <%= render 'shared/users_table', users: @sector.users %>
  </div>


  <div class="card-footer d-flex justify-content-end">
    <%= link_to 'Volver', sectors_path, class: "btn mr-2" %>
    <% if policy(@sector).edit? %>
      <%= link_to edit_sector_path(@sector), :"data-turbolinks" => false, class: "btn btn-warning" do %>
        <%= fa_icon "pen" %>
        Editar
      <% end %>
    <% end %>
  </div>
</div>
