<div id="filterrific_results">
  <% if @stocks.present? %>
    <div class="card fixed-panel-list">
      <table class="table table-hover table-striped table-sm">
        <thead>
          <tr>
            <th><%= filterrific_sorting_link(@filterrific, :codigo) %></th>
            <th><%= filterrific_sorting_link(@filterrific, :insumo) %></th>
            <th><%= filterrific_sorting_link(@filterrific, :cantidad) %></th>
            <th><%= filterrific_sorting_link(@filterrific, :unidad) %></th>
            <th><%= filterrific_sorting_link(@filterrific, :rubro) %></th>
            <th><%= filterrific_sorting_link(@filterrific, :modificado) %></th>
            <th colspan="3">Acciones</th>
          </tr>
        </thead>
        <tbody id="stocks">
          <%= render @stocks %>
        </tbody>
      </table>
    </div>
    <div class="d-flex align-items-center justify-content-center" style="height: 50px">
      <%= will_paginate @stocks, list_classes: %w(pagination mb-0), renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
    </div>
  <% else %>
    <%= render(
      partial: 'shared/not_found_filter',
      locals: { object_name: 'productos en stock' }
    ) %>
  <% end %>
</div>
