<div id="filter_results">
  <div class="card fixed-panel-list">
    <table class="table table-hover table-striped table-sm">
      <thead>
        <tr>
          <th>Código</th>
          <th>Nombre</th>
          <th>Cantidad</th>
          <th>Unidad</th>
          <th>Rubro</th>
          <th class="text-center">Acciones</th>
        </tr>
      </thead>
      <tbody id="movements">
        <% @movements.each do |movement| %>
          <tr>
            <td><%= movement.created_at.strftime("%d/%m/%Y") %></td>
            <th scope="row"><%= movement.lot_stock.lot_code %></th>
            <td><%= movement.order_human_name %></td>
            <td><%= movement.origin_name %></td>
            <td><%= movement.destiny_name %></td>
            <td><%= movement.status.humanize %></td>
            <td class="text-<%= movement.is_destiny?(@stock.sector) ? 'success' : 'danger' %>"><%= movement.quantity %></td>
            <td><%= link_to polymorphic_path(movement.order), target: :_blank, class: "btn btn-sm btn-light" do %><%= fa_icon 'external-link-alt' %><% end %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="d-flex align-items-center justify-content-center" style="height: 50px">
    <%= will_paginate @movements, list_classes: %w(pagination mb-0), renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>
</div>
