<%= render 'header' %>

<div class="card fixed-custom-card">
  <div class="card-header d-flex justify-content-between">
    <div class="d-flex align-items-center"> 
      <%= fa_icon 'eye' %>
      <h5 class="card-title mb-0 ml-2">
        Viendo stock de <%= @stock.product_name %>
      </h5>
    </div>
    <%= link_to stocks_path, class: 'btn btn-light',
      :title => 'Cerrar', :'data-placement'=>'top', :'data-toggle'=>'tooltip' do %>
      <%= fa_icon 'times' %>
    <% end %>
  </div>
  <div class="card-body">
    <div class="d-flex justify-content-start">
      <div class="p-1 flex-fill">
        <h5>Código: </h5><%= @stock.product_code %>
      </div>
      <div class="p-1 flex-fill">
        <h5>Producto: </h5><%= @stock.product_name %>
      </div>
      <div class="p-1 flex-fill">
        <h5>Cantidad: </h5><%= @stock.quantity %>
      </div>
      <div class="p-1 flex-fill">
        <h5>Unidad: </h5><%= @stock.product_unity_name %>
      </div>
      <div class="p-1 flex-fill">
        <h5>Área: </h5><%= @stock.product_area_name %>
      </div>
    </div>
  </div>

  <!-- Botones de acción footer -->
  <div class="card-footer d-flex justify-content-end">
    <%= link_to 'Volver', stocks_path, class: "btn" %>
  </div>
</div>