<%= render 'header' %>

<div class="card fixed-custom-card">
  <div class="card-header d-flex justify-content-between">
    <div class="d-flex align-items-center"> 
      <%= fa_icon 'eye' %>
      <h5 class="card-title mb-0 ml-2">
        Viendo stock de <%= @stock.product_name %>
      </h5>
    </div>
    <%= link_to stocks_path, class: 'btn btn-light',
      :title => 'Cerrar', :'data-placement'=>'top', :'data-toggle'=>'tooltip' do %>
      <%= fa_icon 'times' %>
    <% end %>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-8">
        <div class="row">
          <div class="col-2">
            <h5>Código </h5><%= @stock.product_code %>
          </div>
          <div class="col">
            <h5>Producto </h5><%= @stock.product_name %>
          </div>
          <div class="col-2">
            <h5>Unidad </h5><%= @stock.product_unity_name %>
          </div>
          <div class="col">
            <h5>Rubro </h5><%= @stock.product_area_name %>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="row">
          <div class="col-12 h5 text-center">Cantidades totales</div>
          <div class="col-4">Disponible: <%= @stock.quantity %></div>
          <div class="col-4">Reservada: <%= @stock.reserved_quantity %></div>
          <div class="col-4">Total: <%= @stock.total_quantity %></div>
        </div>
      </div>
    </div>

    <ul class="nav nav-tabs nav-justified mt-4" id="myStockTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="lots-tab" data-toggle="tab" href="#lots" role="tab" aria-controls="lots" aria-selected="true">
          <%= fa_icon "barcode" %> Lotes <span class="badge badge-secondary"><%= @stock.lot_stocks.greater_than_zero.count %></span>
        </a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="movements-tab" data-toggle="tab" href="#movements" role="tab" aria-controls="movements" aria-selected="false">
          <%= fa_icon "exchange-alt" %> Últimos movimientos
        </a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="statistics-tab" data-toggle="tab" href="#statistics" role="tab" aria-controls="statistics" aria-selected="false"><%= fa_icon "chart-bar" %> Estadísticas</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="lots" role="tabpanel" aria-labelledby="lots-tab">
        <table class="table table-hover table-sm">
          <thead class="thead-light">
            <tr>
              <th scope="col">Lote</th>
              <th scope="col">Laboratorio</th>
              <th scope="col">Vencimiento</th>
              <th scope="col">Estado</th>
              <th scope="col">Movimientos</th>
              <th scope="col" class="text-right">Disponible</th>
              <th scope="col" class="text-right">
                <span tabindex="0"class="btn btn-link p-0" data-toggle="popover" data-placement="top" data-trigger="hover" title="Cantidad reservada" data-content="Corresponde a las cantidades seleccionadas en los pedidos de establecimientos que se encuentran en estado Aceptado.">
                  Reservada
                </span>
              </th>
              <th scope="col" class="text-right">Total</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <% @stock.lot_stocks.greater_than_zero.order(quantity: :desc).each do |lot_stock| %>
              <tr>
                <th scope="row"><%= lot_stock.lot.code %></th>
                <td><%= lot_stock.lot.laboratory_name %></td>
                <td><%= lot_stock.lot.short_expiry_date_string %></td>
                <td><%= lot_stock.lot.status.humanize %></td>
                <td><%= lot_stock.movements.count %></td>
                <td class="table-success text-right"><%= lot_stock.quantity %></td>
                <td class="table-warning text-right"><%= lot_stock.reserved_quantity %></td>
                <td class="text-right"><%= lot_stock.quantity + lot_stock.reserved_quantity %></td>
                <td class="actions-col">
                  <% if policy(lot_stock).show? %>
                    <%= link_to show_lot_stocks_path(@stock, lot_stock), class: 'btn btn-light btn-sm',
                      title: 'Ver detalles', data: { toggle: 'tooltip', placement: 'top' } do %>
                      <%= fa_icon "eye" %>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="tab-pane fade" id="movements" role="tabpanel" aria-labelledby="movements-tab">
        <table class="table table-hover table-sm">
          <thead class="thead-light">
            <tr>
              <th scope="col">Fecha</th>
              <th scope="col">Lote</th>
              <th scope="col">Movimiento</th>
              <th scope="col">Origen</th>
              <th scope="col">Destino</th>
              <th scope="col">Estado</th>
              <th scope="col">Cantidad</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <% @stock.movements.sort_by{|e| e[:created_at]}.last(10).reverse.each do |movement| %>
              <tr>
                <td><%= movement.created_at.strftime("%d/%m/%Y") %></td>
                <th scope="row"><%= movement.lot_stock.lot_code %></th>
                <td><%= movement.order.class.model_name.human %></td>
                <td class="text-truncate" style="max-width: 150px;"><%= movement.order_origin_name %></td>
                <td class="text-truncate" style="max-width: 150px;"><%= movement.order_destiny_name %></td>
                <td><%= movement.order_status.humanize %></td>
                <td class="text-<%= movement.adds? ? 'success' : 'danger' %>"><%= movement.quantity %></td>
                <td><%= link_to polymorphic_path(movement.order, resaltar: @stock.product_id), target: :_blank, class: "btn btn-sm btn-light" do %><%= fa_icon 'external-link-alt' %><% end %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <% if @stock.movements.count > 10 %>
          <div class="row d-flex justify-content-center">
            <%= link_to stock_movements_path(), class: 'btn btn-secondary' do %>
              <%= fa_icon "eye" %> Ver todos
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="tab-pane fade" id="statistics" role="tabpanel" aria-labelledby="statistics-tab"></div>
    </div>
  </div>

  <!-- Botones de acción footer -->
  <div class="card-footer d-flex justify-content-end">
    <%= link_to 'Volver', stocks_path, class: "btn btn-light mr-2" %>

    <%= link_to lot_stocks_path(id: @stock.id), class: 'btn btn-primary mr-2' do %>
      <%= fa_icon "barcode" %>
      Ver lotes
    <% end %>
    
    <%= link_to stock_movements_path(id: @stock.id), class: 'btn btn-secondary' do %>
      <%= fa_icon "exchange-alt" %>
      Ver movimientos
    <% end %>
  </div>
</div>