<%= render 'header' %>

<% if @users.present? %>
    <%= form_for_filterrific @filterrific do |f| %>
        <div class="col-4">
          <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
          <%= f.text_field(
            :search_username,
            class: 'filterrific-periodically-observed form-control',
            placeholder: 'DNI',
            autocomplete: 'off',
          ) %>
        </div>
        <div class="col-4">
          <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
          <%= f.text_field(
            :search_by_fullname,
            class: 'filterrific-periodically-observed form-control',
            placeholder: 'Nombre o apellido',
            autocomplete: 'off',
          ) %>
        </div>
        <div class="col-2">
          <%= link_to reset_filterrific_url, class: "btn btn-sm pull-right" do %>
            <%= content_tag(:span, '', class: 'glyphicon glyphicon-refresh') %>
          <% end %>
          <!-- Spinner para la carga -->
          <%= render_filterrific_spinner %>
        </div>
    <% end %>
  <%= render(
    partial: 'users/list',
    locals: { users: @users }
  ) %>
<% else %>
  <%= render(
    partial: 'shared/not_found',
    locals: { object_name: 'usuarios' }
  ) %>
<% end %>