<%= render 'header' %>

<% if @users.present? %>
  <div class="panel panel-info" id="filter-panel">
    <div class="panel-leftheading">
      <%= content_tag(:span, '', class: 'glyphicon glyphicon-filter gi-2x') %>
    </div>
    <div class="panel-rightbody">
      <%= form_for_filterrific @filterrific do |f| %>
        <div class="col-md-2 col-sm-2">
          <label>Doctor y paciente</label>
          <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
          <%= f.text_field(
            :search_username,
            class: 'filterrific-periodically-observed form-control',
            placeholder: 'Nombre usuario',
            autocomplete: 'off',
          ) %>
        </div>
        <div class="col-md-1 col-sm-1">
        </div>
        <div class="col-md-2 col-sm-2">
        </div>
        <div class="col-md-2 col-sm-2">
        </div>
        <div class="col-md-2 col-sm-2">
        </div>
        <div class="col-md-2 col-sm-2">
        </div>
        <%= link_to reset_filterrific_url, class: "btn btn-sm pull-right" do %>
          <%= content_tag(:span, '', class: 'glyphicon glyphicon-refresh') %>
        <% end %>
        <!-- Spinner para la carga -->
        <%= render_filterrific_spinner %>
      <% end %>
    </div>
    <div class="clearfix">
    </div>
  </div>
  <%= render(
    partial: 'users/list',
    locals: { users: @users }
  ) %>
<% else %>
  <%= render(
    partial: 'shared/not_found',
    locals: { object_name: 'usuarios' }
  ) %>
<% end %>