<%= render 'header' %>
<div class="card fixed-custom-card">

  <div class="card-header d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center">
      <%= fa_icon "eye" %>
      <h5 class="card-title mb-0 ml-2">
        Viendo usuario <%= @user.full_name.titleize %>
      </h5>
    </div>
    <%= link_to users_admin_index_path, class: 'btn btn-light' do %>
      <%= fa_icon 'times' %>
    <% end %>
  </div>

    <div class="card-body">
      
      <div class="row">
        <div class="col-6">
          <% if @user.profile.present? %>
            <%= image_tag user_avatar(@user, 200), class:"img-thumbnail" %>
            <h5>
              <%= @user.full_name.titleize %>
            </h5>
          
            <h5>DNI <%= @user.profile.dni %></h5>

            <h5> <%= @user.profile.email %> </h5>
          <% else %>
            <h5>Sin perfil</h5>
          <% end %>
          
          <strong>Roles activados:</strong> <%= @user.roles.map(&:name).join(", ").humanize %>.
        </div>
        <div class="col-6">
          <%= render 'shared/sectors_table', sectors: @user.sectors %>
        </div>
      </div>
              
    </div><!-- End panel body -->

  <div class="card-footer d-flex justify-content-end">
    <%= link_to 'Volver', users_admin_index_path, class: "btn mr-2" %>
    <% if policy(@user).edit_permissions? %>
      <%= link_to edit_permissions_users_admin_path(@user), :"data-turbolinks" => false, class: "btn btn-warning" do %>
        <%= fa_icon "pen" %>
        Editar
      <% end %>
    <% end %>
  </div>
</div>