<%= render 'header' %>

<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading hidden-print">
      <h3 class="panel-title">
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-eye-open') %> Viendo usuario <%= @user.full_name %>
        <%= link_to users_admin_index_path, class: 'btn pull-right close-btn',
          :title => 'Cerrar', :'data-placement'=>'top', :'data-toggle'=>'tooltip' do %>
          <%= content_tag(:span, '', class: 'glyphicon glyphicon-remove') %>
        <% end %>
      </h3>
    </div>
    <div class="panel-body" id="panel-body-new">
      <br><br>
      <div class='row'>
        <div class='col-md-12' style='margin-top: -50px;'>
          <ul class='nav nav-tabs nav-justified'>
            <li class='active'>
              <a data-toggle='tab' href='#profile'>
                <span class="glyphicon glyphicon-user"></span>
                Perfil
              </a>
            </li>
            <li>
              <a data-toggle='tab' href='#permissions'>
                <span class="glyphicon glyphicon-lock"></span>
                Permisos
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-12">
          <div class="tab-content">
            <div id='profile' class='tab-pane fade in active'>
              <div class="col-md-4 text-center">
                <% if @user.profile.present? %>
                  <%= image_tag user_avatar(@user, 200), class:"img-thumbnail" %>
                  <h5><strong><%= @user.profile.last_name %></strong> <%= @user.profile.first_name %></h5>
                
                  <h5>DNI <%= @user.profile.dni %></h5>

                  <h5> <%= @user.profile.email %> </h5>
                <% else %>
                  <h5>Sin perfil</h5>
                <% end %>
              </div>
              <div class="col-md-8">
                <strong>Sectores habilitados:</strong>
                <ul class="list-group text-left">
                  <% @user.sectors.each do |sector| %>
                  <li class="list-group-item"><%= sector.sector_and_establishment %></li>
                  <% end %>
                </ul>
              </div>
            </div>
            <div id='permissions' class='tab-pane fade'>
              <strong>Roles activados:</strong> <%= Role.all.map(&:name).join(", ").humanize %>.
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Index</th>
                    <th scope="col">Show</th>
                    <th scope="col">New</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                    <th scope="col">Report</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Cars</th>
                    <%  %>
                    <td><span class="glyphicon glyphicon-<%= policy(Prescription).index? ? "ok text-success" : "remove text-danger"%>"></span></td>
                    <td><span class="glyphicon glyphicon-<%= policy(Prescription.first).show? ? "ok text-success" : "remove text-danger"%>"></span></td>
                    <td><span class="glyphicon glyphicon-<%= policy(Prescription).new? ? "ok text-success" : "remove text-danger"%>"></span></td>
                    <td><span class="glyphicon glyphicon-<%= policy(Prescription.new).edit? ? "ok text-success" : "remove text-danger"%>"></span></td>
                    <td><span class="glyphicon glyphicon-remove text-danger"></span></td>
                    <td><span class="glyphicon glyphicon-remove text-danger"></span></td>
                  </tr>
                  <tr>
                    <th scope="row">Animals</th>
                    <td><span class="glyphicon glyphicon-ok text-success"></span></td>
                    <td><span class="glyphicon glyphicon-ok text-success"></span></td>
                    <td><span class="glyphicon glyphicon-remove text-danger"></span></td>
                    <td><span class="glyphicon glyphicon-remove text-danger"></span></td>
                    <td><span class="glyphicon glyphicon-remove text-danger"></span></td>
                    <td><span class="glyphicon glyphicon-ok text-success"></span></td>
                  </tr>
                </tbody>
              </table>
            </div> <!-- End last movements tab pane -->
          </div> <!-- End Tab content-->
        </div> <!-- End col-md-12 -->
      </div> <!-- End row -->
    </div><!-- End panel body -->

    <div class="panel-footer text-right">
      <%= link_to 'Volver', users_admin_index_path, class: "btn" %>
      <% if policy(@user).edit_permissions? %>
        <%= link_to edit_permissions_users_admin_path(@user), :"data-turbolinks" => false,
          class: "btn btn-warning" do %>
          <%= content_tag(:span, "", class: "glyphicon glyphicon-lock") %>
          Editar permisos
        <% end %>
      <% end %>
    </div>
  </div>
</div>