

<%# Header buttons actions %>
<% content_for :print_and_back_button do %>
  <%= link_to external_orders_applicants_path(format: 'pdf'), class: 'btn',  
        :title => 'Imprimir pdf', :'data-placement'=>'top', :'data-toggle'=>'tooltip', target: :_blank do %>
    <%= fa_icon "print" %>
  <% end %>
  <%= link_to external_orders_applicants_path, class: 'btn',
      :title => 'Cerrar', :'data-placement'=>'top', :'data-toggle'=>'tooltip' do %>
    <%= fa_icon "times" %>
  <% end %>
<% end %>

<% content_for :action_buttons do %>
  <%= link_to external_orders_applicants_path,  
    'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Volviendo... ".html_safe,
    class: "btn btn-secondary mr-1" do %>
    Volver
  <% end %>

  <% if policy(:external_order_applicant).show? %>
    <%= link_to external_orders_applicant_path(format: 'pdf'), class: 'btn btn-info mr-1', target: :_blank do %>
      <%= fa_icon "print" %> Imprimir
    <% end %>
  <% end %>

  <% if policy(:external_order_applicant).edit?(@external_order) %>
    <%= link_to edit_external_orders_applicant_path(@external_order),  
      'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Editando... ".html_safe,
      class: 'btn btn-warning btn-md mr-1' do %>
      <%= fa_icon "pen" %>
      Editar orden
    <% end %>
  <% end %>

  <% if policy(:external_order_applicant).edit_products?(@external_order) %>
    <%= link_to edit_products_external_orders_applicant_path(@external_order), 
      'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Enviando... ".html_safe,
      class: 'btn btn-warning btn-md mr-1' do %>
      <%= fa_icon "file-signature" %>
      Editar productos
    <% end %>
  <% end %>
  
  <% if policy(:external_order_applicant).can_send?(@external_order) %>
    <%= link_to dispatch_order_external_orders_applicant_path(@external_order), 
      'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Enviando... ".html_safe,
      class: 'btn btn-primary btn-md mr-1' do %>
      <%= fa_icon "paper-plane" %>
      Enviar solicitud
    <% end %>
  <% end %>
  
  <% if policy(:external_order_applicant).rollback_order?(@external_order) %>
    <button type="button" class="btn btn-warning mr-1" data-toggle="modal" data-target="#return-confirm">
      <%= fa_icon "undo" %>
      Retornar
    </button>
  <% end %>
  
  
  <% if policy(:external_order_applicant).receive_order?(@external_order) %>
    <button type="button" class="btn btn-success btn-md" data-toggle="modal" data-target="#receive-confirm">
      <%= fa_icon "check" %>
      Recibir
    </button>
  <% end %>
<% end %>

<%= render "establishments/external_orders/show", order: @external_order %>

<% content_for :modal do %>
  <%# Retornar a un estado anterior (solo solicitudes enviadas o entregas aceptadas)%>
  <% if policy(:external_order_applicant).rollback_order?(@external_order) %>
    <div class="modal" id="return-confirm">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-warning">
            <h5 class="m-0"><%= fa_icon "undo" %> Retornar a <%= prev_status = ExternalOrder.statuses.key(@external_order.status_before_type_cast - 1).humanize.underscore %></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Seguro que desea retornar la <%= @external_order.order_type %> actual a <%= prev_status %>?</p>
            <% if @external_order.proveedor_aceptado? %>
              <p>Las cantidades reservadas de los productos para este pedido volverán a estar disponibles en stock.</p>
            <% end %>
          </div>
          <div class="modal-footer text-right">
            <a href="#" data-dismiss="modal" class="btn">Cancelar</a>
            <%= link_to 'Confirmar', rollback_order_external_orders_applicant_path(@external_order), method: :get, 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Retornando...".html_safe, :class => 'btn btn-warning' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  
  <%# Recibo de orden (solo en proveedor en camino) %>
  <% if policy(:external_order_applicant).receive_order?(@external_order) %>
    <div class="modal fade" id="receive-confirm">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-success text-white">
            <h5 class="m-0"><%= fa_icon "check" %> Confirmar recibo de <%= @external_order.human_name.downcase %></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Esta seguro que ha recibido el <%= @external_order.human_name.downcase %> código <%= @external_order.remit_code %>?</p>
            <p>El pedido contiene <%= pluralize(@external_order.order_products.count, 'producto', plural: 'productos diferentes') %>.</p>
          </div>
          <div class="modal-footer text-right">
            <a href="#" data-dismiss="modal" class="btn">Cancelar</a>
            <%= link_to 'Confirmar', receive_order_external_orders_applicant_path(@external_order), method: :get, 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Recibiendo...".html_safe, :class => 'btn btn-success' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>