<tr id="bed_order_<%= bed_order.id %>">
  <td><%= bed_order.remit_code %></td>
  <td><%= bed_order.patient.fullname %></td>
  <td>
    <span class="label label-<%= bed_order_status_label(bed_order) %>">
      <%= bed_order.status.underscore.humanize %>
    </span>
  </td>
  <td><%= bed_order.bed.name %></td>
  <td><%= bed_order.bedroom.name %></td>
  <td>
    <span class="badge"><%= bed_order.quantity_ord_supply_lots.count %></span>
  </td>
  <td>
    <span class="badge"><%= bed_order.movements.count %></span>
  </td>
  <td>
    <%= bed_order.requested_date.strftime("%d/%m/%Y") %>
  </td>
    <% if bed_order.provision_entregada? %>
      <td>
      <%= bed_order.date_received.strftime("%d/%m/%y %H:%M") %>
    <% else %>
      <td>
      ----
    <% end %>
  </td>
  <td>
    <% if policy(bed_order).show? %>
      <%= link_to bed_order_path(bed_order), class: 'btn btn-default btn-xs', 
        title: 'Ver detalles', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-eye-open') %>
      <% end %>
    <% end %>
    <% if policy(bed_order).edit? %>
      <%= link_to edit_bed_order_path(bed_order), :"data-turbolinks" => false, class: 'btn btn-warning btn-xs', 
        title: 'Auditar', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-edit') %>
      <% end %>
    <% end %>
    <% if policy(bed_order).destroy? %>
      <%= link_to delete_bed_order_path(bed_order), remote: true,
            class: 'btn btn-danger btn-xs', title: 'Papelera', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-trash') %>
      <% end %>
    <% end %>
  </td>
</tr>
