<div class="panel panel-info" id="filter-panel">
  <div class="panel-leftheading">
    <%= content_tag(:span, '', class: 'glyphicon glyphicon-filter gi-2x') %>
  </div>
  <div class="panel-rightbody">
    <%= form_for_filterrific @filterrific do |f| %>
      <div class="col-md-1 col-sm-1">
        <label>Código</label>
        <%= f.text_field(
          :search_code,
          class: 'filterrific-periodically-observed form-control',
          placeholder: 'Cód'
        ) %>
      </div>
      <div class="col-md-2 col-sm-2">
        <label>Cama</label>
        <%= f.text_field(
          :search_bed,
          class: 'filterrific-periodically-observed form-control',
          placeholder: 'Sector',
          autocomplete: 'off'
        ) %>
      </div>
      <div class="col-md-2 col-sm-2">
        <label>Estado</label>
        <%= f.select(:with_status,
          @filterrific.select_options[:with_status].map {
            |status| [status.first, status.second, data: {'content': "<span class='label label-"+status.third+"'>"+status.first+"</span>"}]
          },{},
          { class: "selectpicker show-tick", "data-width"=>"100%"}) %>
      </div>
      <div class="col-md-2 col-sm-2">
        <label>Solicitado</label>
        <div class="row">
          <div class="col-md-6">
            <%= f.text_field(:requested_date_since, class: 'form-control filterrific-periodically-observed datetimepicker',
              placeholder: "Desde", data: { date_format: 'DD/MM/YY'}) %>
          </div>
          <div class="col-md-6">
            <%= f.text_field(:requested_date_to, class: 'form-control filterrific-periodically-observed datetimepicker',
              placeholder: "Hasta", data: { date_format: 'DD/MM/YY'}) %>
          </div>
        </div>
      </div>
      <div class="col-md-1">
        <%= link_to reset_filterrific_url, class: "btn btn-sm pull-right", 
          :title => 'Reiniciar', :'data-placement'=>'top', :'data-toggle'=>'tooltip'  do %>
          <%= content_tag(:span, '', class: 'glyphicon glyphicon-refresh') %>
        <% end %>
        <%= render_filterrific_spinner %>
      </div>
    <% end %>
  </div>
  <div class="clearfix"> 
  </div>
</div>