<% content_for :page_header do %>
  <li class="nav-item <%= active_action('statistics') %> non-sel" id="page-title">
    <%= link_to bed_orders_path, class: "nav-link" do %>
      <%= fa_icon "procedures" %>
      Internación
    <% end %>
  </li>
  <li class="nav-item <%= active_action('index') %> non-sel">
    <%= link_to bed_orders_path, class: "nav-link" do %>
      <%= fa_icon "paper-plane" %>
      Entregas
    <% end %>
  </li>
  <li class="nav-item <%= active_action('new') %> non-sel">
    <%= link_to new_bed_order_path, class: "nav-link" do %>
      <%= fa_icon "plus" %>
      Nueva entrega
    <% end %>
  </li>
  <li class="nav-item <%= active_action('bed_map') %> non-sel">
    <%= link_to bed_map_bed_orders_path, class: "nav-link" do %>
      <%= fa_icon "map" %>
      Mapa de camas
    <% end %>
  </li>
<% end %>