<%= render 'header' %>

<div class="row">
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <span class="glyphicon glyphicon-bed"></span>
          Camas
          <span class="badge"><%= @beds.count %></span>
        </h3>
      </div>
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Habitación</th>
            <th>Servicio</th>
            <th>Provisiones</th>
          </tr>
        </thead>
        <tbody>
          <% @beds.each do |bed| %>
            <tr>
              <td><span class="glyphicon glyphicon-bed"></span> <%= bed.name %></td>
              <td><%= bed.bedroom.name %></td>
              <td><%= bed.service.name %></td>
              <td><span class="badge"><%= bed.bed_orders.count %></span></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <span class="glyphicon glyphicon-bed"></span>
          Habitaciones
          <span class="badge"><%= @beds.count %></span>
        </h3>
      </div>
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Camas</th>
          </tr>
        </thead>
        <tbody>
          <% @bedrooms.each do |bedr| %>
            <tr>
              <td><%= bedr.name %></td>
              <td><span class="badge"><%= bedr.beds.count %></span></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>