<%= simple_form_for(@medication) do |f| %>
  <%= f.input :vademecum_id,
                    label: 'Droga',
                    label_method: :medication_name,
                    value_method: :id,
                    collection: @vademecums,
                    include_blank: false,
                    input_html: { class: 'chosen-select', id: 'vademecum_id' },
                    prompt: 'Seleccionar una droga'
  %>
  <%= f.input :quantity, placeholder: 'Cantidad', required: false, disabled: true,
                          label: false, input_html: { "data-tooltip"=>true, :class=>"has-tip",
                          :title=>"Seleccione una droga", "data-placement"=>"right",
                          min: '0', step:'any', id: 'quantity-medication-1', :style => 'width: 100px' }%>
  <%= f.input :date_received, label: 'Fecha recibida',
                            as: :string,
                            :placeholder => "Seleccionar fecha",
                            input_html: {class: "form-control", required: true,
                            value: "#{@medication.date_received.strftime("%d/%m/%y %H:%M") unless @medication.new_record?}"},
                            label: "Fecha recibida: ",
                            html5: false
                            %><br><br>
  <%= f.input :expiry_date, label: 'Fecha expiración',
                            as: :string,
                            :placeholder => "Seleccionar fecha",
                            input_html: {class: "form-control", required: true,
                            value: "#{@medication.expiry_date.strftime("%d/%m/%y %H:%M") unless @medication.new_record?}"},
                            label: "Fecha expiración: ",
                            html5: false
                            %><br><br>
<%  %>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
