<tr id="medication_<%= medication.id %>">
  <td><%= medication.id %></td>
  <td><%= medication.name %></td>
  <td><%= medication.brand %></td>
  <td><span class="label label-<%= medication.status_label %>"><%= medication.status %></span></td>
  <td>
    <% if medication.expired? %>
      <span class="badge"><%= medication.quantity %></span>
    <% else %>
      <span class="label label-<%= medication.quantity_label %>"><%= medication.quantity %></span>
    <% end %>
  </td>
  <td><%= medication.date_received.strftime("%d/%m/%y %H:%M") %></td>
  <td><%= medication.expiry_date.strftime("%d/%m/%y %H:%M") %></td>
  <td>
    <%= link_to medication_path(medication), remote: true, class: 'btn btn-default btn-xs',
          title: 'Ver detalles', data: { toggle: 'tooltip', placement: 'top' } do %>
      <%= content_tag(:span, '', class: 'glyphicon glyphicon-eye-open') %>
    <% end %>
    <%= link_to edit_medication_path(medication), remote: true, class: 'btn btn-warning btn-xs',
          title: 'Editar', data: { toggle: 'tooltip', placement: 'top' } do %>
      <%= content_tag(:span, '', class: 'glyphicon glyphicon-edit') %>
    <% end %>
    <%= link_to medication_path(medication), remote: true, class: 'btn btn-danger btn-xs',
        title: 'Borrar', method: :delete, data: { toggle: 'tooltip', placement: 'top', confirm: "Desea eliminar el lote de #{medication.name} #{medication.brand}?"} do %>
      <%= content_tag(:span, '', class: 'glyphicon glyphicon-trash') %>
    <% end %>
  </td>
</tr>
