<tr id="medication_<%= medication.id %>">
  <td><%= medication.name %></td>
  <td><%= medication.brand %></td>
  <td><%= medication.quantity %></td>
  <td><%= medication.expiry_date.strftime("%d/%m/%y %H:%M") %></td>
  <td><%= medication.expiry_date.strftime("%d/%m/%y %H:%M") %></td>
  <td>
    <%= link_to medication_path(medication), remote: true, class: 'btn btn-default btn-xs' do %>
      <%= content_tag(:span, '', class: 'glyphicon glyphicon-eye-open') %>
    <% end %>
    <%= link_to edit_medication_path(medication), remote: true, class: 'btn btn-warning btn-xs' do %>
      <%= content_tag(:span, '', class: 'glyphicon glyphicon-edit') %>
    <% end %>
    <%= link_to medication_path(medication), remote: true, class: 'btn btn-danger btn-xs',
        method: :delete, data: {confirm: "Desea eliminar el lote de #{medication.name} #{medication.brand}?"} do %>
      <%= content_tag(:span, '', class: 'glyphicon glyphicon-trash') %>
    <% end %>
  </td>
</tr>
