<% content_for :page_header do %>
  <h3>Stock de medicamentos
  <%= link_to new_medication_path, remote: true, class: 'btn btn-primary btn-md' do %>
    <%= content_tag(:span, '', class: 'glyphicon glyphicon-plus') %>
    Nuevo lote
  <% end %>
  </h3>
<% end %>

<%#
  Filterrific adds the `form_for_filterrific` view helper:
  * adds dom id 'filterrific_filter'
  * applies javascript behaviors:
      * AJAX form submission on change
      * AJAX spinner while AJAX request is being processed
  * sets form_for options like :url, :method and input name prefix
%>
<%= form_for_filterrific @filterrific do |f| %>
  <div class="row well well-sm">
    <div class="col-md-3 col-sm-3">
      <label>Buscar</label>
      <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
      <%= f.text_field(
        :search_query,
        class: 'filterrific-periodically-observed form-control',
        placeholder: 'Droga o marca'
      ) %>
    </div>
    <div class="col-md-3 col-sm-3">
      <label>Ordenar por</label>
      <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by],{}, {class: 'form-control'}) %>
    </div>
    <div class="col-md-3 col-sm-3">
       <label>Recibido desde</label>
       <%= f.text_field(:date_received_at, class: 'form-control filterrific-periodically-observed',
          id: "datetimepicker", placeholder: "Una fecha", data: { date_format: 'DD/MM/YYYY hh:mm A/PM'}) %>
    </div>
    <div class="col-md-2 col-sm-3">
      <label>Estado</label>
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-success btn-sm">
          <%= f.check_box :status, {multiple: true}, '0', nil %>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        </label>
        <label class="btn btn-warning btn-sm">
          <%= f.check_box :status, {multiple: true}, '1', nil %>
          <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
        </label>
        <label class="btn btn-danger btn-sm">
          <%= f.check_box :status, {multiple: true}, '2', nil %>
          <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
        </label>
      </div>
    </div>
    <div class="col-md-1 col-sm-3">
      <%= button_tag(type: 'reset', class: "btn btn-default btn-md pull-right") do %>
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-refresh') %>
      <% end %>
    </div>
    <%# add an automated spinner to your form when the list is refreshed %>
    <%= render_filterrific_spinner %>
  </div>

<% end %>

<%= render(
  partial: 'medications/list',
  locals: { medications: @medications }
) %>
