<h3>Stock de medicamentos
<%= link_to new_medication_path, remote: true, class: 'btn btn-primary btn-md' do %>
  <%= content_tag(:span, '', class: 'glyphicon glyphicon-plus') %>
  Nuevo lote
<% end %>
</h3>

<%#
  Filterrific adds the `form_for_filterrific` view helper:
  * adds dom id 'filterrific_filter'
  * applies javascript behaviors:
      * AJAX form submission on change
      * AJAX spinner while AJAX request is being processed
  * sets form_for options like :url, :method and input name prefix
%>
<%= form_for_filterrific @filterrific do |f| %>
  <div class="row well well-sm">
    <div class="col-md-3 col-sm-3">
      <label>Buscar</label>
      <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
      <%= f.text_field(
        :search_query,
        class: 'filterrific-periodically-observed form-control',
        placeholder: 'Droga o marca'
      ) %>
    </div>
    <div class="col-md-4 col-sm-3">
      <label>Ordenar por</label>
      <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by],{}, {class: 'form-control'}) %>
    </div>
    <div class="col-md-3 col-sm-3">
       <label>Recibido desde</label>
       <%= f.text_field(:date_received_at, class: 'form-control filterrific-periodically-observed',
          id: "datetimepicker", placeholder: "Una fecha", data: { date_format: 'DD/MM/YYYY hh:mm A/PM'}) %>
    </div>
    <div class="col-md-2 col-sm-3">
      <%= link_to reset_filterrific_url, class: 'btn btn-default btn-md pull-right' do %>
      <%= content_tag(:span, '', class: 'glyphicon glyphicon-refresh') %>
      <% end %>
    </div>
    <%# add an automated spinner to your form when the list is refreshed %>
    <%= render_filterrific_spinner %>
  </div>

<% end %>

<%= render(
  partial: 'medications/list',
  locals: { medications: @medications }
) %>
