<tr id="purchase_<%= purchase.id %>" >
  <td><%= purchase.code %></td>

  <td class="sol-col-aba">
    <%= purchase.provider_sector.name %>
    <%= purchase.provider_sector.establishment_name %></td>
  </td>

  <td>
    <span class="badge badge-<%= purchase.auditoria? ? 'warning' : 'success' %>">
      <%= purchase.status.humanize %>
    </span>
  </td>

  <td>
    <%= purchase.purchase_products.count %>
  </td>

  <td>
    <%= purchase.movements.count %>
  </td>
  
  <td>
    <% if purchase.recibido? %>
      <%= purchase.received_date.strftime("%d/%m/%y %H:%M") %>
    <% else %>
      ----
    <% end %>
  </td>
  <td class="text-left actions-col">
    <% if policy(purchase).show? %>
      <%= link_to purchase_path(purchase),
        class: 'btn btn-secondary btn-sm', title: 'Ver detalles', data: { toggle: 'tooltip', placement: 'top' }, 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i>".html_safe do %>
        <%= fa_icon "eye" %>
      <% end %>
    <% end %>
 
    <% if policy(purchase).edit? %>
      <%= link_to edit_purchase_path(purchase), :"data-turbolinks" => false,
        class: 'btn btn-warning btn-sm', title: 'Editar', data: { toggle: 'tooltip', placement: 'top' }, 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i>".html_safe do %>
        <%= fa_icon "pen" %>
      <% end %>
    <% end %>
 
    <% if policy(purchase).delete? %>
      <%= link_to delete_purchase_path(purchase), remote: true,
            class: 'btn btn-danger btn-sm', title: 'Borrar', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= fa_icon "trash" %>
      <% end %>
    <% end %>
  </td>
</tr>
