<tr id="purchase_<%= purchase.id %>" >
  <td><%= purchase.remit_code %></td>

  <td class="sol-col-aba">
    <%= purchase.provider_sector.name %>
    <%= purchase.provider_sector.establishment_name %></td>
  </td>

  <td>
    <span class="badge badge-<%= purchase.auditoria? ? 'warning' : 'success' %>">
      <%= purchase.status.humanize %>
    </span>
  </td>

  <td>
    <%= purchase.purchase_products.count %>
  </td>

  <td>
    <%= purchase.movements.count %>
  </td>
  
  <td>
    <% if purchase.recibido? %>
      <%= purchase.received_date.strftime("%d/%m/%y %H:%M") %>
    <% else %>
      ----
    <% end %>
  </td>
  <td class="text-left actions-col">
    <%= render(
      partial: 'shared/action_buttons',
        locals:{ 
            object: purchase, 
            show: true, 
            edit: true, 
            destroy: true,
            delete_title: "Eliminar abastecimiento",
            delete_body: "Esta seguro que desea eliminar el abastecimiento de #{ purchase.code_number }?",
            destroy_path: "/purchases/#{purchase.id}"
        }
      ) 
    %>
  </td>
</tr>
