<% if  defined?(object) and object.class.is_a?(Class) %>

  <div class="d-flex justify-content-end">
    <!-- Show -->
    <% if defined?(show) and show[:visible] %>
      <% if policy(object).show?%>
        <%= link_to polymorphic_path(object), 
          class: 'btn btn-sm btn-secondary mr-1 ml-1', 
          title: t("actions.tooltip.show"), 
          target: show[:target].present? ? show[:target] : :_self,
          data: { toggle: 'tooltip', placement: 'top' } do %>
          
          <%= fa_icon "eye" %>
        <% end %>
      <% end %>
    <% end %>

    <!-- Edit -->
    <% if defined?(edit) and edit[:visible] %>
      <% if policy(object).edit? %>
        <%= link_to edit_polymorphic_path(object),
          class: 'btn btn-sm btn-warning mr-1 ml-1',
          title: t("actions.tooltip.edit"),
          target: show[:target].present? ? show[:target] : :_self,
          data: { toggle: 'tooltip', placement: 'top'} do %> 

          <%= fa_icon "pen" %>
        <% end %>
      <% end %>
    <% end %>

    <!-- Destroy -->
    <% if defined?(destroy) and destroy[:visible] %>
      <% if policy(object).destroy? %>
        <button type="button" 
        class="btn btn-danger btn-sm mr-1 ml-1 delete-item"
        title="<%= t("actions.tooltip.delete") %>"
        data-toggle="tooltip"
        data-placement="top"
        data-target="#delete-item" 
        data-title="<%= destroy[:title] %>"
        data-body="<%= destroy[:body] %>"
        data-href="<%= destroy[:path] %>">
          <%= fa_icon "trash" %>
        </button>
      <% end %>
    <% end %>
  </div>
<% end %>

<% content_for :modal do %>
  <% if defined?(destroy) and destroy %>
    <% if policy(object).destroy? %>
      <%= render(partial: 'shared/modals/delete_confirmation') %>
    <%end%>
  <%end%>
<%end%>