<div class="row hidden-print">
  <div class="col-md-12">
    <table class="table table-hover table-sm">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Movimiento</th>
          <th>Usuario</th>
          <th>Sector</th>
          <th>Establecimiento</th>
        </tr>
      </thead>
      <tbody>
        <% order.movements.order(created_at: :desc).each do |mov| %>
          <tr>
            <td><%= mov.created_at.strftime("%d/%m/%y %H:%M") %></td>
            <td><%= mov.action.humanize %></td>
            <td>
              <% if mov.user.profile.present? %><span><%= image_tag user_avatar(mov.user, 25), class:"img-circle img-profile-nav" %></span><% end %>
              <%= mov.user.full_name %>
            </td>
            <td><%= mov.sector.name %></td>
            <td><%= mov.sector.establishment.name%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>