<% content_for :page_header do %>
  <li class="nav-item <%= active_action('statistics') %> non-sel" id="page-title">
    <%= link_to statistics_internal_orders_path, class: 'nav-link' do %>
      <%= fa_icon "bezier-curve" %>
      Sectores
    <% end %>
  </li>
  <li class="nav-item <%= active_action('applicant_index') %> non-sel">
    <%= link_to applicant_index_internal_orders_path, class: 'nav-link' do %>
      <%= fa_icon "inbox" %>
      Recibos
    <% end %>
  </li>
  <% if policy(InternalOrder).new_provider? %>
    <li class="nav-item <%= active_action_and_controller('index', 'internal_orders') %> non-sel">
      <%= link_to internal_orders_path, class: 'nav-link' do %>
        <%= fa_icon "paper-plane" %>
        Entregas&nbsp;
        <% count =  InternalOrder.provider(current_user.sector).solicitud_enviada.count %>
        <% if count > 0 %>
          <div class="label label-info pull-right"><%= count %></div>
        <% end %>
      <% end %>
    </li>
  <% end %>
  <% if policy(InternalOrder).new_applicant? %>
    <li class="nav-item <%= active_action('new_applicant') %> non-sel">
      <%= link_to new_applicant_internal_orders_path, class: 'nav-link' do %>
        <%= fa_icon "plus" %>
        Solicitud
      <% end %>
    </li>
  <% end %>
  <% if policy(InternalOrder).new_provider? %>
    <li class="nav-item <%= active_action_and_controller('new_provider', 'internal_orders') %> non-sel">
      <%= link_to new_provider_internal_orders_path, class: 'nav-link' do %>
        <%= fa_icon "plus" %>
        Provisión
      <% end %>
    </li>
  <% end %>
  <% if policy(InternalOrderTemplate).index? %>
    <li class="nav-item <%= active_class('internal_order_templates') %> non-sel" id="pedido">
      <%= link_to internal_order_templates_path, class: 'nav-link' do %>
        <%= fa_icon "skiing" %>
        Plantillas
      <% end %>
    </li>
  <% end %>
  <% if policy(InternalOrder).new_report? %>
    <li class="nav-item <%= active_action('new_report') %> non-sel">
      <%= link_to new_report_internal_orders_path, class: 'nav-link' do %>
        <%= fa_icon "chart-line" %>
        Reporte
      <% end %>
    </li>
  <% end %>
<% end %>