<tr class="nested-fields">
  <!-- Código del producto -->
  <td>
    <div class="custom-input-group">
      <%= f.input :product_id, as: :string,
        placeholder: 'Código',
        label: false,
        :input_html => {
          class: "product-code select-change input-sm",
          data: { autocomplete_source: search_by_code_products_path },
          size: 5,
          autocomplete: 'off'
        } 
      %>
      <div class="with-loading">
        <%= fa_icon 'spinner', class: "fa-spin"%>
      </div>
    </div>
  </td>

  <!-- Nombre de Producto -->
  <td>
    <div class="custom-input-group">
      <%= f.input :product_id, as: :fake, id: "nom_ins",
        label: false,
        placeholder: 'Nombre',
        :input_html => {
          class: "product-name select-change input-sm",
          data: { autocomplete_source: search_by_name_products_path },
          size: 45,
          value: "#{if f.object.product.present?; f.object.product_name; end }",
          autocomplete: "off"
        } 
      %>
      <div class="with-loading">
        <%= fa_icon 'spinner', class: "fa-spin"%>
      </div>
    </div>
  </td>

  <!-- Unidad -->
  <td>
    <%= f.input :supply_unity, as: :fake, label: false, disabled: true, required: false, 
      input_html: {
        class: 'product-unity input-sm',
        size: 10,
        placeholder: "Unidad",
        value: "#{
          if f.object.product.present?
            f.object.product.unity
          end
        }"
      } 
    %> 
  </td>

  <!-- Stock -->
  <td>
    <%= f.input :stock, as: :fake, label: false, disabled: true, 
      input_html: {
        class: 'stock-quantity input-sm',
        size: 6, 
        placeholder: "Cant",
        value: "#{ f.object.product.present? ? current_user.sector.stock_to(f.object.product) : 0 }"
      } %>
  </td>
  
  

  <% if order_type == 'solicitud' %>
    
    <!-- Cantidad solicitada -->
    <td style="width: 100px">
      <%= f.input :request_quantity, 
        label: false, 
        placeholder: 'Cant', 
        required: false,
        input_html: {
          "data-tooltip"=>true,
          :class=>"request-quantity input-sm",
          :title=>"Cantidad solicitada",
          "data-placement"=>"right",
          min: '1', 
          step:'any',
          :style => 'width: 100px'
        }
      %>
    </td>

    <!-- Observaciones proveedor -->
    <td>
      <%= f.input :applicant_observation, label: false, as: :text,
        :input_html => { class: 'input-sm', :cols => 20  , :rows => 1 } %>
    </td>

  <% else %>

    <!-- Cantidad solicitada -->
    <td style="width: 100px">
      <%= f.input :request_quantity, 
        disabled: true,
        label: false, 
        placeholder: 'Cant', 
        required: false,
        input_html: {
          "data-tooltip"=>true,
          :class=>"request-quantity input-sm",
          :title=>"Cantidad solicitada",
          "data-placement"=>"right",
          min: '1', 
          step:'any',
          :style => 'width: 100px'
        }
      %>
    </td>

    <!-- Cantidad entregada -->
    <td>
      <%= f.input :delivery_quantity, label: false, placeholder: 'Cant', required: false,
        input_html: {
          "data-tooltip"=>true,
          :class=>"has-tip deliver-quantity input-sm",
          :title=>"Cantidad entregada",
          "data-placement"=>"right",
          min: '0', step:'any', :style => 'width: 100px',
        } 
      %>
    </td>
    
    <!-- Lote -->
    <td>
    <div id="int-ord-prod-lot-stocks">
    
      <%
        new_iopls = f.object.int_ord_prod_lot_stocks.build
        fields = f.fields_for(:int_ord_prod_lot_stocks, 
        new_iopls, 
        :child_index => "id_placeholder") do |fb|
          render "int_ord_prod_lot_stocks_fields", f: fb
        end
        js = escape_javascript(fields)
        fn = html_escape(js)
        # fn = html_escape("addLot($('#int-ord-prod-lot-stocks'), \"#{js}\")")
        # concat(raw("<button type=\"button\" onclick=\"#{fn}\">Add</button>"))
      %>
    </div>

      <%#= f.simple_fields_for :int_ord_prod_lot_stocks, f.object.int_ord_prod_lot_stocks.build do |iopls| %>
        <%#= iopls.hidden_field :lot_stock_id %>
        <%#= iopls.hidden_field :quantity %>
      <%# end %>
      <%= button_tag type: "button", 
        class: "btn btn-#{select_btn_status(f.object)} select-lot-btn text-nowrap",
        "data-select-lot-url" => find_lots_stocks_path(@internal_order),
        "data-template-fill-hidden" => fields, 
        "data-hidden-target" => "#int-ord-prod-lot-stocks"  do %>
        <% if f.object.lot_stocks.present? %>
          <%= fa_icon "barcode" %> <%#= f.object.sector_supply_lot.lot_code %> <%#= fa_icon "cubes" %> <%#= f.object.sector_supply_lot.quantity %>
        <% else %>
          <%= fa_icon "barcode" %> Seleccionar lote
        <% end %>
      <% end %>
      <%#= f.input :lot_stock, :as => :hidden, :input_html => { class: 'sector-supply-lot-id'} %>
    </td>

    <!-- Observaciones proveedor -->
    <td>
      <%= f.input :provider_observation, label: false, as: :text,
        :input_html => { class: 'input-sm', :cols => 20  , :rows => 1 } %>
    </td>

  <% end %>
  

  <td>
    <!-- Botón quitar -->
    <%= link_to_remove_association  f, class: 'remove-tag btn btn-warning',
      title: 'Quitar', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= fa_icon "minus" %>
    <% end %>
  </td>
</tr>
