<tr id="internal_order_<%= internal_order.id %>" class="<%= internal_order_td(internal_order) %>">
  <td><%= internal_order.remit_code %></td>
  <% if current_page?(action: 'applicant_index') %>
    <td class="sol-col-aba">
      <%= internal_order.provider_sector.name %>
    </td>
  <% else %>
    <td class="sol-col-aba">
      <%= internal_order.applicant_sector.name %>
    </td>
  <% end %> 
    <td>
    <span class="badge badge-secondary">
      <%= internal_order.order_type.underscore.humanize %>
    </span>
  </td>
  <td>
    <span class="badge badge-<%= internal_status_label(internal_order) %>">
      <%= internal_order.status.underscore.humanize %>
    </span>
  </td>
  <td>
    <%= internal_order.quantity_ord_supply_lots.count %>
  </td>
  <td>
    <%= internal_order.movements.count %>
  </td>
  <td>
    <%= internal_order.requested_date.strftime("%d/%m/%Y") %>
  </td>
    <% if internal_order.provision_entregada? %>
      <td>
      <%= internal_order.date_received.strftime("%d/%m/%y %H:%M") %>
    <% else %>
      <td>
      ----
    <% end %>
  </td>
  <td class="text-center actions-col">
    <% if policy(internal_order).show? %>
      <%= link_to internal_order_path(internal_order), class: 'btn btn-secondary btn-sm', 
        title: 'Ver detalles', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= fa_icon "eye" %>
      <% end %>
    <% end %>
    <% if policy(internal_order).edit_applicant? %>
      <%= link_to edit_applicant_internal_order_path(internal_order), :"data-turbolinks" => false, class: 'btn btn-warning btn-sm', 
        title: 'Editar', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= fa_icon "pen" %>
      <% end %>
    <% end %>
    <% if policy(internal_order).edit? %>
      <%= link_to edit_internal_order_path(internal_order), :"data-turbolinks" => false, class: 'btn btn-warning btn-sm', 
        title: 'Editar', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= fa_icon "pen" %>
      <% end %>
    <% end %>
    <% if policy(internal_order).destroy? %>
      <%= link_to delete_internal_order_path(internal_order), remote: true,
            class: 'btn btn-danger btn-sm', title: 'Borrar', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= fa_icon "trash" %>
      <% end %>
    <% end %>
    <% if policy(internal_order).nullify? %>
      <%= link_to nullify_internal_order_path(internal_order), remote: true,
        :"data-turbolinks" => false, class: 'btn btn-danger btn-sm', 
        title: 'Anular', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= fa_icon "ban" %>
      <% end %>
    <% end %>
  </td>
</tr>