<tr id="internal_order_<%= internal_order.id %>">
  <% if current_page?(action: 'applicant_index') %>
    <td class="sol-col-aba">
      <%= internal_order.provider_sector.name %>
    </td>
    <td>
      <span class="label label-<%= internal_order.applicant_status_label %>">
        <%= internal_order.applicant_status.split('_').map(&:capitalize).join(' ') %>
      </span>
    </td>
  <% else %>
    <td class="sol-col-aba">
      <%= internal_order.applicant_sector.name %>
    </td> 
    <td>
      <span class="label label-<%= internal_order.provider_status_label %>">
        <%= internal_order.provider_status.split('_').map(&:capitalize).join(' ') %>
      </span>
    </td>
  <% end %>
  <td class="col-io-sup-name">
    <% if internal_order.quantity_ord_supply_lots.present? %>
      (<%= internal_order.quantity_ord_supply_lots.count %>)
      <% internal_order.quantity_ord_supply_lots.each do |qosl| %>
        <span class="badge">
          <%= qosl.requested_quantity %>
        </span>
        <%= qosl.supply_name %>
      <% end %>
    <% else %>
      ------
    <% end %></td>
  <td>
    <%= internal_order.requested_date.strftime("%d/%m/%Y") %>
  </td>
    <% if internal_order.provider_entregado? %>
      <td>
      <%= internal_order.date_received.strftime("%d/%m/%y %H:%M") %>
    <% else %>
      <td>
      ----
    <% end %>
  </td>
  <td>
    <% if policy(internal_order).show? %>
      <%= link_to internal_order_path(internal_order), class: 'btn btn-default btn-xs', 
        title: 'Ver detalles', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-eye-open') %>
      <% end %>
    <% end %>
    <% if policy(internal_order).edit? %>
      <%= link_to edit_internal_order_path(internal_order), class: 'btn btn-warning btn-xs', 
        title: 'Editar', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-edit') %>
      <% end %>
    <% end %>
    <% if policy(internal_order).destroy? %>
      <%= link_to delete_internal_order_path(internal_order), remote: true,
            class: 'btn btn-danger btn-xs', title: 'Borrar', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-trash') %>
      <% end %>
    <% end %>
  </td>
</tr>
