<div class="card fixed-custom-card">
  <div class="card-header <%= @internal_order.new_record? ? 'bg-primary text-white' : 'bg-warning' %> d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center ml-2">
      <%= fa_icon (@internal_order.new_record? ?  "plus" : "edit")%>
      <h5 class="card-title mb-0 ml-2">
        <%= @internal_order.new_record? ? "Nueva provisión de sector" : "Editando provisión de sector" %>
      </h5>
    </div>
    <%= link_to :back, class: @internal_order.new_record? ? 'btn text-white' : 'btn' do %>
      <%= fa_icon "times" %>
    <% end %>
  </div>
  <div class="card-body">
    
    <%= simple_form_for @internal_order, :url => (@internal_order.new_record? ? create_provider_internal_orders_path : update_provider_internal_order_path(@internal_order)),
      method: (@internal_order.new_record? ? :post : :put),
      html: { role: 'check-modified'} do |f| %>
      <%= f.error_notification %>
      <div class="row">
        <div class='col-3'>
          <%= f.input :applicant_sector_id, label: 'Sector solicitante',
            collection: @sectors.map {|s| [ s['name'], s['id'] ] },
            selected: "#{ f.object.applicant_sector.present? ? f.object.applicant_sector.id : "" }",
            :input_html => {
              id: 'applicant-sector',
              class: 'selectpicker-md custom-select-pick show-tick',
              "data-width"=>"100%",
              "title"=>"Seleccionar sector",
              "data-size"=>"10",
              "data-live-search"=>true,
              disabled: false,
            } 
          %>
        </div>
        <div class="col-3">
          <%= f.input :provider_sector_id, as: :string,
            label: 'Sector proveedor',
            :input_html => {
              disabled: true,
              size: 30,
              value: "#{if f.object.new_record?; current_user.sector_name; else; f.object.provider_sector.name; end}",
            } 
          %>
        </div>
       
        <div class='col-4'>
          <%= f.input :observation, label: 'Observaciones', as: :text,
            :input_html => { :cols => 40  , :rows => 1 } %>
        </div>
      </div>

      <%# INSUMOS SOLICITADOS %>
      <%= render "shared/orders/order_products_table", form: f %>
      
      <input name="commit" id="submit-type" type="hidden">
    <% end %>

  </div>

  <div class="card-footer d-flex justify-content-end">
    <%= link_to 'Volver', provider_index_internal_orders_path, class: 'btn mr-1' %>
  
    <button type='submit' class='btn btn-success mr-2' form="<%= @internal_order.new_record? ? 'new_internal_order' : 'edit_internal_order_' + @internal_order.id.to_s %>" data-value='audit'>
      
      <div class="c-msg" style="pointer-events: none;">
        <%= fa_icon "save" %> Guardar 
      </div>
      
      <div class="d-none" style="pointer-events: none;">
        Guardando...
        <%= fa_icon "spinner", class: "fa-spin send-audit" %>
      </div>

    </button>

    <button type='submit' class='btn btn-primary' form="<%= @internal_order.new_record? ? 'new_internal_order' : 'edit_internal_order_' + @internal_order.id.to_s %>" data-value='sending'>
      <div class="c-msg" style="pointer-events: none;">
        <%= fa_icon "paper-plane" %> Guardar y enviar
      </div>
      <div class="d-none" style="pointer-events: none;">
        Guardando...
        <%= fa_icon "spinner", class: "fa-spin send-audit" %>
      </div>
    </button>
  </div>
</div>

<% content_for :modal do %>
  <%= render "shared/modals/lot_selection_dialog" %>
<% end %>