<%= simple_form_for @internal_order, html: {class: "form-inline"} do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class='col-md-3'>
      <% if @internal_order.solicitud? %>
        <%= f.input :order_type, :as => :hidden, :input_html => { value: 'solicitud' } %>
        <%= f.input :applicant_sector_id, as: :string,
          label: 'Sector solicitante',
          :input_html => {
            disabled: true,
            value: "#{ f.object.applicant_sector.name }",
          } 
        %>
        <%= f.hidden_field :applicant_sector_id, id: "applicant-id", value: "#{ f.object.applicant_sector_id }" %>
      <% else %>
        <%= f.input :order_type, :as => :hidden, :input_html => { value: 'provision' } %>
        <%= f.input :applicant_sector_id, label: 'Sector solicitante',
          collection: @applicant_sectors.map {|s| [ s['name'], s['id'] ] },
          :input_html => {
            required: true,
            id: 'applicant-sector',
            class: 'selectpicker show-tick',
            "data-width"=>"auto",
            "title"=>"Seleccionar sector",
            "data-size"=>"10",
            "data-live-search"=>true,
            disabled: false,
            value: "#{ f.object.applicant_sector.id unless f.object.new_record? }"
          } 
        %>
        <br>
        <%= f.hidden_field :applicant_sector_id, id: "applicant-id", value: "#{f.object.applicant_sector_id unless f.object.new_record?}" %>
      <% end %>
    </div>
    <div class="col-md-3">
      <%= f.input :provider_sector_id, as: :string,
        label: 'Sector proveedor',
        :input_html => {
          disabled: true,
          value: "#{if f.object.new_record?; current_user.sector_name; else; f.object.provider_sector.name; end}",
        } 
      %>
      <%= f.hidden_field :provider_sector_id, value: "#{if f.object.new_record?; current_user.sector_id; else; f.object.provider_sector.id; end}" %>
    </div>
    <div class='col-md-2'>
      <%= f.input :requested_date, label: 'Fecha solicitado', as: :string,
        :placeholder => "Seleccionar fecha",
        input_html: {
          id: "requested-date",
          required: true,
          autocomplete: 'off',
          :style => 'width: 110px',
          value: "#{f.object.requested_date unless f.object.new_record?}"
        },
        html5: false 
      %>
    </div>
    <div class='col-md-2'>
      <%= f.input :observation, label: 'Observaciones', as: :text,
      :input_html => { :cols => 15  , :rows => 1 } %>
    </div>
    <div class="col-md-2">
      <%= f.input :remit_code, label: 'C贸digo', as: :string, 
        :placeholder => "Un c贸digo",
        input_html: {
          size: 13,
          id: "remit-code",
          required: true,
          autocomplete: 'off',
          value: "#{ unless f.object.remit_code.present?; current_user.sector.name[0..3].upcase+'prov'+InternalOrder.maximum(:id).next.to_s; ; else; f.object.remit_code; end }"
        }
      %>
    </div>
  </div>
  <hr>
  <!-- Insumos a dispensar -->
  <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th>C贸d Ins</th>
        <th>Insumo</th>
        <th>Tu stock</th>
        <th>Solicitado</th>
        <th>A entregar</th>
        <th colspan="2">Lote</th>
        <th>Tu observaci贸n</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="quantity_ord_supply_lots">
      <%= f.simple_fields_for :quantity_ord_supply_lots do |form_quantity| %>
        <%= render "quantity_ord_supply_lot_fields", :f => form_quantity %>
      <% end %>
    </tbody>
  </table>
  <div class="links" id="links-quant-form">
    <div class="text-center">
      <%= link_to_add_association f, :quantity_ord_supply_lots, class: 'btn btn-primary btn-xs',
        data: {"association-insertion-node" => "tbody.quantity_ord_supply_lots", "association-insertion-method" => "append"} do %>
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-plus') %>
        Agregar insumo
      <% end %>
    </div>
  </div>
<% end %>
