<%= simple_form_for @internal_order, html: { role: 'check-modified'} do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class='col-3'>
      <%= f.input :applicant_sector_id, label: 'Sector solicitante',
        collection: @applicant_sectors.map {|s| [ s['name'], s['id'] ] },
        required: true,
        :input_html => {
          id: 'applicant-sector',
          class: 'selectpicker-md show-tick',
          "data-width"=>"auto",
          "title"=>"Seleccionar sector",
          "data-size"=>"10",
          "data-live-search"=>true,
          disabled: false,
          value: "#{ f.object.applicant_sector.id unless f.object.new_record? }"
        } 
      %>
      <%= f.input :order_type, :as => :hidden, :input_html => { value: 'provision' } %>
      <%= f.hidden_field :applicant_sector_id, id: "applicant-id", value: "#{f.object.applicant_sector_id unless f.object.new_record?}" %>
    </div>
    <div class="col-3">
      <%= f.input :provider_sector_id, as: :string,
        label: 'Sector proveedor',
        :input_html => {
          disabled: true,
          size: 30,
          value: "#{if f.object.new_record?; current_user.sector_name; else; f.object.provider_sector.name; end}",
        } 
      %>
      <%= f.hidden_field :provider_sector_id, value: "#{if f.object.new_record?; current_user.sector_id; else; f.object.provider_sector.id; end}" %>
    </div>
    <div class='col-2'>
      <%= f.input :requested_date, label: 'Fecha solicitado', as: :string,
        :placeholder => "Seleccionar fecha",
        input_html: {
          id: "requested-date",
          required: true,
          autocomplete: 'off',
          :style => 'width: 110px',
          value: "#{f.object.requested_date unless f.object.new_record?}"
        },
        html5: false 
      %>
    </div>
    <div class='col-4'>
      <%= f.input :observation, label: 'Observaciones', as: :text,
        :input_html => { :cols => 40  , :rows => 1 } %>
    </div>
  </div>
  <!-- Insumos a dispensar -->
  <div class="card">
    <table class="table table-hover table-sm">
      <thead>
        <tr>
          <th>Cód Ins</th>
          <th>Insumo</th>
          <th>Tu stock</th>
          <th>Solicitado</th>
          <th>A entregar</th>
          <th colspan="2">Lote</th>
          <th>Tu observación</th>
          <th></th>
        </tr>
      </thead>
      <tbody class="quantity_ord_supply_lots">
        <%= f.simple_fields_for :quantity_ord_supply_lots do |form_quantity| %>
          <%= render "internal_orders/quantity_ord_supply_lot_fields", f: form_quantity %>
        <% end %>
      </tbody>
    </table>
      <%= link_to_add_association f, :quantity_ord_supply_lots, class: 'btn btn-primary btn-sm',
        data: {"association-insertion-node" => "tbody.quantity_ord_supply_lots", "association-insertion-method" => "append"} do %>
        <%= fa_icon "plus" %>
        Agregar insumo
      <% end %>
  </div>
<% end %>
