<tr class="nested-fields pb-0">
  <!-- C贸digo -->
  <td class="pb-0">
    <div class="custom-input-group">
      <%= f.input :supply, as: :string,
        placeholder: 'C贸digo',
        label: false,
        required: false,
        :input_html => {
          class: "supply-code select-change input-sm",
          data: { autocomplete_source: search_by_id_supplies_path },
          size: 4,
          autocomplete: 'off',
          value: "#{if f.object.supply_id.present?; f.object.supply_id; end }"
        } 
      %>
      <div class="with-loading">
        <%= fa_icon 'spinner', class: "fa-spin"%>
      </div>
    </div>
  </td>

  <!-- Producto -->
  <td>
    <div class="custom-input-group">
      <%= f.input :supply, as: :string, id: "nom_ins", class: "form-control",
        label: false,
        placeholder: 'Nombre',
        required: false,
        :input_html => {
          class: "supply-name select-change input-sm",
          data: { autocomplete_source: search_by_name_supplies_path },
          size: 36,
          value: "#{if f.object.supply.present?; f.object.supply_name; end }"
        } 
      %>
      <div class="with-loading">
        <%= fa_icon 'spinner', class: "fa-spin"%>
      </div>
    </div>
    <%= f.input :supply_id, :as => :hidden, :input_html => { class: 'supply-id'} %>
  </td>

  <!-- Stock -->
  <td>
    <% @stock = 1 %>
    <%= f.input :stock, as: :fake, label: false, disabled: true, 
      input_html: {
        class: 'stock-quantity input-sm',
        size: 6, 
        placeholder: "Cant",
        value: "#{
          if f.object.supply.present? 
            @stock = SectorSupplyLot.where(sector_id: current_user.sector_id).with_supply(f.object.supply).sum(:quantity)
          end
        }"
      } %>
  </td>
  
  <% if @order_type == 'solicitud' %>
    <!-- Cantidad solicitada -->
    <td>
      <%= f.input :requested_quantity, label: false, placeholder: 'Cant', required: false,
        input_html: {
          "data-tooltip"=>true,
          :class=>"has-tip apply-request-quant request-quantity focus-quantity input-sm",
          :title=>"Cantidad solicitada",
          "data-placement"=>"right",
          min: '1', step:'any', :style => 'width: 75px'
        }  
      %>
      <%= f.input :delivered_quantity, :as => :hidden, :input_html => { class: 'apply-deliver-quant'} %>
    </td>

    <!-- Unidad -->
    <td>
      <%= f.input :supply_unity, as: :fake, label: false, disabled: true, required: false, 
        input_html: {
          class: 'unity input-sm',
          size: 10,
          placeholder: "Unidad",
          value: "#{
            if f.object.supply.present? 
              f.object.supply.unity
            end
          }"
        } 
      %>
    </td>

    <!-- Observaciones solicitante -->
    <td>
      <%= f.input :applicant_observation, label: false, as: :text,
        :input_html => { :cols => 35  , :rows => 1, placeholder: "Una observaci贸n" } %>
    </td>
  <% else %>

    <!-- Cantidad solicitada -->
    <td>
      <%= f.input :requested_quantity, label: false, placeholder: 'Cant', required: false,
        disabled: f.object.quantifiable.solicitud?,
        input_html: {
          "data-tooltip"=>true,
          :class=>"has-tip request-quantity input-sm",
          :title=>"Cantidad solicitada",
          "data-placement"=>"right",
          min: '0', step:'any', :style => 'width: 70px'  
        } 
      %>
    </td>

    <!-- Cantidad entregada -->
    <td>
      <%= f.input :delivered_quantity, label: false, placeholder: 'Cant', required: false,
        input_html: {
          "data-tooltip"=>true,
          :class=>"has-tip deliver-quantity input-sm",
          :title=>"Cantidad entregada",
          "data-placement"=>"right",
          min: '0', step:'any', :style => 'width: 70px'
        } 
      %>
    </td>
    
    <!-- Lote -->
    <td>
      <%= button_tag type: "button", class: "btn btn-#{select_btn_status(f.object)} select-lot-btn" do %>
        <% if f.object.sector_supply_lot_id.present? %>
          <%= fa_icon "barcode" %> <%= f.object.sector_supply_lot.lot_code %> <%= fa_icon "cubes" %> <%= f.object.sector_supply_lot.quantity %>
        <% else %>
          <%= fa_icon "barcode" %> Seleccionar lote
        <% end %>
      <% end %>
      <%= f.input :sector_supply_lot_id, :as => :hidden, :input_html => { class: 'sector-supply-lot-id'} %>
    </td>

    <!-- Observaciones proveedor -->
    <td>
      <%= f.input :provider_observation, label: false, as: :text,
        :input_html => { class: 'input-sm', :cols => 20  , :rows => 1 } %>
    </td>
  <% end %>
  <td>
    <!-- Bot贸n quitar -->
    <%= link_to_remove_association  f, class: 'remove-tag btn btn-warning',
      title: 'Quitar', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= fa_icon "minus" %>
    <% end %>
  </td>
</tr>
