<div class="row">
  <div class="col-md-6">
    <p>
      <h5><strong>Responsable:</strong>
      <%= @internal_order.responsable.full_name %>
      <% if @internal_order.responsable.profile.enrollment.present? %>
        <strong>Matrícula: </strong> <%= @internal_order.responsable.profile.enrollment %>
      <% end %>
      </h5>
    </p>

    <p>
      <h5><strong>Sector:</strong>
      <%= @internal_order.responsable.sector.sector_name %>
      </h5>
    </p>

    <p>
      <h5><strong>Estado:</strong>
        <span class="label label-<%= @internal_order.status_label %>">
          <%= @internal_order.status.split('_').map(&:capitalize).join(' ') %>
        </span>
      </h5>
    </p>
    <% if @internal_order.observation.present? %>
    <p>
      <h5><strong>Observaciones:</strong></h5>
      <%= @internal_order.observation %>
    </p>
    <% end %>
  </div>
  <div class="col-md-6">
    <p>
      <h5><strong>Emitida:</strong>
      <%= @internal_order.created_at.strftime("%d/%m/%y %H:%M") %>
      </h5>
    </p>

    <p>
      <h5><strong>Última modificación:</strong>
      <%= @internal_order.updated_at.strftime("%d/%m/%y %H:%M") %>
      </h5>
    </p>

    <p>
      <h5><strong>Recibida:</strong>
      <%= @internal_order.date_received.strftime("%d/%m/%Y") %>
      </h5>
    </p>

    <p>
      <h5><strong>Dispensada:</strong>
      <% if @internal_order.entregado? %>
        <%= @internal_order.date_delivered.strftime("%d/%m/%Y") %>
      <% else %>
        A dispensar
      <% end %>
      </h5>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Cód Insumo</th>
          <th>Insumos solicitados</th>
          <th>Cantidad</th>
        </tr>
      </thead>
      <tbody>
        <% @internal_order.quantity_supply_requests.each do |qsr| %>
          <tr>
            <td>
              <%= qsr.supply_id %>
            </td>
            <td>
              <%= qsr.supply_name %>
            </td>
            <td>
              <%= qsr.quantity %> <%= qsr.unity.pluralize(qsr.quantity) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Cód Insumo</th>
          <th><%= @internal_order.entregado? ? "Insumos entregados" : "Insumos a entregar" %></th>
          <th>Cantidad</th>
          <th>Lote</th>
          <th>Expiración</th>
        </tr>
      </thead>
      <tbody>
        <% if @internal_order.quantity_supply_lots.present? %>
          <% @internal_order.quantity_supply_lots.each do |qsl| %>
            <tr>
              <td>
                <%= qsl.supply_code %>
              </td>
              <td>
                <%= qsl.supply_name %>
              </td>
              <td>
                <%= qsl.quantity %> <%= qsl.unity.pluralize(qsl.quantity) %>
              </td>
              <td>
                <%= qsl.lot_code %>
              </td>
              <td>
                <%= qsl.expiry_date.present? ? qsl.expiry_date.strftime("%d/%m/%Y") : "No tiene" %>
              </td>
            </tr>
          <% end %>
        <% else %>
          <tr><td></td><td>No hay insumos a dispensar</td></tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
