<%= render 'header' %>

<div class="row">
  <div class="panel panel-warning">
    <div class="panel-heading">
      <h3 class="panel-title"><%= content_tag(:span, '', class: 'glyphicon glyphicon-edit') %> Auditando <%= @internal_order.order_type %>
        <%= link_to internal_orders_path, class: 'btn pull-right close-btn',
          :title => 'Cerrar', :'data-placement'=>'top', :'data-toggle'=>'tooltip' do %>
          <%= content_tag(:span, '', class: 'glyphicon glyphicon-remove') %>
        <% end %>
      </h3>
    </div>
    <div class="panel-body" id="panel-body-new">
      <%= render 'provider_form', internal_order: @internal_order %>
    </div>
    <div class="panel-footer text-right">
      <%= link_to 'Volver', internal_orders_path, class: 'btn' %>
      <button type='submit' name='commit' class='btn btn-success' form='edit_internal_order_<%=@internal_order.id%>' value='Proveedor'>
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-floppy-disk') %> Guardar cambios
      </button>
      <% if policy(@internal_order).send_provider? %>
        <button type='submit' name='commit' class='btn btn-primary' form='edit_internal_order_<%=@internal_order.id%>' value='Enviar proveedor'>
          <%= content_tag(:span, '', class: 'glyphicon glyphicon-floppy-disk') %> Guardar y enviar
        </button>
      <% end %>
    </div>
  </div>
</div>
