// Add the dialog title
$('#dialog h3').html("<i class=' glyphicon glyphicon-pencil'></i>  Editando pedido interno");

// Render the edit form
$('.modal-body').html('<%= j render("form") %>');

// Add form button
$('.modal-footer').html(
  "<button type='button' class='btn btn-default pull-left' data-dismiss='modal'>Volver</button>"+
  "<% unless @internal_order.entregado? %>"+
    "<button type='submit' name='commit' class='btn btn-success' style='margin-right: 15%' form='edit_internal_order_<%=@internal_order.id%>' value='Guardar y entregar'>Guardar y entregar</button>"+
  "<% end %>"+
  "<button type='submit' name='commit' class='btn btn-primary pull-right' form='edit_internal_order_<%=@internal_order.id%>' value='Guardar cambios'>Guardar cambios</button>"
);

// Show the dynamic dialog
$('#dialog').modal("show");

// Set focus to the first element
$('#dialog').on('shown.bs.modal', function () {
  $('.chosen-single').focus();
});

<%= render 'form_function' %>

$('#internal_order_date_received').val("<%= @internal_order.date_received.strftime('%d/%m/%Y') %>");
<% if @internal_order.date_delivered.present? %>
  $('#internal_order_date_delivered').val("<%= @internal_order.date_delivered.strftime('%d/%m/%Y') %>");
<% end %>


$('.add_fields').each(function() {
    var $this, insertionNode, insertionTraversal, _ref;
    $this = $(this);
    insertionNode = $this.data('association-insertion-node');
    insertionTraversal = $this.data('association-insertion-traversal');
    if (insertionNode) {
      if (insertionTraversal) {
        insertionNode = $this[insertionTraversal](insertionNode);
      } else {
        insertionNode = (_ref = insertionNode === "this") != null ? _ref : {
          $this: $(insertionNode)
        };
      }
    } else {
      insertionNode = $this.parent();
    }
    return insertionNode.bind('cocoon:after-insert', function(e, newContent) {
      return newContent.find('.chosen-select').chosen({
        width: '270px'
      });
    });
  });
