<%= render 'header' %>

<div class="row">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-plus') %> Nueva provisión
        <%= link_to internal_orders_path, class: 'btn pull-right close-btn' do %>
          <%= content_tag(:span, '', class: 'glyphicon glyphicon-remove') %>
        <% end %>
      </h3>
    </div>
    <div class="panel-body" id="panel-body-new">
      <%= render 'provider_form', internal_order: @internal_order %>
    </div>
    <div class="panel-footer text-right">
      <%= link_to 'Volver', internal_orders_path, class: 'btn' %>
      <button type='submit' name='commit' class='btn btn-success' form='new_internal_order' value='Auditar'>
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-floppy-saved') %> Guardar
      </button>
      <button type='submit' name='commit' class='btn btn-primary' form='new_internal_order' value='Auditar y aceptar'>
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-send') %> Guardar y enviar
      </button>
    </div>
  </div>
</div>
