<%= render 'header' %>

<div class="row">
  <div class="col-md-7 col-md-offset-2">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          <%= content_tag(:span, '', class: 'glyphicon glyphicon-list-alt') %> Reporte
          <%= link_to internal_orders_path, class: 'btn pull-right close-btn' do %>
            <%= content_tag(:span, '', class: 'glyphicon glyphicon-remove') %>
          <% end %>
        </h3>
      </div>
      <div class="panel-body">
        <%= simple_form_for @internal_order, method: :get, :url => { :action => :generate_report }, html: {role: 'check-modified'} do |f| %>
          <%= f.error_notification %>
          <div class="row">
            <div class="col-md-6">
              <label>Seleccione reporte</label>
              <select class="selectpicker">
                <option>Pedidos por sector</option>
                <option disabled data-subtext="Próximamente">Insumos de un sector</option>
                <option disabled data-subtext="Próximamente">Insumo específico por sector</option>
                <option disabled data-subtext="Próximamente">Pedidos de un sector</option>
                <option disabled data-subtext="Próximamente">Insumos por sector</option>
              </select>
            </div>
          </div>
          <br>
          <div class="row">
            <div class='col-md-2'>
              <%= f.input :since_date, as: :fake, label: 'Desde', as: :string,
                :placeholder => "Una fecha",
                required: true,
                input_html: {
                  class: 'datetimepicker',
                  autocomplete: 'off',
                  :style => 'width: 110px',
                  value: "#{f.object.requested_date unless f.object.new_record?}"
                },
                html5: false 
              %>
            </div>
            <div class='col-md-2'>
              <%= f.input :to_date, as: :fake, label: 'Hasta', as: :string,
                :placeholder => "Una fecha",
                required: true,
                input_html: {
                  class: 'datetimepicker',
                  autocomplete: 'off',
                  :style => 'width: 110px',
                  value: "#{f.object.requested_date unless f.object.new_record?}"
                },
                html5: false 
              %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="panel-footer text-right">
        <%= link_to 'Volver', internal_orders_path, class: 'btn' %>
        <button type='submit' name='commit' class='btn btn-success' form='new_internal_order'>
          <%= content_tag(:span, '', class: 'glyphicon glyphicon-ok') %> Generar reporte
        </button>
      </div>
    </div>
  </div>
</div>