<%= render 'internal_orders/header' %>

<div class="card">
  <div class="card-header bg-primary text-white d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center ml-2">
      <%= fa_icon "plus" %>
      <h5 class="card-title mb-0 ml-2">
        Nueva solicitud de sector
      </h5>
    </div>
    <%= link_to applicant_index_internal_orders_path, class: 'btn text-white' do %>
      <%= fa_icon "times" %>
    <% end %>
  </div>
  <div class="card-body" id="panel-body-new">
    <%= render 'internal_orders/applicant_form', internal_order: @internal_order %>
  </div>
  <div class="card-footer text-right">
    <%= link_to 'Volver', applicant_index_internal_orders_path, class: 'btn btn-light mr-2' %>
    <button type='submit' name='commit' class='btn btn-success mr-2' form='new_internal_order' value='Auditar'>
      <%= fa_icon "save" %> Guardar
    </button>
    <button type='submit' name='commit' class='btn btn-primary' form='new_internal_order' value='Enviar'>
      <%= fa_icon "paper-plane" %> Guardar y enviar
    </button>
  </div>
</div>
