<p id="notice"><%= notice %></p>

<p>
  <strong>Responsable:</strong>
  <%= @internal_order.responsable %>
</p>

<p>
  <strong>Date sent:</strong>
  <%= @internal_order.date_sent %>
</p>

<p>
  <strong>Date received:</strong>
  <%= @internal_order.date_received %>
</p>

<p>
  <strong>Observation:</strong>
  <%= @internal_order.observation %>
</p>

<%= link_to 'Edit', edit_internal_order_path(@internal_order) %> |
<%= link_to 'Back', internal_orders_path %>
