
<% content_for :print_and_back_button do %>
  <%= link_to internal_orders_provider_path(format: 'pdf'), class: 'btn',
        :title => 'Imprimir pdf', :'data-placement'=>'top', :'data-toggle'=>'tooltip', target: :_blank do %>
    <%= fa_icon "print" %>
  <% end %>
  <%= link_to internal_orders_providers_path, class: 'btn',
      :title => 'Cerrar', :'data-placement'=>'top', :'data-toggle'=>'tooltip' do %>
    <%= fa_icon "times" %>
  <% end %>
<% end %>

<% content_for :action_buttons_left do %>
  <% if policy(:internal_order_provider).nullify_order?(@internal_order) %>
    <span data-toggle="modal" data-target="#anular-confirm">
      <button class="btn btn-danger btn-sm" data-toggle='tooltip' title="Anular solicitud" >
        <%= fa_icon 'ban' %>
      </button>
    </span>
  <% end %>
<% end %>

<% content_for :action_buttons do %>
  <%= link_to internal_orders_providers_path,  
        'data-disable-with' => "Volviendo... <i class='fa fa-spinner fa-spin'></i>".html_safe,
        class: "btn btn-secondary mr-1" do %>
    Volver
  <% end %>

  <% if policy(@internal_order).show? %>
    <%= link_to internal_orders_provider_path(format: 'pdf'), class: 'btn btn-info mr-1', target: :_blank do %>
      <%= fa_icon "print" %> Imprimir
    <% end %>
  <% end %>

  <% if policy(:internal_order_provider).edit?(@internal_order) %>
    <%= link_to edit_internal_orders_provider_path(@internal_order), :"data-turbolinks" => false,
      'data-disable-with' => "Editar... <i class='fa fa-spinner fa-spin'></i>".html_safe,
      class: "btn btn-warning mr-1" do %>
      <%= fa_icon "pen" %>
      Editar orden
    <% end %>
  <% end %>

  <% if policy(:internal_order_provider).edit_products?(@internal_order) %>
    <%= link_to edit_products_internal_orders_provider_path(@internal_order),  
      'data-disable-with' => "editar productos <i class='fa fa-spinner fa-spin'></i>".html_safe,
      class: 'btn btn-warning btn-md mr-1' do %>
      <%= fa_icon "file-signature" %>
      Editar productos
    <% end %>
  <% end %>
  
  <% if policy(:internal_order_provider).can_send?(@internal_order) %>
    <%= link_to dispatch_order_internal_orders_provider_path(@internal_order),
      'data-disable-with' => "Enviando... <i class='fa fa-spinner fa-spin'></i>".html_safe,
      class: 'btn btn-primary btn-md' do %>
      <%= fa_icon "paper-plane" %>
      Enviar provisión
    <% end %>
  <% end %>
<% end %>

<%= render "sectors/internal_orders/show", order: @internal_order %>

<% content_for :modal do %>  
  <% if policy(:internal_order_provider).nullify_order?(@internal_order) %>
    <div class="modal fade" id="anular-confirm">
      <div class="modal-dialog">
        <div class="modal-content panel-warning">
          <div class="modal-header panel-heading bg-danger text-white">
            <h5 class="m-0"><%= fa_icon "check" %> Confirmar anulación de <%= InternalOrder.statuses.key(@internal_order.status_before_type_cast - 1).underscore.humanize %></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Esta seguro de anular el pedido?</p>
          </div>
          <div class="modal-footer text-right">
            <a href="#" data-dismiss="modal" class="btn">Cancelar</a>
            <%= link_to 'Anular', nullify_order_internal_orders_provider_path(@internal_order), 'data-disable-with' => "Enviando... <i class='fa fa-spinner fa-spin'></i>".html_safe, :class => 'btn btn-danger' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>