<%= simple_form_for(@office_supply), html: { role: 'check-modified'} do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.hidden_field :sector_id, value: "#{if f.object.sector.present?; f.object.sector_id; else; current_user.sector_id;  end}" %>
    <div class="col-md-6">
      <%= f.input :name, label: 'Nombre', :input_html => {autocomplete: 'off'} %>
    </div>
    <div class="col-md-2">
      <%= f.input :quantity, label: 'Cantidad' %>
    </div>
    <div class="col-md-2">
      <label>Estado</label>
      <%= f.select(:status,
        OfficeSupply.status_to_change.map {
          |status| [status.first, status.second, data: {'content': "<span class='label label-"+status.third+"'>"+status.first+"</span>"}]
        },{}, { class: "selectpicker show-tick", "data-width"=>"auto"}) 
      %>
    </div>
    <div class="col-md-2">
      <%= f.input :remit_code, label: 'Código', as: :string, 
        :placeholder => "Un código",
        input_html: {
          size: 13,
          id: "remit-code",
          required: true,
          autocomplete: 'off',
          value: "#{ unless f.object.remit_code.present?; current_user.sector.name[0..3].upcase+'offi'+OfficeSupply.maximum(:id).next.to_s; else; f.object.remit_code; end }"
        }
      %>
    </div>
    <div class="col-md-12">
      <%= f.input :description, label: 'Descripción' %>
    </div>
  </div>
<% end %>
