<% content_for :title, "Inicio" %>

<% content_for :page_header do %>
  <% if current_user.sector.present? %>
    <li class="nav-item">
      <%= link_to root_path, class: "nav-link #{active_action('index')}" do %>
        <%= fa_icon "home" %>
        Inicio
      <% end %>
    </li>
    <% if policy(Prescription).index? %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle non-sel" data-toggle="dropdown" href="#">
          <%= fa_icon "file-prescription" %>
          Recetas
          <span class="caret"></span>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-submenu-link">
          <% if policy(OutpatientPrescription).index? %>
            <%= link_to outpatient_prescriptions_path, class: "dropdown-item" do %>
              <%= fa_icon "signature" %>
              Ambulatorias
            <% end %>
            
          <% end %>
          
          <% if policy(ChronicPrescription).index? %>
            <%= link_to chronic_prescriptions_path, class: "dropdown-item" do %>
              <%= fa_icon "signature" %>
              Crónicas
            <% end %>
          <% end %>

          <% if policy(Prescription).new? %>
            <%= link_to new_prescription_path, class: "dropdown-item" do %>
              <%= fa_icon "plus" %>
              Nueva receta
            <% end %>
          <% end %>          
        </div>
      </li>
    <% end %>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle non-sel" data-toggle="dropdown" href="#">
        <%= fa_icon "bezier-curve" %>
        Sectores
        <span class="caret"></span>
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-submenu-link">
        <%= link_to internal_orders_applicants_path, class: "dropdown-item d-flex justify-content-between aling-items-center" do %>
          <div>
            <span class="mr-1"> <%= fa_icon "file-prescription" %> </span>
            <span> Recibos </span>
          </div>
          <div class="label label-info"><%= InternalOrder.applicant(current_user.sector).provision_en_camino.count %></div>
        <% end %>
        <%= link_to internal_orders_providers_path, class: "dropdown-item d-flex justify-content-between aling-items" do %>
          <div>
            <span class="mr-1"> <%= fa_icon "paper-plane" %> </span>
            <span>Entregas</span>
          </div>
          <%# count =   %>
          <%# if count > 0 %>
            <div class="label label-info pull-right"><%= InternalOrder.provider(current_user.sector).solicitud_enviada.count %></div>
          <%# end %>
        <% end %>
        <%= link_to new_internal_orders_applicant_path, class: "dropdown-item d-flex justify-content-between align-items-center" do %>
          <div>
            <span class="mr-1"> <%= fa_icon "plus" %> </span>
            <span>Solicitud</span>
          </div>
        <% end %>
        <%= link_to new_internal_orders_provider_path, class: "dropdown-item d-flex justify-content-between align-items-center" do %>
          <div>
            <span class="mr-1"> <%= fa_icon "plus" %> </span>
            <span> Provisión </span>
          </div>
        <% end %>
        <%= link_to internal_order_templates_path, class: "dropdown-item d-flex justify-content-between align-items-center" do %>
          <div>
            <span class="mr-1"> <%= fa_icon "skiing" %> </span>
            <span> Plantillas </span>
          </div>
        <% end %>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle non-sel" data-toggle="dropdown" href="#">
        <%= fa_icon "hospital" %>
        Establecimientos
        <span class="caret"></span>
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-submenu-link">
        <%= link_to external_orders_applicants_path, class: "dropdown-item" do %>
          <%= content_tag(:span, '', class: 'glyphicon glyphicon-inbox') %>
          <span class="hidden-xs">Recibos</span>
        <% end %>
        <%= link_to external_orders_providers_path, class: "dropdown-item" do %>
          <%= content_tag(:span, '', class: 'glyphicon glyphicon-send') %>
          <span class="hidden-xs">Despachos</span>
          <% count =  ExternalOrder.provider(current_user.sector).solicitud_enviada.count %>
          <% if count > 0 %>
            <div class="label label-info pull-right"><%= count %></div>
          <% end %>
        <% end %>
        <% if policy(Receipt).new? %>
          <%= link_to new_receipt_path, class: "dropdown-item" do %>
            <%= fa_icon "plus" %>
            <%#= content_tag(:span, '', class: 'glyphicon glyphicon-plus') %>
            Recibo
          <% end %>
        <% end %>
        <% if policy(:external_order_applicant).new? %>
          <%= link_to new_external_orders_applicant_path, class: "dropdown-item" do %>
            <%= content_tag(:span, '', class: 'glyphicon glyphicon-plus') %>
            S<span class="hidden-xs">olicitud</span>
          <% end %>
        <% end %>
        <% if policy(:external_order_provider).new? %>
          <%= link_to new_external_orders_provider_path, class: "dropdown-item" do %>
            <%= content_tag(:span, '', class: 'glyphicon glyphicon-plus') %>
            D<span class="hidden-xs">espacho</span>
          <% end %>
        <% end %>
        <%= link_to external_orders_templates_path, class: "dropdown-item" do %>
          <%= content_tag(:span, '', class: 'glyphicon glyphicon-modal-window') %>
          Plantillas
        <% end %>
      </div>
    </li>
  <% else %>
    Bienvenido <%= current_user.full_name.titleize %>
  <% end %>
<% end %>