<!--  Panel Prescripciones del día -->
<div class="panel panel-default">
  <!-- <div class="panel-heading">
    <h3 class="panel-title">Prescripciones <small>Hoy <%= Time.now.strftime("%d/%m/%Y") %></small>
    </h3>
  </div>
  <div class="panel-body">
    <div class="progress">
      <div class="progress-bar progress-bar-success" style="width: <%= @percent_dispensed_prescriptions %>">
        <%= @percent_dispensed_prescriptions %> dispensadas
      </div>
      <div class="progress-bar progress-bar-warning" style="width: <%= @percent_pendient_prescriptions %>">
        <%= @percent_pendient_prescriptions %> pendientes
      </div>
    </div>
    Total: <span class="label label-primary"><%= @count_prescriptions_today %></span>
    Dispensadas: <span class="label label-success"><%= @count_disp_pres %></span>
    Pendientes: <span class="label label-warning"><%= @count_pend_pres %></span>
  </div> -->
  <!--  Panel Prescripciones Mes actual -->
  <!-- <div class="panel-heading">
    <h3 class="panel-title">Prescripciones <small>Mes actual</small>
    </h3>
  </div>
  <div class="panel-body">
    <div class="progress">
      <div class="progress-bar progress-bar-success" style="width: <%= @percent_disp_pres_month %>">
        <%= @percent_disp_pres_month %> dispensadas
      </div>
      <div class="progress-bar progress-bar-warning" style="width: <%= @percent_pend_pres_month %>">
        <%= @percent_pend_pres_month %> pendientes
      </div>
    </div>
    Total: <span class="label label-primary"><%= @count_prescriptions_month %></span>
    Dispensadas: <span class="label label-success"><%= @count_disp_pres_month %></span>
    Pendientes: <span class="label label-warning"><%= @count_pend_pres_month %></span>
  </div> -->
  <!--  Panel prescripciones recibidas por día -->
  <% if @prescriptions.count >= 4 %>
    <div class="panel-heading">
      <h3 class="panel-title">Pescripciones <small>Esta semana </small</h3>
    </div>
    <div class="panel-body">
      <%= line_chart @prescriptions.group_by_day(:prescribed_date,range: 1.weeks.ago.midnight..Time.now, format: "%d/%m/%Y").count, discrete: true, adapter: "highcharts" %>
    </div>
  <% end %>
  <div class="panel-heading">
    <h3 class="panel-title">Prescripciones por mes</h3>
  </div>
  <div class="panel-body">
    <%= column_chart charts_by_month_prescriptions_path,
      download: "Prescripciones recetadas por mes SIFAHO",
      label: "Cantidad",
      colors: ["rgb(130,165,239, 0.6)"],
      messages: {empty: "No hay prescripciones en este mes"},
      adapter: "highcharts" %>
    </div>
</div>

<!--  Panel Últimas prescripciones -->
<% if @last_prescriptions.present? %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Últimas prescripciones
    </h3>
  </div>
  <div class="panel-body body-table">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>Doctor</th>
          <th>Paciente</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody>
        <% @last_prescriptions.each do |pre|%>
        <tr>
          <td><%= pre.professional.fullname %></td>
          <td><%= pre.patient.fullname %></td>
          <td>
            <span class="label label-<%= pre.status_label %>">
              <%= pre.status.split('_').map(&:capitalize).join(' ') %>
            </span>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<% end %>
