<!--  Panel Prescripciones del día -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Prescripciones <small>Hoy <%= Time.now.strftime("%d/%m/%Y") %></small>
    </h3>
  </div>
  <div class="panel-body">
    <div class="progress">
      <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
        <%= @count_prescriptions_today %> prescripciones recibidas en el día
      </div>
    </div>
    <div class="progress">
      <div class="progress-bar progress-bar-success" style="width: <%= @percent_dispensed_prescriptions %>">
        <%= @percent_dispensed_prescriptions %> dispensadas
      </div>
      <div class="progress-bar progress-bar-warning" style="width: <%= @percent_pendient_prescriptions %>">
        <%= @percent_pendient_prescriptions %> pendientes
      </div>
    </div>
    Total: <span class="label label-primary"><%= @count_prescriptions_today %></span>
    Dispensadas: <span class="label label-success"><%= @count_disp_pres %></span>
    Pendientes: <span class="label label-warning"><%= @count_pend_pres %></span>
  </div>
</div>

<!--  Panel Prescripciones Mes actual -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Prescripciones <small>Mes actual</small>
    </h3>
  </div>
  <div class="panel-body">
    <div class="progress">
      <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
        <%= @count_prescriptions_month %> prescripciones recibidas en el mes
      </div>
    </div>
    <div class="progress">
      <div class="progress-bar progress-bar-success" style="width: <%= @percent_disp_pres_month %>">
        <%= @percent_disp_pres_month %> dispensadas
      </div>
      <div class="progress-bar progress-bar-warning" style="width: <%= @percent_pend_pres_month %>">
        <%= @percent_pend_pres_month %> pendientes
      </div>
    </div>
    Total: <span class="label label-primary"><%= @count_prescriptions_month %></span>
    Dispensadas: <span class="label label-success"><%= @count_disp_pres_month %></span>
    Pendientes: <span class="label label-warning"><%= @count_pend_pres_month %></span>
  </div>
</div>

<!--  Panel Lote de medicamentos -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Lotes de medicamentos <small>Expiración</small></h3>
  </div>
  <div class="panel-body">
    <div class="progress">
      <div class="progress-bar progress-bar-success" style="width: <%= @percent_good_medications %>">
        <%= @percent_good_medications %> <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      </div>
      <div class="progress-bar progress-bar-warning" style="width: <%= @percent_near_expiry_medications %>">
        <%= @percent_near_expiry_medications %> <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
      </div>
      <div class="progress-bar progress-bar-danger" style="width: <%= @percent_expired_medications %>">
        <%= @percent_expired_medications %> <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
      </div>
    </div>
    Total: <span class="label label-primary"><%= @count_total_medications %></span>
    Buen estado: <span class="label label-success"><%= @count_good_medications %></span>
    Próximos a vencer: <span class="label label-warning"><%= @count_near_expiry_medications %></span>
    Vencidos: <span class="label label-danger"><%= @count_expired_medications %></span>
  </div>
</div>
