<!--  Panel graficos de prescripciones -->
<% if @prescriptions.count > 0 %>
  <div class="card">
    <div class="card-header d-flex justify-content-between">

      <div>
        <span class="navbar-brand">
            <%= fa_icon "signature" %>
            Recetas
          </span>
      </div>

      <ul class="nav nav-tabs card-header-tabs" id="title-chart">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#week">Semana 
            <span class="badge badge-secondary"><%= @prescriptions.last_week.count %></span> 
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#year">Año
            <span class="badge badge-secondary"><%= @prescriptions.current_year.count %></span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#last">Últimas
            <span class="badge badge-secondary"><%= @last_prescriptions.count %></span>
          </a>
        </li>
      </ul>

      <div class="d-flex align-items-center">
        <%= link_to prescriptions_path, class: 'btn btn-secondary btn-sm' do %>
          Ver más
        <% end %>
      </div>
    </div>

    <div class="card-body pb-2 mb-3">
      <div class="tab-content">
        <div id="week" class="tab-pane fade show active">
          <%= line_chart @prescriptions
            .group_by_day(:prescribed_date,range: 1.weeks.ago.midnight..Time.now, format: "%a %d/%m").count, 
            discrete: true, label: 'Cantidad', adapter: "highcharts" %>
        </div>
        <div id="year" class="tab-pane fade">
          <%= column_chart charts_by_month_prescriptions_path,
            download: "recetadas por mes SIFAHO",
            label: "Cantidad",
            colors: ["rgb(130,165,239, 0.6)"],
            messages: {empty: "No hay recetas en este año"},
            adapter: "highcharts" %>
        </div>
        <div id="last" class="tab-pane fade pb-0">
          <div class="card">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th>Doctor</th>
                  <th>Paciente</th>
                  <th>Estado</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% @last_prescriptions.each do |pre|%>
                  <tr>
                    <td><%= pre.professional.fullname %></td>
                    <td><%= pre.patient.fullname %></td>
                    <td>
                      <span class="label label-<%= pre.status_label %>">
                        <%= pre.status.split('_').map(&:capitalize).join(' ') %>
                      </span>
                    </td>
                    <td>    
                      <% if policy(pre).show? %>
                        <%= link_to prescription_path(pre), class: 'btn btn-default btn-xs', 
                          title: 'Ver detalles', data: { toggle: 'tooltip', placement: 'top' } do %>
                          <%= content_tag(:span, '', class: 'glyphicon glyphicon-eye-open') %>
                        <% end %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>