<!--  Panel Lote de medicamentos -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Lotes en stock <span class="label label-default"><%= @count_total_supply_lots %></span> <small> Expiración</small></h3>
  </div>
  <div class="panel-body">
    <%
      lots = SectorSupplyLot.lots_for_sector(current_user.sector).group(:status).count.transform_keys { |key| key.split('_').map(&:capitalize).join(' ') }
      status_colors = {"Vigente" => "#40c95e", "Por Vencer" => "#f1ae45", "Vencido" => "#d36262"}
      colors = []
      lots.each do |status, _|
        colors << status_colors[status]
      end
    %>
    <%= pie_chart lots, colors: colors, adapter: "highcharts" %>
  </div>
</div>
<!-- Panel Lotes expirados -->
<% if @expired_supply_lots.present? %>
  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title">
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-warning-sign') %>
        Lotes expirados <span class="label label-danger"><%= @count_expired_supply_lots %></span>
        <div class="pull-right">
          <%= link_to sector_supply_lots_url(filterrific: {:with_status => 2}), class: 'btn btn-default btn-xs' do %>
            Ver más
          <% end %>
        </div>
      </h3>
    </div>
    <div class="panel-body body-table">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>N°Lote</th>
            <th>Insumo</th>
            <th>Cantidad</th>
            <th>Expiración</th>
          </tr>
        </thead>
        <tbody>
          <% @expired_supply_lots.each do |esl|%>
            <tr>
              <td><%= esl.id %></td>
              <td class="ins-col-alert"><%= esl.supply_name %></td>
              <td><span class="label label-default"><%= esl.quantity %></span></td>
              <td><%= esl.expiry_date.strftime("%d/%m/%Y") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>

<!-- Panel Lotes próximos a expirar  -->
<% if @near_expiry_supply_lots.present? %>
  <div class="panel panel-warning">
    <div class="panel-heading">
      <h3 class="panel-title">
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-time') %>
        Lotes próximos a expirar <span class="label label-warning"><%= @count_near_expiry_supply_lots %></span>
        <div class="pull-right">
          <%= link_to sector_supply_lots_url(filterrific: {:with_status => 1}), class: 'btn btn-default btn-xs' do %>
                  Ver más
          <% end %>
        </div>
      </h3>
    </div>
    <div class="panel-body body-table">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>N°Lote</th>
            <th>Insumo</th>
            <th>Cantidad</th>
            <th>Expiración</th>
          </tr>
        </thead>
        <tbody>
          <% @near_expiry_supply_lots.each do |nesl|%>
            <tr>
              <td><%= nesl.id %></td>
              <td><%= nesl.supply_name %></td>
              <td><span class="label label-default"><%= nesl.quantity %></span></td>
              <td><%= nesl.expiry_date.present? ? nesl.expiry_date.strftime("%d/%m/%Y") : "---" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
