<!--  Panel Lote de medicamentos -->
<div class="card mb-3">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <span class="navbar-brand">
          <%= fa_icon "barcode" %>
          Lotes
        </span>
      </li>
      <li class="nav-item active">
        <a class="nav-link" data-toggle="tab" href="#status">Stock
          <span class="badge badge-secondary"><%= @count_total_supply_lots %></span>
        </a>
      </li>
      <li class="nav-item <%="#{@near_expiry_supply_lots.present? ? "" : "disabled"}"%>">
        <a class="nav-link" data-toggle="tab" href="#near_expire">
          <%= fa_icon "clock" %>
          A vencer
          <span class="badge badge-warning"><%= @count_near_expiry_supply_lots %></span>
        </a>
      </li>
      <li class="nav-item <%="#{@expired_supply_lots.present? ? "" : "disabled"}"%>">
        <a class="nav-link" data-toggle="tab" href="#expired">
          <%= fa_icon "exclamation-triangle" %>
          Vencidos
          <span class="badge badge-danger"><%= @count_expired_supply_lots %></span>
        </a>
      </li>
      <div class="ml-auto">
        <%= link_to prescriptions_path, class: 'btn btn-secondary btn-sm' do %>
          Ver más
        <% end %>
      </div>
    </ul>
  </div>
  
  <div class="card-body">
    <div class="tab-content">
      <div id="status" class="tab-pane fade show active">
        <%
          lots = SectorSupplyLot.lots_for_sector(current_user.sector).without_status(4).group(:status).count.transform_keys { |key| key.split('_').map(&:capitalize).join(' ') }
          status_colors = {"Vigente" => "#40c95e", "Por Vencer" => "#f1ae45", "Vencido" => "#d36262", "Agotado" => "#5bbae1" }
          colors = []
          lots.each do |status, _|
            colors << status_colors[status]
          end
        %>
        <%= pie_chart lots, colors: colors, label: 'Cantidad de lotes', adapter: "highcharts" %>
      </div>
      <div id="expired" class="tab-pane fade pb-0">
        <div class="card">
          <table class="table table-hover table-striped table-sm">
            <thead>
              <tr class="danger">
                <th>Lote</th>
                <th>Insumo</th>
                <th>Cantidad</th>
                <th>Vencimiento</th>
              </tr>
            </thead>
            <tbody>
              <% @expired_supply_lots.each do |esl|%>
                <tr>
                  <td><%= esl.lot_code %></td>
                  <td class="ins-col-alert"><%= esl.supply_name %></td>
                  <td><span class="label label-default"><%= esl.quantity %></span></td>
                  <td><%= esl.expiry_date.strftime("%d/%m/%y") %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="row text-center pt-2">
          <div class="col text-center">
            <%= link_to sector_supply_lots_url(filterrific: {:with_status => 2}), class: 'btn btn-secondary btn-sm' do %>
              Ver todos
            <% end %>
          </div>
        </div>
      </div>
      <div id="near_expire" class="tab-pane fade">
        <div class="card">
          <table class="table table-hover table-striped table-sm">
            <thead>
              <tr class="warning">
                <th>Lote</th>
                <th>Insumo</th>
                <th>Cantidad</th>
                <th>Vencimiento</th>
              </tr>
            </thead>
            <tbody>
              <% @near_expiry_supply_lots.each do |nesl|%>
                <tr>
                  <td><%= nesl.lot_code %></td>
                  <td><%= nesl.supply_name %></td>
                  <td><span class="label label-default"><%= nesl.quantity %></span></td>
                  <td><%= nesl.expiry_date.present? ? nesl.expiry_date.strftime("%d/%m/%y") : "---" %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="row text-center pt-2">
          <div class="col text-center">
            <%= link_to sector_supply_lots_url(filterrific: {:with_status => 1}), class: 'btn btn-secondary btn-sm' do %>
              Ver todos
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>