<!--  Panel Lote de medicamentos -->
<div class="card">
  <div class="card-header d-flex justify-content-between">
    <div>
      <span class="navbar-brand">
        <%= fa_icon "barcode" %>
        Lotes
      </span>
    </div>
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#status">Stock
          <span class="badge badge-secondary"><%= @count_total_lots %></span>
        </a>
      </li>
      <li class="nav-item <%="#{@near_expiry_lots.present? ? "" : "disabled"}"%>">
        <a class="nav-link" data-toggle="tab" href="#near_expire">
          <%= fa_icon "clock" %>
          A vencer
          <span class="badge badge-warning"><%= @count_near_expiry_lots %></span>
        </a>
      </li>
      <li class="nav-item <%="#{@expired_lot_stocks.present? ? "" : "disabled"}"%>">
        <a class="nav-link" data-toggle="tab" href="#expired">
          <%= fa_icon "exclamation-triangle" %>
          Vencidos
          <span class="badge badge-danger"><%= @count_expired_lots %></span>
        </a>
      </li>
    </ul>
    <div class="d-flex align-items-center">
      <%= link_to outpatient_prescriptions_path, class: 'btn btn-secondary btn-sm' do %>
        Ver más
      <% end %>
    </div>
  </div>
  
  <div class="card-body">
    <div class="tab-content">
      <div id="status" class="tab-pane fade show active" data-good-lots="<%=@percent_good_supply_lots%>" data-near-expiry-lots="<%= @percent_near_expiry_lots%>" data-expired-lots="<%=@percent_expired_lots%>">
        <%# Grafico de cantidades segun estado del lote %>
      </div>
      <div id="expired" class="tab-pane fade pb-0">
        <div class="card">
          <%= render 'welcome/lot_stock/list', lot_stocks: @expired_lot_stocks %>      
        </div>
        <div class="row text-center pt-2">
          <div class="col text-center">
            <%= link_to lot_stocks_path(filterrific: {:search_by_status => 2, :search_by_quantity => 1}, keep_params: true), class: 'btn btn-secondary btn-sm' do %>
              Ver todos
            <% end %>
          </div>
        </div>
      </div>
      <div id="near_expire" class="tab-pane fade">
        <div class="card">
          <%= render 'welcome/lot_stock/list', lot_stocks: @near_expiry_lots %>
        </div>
        <div class="row text-center pt-2">
          <div class="col text-center">
            <%= link_to lot_stocks_path(filterrific: {:search_by_status => 1, :search_by_quantity => 1}, keep_params: true), class: 'btn btn-secondary btn-sm' do %>
              Ver todos
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>