<!--  Panel Lote de medicamentos -->
<div class="card">
  <div class="card-header d-flex justify-content-between">
    <div>
      <span class="navbar-brand">
        <%= fa_icon "barcode" %>
        Lotes
      </span>
    </div>
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#status">Stock
          <span class="badge badge-secondary"><%= @count_total_lots %></span>
        </a>
      </li>
      <li class="nav-item <%="#{@near_expiry_lots.present? ? "" : "disabled"}"%>">
        <a class="nav-link" data-toggle="tab" href="#near_expire">
          <%= fa_icon "clock" %>
          A vencer
          <span class="badge badge-warning"><%= @count_near_expiry_lots %></span>
        </a>
      </li>
      <li class="nav-item <%="#{@expired_lot_stocks.present? ? "" : "disabled"}"%>">
        <a class="nav-link" data-toggle="tab" href="#expired">
          <%= fa_icon "exclamation-triangle" %>
          Vencidos
          <span class="badge badge-danger"><%= @count_expired_lots %></span>
        </a>
      </li>
    </ul>
    <div class="d-flex align-items-center">
      <%= link_to prescriptions_path, class: 'btn btn-secondary btn-sm' do %>
        Ver más
      <% end %>
    </div>
  </div>
  
  <div class="card-body">
    <div class="tab-content">
      <div id="status" class="tab-pane fade show active">
        <%# Grafico de cantidades segun estado del lote %>
        <%= pie_chart @lots, colors: @colors, label: 'Cantidad de lotes', adapter: "highcharts" %>
      </div>
      <div id="expired" class="tab-pane fade pb-0">
        <div class="card">
          <table class="table table-hover table-striped table-sm">
            <thead>
              <tr class="danger">
                <th>Lote</th>
                <th>Insumo</th>
                <th>Cantidad</th>
                <th>Vencimiento</th>
              </tr>
            </thead>
            <tbody>
              <% @expired_lot_stocks.each do |expired_lot|%>
                <tr>
                  <td><%= expired_lot.lot.code %></td>
                  <td class="ins-col-alert"><%= expired_lot.product_name %></td>
                  <td><span class="label label-default"><%= expired_lot.quantity %></span></td>
                  <td><%= expired_lot.lot.expiry_date.strftime("%d/%m/%y") %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="row text-center pt-2">
          <div class="col text-center">
            <%= link_to sector_supply_lots_url(filterrific: {:with_status => 2}), class: 'btn btn-secondary btn-sm' do %>
              Ver todos
            <% end %>
          </div>
        </div>
      </div>
      <div id="near_expire" class="tab-pane fade">
        <div class="card">
          <table class="table table-hover table-striped table-sm">
            <thead>
              <tr class="warning">
                <th>Lote</th>
                <th>Insumo</th>
                <th>Cantidad</th>
                <th>Vencimiento</th>
              </tr>
            </thead>
            <tbody>
              <% @near_expiry_lots.each do |nesl|%>
                <tr>
                  <td><%= nesl.lot.code %></td>
                  <td><%= nesl.product_name %></td>
                  <td><span class="label label-default"><%= nesl.quantity %></span></td>
                  <td><%= nesl.lot.expiry_date.present? ? nesl.lot.expiry_date.strftime("%d/%m/%y") : "---" %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="row text-center pt-2">
          <div class="col text-center">
            <%= link_to sector_supply_lots_url(filterrific: {:with_status => 1}), class: 'btn btn-secondary btn-sm' do %>
              Ver todos
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>