<%= form_for_filterrific @filterrific do |f| %>
  <div class="row justify-content-between">
    <div class="col-1 d-flex justify-content-end align-items-center">
      <%= yield(:reset_filters) %>
    </div>

    <%# CÓDIGO DE PEDIDO %>
    <div class="col">
      <label>Código</label>
      <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
      <%= f.text_field(
        :search_code,
        class: 'filterrific-periodically-observed form-control input-sm',
        placeholder: 'Un código',
        autocomplete: 'off',
      ) %>
    </div>

    <%# PROVEEDOR / SOLICITANTE %>
    <div class="col">
      <%= yield(:field_filters) %>
    </div>

    <%# TIPO DE ORDEN %>
    <div class="col">
      <label>Tipo</label>
      <%= f.select(:with_order_type,
        ExternalOrder.order_types.map{ |type| [type.first.humanize, type.second] },{:include_blank => 'Todos'},
        { class: "selectpicker custom-select-pick show-tick", "data-width"=>"100%"}) %>
    </div>

    <%# ESTADO %>
    <div class="col">
       <label>Estado</label>
      <%= f.select(:with_status,
        @filterrific.select_options[:with_status].map {
          |status| [status.first, status.second, data: {'content': "<span class='label label-"+status.third+"'>"+status.first+"</span>"}]
        },{},
        { class: "selectpicker custom-select-pick show-tick", "data-width"=>"100%"}) %>
    </div>
    
    <%# ORDENAMIENTO %>
    <div class="col">
      <label>Ordernar por</label>
      <%= f.select(:sorted_by,
        @filterrific.select_options[:sorted_by].map {
          |status| [status.first, status.second, data: {'content': "<span class='badge'>"+status.first+"</span>"}]
        },{},
        { class: "selectpicker-md show-tick custom-select-pick", "data-width"=>"100%"}) %>
    </div>

    <%# FECHA SOLICITADO %>
    <div class="col">
      <label>Solicitado</label>
      <div class="row d-flex">
        <div class="col-6 p-0 pr-1">
          <%= f.text_field(
            :requested_date_since,
            class: 'form-control filterrific-periodically-observed datepicker input-sm',
            placeholder: "Desde",
            autocomplete: "off",
            data: { date_format: 'DD/MM/YY'}) %>
        </div>
        <div class="col-6 p-0 pr-1">
          <%= f.text_field(
            :requested_date_to,
            class: 'form-control filterrific-periodically-observed datepicker input-sm',
            placeholder: "Hasta",
            autocomplete: "off",
            data: { date_format: 'DD/MM/YY'}) %>
        </div>
      </div>
    </div>

    <%# FECHA RECIBIDO/ENTREGADO %>
    <div class="col">
      
      <%= yield(:date_filter_label) %>

      <div class="row d-flex">
        <div class="col-6 p-0 pr-1">
          <%= f.text_field(
            :date_received_since,
            class: 'form-control filterrific-periodically-observed datepicker input-sm',
            placeholder: "Desde",
            autocomplete: "off",
            data: { date_format: 'DD/MM/YY'}) %>
        </div>
        <div class="col-6 p-0 pr-1">
          <%= f.text_field(
            :date_received_to,
            class: 'form-control filterrific-periodically-observed datepicker input-sm',
            placeholder: "Hasta",
            autocomplete: "off",
            data: { date_format: 'DD/MM/YY'}) %>
        </div>
      </div>
    </div>

  </div>
<% end %>