<%= render 'establishments/external_orders/header' %>

<div class="card fixed-custom-card">
  <div class="card-header <%= @external_order.new_record? ? 'bg-primary text-white' : 'bg-warning' %> d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center ml-2">
      <%= fa_icon (@external_order.new_record? ?  "plus" : "edit")%>
      <h5 class="card-title mb-0 ml-2">
        <%= @external_order.new_record? ? "Nueva #{@external_order.order_type} de establecimiento" : "Editando #{@external_order.order_type} de establecimiento
        código #{@external_order.remit_code}" %>
      </h5>
    </div>
    <%= link_to :back, class: @external_order.new_record? ? 'btn text-white' : 'btn' do %>
      <%= fa_icon "times" %>
    <% end %>
  </div>
  <div class="card-body">
 
    <%= simple_form_for @external_order, url: url, html: { role: 'check-modified'} do |f| %>
      <%= f.error_notification %>
      <div class="row">
        <div class="col-6 border-right">
          <% if @external_order.provision? %> 
            <%# ESTABLECIMIENTO SOLICITANTE %>
            <%= f.input :applicant_establishment_id, as: :string,
              label: 'Establecimiento solicitante',
              placeholder: 'Buscar por nombre',
              required: true,
              :input_html => {
                autocomplete: 'off',
                id: "effector-establishment",
                data: { autocomplete_source: search_by_name_establishments_path },
                value: "#{ if f.object.applicant_sector.present?; f.object.applicant_sector.establishment.name; end }",
                size: 41
              } 
            %>
            <%# SECTOR SOLICITANTE %>        
            <%= f.input :applicant_sector_id,
              label: 'Sector solicitante',
              collection: @sectors.map {
                |sector| [sector.name, sector.id]
              },
              :input_html => {
                placeholder: 'Debe seleccionar establecimiento',
                required: true,
                id: 'effector-sector',
                class: 'selectpicker-md custom-select-pick show-tick',
                "data-width"=>"100%",
                "title"=>"Seleccionar sector",
                "data-size"=>"10",
                "data-live-search"=>true,
                value: f.object.applicant_sector.present? ? f.object.applicant_sector.id : ""
              }
            %>

            <%# Provider %>
            <label>Proveedor</label>
            <h6><%= current_user.sector_and_establishment %></h6>
            <%= f.input :provider_observation, label: 'Observaciones', as: :text,
            :input_html => { :cols => 40  , :rows => 2 } %>

            <%= @external_order.applicant_observation %>
            
          <% else %>
            <div>
              <h5>Solicitante</h5>
              <%= @external_order.applicant_sector.name+" "+@external_order.applicant_establishment.name %>
            </div>
            
            <% if policy(:external_order_provider).edit_provider_on_solicitud?(@external_order) %>
              <%# Provider establishment %>
              <%= f.input :provider_establishment_id, as: :string,
                label: 'Establecimiento proveedor',
                placeholder: 'Buscar por nombre',
                required: true,
                :input_html => {
                  autocomplete: 'off',
                  id: "effector-establishment",
                  data: { autocomplete_source: search_by_name_establishments_path },
                  value: "#{ if f.object.provider_sector.present?; f.object.provider_sector.establishment.name; end }",
                  size: 41
                } 
              %>

              <%# Provider sector %>        
              <%= f.input :provider_sector_id,
                label: 'Sector proveedor',
                collection: @sectors.map {
                  |sector| [sector.name, sector.id]
                },
                :input_html => {
                  placeholder: 'Debe seleccionar establecimiento',
                  required: true,
                  id: 'effector-sector',
                  class: 'selectpicker-md custom-select-pick show-tick',
                  "data-width"=>"100%",
                  "title"=>"Seleccionar sector",
                  "data-size"=>"10",
                  "data-live-search"=>true,
                  value: f.object.provider_sector.present? ? f.object.provider_sector.id : ""
                }
              %>

              <%= f.input :applicant_observation, label: 'Observaciones', as: :text, :input_html => { :cols => 40  , :rows => 2 } %>
            <% else %>
              <% if @external_order.applicant_observation.present? %>
                <div>
                  Observaciones
                  <%= @external_order.applicant_observation %>
                </div>
              <% end %>
              <div>
                <h5>Proveedor</h5>
                <%= @external_order.provider_sector.name+" "+@external_order.provider_establishment.name %>
              </div>
              <%= f.input :provider_observation, label: 'Observaciones', as: :text, :input_html => { :cols => 40  , :rows => 2 } %>
            <% end %>

            
          <% end %>

            
          
        </div>

        <%# Last requests %>
        <div class="col-6" id='last-requests'>
          <% if @last_delivers.present? %>
            Últimos despachos de establecimientos
            <table class="table">
              <thead>
                <tr>
                  <th>Fecha</th>
                  <th>Destino</th>
                  <th>Productos</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% @last_delivers.reverse.each do |deliver| %>
                  <tr>
                    <td><%= deliver.created_at.strftime('%d/%m/%y') %></td>
                    <td><%= deliver.applicant_sector_and_establishment %></td>
                    <td><%= deliver.order_products.count %></td>
                    <td>
                      <%= link_to polymorphic_path(['external_orders', deliver.custom_notification_url], id: deliver), target: :_blank, class: 'btn btn-light btn-sm' do %>
                        <%= fa_icon 'external-link-alt' %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% else %>
            Aún no hay despachos realizados
          <% end%>
        </div>
      </div>
    <% end %>
  </div>

  <div class="card-footer d-flex justify-content-end">
    <%= yield(:action_buttons) %>
  </div>
</div>