<%= render 'establishments/external_orders/header' %>

<div class="card fixed-custom-card">
  <div class="card-header <%= @external_order.new_record? ? 'bg-primary text-white' : 'bg-warning' %> d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center ml-2">
      <%= fa_icon (@external_order.new_record? ?  "plus" : "edit")%>
      <h5 class="card-title mb-0 ml-2">
        <%= @external_order.new_record? ? "Nueva #{@external_order.order_type} de establecimiento" : "Editando #{@external_order.order_type} de establecimiento
        código #{@external_order.remit_code}" %>
      </h5>
    </div>
    <%= link_to :back, class: @external_order.new_record? ? 'btn text-white' : 'btn' do %>
      <%= fa_icon "times" %>
    <% end %>
  </div>
  <div class="card-body">
 
      <div class="row">
        <div class="col-6 border-right">
          <%= yield(:form_edit) %>
        </div>

        <%# Last requests %>
        <div class="col-6" id='last-requests'>
          <% if @last_delivers.present? %>
            Últimos despachos de establecimientos
            <table class="table">
              <thead>
                <tr>
                  <th>Fecha</th>
                  <th>Destino</th>
                  <th>Productos</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% @last_delivers.reverse.each do |deliver| %>
                  <tr>
                    <td><%= deliver.created_at.strftime('%d/%m/%y') %></td>
                    <td><%= deliver.applicant_sector_and_establishment %></td>
                    <td><%= deliver.order_products.count %></td>
                    <td>
                      <%= link_to polymorphic_path(['external_orders', deliver.custom_notification_url], id: deliver), target: :_blank, class: 'btn btn-light btn-sm' do %>
                        <%= fa_icon 'external-link-alt' %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% else %>
            Aún no hay despachos realizados
          <% end%>
        </div>
      </div>
  </div>

  <div class="card-footer d-flex justify-content-end">
    <%= yield(:action_buttons) %>
  </div>
</div>