<%= render 'prescriptions/header' %>

<div class="card fixed-custom-card">
  <div class="card-header d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center">
      <%= fa_icon "eye" %>
      <h5 class="card-title mb-0 ml-2">
        Viendo receta crónica
      </h5>
    </div>
    <div>
      <%= link_to chronic_prescriptions_path, class: 'btn',
          :title => 'Cerrar', :'data-placement'=>'top', :'data-toggle'=>'tooltip' do %>
        <%= fa_icon "times" %>
      <% end %>
    </div>
  </div>

  <div class="card-body">
    <div class="row">
      <!-- Professional profile -->
      <div class='col-md-3 col-xs-3'>
        <div class="media">
          <div class="mr-3">
            <%= link_to professional_path(@chronic_prescription.professional), class: "link" do %>
              <%= image_tag professional_avatar(@chronic_prescription.professional, 83), class:"img-thumbnail media-object" %>
            <% end %>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Médico</h4>
            <p>
              <%= link_to professional_path(@chronic_prescription.professional), class: "link" do %>
                <%= @chronic_prescription.professional_fullname %>
              <% end %>
            </p>
            <p><strong>Matrícula: </strong><%= @chronic_prescription.professional_enrollment %></p>
          </div>
        </div> 
      </div><!-- End professional profile -->

      <!-- Patient profile -->
      <div class='col-md-3 col-xs-3'>
        <div class="media">
          <div class="mr-3">
            <%= link_to patient_path(@chronic_prescription.patient), class: "link" do %>
              <%= image_tag patient_avatar(@chronic_prescription.patient, 83, 102), class:"img-thumbnail media-object" %>
            <% end %>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Paciente</h4>
            <p>
              <%= link_to patient_path(@chronic_prescription.patient), class: "link" do %>
                <%= @chronic_prescription.patient_fullname.titleize %>
              <% end %>    
            </p>
            <p><strong>DNI: </strong><%= @chronic_prescription.patient_dni %></p>
            <p><strong>Edad: </strong><%= @chronic_prescription.patient_age_string %></p>
          </div>
        </div>
      </div> <!-- End Patient profile -->

      <!-- Extra info -->
      <div class='col-md-6 col-xs-6'>
        <div class='row'>
          <div class='col-md-3 col-xs-3'>    
            <strong>Recetada:</strong><br>
            <%= @chronic_prescription.date_prescribed.strftime("%d/%m/%Y") %>
          </div>
          <div class='col-md-3 col-xs-3'>
            <strong>Vencimiento:</strong><br>
            <%= @chronic_prescription.expiry_date.strftime("%d/%m/%Y") %>
          </div>
          <div class='col-md-3 col-xs-3'>
            <strong>Código:</strong>
            <%= @chronic_prescription.remit_code %>
          </div>
        </div>
        <hr>
        <strong>Diagnóstico:</strong>
        <%= @chronic_prescription.diagnostic.present? ? @chronic_prescription.diagnostic : 'Sin observaciones' %>
      </div><!-- End extra info -->
    </div>
    <!-- Insumos a dispensar -->
    <div class="card">
      <table class="table table-hover table-sm">
        <thead>
          <tr>
            <th>Cód Ins</th>
            <th>Insumo</th>
            <th>Cantidad mensual</th>
            <th>Observaciones</th>
          </tr>
        </thead>
        <tbody>
          <% @chronic_prescription.original_chronic_prescription_products.each do |org_chron_pres_prod| %>
            <tr>
              <td>
                <%= org_chron_pres_prod.product_code %>
              </td>
              <td>
                <%= org_chron_pres_prod.product_name %>
              </td>
              <td>
                <%= org_chron_pres_prod.request_quantity %> <%= org_chron_pres_prod.unity.pluralize(org_chron_pres_prod.request_quantity) %>
              </td>
              

              <td>
                <button type="button" class="btn btn-primary btn-sm" data-toggle="popover" title="Observaciones" data-placement="left" data-trigger="focus" data-content="<%= org_chron_pres_prod.observation %>">
                  <%= fa_icon "comment-dots", class: "far"%>
                </button>

                <!--button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#collapse-row-<%#= org_chron_pres_prod.id %>" aria-expanded="false" aria-controls="collapse-row-<%#= org_chron_pres_prod.id %>">
                  Observaciones
                  <%#= org_chron_pres_prod.order_prod_lot_stocks.count %>
                </button-->
              </td>
             
            </tr>
            <tr>
              <td colspan="7" class="p-0">
                <div id="collapse-row-<%= org_chron_pres_prod.id %>" class="collapse in">
                  <div class="p-3">
                    <%= org_chron_pres_prod.observation %>
                  </div>
                </div>
              </td>
            </tr> <%# fin Listado de lotes y descripciones %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer text-right">
    <%= link_to 'Volver', chronic_prescriptions_path, class: "btn btn-light mr-1" %>
    <%#= link_to prescription_path(format: 'pdf'), class: 'btn btn-info mr-1', target: :_blank do %>
      <%#= fa_icon "print" %>
      <%# Imprimir %>
    <%# end %>
    <% if policy(@chronic_prescription).return_dispensation? %>
      <button type="button" class="btn btn-warning mr-1" data-toggle="modal" data-target="#return-confirm">
        <%= fa_icon "redo" %>
        Retornar
      </button>
    <% end %>
    <% if policy(@chronic_prescription).edit? %>
      <%= link_to edit_chronic_prescription_path(@chronic_prescription), :"data-turbolinks" => false,
        class: "btn btn-warning mr-1" do %>
        <%= fa_icon "pen" %>
        Editar
      <% end %>
    <% end %>
    
    <%# if policy(@chronic_prescription).dispense? %>
      <%#= link_to dispense_chronic_prescription_path(@chronic_prescription), :"data-turbolinks" => false,
        class: "btn btn-primary" do %>
        <%#= fa_icon "paper-plane" %>
        <!--Dispensar-->
      <%# end %>
    <%# end %>
  </div>
</div>

<% content_for :modal do %>
  <%# Retornar a un estado anterior (solo prescripciones dispensadas)%>
  <% if policy(@chronic_prescription).return_dispensation? %>
    <div class="modal" id="return-confirm">
      <div class="modal-dialog">
        <div class="modal-content panel-warning">
          <div class="modal-header panel-heading">
            <h5 class="m-0"><%= fa_icon "redo" %> Retornar a <%= prev_status = ChronicPrescription.statuses.key(@chronic_prescription.status_before_type_cast - 1).underscore.humanize %></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Seguro que desea retornar la receta ambulatoria actual a <%= prev_status %>?</p>
          </div>
          <div class="modal-footer text-right">
            <a href="#" data-dismiss="modal" class="btn">Cancelar</a>
            <%#= link_to 'Confirmar', return_dispensation_chronic_prescription_path(@chronic_prescription), method: :get, 'data-disable-with' => "Enviando... <i class='fa fa-spinner fa-spin'></i>".html_safe, :class => 'btn btn-warning' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>