<p id="notice"><%= notice %></p>

<h1>Inpatient Prescription Products</h1>

<table>
  <thead>
    <tr>
      <th>Inpatient prescription</th>
      <th>Product</th>
      <th>Dose quantiity</th>
      <th>Interval</th>
      <th>Status</th>
      <th>Observation</th>
      <th>Dispensed by</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inpatient_prescription_products.each do |inpatient_prescription_product| %>
      <tr>
        <td><%= inpatient_prescription_product.inpatient_prescription %></td>
        <td><%= inpatient_prescription_product.product %></td>
        <td><%= inpatient_prescription_product.dose_quantiity %></td>
        <td><%= inpatient_prescription_product.interval %></td>
        <td><%= inpatient_prescription_product.status %></td>
        <td><%= inpatient_prescription_product.observation %></td>
        <td><%= inpatient_prescription_product.dispensed_by %></td>
        <td><%= link_to 'Show', inpatient_prescription_product %></td>
        <td><%= link_to 'Edit', edit_inpatient_prescription_product_path(inpatient_prescription_product) %></td>
        <td><%= link_to 'Destroy', inpatient_prescription_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inpatient Prescription Product', new_inpatient_prescription_product_path %>
