<p id="notice"><%= notice %></p>

<p>
  <strong>Inpatient prescription:</strong>
  <%= @inpatient_prescription_product.inpatient_prescription %>
</p>

<p>
  <strong>Product:</strong>
  <%= @inpatient_prescription_product.product %>
</p>

<p>
  <strong>Dose quantiity:</strong>
  <%= @inpatient_prescription_product.dose_quantiity %>
</p>

<p>
  <strong>Interval:</strong>
  <%= @inpatient_prescription_product.interval %>
</p>

<p>
  <strong>Status:</strong>
  <%= @inpatient_prescription_product.status %>
</p>

<p>
  <strong>Observation:</strong>
  <%= @inpatient_prescription_product.observation %>
</p>

<p>
  <strong>Dispensed by:</strong>
  <%= @inpatient_prescription_product.dispensed_by %>
</p>

<%= link_to 'Edit', edit_inpatient_prescription_product_path(@inpatient_prescription_product) %> |
<%= link_to 'Back', inpatient_prescription_products_path %>
