<%= render 'header' %>

  <div class="card fixed-custom-card">
    <div class="card-header d-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center">
        <%= fa_icon "lock" %>
        <h5 class="card-title mb-0 ml-2">
          Editando permisos
        </h5>
      </div>
      <%= link_to users_admin_index_path, class: 'btn btn-light' do %>
        <%= fa_icon 'times' %>
      <% end %>
    </div>

      
    <div class="card-body">
      <div class="row">
        <div class="col-3 border-right">
          <div class="d-flex">
            <img src="<%= user_avatar(@user, 25) %>" onError='loadImage(event, "<%= image_path('profile-placeholder.jpg') %>")' class="rounded-circle mr-2 user-thumbnail-40" />
            <div>
              <p class="mb-0"><%= @user.full_name %></p>
              <p class="mb-0"><%= @user.profile.dni %></p>
            </div>
          </div>
          <div class="mt-2 d-flex w-100">
            <div id="location_select_container">
              <%= render "permissions/partials/location_select" %>
            </div>

            <div>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#sector-selection" id="open-sectors-select-modal">
                <%= fa_icon 'plus' %>
              </button>
            </div>
          </div>
        </div>
        <div class="col-9">
          <%= simple_form_for 'remote_form', remote: true, url: permissions_users_admin_path(@user), method: 'GET', html: { novalidate: true} do |f| %>
            <div class="input-group mb-2">
              <input class="form-control" placeholder="Módulo" type="text" name="remote_form[search_name]" id="remote_form_search_name">
              <div class="input-group-append">
                <div class="input-group-text" id="btnGroupAddon">
                  <%= fa_icon 'search' %>
                </div>
              </div>                  
            </div>
          <% end %>

          <div id="permissions_list"> 
            <%= render(
              partial: 'permissions/list',
              locals: { permission_modules: @permission_modules }
            ) %>
          </div>
        </div>
      </div>
    </div>
    
    <div class="card-footer d-flex justify-content-end">
      <%= link_to 'Volver', users_admin_index_path, class: 'btn btn-light mr-2' %>
      <button type='submit' name='commit' class='btn btn-success' form='permission_users'>
        <%= fa_icon 'save' %> Guardar
      </button>
    </div> 

  </div>


<% content_for :available_sectors_count do %>
  <%= @user.sectors.count %>
<% end %>

<% content_for :available_sectors do %>
  <%= render "permissions/partials/available_sectors" %>
<% end %>

<% content_for :select_sector do %>
  <%= render "permissions/partials/select_sector" %>
<% end %>

<% content_for :modal do %>
  <%= render "shared/modals/sector_selection" %>
<% end %>

<% content_for :modal do %>
  <%= render(partial: 'shared/modals/delete_confirmation') %>
<%end%>