<div class="panel panel-info" id="filter-panel">
  <div class="panel-leftheading">
    <%= content_tag(:span, '', class: 'glyphicon glyphicon-filter gi-2x') %>
  </div>
  <div class="panel-rightbody">
    <%= form_for_filterrific @filterrific do |f| %>
      <div class="col-md-3 col-sm-3">
        <label>Buscar</label>
        <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
        <%= f.text_field(
          :search_text,
          class: 'filterrific-periodically-observed form-control',
          placeholder: 'Nombre o área'
        ) %>
      </div>
      <div class="col-md-2 col-sm-2">
        <label>Buscar</label>
        <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
        <%= f.text_field(
          :with_code,
          class: 'filterrific-periodically-observed form-control',
          placeholder: 'Código'
        ) %>
      </div>
      <div class="col-md-2 col-sm-2">
        <label>Ordenar por</label>
        <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by],{}, {class: 'form-control'}) %>
      </div>
      <div class="col-md-4 col-sm-4">
      </div>
      <%= link_to reset_filterrific_url, class: "btn btn-sm pull-right" do %>
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-refresh') %>
      <% end %>
      <%# add an automated spinner to your form when the list is refreshed %>
      <%= render_filterrific_spinner %>
    <% end %>
  </div>
  <div class="clearfix">
  </div>
</div>
