<%= form_with(model: supply, local: true) do |form| %>
  <% if supply.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(supply.errors.count, "error") %> prohibited this supply from being saved:</h2>

      <ul>
      <% supply.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity, id: :supply_quantity %>
  </div>

  <div class="field">
    <%= form.label :expiry_date %>
    <%= form.datetime_select :expiry_date, id: :supply_expiry_date %>
  </div>

  <div class="field">
    <%= form.label :date_received %>
    <%= form.datetime_select :date_received, id: :supply_date_received %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
