<% content_for :page_header do %>
  <li class="nav-item non-sel">
    <%= link_to supplies_path, class: "nav-link #{ active_action('index') }" do %>
      <%= fa_icon "pills" %>
      Productos
    <% end %>
  </li>
  <% if policy(Supply).new? %>
    <li class="nav-item non-sel">
      <%= link_to new_supply_path, class: "nav-link #{ active_action('new') }" do %>
        <%= fa_icon "plus" %>
        Agregar producto
      <% end %>
    </li>
  <% end %>
  <% if policy(Supply).trash_index? %>
    <li class="nav-item col-md-offset-5 non-sel">
      <%= link_to trash_index_supplies_path, class: "nav-link #{ active_action('trash_index') }" do %>
        <%= fa_icon "trash" %>
        Papelera
      <% end %>
    </li>
  <% end %>
<% end %>