<div id="filterrific_results">
  <div class="card fixed-panel-list">
    <table class="table table-hover table-striped table-sm">
      <thead>
        <tr>
          <th><%= filterrific_sorting_link(@filterrific, :codigo) %></th>
          <th><%= filterrific_sorting_link(@filterrific, :nombre) %></th>
          <th>Rubro</th>
          <th><%= filterrific_sorting_link(@filterrific, :unidad) %></th>
          <th>Vence?</th>
          <th class="text-center">Acciones</th>
        </tr>
      </thead>
      <tbody id="supplies">
        <%= render @supplies %>
      </tbody>
    </table>
  </div>
  <div class="d-flex align-items-center justify-content-center" style="height: 50px">
    <%= will_paginate @supplies, list_classes: %w(pagination mb-0), renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>
</div>
