<tr id="supply_<%= supply.id %>">
  <div class="js-fade fade-in is-paused">
      <% if params[:controller] == 'sector_supply_lots' %>
        <td><%= supply.id %></td>
        <td><%= supply.name %></td>
        <% @lots = SectorSupplyLot.where(sector_id: current_user.sector_id).without_status(4).with_supply(supply) %>
        <td><%= @lots.sum(:quantity) %></td>
        <td><%= @lots.count %></td>
        <td><%= supply.supply_area.name %></td>
        <td class="text-left actions-col">
          <% if policy(supply).lots_for_supply? %>
            <%= link_to lots_for_supply_sector_supply_lot_path(supply), class: 'btn btn-secondary btn-sm',
              title: 'Ver detalles', data: { toggle: 'tooltip', placement: 'top' } do %>
              <%= fa_icon "eye" %>
            <% end %>
          <% end %>
        </td>
      <% else %>
        <td><%= supply.id %></td>
        <td><%= supply.name %></td>
        <td><%= supply.supply_area.name %></td>
        <td><%= supply.unity %></td>
        <td><%= supply.needs_expiration? ? "Si" : "No" %></td>
        <td class="text-left actions-col">
        <% if policy(supply).show? %>
          <%= link_to supply_path(supply), class: 'btn btn-secondary btn-sm',
            title: 'Ver detalles', data: { toggle: 'tooltip', placement: 'top' } do %>
            <%= fa_icon "eye" %>
          <% end %>
        <% end %>
        <% if current_page?(controller: 'supplies', action: 'trash_index') %>
          <% if policy(supply).restore? %>
            <%= link_to restore_confirm_supply_path(supply), remote: true,
              class: 'btn btn-primary btn-sm', title: 'Restaurar', data: { toggle: 'tooltip', placement: 'top' } do %>
              <%= fa_icon "trash-restore" %>
            <% end %>
          <% end %>
        <% else %>
          <% if policy(supply).edit? %>
            <%= link_to edit_supply_path(supply), class: 'btn btn-warning btn-sm',
              title: 'Editar', data: { toggle: 'tooltip', placement: 'top' } do %>
              <%= fa_icon "pen" %>
            <% end %>
          <% end %>
          <% if policy(supply).delete? %>
            <%= link_to delete_supply_path(supply), remote: true,
              class: 'btn btn-danger btn-sm', title: 'Borrar', data: { toggle: 'tooltip', placement: 'top' } do %>
              <%= fa_icon "trash" %>
            <% end %>
          <% end %>
        <% end %>
      </td>
    <% end %>
  </div>
</tr>
