  <tr id="supply_<%= supply.id %>">
    <div class="js-fade fade-in is-paused">
    <td><%= supply.id %></td>
    <td><%= supply.name %></td>
    <td><%= supply.unity %></td>
    <td><%= supply.supply_area.name %></td>
    <td><%= supply.needs_expiration? ? "Si" : "No" %></td>
    <td>
      <% if policy(supply).show? %>
        <%= link_to supply_path(supply), remote:true, class: 'btn btn-default btn-xs',
              title: 'Ver detalles', data: { toggle: 'tooltip', placement: 'top' } do %>
          <%= content_tag(:span, '', class: 'glyphicon glyphicon-eye-open') %>
        <% end %>
      <% end %>
      <% if current_page?(controller: 'supplies', action: 'trash_index') %>
        <% if policy(supply).restore? %>
          <%= link_to restore_confirm_supply_path(supply), remote: true,
                class: 'btn btn-primary btn-xs', title: 'Restaurar', data: { toggle: 'tooltip', placement: 'top' } do %>
            <%= content_tag(:span, '', class: 'glyphicon glyphicon-repeat') %>
          <% end %>
        <% end %>
      <% else %>
        <% if policy(supply).edit? %>
          <%= link_to edit_supply_path(supply), remote: true, class: 'btn btn-warning btn-xs',
                title: 'Editar', data: { toggle: 'tooltip', placement: 'top' } do %>
            <%= content_tag(:span, '', class: 'glyphicon glyphicon-edit') %>
          <% end %>
        <% end %>
        <% if policy(supply).delete? %>
          <%= link_to delete_supply_path(supply), remote: true,
                class: 'btn btn-danger btn-xs', title: 'Borrar', data: { toggle: 'tooltip', placement: 'top' } do %>
            <%= content_tag(:span, '', class: 'glyphicon glyphicon-trash') %>
          <% end %>
        <% end %>
      <% end %>
    </td>
  </div>
  </tr>
