<% content_for :page_header do %>
  <h3>Insumos
  <% if policy(Supply).new? %>
    <%= link_to new_supply_path, remote: true, class: 'btn btn-primary btn-sm' do %>
      <%= content_tag(:span, '', class: 'glyphicon glyphicon-plus') %>
      Nuevo
    <% end %>
  <% end %>
  <%= button_tag(class: "btn btn-info btn-sm", 'data-toggle' => 'collapse', 'data-target' => '#filter') do %>
    <%= content_tag(:span, '', class: 'glyphicon glyphicon-filter') %>
    Filtrar
  <% end %>
  </h3>
<% end %>

<%= render "filter" %>

<%= render(
  partial: 'supplies/list',
  locals: { supplies: @supplies }
) %>
