<%= render 'header' %>

<div class="col-7 mx-auto">
  <div class="card">
    <div class="card-header bg-primary text-white">
      <h5 class="card-title mb-0">
        <%= fa_icon "plus" %> Nuevo producto
        <%= link_to :back, class: 'btn float-right text-white p-0' do %>
          <%= fa_icon "times" %>
        <% end %>
      </h5>
    </div>
    <div class="card-body" id="panel-body-new">
      <%= render 'form', supply: @supply %>
    </div>
    <div class="card-footer text-right">
      <%= link_to 'Volver', supplies_path, class: 'btn btn-light mr-1' %>
      <button type='submit' name='commit' class='btn btn-primary' form='new_supply'>
        <%= fa_icon "plus" %> Crear
      </button>
    </div>
  </div>
</div>