<%= render 'header' %>

<div class="col-7 mx-auto">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title mb-0">
        <%= fa_icon "eye" %> Viendo insumo
        <%= link_to supplies_path, class: 'btn float-right p-0',
          :title => 'Cerrar', :'data-placement'=>'top', :'data-toggle'=>'tooltip' do %>
          <%= fa_icon "times" %>
        <% end %>
      </h5>
    </div>
    <div class="card-body" id="panel-body-new"> 
      <p class="border-bottom mt-2">
        <strong>C贸digo: </strong><%= @supply.id%>
      </p>
      <p class="border-bottom mt-2">
        <strong>Insumo: </strong><%= @supply.name %>
      </p>

      <p class="border-bottom mt-2">
        <strong>Estado: </strong>
        <span class='label label-<%= @supply.is_active? ? "success" : "danger" %>'>
          <%= @supply.is_active? ? "Activo" : "Inactivo" %>
        </span>
      </p>

      <p class="border-bottom mt-2">
        <strong>Unidad: </strong><%= @supply.unity %>
      </p>

      <p class="border-bottom mt-2">
        <strong>Rubro: </strong><%= @supply.supply_area.name %>
      </p>

      <p class="border-bottom mt-2">
        <strong>Descripci贸n: </strong>
        <%= @supply.description.present? ? @supply.description : "----" %>
      </p>

      <p class="border-bottom mt-2">
        <strong>Observaci贸n: </strong>
        <%= @supply.observation.present? ? @supply.observation : "----" %>
      </p>

      <p class="border-bottom mt-2">
        <strong>Expira?: </strong>
        <%= @supply.needs_expiration? ? "Si" : "No" %>
      </p>
    </div>

    <!-- Botones de acci贸n footer -->
    <div class="card-footer text-right">
      <%= link_to 'Volver', supplies_path, class: "btn btn-light" %>
    </div>
  </div>
</div>