<%= render 'header' %>

<div class="card fixed-custom-card">
  <div class="card-header d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center">
      <%= fa_icon "eye" %>
      <h5 class="card-title mb-0 ml-2">
        Viendo producto
      </h5>
    </div>
    <%= link_to supplies_path, class: 'btn pull-right close-btn' do %>
      <%= fa_icon 'times-circle' %>
    <% end %>
  </div>


     <div class="card-body">
      <p class="border-bottom mt-2">
        <strong>Código: </strong><%= @supply.id%>
      </p>
      <p class="border-bottom mt-2">
        <strong>Insumo: </strong><%= @supply.name %>
      </p>

      <p class="border-bottom mt-2">
        <strong>Estado: </strong>
        <span class='label label-<%= @supply.is_active? ? "success" : "danger" %>'>
          <%= @supply.is_active? ? "Activo" : "Inactivo" %>
        </span>
      </p>

      <p class="border-bottom mt-2">
        <strong>Unidad: </strong><%= @supply.unity %>
      </p>

      <p class="border-bottom mt-2">
        <strong>Rubro: </strong><%= @supply.supply_area.name %>
      </p>

      <p class="border-bottom mt-2">
        <strong>Descripción: </strong>
        <%= @supply.description.present? ? @supply.description : "----" %>
      </p>

      <p class="border-bottom mt-2">
        <strong>Observación: </strong>
        <%= @supply.observation.present? ? @supply.observation : "----" %>
      </p>

      <p class="border-bottom mt-2">
        <strong>Expira?: </strong>
        <%= @supply.needs_expiration? ? "Si" : "No" %>
      </p>
    </div>

  <div class="card-footer d-flex justify-content-end">
    <%= link_to 'Volver', supplies_path, class: "btn mr-2" %>
    <% if policy(@supply).edit? %>
      <%= link_to edit_supply_path(@supply), :"data-turbolinks" => false, class: "btn btn-warning" do %>
        <%= fa_icon "pen" %>
        Editar
      <% end %>
    <% end %>
  </div>
</div>
