<div class="card fixed-custom-card">
  <div class="card-header <%= order.new_record? ? 'bg-primary text-white' : 'bg-warning' %> d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center ml-2">
      <%= fa_icon "edit" %>
      <h5 class="card-title mb-0 ml-2">
        Editando productos <%= order.order_type %> de sector código <%= order.remit_code %>
      </h5>
    </div>
    <%= link_to :back, class: order.new_record? ? 'btn text-white' : 'btn' do %>
      <%= fa_icon "times" %>
    <% end %>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <%# SECTOR SOLICITANTE %>
        Sector solicitante
        <%= order.applicant_sector.name %>
      </div>
      <div class='col-md-4'>
        <%# SECTOR PROVEEDOR %>
        Sector proveedor
        <%= order.provider_sector.name %>
      </div>
      <div class='col-md-4'>
        Observaciones
        <%= order.observation %>
      </div>
    </div>
    
    <%# INSUMOS SOLICITADOS %>
    <%= render "shared/orders/applicant/table", order: order, order_product: order_product %>

    <input name="commit" id="submit-type" type="hidden">
  </div>

  <div class="card-footer d-flex justify-content-end">
    <%= link_to 'Volver', external_orders_applicants_path, class: 'btn btn-light mr-2' %>

    <button class='btn btn-primary mr-2 send-order' 
            type="button" 
            data-url="<%= dispatch_order_internal_orders_applicant_path(order) %>"
            data-title="Enviando solicitud de sector"
            data-body="Hay productos que no han sido guardados aún">
      
      <div class="c-msg" style="pointer-events: none;">
        <%= fa_icon "paper-plane" %> Enviar
      </div>
      
      <div class="d-none" style="pointer-events: none;">
        <%= fa_icon "spinner", class: "fa-spin send-audit" %>
        Guardando...
      </div>

    </button>
  </div>
</div>


<% content_for :modal do %>
  <%= render(partial: 'shared/modals/send_unsaved_confirmation') %>
<% end %>