
<div class="card fixed-custom-card">
  <div class="card-header <%= @inpatient_prescription.new_record? ? 'bg-primary text-white' : 'bg-warning' %> d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center ml-2">
      <%= fa_icon (@inpatient_prescription.new_record? ?  "plus" : "pen")%>
      <h5 class="card-title mb-0 ml-2">
        <%= @inpatient_prescription.new_record? ? 'Agregar receta internación' : 'Editando receta internación' %>
      </h5>
    </div>
    <%= link_to :back, class: @inpatient_prescription.new_record? ? 'btn text-white' : 'btn' do %>
      <%= fa_icon "times" %>
    <% end %>
  </div>
  

  <div class="card-body">
    <%= simple_form_for @inpatient_prescription, html: { role: 'check-modified'} do |inpatient_form| %>
      <%= inpatient_form.error_notification %>
        <div class="row">
          <div class="col-3 border-right">
            <%# Selector de paciente %>
            <%= inpatient_form.input :patient_id, label: 'Paciente', include_blank: false,
              collection: @inpatients.map {|inpatient|  [inpatient.fullname.humanize, inpatient.id ]},
              :input_html => {
                required: true,
                include_blank: false,
                title: 'Seleccionar paciente',
                class: 'selectpicker-md custom-select-pick',
                "data-width"=>"100%",
                "data-size"=>"10",
              }
            %>

          </div>
          <div class="col-3 border-right">              
            <%# Medico %>
            <div>
              <%# if !policy(@inpatient_prescription).edit_dispense? %>
                <%= inpatient_form.label :professional_id do %>
                  Médico
                  <%= link_to new_professional_path, class: "btn btn-primary btn-sm", remote: 'true',
                    title: 'Nuevo médico', tabindex: "-1", data: { toggle: 'tooltip', placement: 'top' } do %>
                    <%= fa_icon "plus" %>
                  <% end %>
                <% end %>
                <div class="custom-input-group">
                  <%= inpatient_form.input :professional, as: :string,
                    label: false,
                    placeholder: 'Matrícula | Apellido | Nombre',
                    required: true,
                    autocomplete: false,
                    :input_html => {
                      id: "professional",
                      data: { autocomplete_source: get_by_enrollment_and_fullname_professionals_path },
                      value: "#{ if inpatient_form.object.professional.present?; inpatient_form.object.professional.full_info; end }",
                      size: 30
                    }
                  %>
                  <%= inpatient_form.hidden_field :professional_id, id: "professional_id", value: "#{if inpatient_form.object.professional.present?; inpatient_form.object.professional.id; end }" %>
                  <div class="with-loading">
                    <%= fa_icon 'spinner', class: "fa-spin"%>
                  </div>
                </div>
              <%# else %>
                <!--label for="professional_fake">
                  Médico
                </label>
                <div class="form-group">
                  <input class="form-control" name="professional_fake" value="<%#= inpatient_form.object.professional.full_info %>" readonly="'readonly'">
                </div-->
              <%# end %>
            </div>
            
          </div>
          <div class="col-6">
            <%= inpatient_form.input :date_prescribed, label: 'Fecha recetada',
                  as: :string,
                  :placeholder => "Seleccionar fecha",
                  input_html: {
                    tabindex: "-1",
                    class: "form-control pull-right datepicker prescribed-date",
                    required: true,
                    autocomplete: 'off',
                    value: "#{if inpatient_form.object.date_prescribed.present?; inpatient_form.object.date_prescribed.strftime("%d/%m/%Y"); end}"
                  },
              html5: false %>

            <%= inpatient_form.input :observation, label: 'Observaciones', as: :text, :input_html => { :cols => 30  , :rows => 1 } %>
          </div>
        </div><!-- /.row-->

      <%# carga de productos originales %>
      <%= render 'inpatient_prescriptions/partials/inpatient_prescription_products_table', inpatient_form: inpatient_form %>
        
      <input name="commit" id="submit-type" type="hidden">
    <% end %> <%# fin formulario %>

  </div><!-- /fin .card-body -->
  
  <div class="card-footer d-flex justify-content-end">
    <%= link_to 'Volver', :back, class: 'btn mr-1' %>
  
    <button type='submit' class='btn btn-success mr-2' form="<%= @inpatient_prescription.new_record? ? 'new_inpatient_prescription' : 'edit_inpatient_prescription_' + @inpatient_prescription.id.to_s %>" data-value='audit'>
      
      <div class="c-msg" style="pointer-events: none;">
        <%= fa_icon "save" %> Guardar 
      </div>
      
      <div class="d-none" style="pointer-events: none;">
        Guardando...
        <%= fa_icon "spinner", class: "fa-spin send-audit" %>
      </div>

    </button>

    <button type='submit' class='btn btn-primary' form="<%= @inpatient_prescription.new_record? ? 'new_inpatient_prescription' : 'edit_inpatient_prescription_' + @inpatient_prescription.id.to_s %>" data-value='dispensing'>
      <div class="c-msg" style="pointer-events: none;">
        <%= fa_icon "paper-plane" %> Guardar y dispensar
      </div>
      <div class="d-none" style="pointer-events: none;">
        Guardando...
        <%= fa_icon "spinner", class: "fa-spin send-audit" %>
      </div>
    </button>
  </div>
</div>

 