<tr id="inpatient_prescription_<%= inpatient_prescription.id %>">
  <td><%= inpatient_prescription.remit_code %></th>
  <% if active_action('index') %>
    <td class="pres-col-pat"><%= inpatient_prescription.patient.full_info %></td>
  <% end %>
  <td>
    <span class="badge badge-<%#= inpatient_prescription_status_label(inpatient_prescription) %>">
      <%= inpatient_prescription.status.underscore.humanize %>
    </span>
  </td>
  <td>
    <%= inpatient_prescription.order_products.count %>
  </td>
  <td>
    <%= inpatient_prescription.movements.count %>
  </td>
  <td>
    <% if inpatient_prescription.date_prescribed.present? %>
      <%= inpatient_prescription.date_prescribed.strftime("%d/%m/%Y") %>
    <% else %>
      ------
    <% end %>
  </td>
  <td class="text-left actions-col">
    <div class="d-flex">
      <% if policy(inpatient_prescription).set_products? %>
        <%= link_to set_products_inpatient_prescriptions_path(inpatient_prescription),
          class: 'btn btn-sm btn-primary mr-1 ml-1',
          title: t("actions.tooltip.set_products"),
          target: (dispense_target if defined?(dispense_target)),
          data: { toggle: 'tooltip', placement: 'top'} do %>
          <%= fa_icon "file-signature" %>
        <% end %>
      <% end %>
      
      <% if policy(inpatient_prescription).delivery? %>
        <%= link_to delivery_inpatient_prescriptions_path(inpatient_prescription),
          class: 'btn btn-sm btn-primary mr-1 ml-1',
          title: t("actions.tooltip.delivery"),
          target: (dispense_target if defined?(dispense_target)),
          data: { toggle: 'tooltip', placement: 'top'} do %> 
          <%= fa_icon "paper-plane"%>
        <% end %>
      <% end %>

      <%= render(
        partial: 'shared/action_buttons',
        locals:{ 
            object: inpatient_prescription, 
            show: {visible: true, target: (show_target if defined?(show_target) )},
            edit: {visible: true, target: (edit_target if defined?(edit_target) )},
            destroy: {
              visible: true, 
              title: "Eliminar prescripción",
              body: "Esta seguro que desea eliminar la prescripción de #{ inpatient_prescription.prescribed_by.professional.full_name }?",
              path: "/internacion/#{inpatient_prescription.id}"
            }
        }
      ) 
      %>
     
    </div>
  </td>
</tr>
