<%= render 'header' %>

<div class="card fixed-custom-card">
  <div class="card-header d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center">
      <%= fa_icon "eye" %>
      <h5 class="card-title mb-0 ml-2">
        Viendo receta de internación
        <span class="badge badge-<%= inpatient_prescription_status_label(@inpatient_prescription) %>">
          <%= InpatientPrescription.human_enum_name(:status, @inpatient_prescription.status) %>
        </span>
      </h5>
    </div>
    <div>
      <%= link_to inpatient_prescriptions_path, class: 'btn',
          :title => 'Cerrar', :'data-placement'=>'top', :'data-toggle'=>'tooltip' do %>
        <%= fa_icon "times" %>
      <% end %>
    </div>
  </div>

  <div class="card-body">
    <div class="row">
      <!-- Patient profile -->
      <div class='col-md-3 col-xs-3'>
        <div class="media">
          <div class="mr-3">
            <%= link_to patient_path(@inpatient_prescription.patient), class: "link" do %>
              <%= image_tag patient_avatar(@inpatient_prescription.patient, 83, 102), size: '83x102', class:"img-thumbnail media-object" %>
            <% end %>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Paciente</h4>
            <p>
              <%= link_to patient_path(@inpatient_prescription.patient), class: "link" do %>
                <%= @inpatient_prescription.patient_fullname.titleize %>
              <% end %>    
            </p>
            <p><strong>DNI: </strong><%= @inpatient_prescription.patient_dni %></p>
            <p><strong>Edad: </strong><%= @inpatient_prescription.patient_age_string %></p>
          </div>
        </div>
      </div> <!-- End Patient profile -->

      <!-- Habiación / Cama -->
      <div class='col-md-3 col-xs-3'>
        <div class="media">
          <div class="mr-3">
            <%= link_to inpatient_prescription_bed_path(@inpatient_prescription, @inpatient_prescription.patient.bed.id), class: "link" do %>
              <%= fa_icon 'bed', class: "fa-5x"%>
            <% end %>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Habitación <%= @inpatient_prescription.bedroom_name %></h4>
            <p>
              <%= link_to inpatient_prescription_bed_path(@inpatient_prescription, @inpatient_prescription.bed_id), class: "link" do %>
                Cama <%= @inpatient_prescription.bed_name %>
              <% end %>
            </p>
            <p><strong>Servicio: </strong><%= @inpatient_prescription.service_name %></p>
          </div>
        </div>
      </div> <!-- End habitacion / cama -->

      <!-- Extra info -->
      <div class='col-md-6 col-xs-6'>
        <div class='row'>
          <div class='col-3 col-xs-3'>    
            <strong>Recetada:</strong><br>
            <%= @inpatient_prescription.date_prescribed.strftime("%d/%m/%Y") %>
          </div>
          <div class='col-3 col-xs-3'>
            <strong>Código:</strong>
            <%= @inpatient_prescription.remit_code %>
          </div>
        </div>
        <hr>
        <div class='row'>
          <div class="col-12">
            <strong>Observaciones:</strong>
            <%= @inpatient_prescription.observation.present? ? @inpatient_prescription.observation : 'Ninguno' %>
          </div>
        </div>
      </div><!-- End extra info -->
    </div>

    <!-- Tabs -->
    <div class="row mt-3">
      <div class="col-12">
        <ul class='nav nav-tabs nav-justified'>
          <li class='nav-item'>
            <a class="nav-link active" data-toggle='tab' href='#supplies' role="tab">
              <%= fa_icon "cubes" %> Productos recetados
              <span class="badge badge-secondary"><%= @inpatient_prescription.parent_order_products.count %></span>
            </a>
          </li>
          <li class="nav-item">
          <%# para mostrar las dispensaciones habria que agrupar por medico / fecha entregada %>
            <a class="nav-link <%#= @inpatient_prescription.chronic_dispensations.count == 0 ? 'disabled' : '' %>" data-toggle='tab' href='#dispensations' role="tab">
              <%= fa_icon "paper-plane" %> Entregas
              <span class="badge badge-secondary"><%#= @inpatient_prescription.chronic_dispensations.count %></span>
            </a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link <%= @inpatient_prescription.movements.count == 0 ? 'disabled' : '' %>" data-toggle='tab' href='#last-movements' role="tab">
              <%= fa_icon "exchange-alt" %> Movimientos
              <span class="badge badge-secondary"><%= @inpatient_prescription.movements.count %></span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="tab-content mt-2">
      <div id='supplies' class='tab-pane fade show active'>
        <!-- Productos a dispensar -->
        <div class="card">
          <table class="table table-hover table-sm mb-0">
            <thead class="thead-light">
              <tr>
                <th>Recetado por</th>
                <th>Cód Ins</th>
                <th>Insumo</th>
                <th>Dosis</th>
                <th>Intervalo</th>
                <th width="200">Total dosis</th>
                <th>Observaciones</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @inpatient_prescription.parent_order_products.each do |parent_pres_prod| %>
                <tr id="parent_product_<%= parent_pres_prod.id %>">
                  <% @stock = Stock.where(sector: current_user.sector, product: parent_pres_prod.product).first %>
                  <td>
                    <% if parent_pres_prod.prescribed_by.present? %>
                      <span>
                        <%= image_tag user_avatar(parent_pres_prod.prescribed_by, 25), size: '25', class:"rounded" %>
                      </span>
                    <% end %>                            
                    <%= parent_pres_prod.prescribed_by.full_name %>
                  </td>
                  <td class="text-secondary">
                    <% if @stock.present? %>
                      <%= link_to stock_path(@stock), class: 'btn btn-link text-dark text-left p-0', target: :_blank do %>
                        <%= parent_pres_prod.product_code %>
                      <% end %>
                    <% else %>
                      <%= parent_pres_prod.product_code %>
                    <% end %>
                  </td>
                  <td class="text-secondary">
                    <% if @stock.present? %>
                      <%= link_to stock_path(@stock), class: 'btn btn-link text-dark text-left p-0', target: :_blank do %>
                        <%= parent_pres_prod.product_name %>
                      <% end %>
                    <% else %>
                      <%= parent_pres_prod.product_name %>
                    <% end %>
                  </td>
                  <td>
                    <%= parent_pres_prod.dose_quantity %> <%= parent_pres_prod.product_unity_name.pluralize(parent_pres_prod.dose_quantity) %>
                  </td>
                  <td>
                    <%= parent_pres_prod.interval %>
                  </td>
                  <td>
                    <%= parent_pres_prod.total_dose %> <%= parent_pres_prod.product_unity_name.pluralize(parent_pres_prod.total_dose) %>
                  </td>
                  
                  <td>
                    <div class="<%= parent_pres_prod.observation.present? ? 'toggle-popover' : '' %>" data-trigger="hover" data-content="<%= parent_pres_prod.observation.presence %>">
                      <div class="text-truncate"  style="max-width: 13.66rem;">
                        <%= parent_pres_prod.observation.presence || '---' %>
                      </div>
                    </div>
                  </td>
                  <td>
                    <%# if parent_pres_prod.terminado_manual? %>
                      <!-- a tabindex="0" class="btn btn-sm btn-light" role="button" data-toggle="popover" data-trigger="hover" \
                        title="Terminado por <%#= parent_pres_prod.finished_by_professional.fullname %>" \ 
                        data-content="<%#= parent_pres_prod.finished_observation %>" -->
                        <%#= fa_icon 'check' %>
                        <%#= fa_icon 'user-md' %>
                      <!--/a-->
                    <%# end %>
                    <!-- FINISH TREATMENT ACTION -->
                    <%# if policy(parent_pres_prod).finish_treatment? %>
                      <%#= link_to finish_treatment_inpatient_prescription_path(id: @inpatient_prescription.id, original_product_id: parent_pres_prod.id), 
                        class: 'btn btn-sm btn-warning', remote: true, data: { toggle: 'tooltip', placement: 'top'}, title: 'Terminar tratamiento' do %>
                        <%#= fa_icon 'check' %>
                      <%# end %>
                    <%# end %>
                  </td>
                
                </tr>
                <tr>
                  <td colspan="7" class="p-0">
                    <div id="collapse-row-<%= parent_pres_prod.id %>" class="collapse in">
                      <div class="p-3">
                        <%= parent_pres_prod.observation %>
                      </div>
                    </div>
                  </td>
                </tr>
                <%# fin Listado de lotes y descripciones %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

      <div id='dispensations' class='tab-pane fade'>
        <!-- Tabla de dispensaciones -->
        <div class="row">
          <div class="col-12">
            <div class="card table-sm tab-content" id="nav-tabContent">
              <table class="table mb-0 custom-table-products-collapsable">
                <thead class="thead-light">
                  <tr>
                    <th>Entregado por</th>
                    <th>Cód Ins</th>
                    <th>Insumo</th>
                    <th>Unidad</th>
                    <th>Entregado</th>
                    <th class="observations-col">Observaciones</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% @inpatient_prescription.parent_order_products.for_statuses(:provista).each do |parent_product| %>
                    <% parent_product.children.order("created_at desc").each_with_index do |child_product, index| %>
                      <tr class="toggle-collapse-row" data-target="#collapse-row-<%= child_product.id %>">
                        <td class="org-product">
                          <% if child_product.parent.delivered_by.present? %>
                            <span>
                              <%= image_tag user_avatar(child_product.parent.delivered_by, 25), size: '25', class:"rounded" %>
                            </span>
                            <%=child_product.parent.delivered_by.full_name %>
                          <% end %>                            
                        </td>
                        <td class="org-product"><%= child_product.product_code %></td>
                        <td class="org-product"><%= child_product.product_name %></td>
                        <td class="org-product"><%= child_product.product_unity_name %></td>
                        <td class="org-product">
                          <%= child_product.deliver_quantity %> <%= child_product.product_unity_name.pluralize(child_product.deliver_quantity) %>
                        </td> 
                        <td class="org-product observations-col">
                          <%= child_product.observation %>
                        </td>
                        <td class="org-product">
                          <div class="fa-icon-container">
                            <%= fa_icon 'angle-right'%>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="7" align="right" class="p-0">
                          <div id="collapse-row-<%= child_product.id %>" class="products-collapse collapse in">
                            <table class="w-75 table-borderless">
                              <tbody>
                                <% child_product.order_prod_lot_stocks.order("created_at desc").each_with_index do |ord_prod_lot_stock, index| %>
                                  <tr>
                                    <td><%= ord_prod_lot_stock.available_quantity %> <%= ord_prod_lot_stock.product.unity.name.pluralize(ord_prod_lot_stock.available_quantity) %>
                                    </td> 
                                    <td><%= ord_prod_lot_stock.lot_stock.lot.code %></td>
                                    <td><%= ord_prod_lot_stock.lot_stock.lot.laboratory.name %></td>
                                    <td><%= ord_prod_lot_stock.lot_stock.lot.expiry_date.strftime("%d/%m/%Y") %></td>
                                  </tr>
                                <% end %>
                              </tbody>
                            </table>
                          </div>
                        </td>
                      </tr>
                    <% end %>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>        
      </div> <!-- End last movements tab pane -->
      
      <div id='last-movements' class='tab-pane fade'>
        <!-- Tabla de movimientos -->
        <%= render '/shared/movements_table', order: @inpatient_prescription %>
      </div> <!-- End last movements tab pane -->

    </div>
  </div>
  <div class="card-footer text-right">
    <%= link_to 'Volver', inpatient_prescriptions_path, class: "btn btn-light mr-1" %>

    <% if policy(@inpatient_prescription).edit? %>
      <%= link_to edit_inpatient_prescription_path(@inpatient_prescription), :"data-turbolinks" => false,
        class: "btn btn-warning mr-1" do %>
        <%= fa_icon "pen" %>
        Editar
      <% end %>
    <% end %>

    <% if policy(@inpatient_prescription).set_products? %>
      <%= link_to set_products_inpatient_prescriptions_path(@inpatient_prescription),
        class: 'btn btn-sm btn-primary mr-1 ml-1'  do %>
        <%= fa_icon "file-signature" %> Agregar productos
      <% end %>
    <% end %>
    
    <% if policy(@inpatient_prescription).delivery? %>
      <%= link_to delivery_inpatient_prescriptions_path(@inpatient_prescription),
        class: 'btn btn-sm btn-primary mr-1 ml-1' do %> 
        <%= fa_icon "paper-plane"%> Entregar productos
      <% end %>
    <% end %>
  </div>
</div>
