<% content_for :page_header do %>
  <li class="nav-item <%= active_action('index') %> non-sel">
    <%= link_to patients_path, class: 'nav-link' do %>
      <%= fa_icon "user-injured" %>
      Médicos
    <% end %>
  </li>
  <li class="nav-item <%= active_action('new') %> non-sel">
    <%= link_to new_patient_path, class: 'nav-link' do %>
      <%= fa_icon "plus" %>
      Agregar médico
    <% end %>
  </li>
<% end %>