<div id="filterrific_results">
  <div class="panel panel-default">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th><%= filterrific_sorting_link(@filterrific, :nombre) %></th>
          <th><%= filterrific_sorting_link(@filterrific, :apellido) %></th>
          <th><%= filterrific_sorting_link(@filterrific, :dni) %></th>
          <th><%= filterrific_sorting_link(@filterrific, :fecha_nacimiento) %></th>
          <th>Crónico</th>
          <th colspan="3">Acciones</th>
        </tr>
      </thead>
      <tbody id=patients>
        <%= render @patients %>
      </tbody>
    </table>
  </div>
  <div id="page_links">
    <%= paginate @patient %>
  </div>
</div>
