<tr id="patient_<%= patient.id %>">
  <div class="js-fade fade-in is-paused">
    <td><%= patient.dni %></td>
    <td><strong><%= patient.last_name %></strong>, <%= patient.first_name %></td>
    <td>
      <span class="label label-<%= patient.Temporal? ? "warning" : "success"%>">
        <%= patient.status %>
      </span>
    </td>
    <td>
      <%= patient.patient_type_name %>
    </td>
    <td><%= patient.age_string %></td>
    <td><%= patient.sex.humanize %></td>
    <td><%= patient.outpatient_prescriptions.count %></td>
    <td><%= patient.chronic_prescriptions.count %></td>
    <td class="text-left actions-col">
      <%= render(
        partial: 'shared/action_buttons',
        locals:{ 
            object: patient, 
            show: {visible: true},
            edit: {visible: true},
            destroy: {
              visible: true, 
              title: "Eliminar paciente",
              body: "Esta seguro que desea eliminar al paciente #{ patient.fullname }?",
              path: "/pacientes/#{patient.id}"
            }
        }
      ) 
      %>

    </td>
  </div>
</tr>
