  <tr id="patient_<%= patient.id %>">
    <div class="js-fade fade-in is-paused">
    <td><%= patient.first_name %></td>
    <td><%= patient.last_name %></td>
    <td><%= patient.dni %></td>
    <td><%= patient.birthdate.strftime("%d/%m/%Y") %></td>
    <td><%= patient.is_chronic? ? "Si" : "No" %></td>
    <td>
      <%= link_to patient_path(patient), remote:true, class: 'btn btn-default btn-xs',
            title: 'Ver detalles', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-eye-open') %>
      <% end %>
      <%= link_to edit_patient_path(patient), remote: true, class: 'btn btn-warning btn-xs',
            title: 'Editar', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-edit') %>
      <% end %>
      <%= link_to patient_path(patient), remote: true, class: 'btn btn-danger btn-xs',
            title: 'Borrar', method: :delete, data: { toggle: 'tooltip', placement: 'top', confirm: "Desea eliminar a #{patient.first_name} #{patient.last_name}?"} do %>
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-trash') %>
      <% end %>
    </td>
  </div>
  </tr>
