<%= render 'header' %>


<div class="card">
  <div class="card-header bg-warning">
    <h5 class="card-title">
      <%= fa_icon "edit" %> Editando paciente
      <%= link_to patients_path, class: 'btn float-right',
        :title => 'Cerrar', :'data-placement'=>'top', :'data-toggle'=>'tooltip' do %>
        <%= fa_icon "times" %>
      <% end %>
    </h5>
  </div>
  <div class="card-body" id="panel-body-new">
    <%= render 'form', patient: @patient %>
  </div>
  <div class="card-footer text-right">
    <%= link_to 'Volver', :back, class: 'btn btn-light mr-1' %>
    <button type='submit' name='commit' class='btn btn-success' form='edit_patient_<%=@patient.id%>' value='Solicitante'>
      <%= fa_icon "save" %> Guardar cambios
    </button>
  </div>
</div>