<%= render 'header' %>

<% if @patients.present? %>
  <div class="card fixed-custom-card">
    <div class="card-header">
      <%= form_for_filterrific @filterrific do |f| %>
        <div class="row d-felx justify-content-between">
          <div class="col-md-3 col-sm-3">
            <label>DNI</label>
            <%= f.text_field(
              :search_dni,
              class: 'filterrific-periodically-observed form-control input-sm'
                ) %>
          </div>
          <div class="col-md-3 col-sm-3">
            <label>Nombre o Apellido</label>
            <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
            <%= f.text_field(
              :search_fullname,
              class: 'filterrific-periodically-observed form-control input-sm',
              autocomplete: 'off'
            ) %>
          </div>
          <div class="col-md-2 col-sm-2">
            <label>Tipo</label>
            <%= f.select(:with_patient_type_id,
              PatientType.all.map{ |type| [type.name.humanize, type.id] },{:include_blank => 'Todos'},
              { class: "selectpicker show-tick", "data-width"=>"100%"}) %>
          </div>
          <div class="col-md-3 col-sm-3">
            <label>Ordenar por</label>
            <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by],{}, {class: 'form-control input-sm'}) %>
          </div>
          <%= link_to reset_filterrific_url, class: "btn btn-sm pull-right" do %>
            <%= fa_icon "redo" %>
          <% end %>
          <!-- Spinner para la carga -->
          <%= render_filterrific_spinner %>
        </div>
      <% end %>
    </div>
    <div class="card-body">
      <%= render(
        partial: 'patients/list',
        locals: { patients: @patients }
      ) %>
    </div>
  </div>
<% else %>
<%= render(
  partial: 'shared/not_found',
  locals: { object_name: 'pacientes' }
) %>
<% end %>