<%= render 'header' %>

<div class="row">
  <% if @patients.present? %>
    <div class="panel panel-info" id="filter-panel">
      <div class="panel-leftheading">
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-filter gi-2x') %>
      </div>
      <div class="panel-rightbody">
        <%= form_for_filterrific @filterrific do |f| %>
            <div class="col-md-3 col-sm-3">
              <label>DNI</label>
              <%= f.text_field(
                :search_dni,
                class: 'filterrific-periodically-observed form-control input-sm'
                  ) %>
            </div>
            <div class="col-md-3 col-sm-3">
              <label>Nombre o Apellido</label>
              <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
              <%= f.text_field(
                :search_fullname,
                class: 'filterrific-periodically-observed form-control input-sm',
                autocomplete: 'off'
              ) %>
            </div>
            <div class="col-md-3 col-sm-3">
              <label>Ordenar por</label>
              <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by],{}, {class: 'form-control input-sm'}) %>
            </div>
            <%= link_to reset_filterrific_url, class: "btn btn-sm pull-right" do %>
              <%= content_tag(:span, '', class: 'glyphicon glyphicon-refresh') %>
            <% end %>
            <!-- Spinner para la carga -->
            <%= render_filterrific_spinner %>
        <% end %>
      </div>
      <div class="clearfix">
      </div>
    </div>

    <%= render(
      partial: 'patients/list',
      locals: { patients: @patients }
    ) %>
  <% else %>
    <%= render(
      partial: 'shared/not_found',
      locals: { object_name: 'pacientes' }
    ) %>
  <% end %>
</div>