<%= render 'header' %>

<div class="card">
  <div class="card-header bg-primary text-white">
    <h5 class="card-title">
      <%= fa_icon "plus" %> Nuevo paciente temporal
      <%= link_to :back, class: 'btn float-right text-white' do %>
        <%= fa_icon "times" %>
      <% end %>
    </h5>
  </div>
  <div class="card-body" id="panel-body-new">
    <%= render 'form', patient: @patient %>
  </div>
  <div class="card-footer text-right">
    <%= link_to 'Volver', patients_path, class: 'btn btn-light mr-1' %>
    <button type='submit' name='commit' class='btn btn-primary' form='new_patient'>
      <%= fa_icon "plus" %> Crear
    </button>
  </div>
</div>
