<tr id="chronic_prescription_<%= chronic_prescription.id %>">
  <td><%= chronic_prescription.remit_code %></th>
  <td><%#= chronic_prescription.order_type.humanize %></th>
  <td class="pres-col-pro"><%= chronic_prescription.professional.full_name %></td>
  <td class="pres-col-pat"><%= chronic_prescription.patient.full_info %></td>
  <td>
    <span class="badge badge-<%#= chronic_prescription_status_label(chronic_prescription) %>">
      <%= chronic_prescription.status.underscore.humanize %>
    </span>
  </td>
  <td>
    <%= chronic_prescription.original_chronic_prescription_products.count %>
  </td>
  <td>
    <%= chronic_prescription.movements.count %>
  </td>
  <td>
    <% if chronic_prescription.date_prescribed.present? %>
      <%= chronic_prescription.date_prescribed.strftime("%d/%m/%Y") %>
    <% else %>
      ------
    <% end %>
  <td class="text-left actions-col">
    <div class="d-flex align-items-center justify-content-center">
      <% if policy(chronic_prescription).dispense_new? %>
        <%= link_to dispense_new_chronic_prescription_path(chronic_prescription),
          class: 'btn btn-sm btn-primary mr-1 ml-1',
          title: t("actions.tooltip.dispense"),
          data: { toggle: 'tooltip', placement: 'top'} do %> 
          <%= fa_icon "paper-plane"%>
        <% end %>
      <% end %>
    <%= render(
            partial: 'shared/action_buttons',
            locals:{ 
                object: chronic_prescription, 
                show: true, 
                edit: true, 
                destroy: true,
                delete_title: "Eliminar prescripción",
                delete_body: "Esta seguro que desea eliminar la prescripción de #{ chronic_prescription.professional.full_name }?",
                destroy_path: "/chronic_prescriptions/#{chronic_prescription.id}"
            }
        ) 
    %>

    </div>
  </td>
</tr>
