<%= render 'prescriptions/header' %> 

<div class="card fixed-custom-card">
  <div class="card-header <%= @chronic_prescription.new_record? ? 'bg-primary text-white' : 'bg-warning' %> d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center ml-2">
      <%= fa_icon (@chronic_prescription.new_record? ?  "plus" : "pen")%>
      <h5 class="card-title mb-0 ml-2">
        <%= @chronic_prescription.new_record? ? 'Agregar receta crónica' : 'Editando receta crónica' %>
        
      </h5>
    </div>
    <%= link_to :back, class: @chronic_prescription.new_record? ? 'btn text-white' : 'btn' do %>
      <%= fa_icon "times" %>
    <% end %>
  </div>
  
  <div class="card-body">
    <%= simple_form_for @chronic_prescription, html: { role: 'check-modified'} do |f| %>
      <%= f.simple_fields_for @chronic_prescription.chronic_dispensations.build do |form_dispensations| %>
        <div class="row">
          <div class="col-6">
            <%# Medico %>
            <div>
              <%= f.label :professional_id do %>
                Médico
                
              <% end %>
              <div class="custom-input-group">
                <%= f.input :professional, as: :string,
                  label: false,
                  placeholder: 'Matrícula | Apellido | Nombre',
                  required: true,
                  :input_html => {
                    id: "professional",
                    data: { autocomplete_source: get_by_enrollment_and_fullname_professionals_path },
                    value: "#{ if f.object.professional.present?; f.object.professional.full_info; end }",
                    size: 30
                  }
                %>
                <%= f.hidden_field :professional_id, id: "professional_id", value: "#{if f.object.professional.present?; f.object.professional.id; end }" %>
                <div class="with-loading">
                  <%= fa_icon 'spinner', class: "fa-spin"%>
                </div>  
              </div>
            </div>
            <%# Paciente %>
            <div>
              <%= f.label :patient_id do %>
                Paciente
                
              <% end %>
              <div class="row">
                <div class="col-4">
                  <div class="custom-input-group">
                    <%= f.input :patient, as: :string, class: 'form-control',
                      label: false,
                      placeholder: 'DNI',
                      required: true,
                      readonly: f.object.new_record? ? "" : true,
                      :input_html => {
                        id: 'patient-dni',
                        data: { autocomplete_source: get_by_dni_patients_path, insurance_url: api_v1_get_insurance_path },
                        value: "#{if f.object.patient.present?; f.object.patient.dni; end }",
                      }
                    %>
                    <div class="with-loading">
                      <%= fa_icon 'spinner', class: "fa-spin"%>
                    </div>
                  </div>
                </div>
                <div class="col-8">
                  <div class="custom-input-group">
                    <%= f.input :patient, as: :string, class: 'form-control',
                      label: false,
                      placeholder: 'Apellido y nombre',
                      required: true,
                      readonly: f.object.new_record? ? "" : true,
                      :input_html => {
                        id: 'patient-fullname',
                        data: { autocomplete_source: get_by_fullname_patients_path, insurance_url: api_v1_get_insurance_path },
                        value: "#{if f.object.patient.present?; f.object.patient.fullname; end }",
                      }
                    %>
                    <div class="with-loading">
                      <%= fa_icon 'spinner', class: "fa-spin"%>
                    </div>
                  </div>
                  <%= f.hidden_field :patient_id, id: "patient_id", value: "#{if f.object.patient.present?; f.object.patient.id; end }" %>
                </div>
              </div><!-- End row -->
            </div>

            <div class="row">
              <%# fecha recetada %>
              <div class="col-4">
                <%= f.input :date_prescribed, label: 'Fecha recetada',
                    as: :string,
                    :placeholder => "Seleccionar fecha",
                    input_html: {
                      tabindex: "-1",
                      class: "form-control pull-right date-prescribed",
                      required: true,
                      autocomplete: 'off',
                      value: "#{@chronic_prescription.date_prescribed.strftime("%d/%m/%Y") unless @chronic_prescription.new_record?}"
                    },
                html5: false %>
              </div>
              <%# duración de tratamiento %>
              <div class="col-4">
                <%= f.label :patient_id do %>
                  Duración de tratamiento
                <%end%>
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" name="duration-treatment" value="6" aria-describedby="meses-addon">
                    <div class="input-group-append">
                      <span class="input-group-text" id="meses-addon">Meses</span>
                    </div>
                  </div>
              </div>

              <%# fecha de vencimiento %>
              <div class="col-4">
                <%= f.label :patient_id do %>
                  Fechas de vencimiento
                <%end%>
                <div id="expiry-date">
                  <%= "#{if f.object.expiry_date.present?; f.object.expiry_date.strftime("%d/%m/%Y"); end }" %>
                </div>
                <%= f.hidden_field :expiry_date, id: "expiry_date", value: "#{if f.object.expiry_date.present?; f.object.expiry_date; end }" %>
              </div>
            </div>

            <%# diagnostico %>
            <div>
              <%= f.input :diagnostic, label: 'Diagnóstico', as: :text, :input_html => { :cols => 30  , :rows => 1 } %>
            </div>
          </div>
          
          
          <!-- Aqui se carga la obra social -->
          <div class="col-6">
            <div id="pat-os-body"></div>
          </div>
        </div>

        <table class="table table-bordered">
          <tr>
            <td class="p-0 " style="width: 40%">
              <table class="table table-bordered table-hover m-0">
                <tr>
                  <th>Productos recetados</th>
                  <th>dosis / mes</th>
                  <th>resto</th>
                  <th></th>
                </tr>
                <% @chronic_prescription.original_chronic_prescription_products.each do |ocpp| %>
                  <tr>
                    <td>
                      <%= ocpp.product.name %>
                    </td>
                    <td>
                      <%= ocpp.request_quantity %>
                    </td>
                    <td>
                      <%= ocpp.total_request_quantity - ocpp.total_delivered_quantity %>
                    </td>
                    <td>
                      <%= link_to_add_association form_dispensations, 
                        :chronic_prescription_products, 
                        class: 'btn btn-primary btn-sm',
                        partial: "chronic_prescriptions/partials/order_products_fields", 
                        data: {
                          "association-insertion-node" => "tbody#chronic-product-cocoon-container",
                          "association-insertion-method" => "append"} do %>
                        <%= fa_icon "plus" %>
                      <% end %>
                    </td>
                  </tr>
                <%end%>
              </table>
            </td>
            <td class="p-0 " style="width: 60%">
              <%= render 'chronic_prescriptions/partials/order_products_table', form: form_dispensations, :relation => :chronic_prescription_products %>
            </td>
          </tr>
        </table>
      
      <%# carga de productos originales %>
      <%#= render 'chronic_prescriptions/partials/original_order_products_table', form: f, :relation => :original_chronic_prescription_products %>
        
      <%end%>
    <%end%>

  </div><!-- /fin .card-body -->

  <div class="card-footer d-flex justify-content-end">
    <%= link_to 'Volver', chronic_prescriptions_path, class: 'btn mr-1' %>
  
    <button type='submit' class='btn btn-success mr-2' form="<%= @chronic_prescription.new_record? ? 'new_chronic_prescription' : 'edit_chronic_prescription_' + @chronic_prescription.id.to_s %>" data-value='audit'>
      
      <div class="c-msg" style="pointer-events: none;">
        <%= fa_icon "save" %> Guardar 
      </div>
      
      <div class="d-none" style="pointer-events: none;">
        Guardando...
        <%= fa_icon "spinner", class: "fa-spin send-audit" %>
      </div>

    </button>

    <button type='submit' class='btn btn-primary' form="<%= @chronic_prescription.new_record? ? 'new_chronic_prescription' : 'edit_chronic_prescription_' + @chronic_prescription.id.to_s %>" data-value='dispensing'>
      <div class="c-msg" style="pointer-events: none;">
        <%= fa_icon "paper-plane" %> Guardar y dispensar
      </div>
      <div class="d-none" style="pointer-events: none;">
        Guardando...
        <%= fa_icon "spinner", class: "fa-spin send-audit" %>
      </div>
    </button>
  </div>
</div>

<% content_for :modal do %>
  <%= render "shared/modals/lot_selection_dialog" %>
<% end %>