<%= render 'prescriptions/header' %> 

<div class="card fixed-custom-card">
  <div class="card-header bg-primary text-white d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center ml-2">
      <%= fa_icon "paper-plane"%>
      <h5 class="card-title mb-0 ml-2">
        Dispensar receta crónica: <%= @chronic_prescription.patient.fullname.titleize %>
      </h5>
    </div>
    <%= link_to :back, class: 'btn text-white' do %>
      <%= fa_icon "times" %>
    <% end %>
  </div>
  
  <div class="card-body">
    <%= simple_form_for @chronic_prescription, :url => dispense_chronic_prescription_path, html: { role: 'check-modified'} do |f| %>
    <%#= fields_for "project[invoice_attributes][]", invoice, index: nil do |form| %>

      <%= simple_fields_for "chronic_prescription[chronic_dispensations_attributes][#{Time.now.to_i}]", @chronic_prescription.chronic_dispensations.build  do |form_dispensations| %>
        <%= form_dispensations.hidden_field :status, value: "pendiente" %>
        <div class="row">
          <div class="col-6">
            <%# Medico %>
            <div>
              <label class="font-weight-bold">
                Médico:
              </label>
              <%= @chronic_prescription.professional.fullname.titleize %>
            </div>
            <%# Paciente %>
            <div>
              <label class="font-weight-bold">
                Paciente:
              </label>
              <%= @chronic_prescription.patient.fullname.titleize %>
              
              <label class="font-weight-bold">
                Dni:
              </label>
              <%= @chronic_prescription.patient.dni %>
              
            </div>

            <%# Fecha recetada %>
            <div>
              <label class="font-weight-bold">
                Fecha recetada:
              </label>
              <%= @chronic_prescription.date_prescribed.strftime("%d/%m/%Y") %>
            </div>
            
            <%# Duracion tratamiento %>
            <div>
              <label class="font-weight-bold">
                Duración de tratamiento:
              </label>
              <%= ((f.object.expiry_date.year * 12 + f.object.expiry_date.month) - (f.object.date_prescribed.year * 12 + f.object.date_prescribed.month))  %>
              meses
            </div>
            
            <%# Fecha expiracion %>
            <div>
              <label class="font-weight-bold">
                Fecha vencimiento:
              </label>
              <%= @chronic_prescription.expiry_date.strftime("%d/%m/%Y") %>
            </div>
        
            <%# diagnostico %>
            <div>
              <label class="font-weight-bold">
                Diagnóstico:
              </label>
              <%= @chronic_prescription.diagnostic %>
            </div>
          </div>
          
          
          <!-- Aqui se carga la obra social -->
          <div class="col-6">
            <div id="pat-os-body"></div>
          </div>
        </div>

        <table class="table table-bordered">
          <tr>
            <td class="p-0 " style="width: 40%">
              <table class="table table-bordered table-hover m-0">
                <tr>
                  <th>Productos recetados</th>
                  <th>dosis / mes</th>
                  <th>resto</th>
                  <th></th>
                </tr>
                <% @chronic_prescription.original_chronic_prescription_products.each do |ocpp| %>
                  <tr>
                    <td>
                      <%= ocpp.product.name %>
                    </td>
                    <td>
                      <%= ocpp.request_quantity %>
                    </td>
                    <td>
                      <%= ocpp.total_request_quantity - ocpp.total_delivered_quantity %>
                    </td>
                    <td>
                      <% if (ocpp.total_request_quantity - ocpp.total_delivered_quantity) > 0 %>
                        <%= link_to_add_association form_dispensations, 
                          :chronic_prescription_products, 
                          class: 'btn btn-primary btn-sm',
                          partial: "chronic_prescriptions/partials/order_products_fields", 
                          data: {
                            "association-insertion-node" => "tbody#chronic-product-cocoon-container",
                            "association-insertion-method" => "append"},
                          render_options: {locals: { ocpp_id: ocpp.id }} do %>
                          <%= fa_icon "plus" %>
                        <% end %>
                      <% end %>
                    </td>
                  </tr>
                <%end%>
              </table>
            </td>
            <td class="p-0 " style="width: 60%">
              <%= render 'chronic_prescriptions/partials/order_products_table', form: form_dispensations, :relation => :chronic_prescription_products %>
            </td>
          </tr>
        </table>
              
      <%end%>
    <%end%>

  </div><!-- /fin .card-body -->

  <div class="card-footer d-flex justify-content-end">
    <%= link_to 'Volver', chronic_prescriptions_path, class: 'btn mr-1' %>
  
    <button type='submit' class='btn btn-success mr-2' form="<%= @chronic_prescription.new_record? ? 'new_chronic_prescription' : 'edit_chronic_prescription_' + @chronic_prescription.id.to_s %>" data-value='audit'>
      
      <div class="c-msg" style="pointer-events: none;">
        <%= fa_icon "paper-plane" %> Dispensar 
      </div>
      
      <div class="d-none" style="pointer-events: none;">
        Dispensando...
        <%= fa_icon "spinner", class: "fa-spin" %>
      </div>

    </button>
  </div>
</div>

<% content_for :modal do %>
  <%= render "shared/modals/lot_selection_dialog" %>
<% end %>