<%= render 'prescriptions/header' %>

<div class="card fixed-custom-card">
  <div class="card-header d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center">
      <%= fa_icon "eye" %>
      <h5 class="card-title mb-0 ml-2">
        Viendo receta crónica
      </h5>
    </div>
    <div>
      <%= link_to chronic_prescriptions_path, class: 'btn',
          :title => 'Cerrar', :'data-placement'=>'top', :'data-toggle'=>'tooltip' do %>
        <%= fa_icon "times" %>
      <% end %>
    </div>
  </div>

  <div class="card-body">
    <div class="row">
      <!-- Professional profile -->
      <div class='col-md-3 col-xs-3'>
        <div class="media">
          <div class="mr-3">
            <%= link_to professional_path(@chronic_prescription.professional), class: "link" do %>
              <%= image_tag professional_avatar(@chronic_prescription.professional, 83), class:"img-thumbnail media-object" %>
            <% end %>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Médico</h4>
            <p>
              <%= link_to professional_path(@chronic_prescription.professional), class: "link" do %>
                <%= @chronic_prescription.professional_fullname %>
              <% end %>
            </p>
            <p><strong>Matrícula: </strong><%= @chronic_prescription.professional_enrollment %></p>
          </div>
        </div> 
      </div><!-- End professional profile -->

      <!-- Patient profile -->
      <div class='col-md-3 col-xs-3'>
        <div class="media">
          <div class="mr-3">
            <%= link_to patient_path(@chronic_prescription.patient), class: "link" do %>
              <%= image_tag patient_avatar(@chronic_prescription.patient, 83, 102), class:"img-thumbnail media-object" %>
            <% end %>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Paciente</h4>
            <p>
              <%= link_to patient_path(@chronic_prescription.patient), class: "link" do %>
                <%= @chronic_prescription.patient_fullname.titleize %>
              <% end %>    
            </p>
            <p><strong>DNI: </strong><%= @chronic_prescription.patient_dni %></p>
            <p><strong>Edad: </strong><%= @chronic_prescription.patient_age_string %></p>
          </div>
        </div>
      </div> <!-- End Patient profile -->

      <!-- Extra info -->
      <div class='col-md-6 col-xs-6'>
        <div class='row'>
          <div class='col-md-3 col-xs-3'>    
            <strong>Recetada:</strong><br>
            <%= @chronic_prescription.date_prescribed.strftime("%d/%m/%Y") %>
          </div>
          <div class='col-md-3 col-xs-3'>
            <strong>Vencimiento:</strong><br>
            <%= @chronic_prescription.expiry_date.strftime("%d/%m/%Y") %>
          </div>
          <div class='col-md-3 col-xs-3'>
            <strong>Código:</strong>
            <%= @chronic_prescription.remit_code %>
          </div>
        </div>
        <hr>
        <strong>Diagnóstico:</strong>
        <%= @chronic_prescription.diagnostic.present? ? @chronic_prescription.diagnostic : 'Sin observaciones' %>
      </div><!-- End extra info -->
    </div>

    <!-- Tabs -->
    <div class="row mt-3">
      <div class="col-12">
        <ul class='nav nav-tabs nav-justified'>
          <li class='nav-item'>
            <a class="nav-link active" data-toggle='tab' href='#supplies' role="tab">
              <%= fa_icon "cubes" %> Productos recetados
              <span class="badge badge-secondary"><%= @chronic_prescription.original_chronic_prescription_products.count %></span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= @chronic_prescription.chronic_dispensations.count == 0 ? 'disabled' : '' %>" data-toggle='tab' href='#dispensations' role="tab">
              <%= fa_icon "paper-plane" %> Dispensaciones
              <span class="badge badge-secondary"><%= @chronic_prescription.chronic_dispensations.count %></span>
            </a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link <%= @chronic_prescription.movements.count == 0 ? 'disabled' : '' %>" data-toggle='tab' href='#last-movements' role="tab">
              <%= fa_icon "exchange-alt" %> Movimientos
              <span class="badge badge-secondary"><%= @chronic_prescription.movements.count %></span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="tab-content mt-2">
      <div id='supplies' class='tab-pane fade show active'>
        <!-- Insumos a dispensar -->
        <div class="card">
          <table class="table table-hover table-sm">
            <thead>
              <tr>
                <th>Cód Ins</th>
                <th>Insumo</th>
                <th>Cantidad mensual</th>
                <th>Dispensada</th>
                <th width="200">Proceso</th>
                <th>Observaciones</th>
              </tr>
            </thead>
            <tbody>
              <% @chronic_prescription.original_chronic_prescription_products.each do |org_chron_pres_prod| %>
                <tr>
                  <td>
                    <%= org_chron_pres_prod.product_code %>
                  </td>
                  <td>
                    <%= org_chron_pres_prod.product_name %>
                  </td>
                  <td>
                    <%= org_chron_pres_prod.request_quantity %> <%= org_chron_pres_prod.unity.pluralize(org_chron_pres_prod.request_quantity) %>
                  </td>
                  <td>
                    <%= org_chron_pres_prod.total_delivered_quantity %> / <%= org_chron_pres_prod.total_request_quantity %>
                  </td>
                  <td>
                    <% progress = (org_chron_pres_prod.total_delivered_quantity * 100 / org_chron_pres_prod.total_request_quantity) %>
                    <div class="custom-progress progress bg-light position-relative">
                      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: <%= progress %>%" aria-valuenow="<%=progress%>" aria-valuemin="0" aria-valuemax="100" ></div>
                      <div class="percentage-text text-black position-absolute font-weight-bold"><%=progress%>%</div>
                    </div>
                  </td>
                  
                  <td>
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="popover" title="Observaciones" data-placement="left" data-trigger="focus" data-content="<%= org_chron_pres_prod.observation %>">
                      <%= fa_icon "comment-dots", class: "far"%>
                    </button>

                    <!--button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#collapse-row-<%#= org_chron_pres_prod.id %>" aria-expanded="false" aria-controls="collapse-row-<%#= org_chron_pres_prod.id %>">
                      Observaciones
                      <%#= org_chron_pres_prod.order_prod_lot_stocks.count %>
                    </button-->
                  </td>
                
                </tr>
                <tr>
                  <td colspan="7" class="p-0">
                    <div id="collapse-row-<%= org_chron_pres_prod.id %>" class="collapse in">
                      <div class="p-3">
                        <%= org_chron_pres_prod.observation %>
                      </div>
                    </div>
                  </td>
                </tr> <%# fin Listado de lotes y descripciones %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

      <div id='dispensations' class='tab-pane fade'>
        <!-- Tabla de movimientos -->
        <div class="row">
          
          <div class="col-3">
            <div class="card">

              <div class="list-group p-1" id="list-tab" role="tablist">
                <% @chronic_prescription.chronic_dispensations.each_with_index do |chronic_dispensation, index| %>
                  <div class="d-flex align-items-center justify-content-between list-group-item list-group-item-action <%= index == 0 ? 'active' : '' %>" id="list-dispensation-<%= index %>" data-toggle="list" href="#tab-<%=index%>" role="tab" aria-controls="tab-<%=index%>">
                    
                    <div>
                      <span class="badge badge-secondary"><%= (index + 1) %>°</span> &nbsp;
                      <%=chronic_dispensation.created_at.strftime("%d/%m/%Y %H:%m") %>
                    </div>       
                    <% if policy(chronic_dispensation).return_dispensation? %> 
                      <%= link_to chronic_prescription_chronic_dispensation_return_dispensation_modal_path(@chronic_prescription.id, chronic_dispensation.id), remote: true,
                          class: 'btn btn-sm btn-warning ml-2 return-dispensation-modal', title: 'Rertornar dispensación', data: { toggle: 'tooltip', placement: 'top' } do %>
                        <%= fa_icon "undo" %>
                      <% end %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>

          <div class="col-9">
            <div class="card table-sm tab-content" id="nav-tabContent">
              <% @chronic_prescription.chronic_dispensations.each_with_index do |chronic_dispensation, index| %>
                <div class="tab-pane fade show <%= index == 0 ? 'active' : '' %>" role="tabpanel" aria-labelledby="list-dispensation-<%= index %>" id="tab-<%=index%>">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Cód Ins</th>
                        <th>Insumo</th>
                        <th>Unidad</th>
                        <th>Dosis</th>
                        <th>Lotes</th>
                        <th>Observaciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      
                      <% chronic_dispensation.chronic_prescription_products.each do |chronic_prescription_product| %>
                        <tr>
                          <td><%= chronic_prescription_product.product_code %></td>
                          <td><%= chronic_prescription_product.product_name %></td>
                          <td><%= chronic_prescription_product.product_unity %></td>
                          <td><%= chronic_prescription_product.delivery_quantity %></td>
                          <td>Lotes</td>
                          <td>Observaciones</td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              <% end %>
            </div>
          </div>
        </div>

        
      </div> <!-- End last movements tab pane -->
      
      <div id='last-movements' class='tab-pane fade'>
        <!-- Tabla de movimientos -->
        <%= render '/shared/movements_table', order: @chronic_prescription %>
      </div> <!-- End last movements tab pane -->

    </div>
  </div>
  <div class="card-footer text-right">
    <%= link_to 'Volver', chronic_prescriptions_path, class: "btn btn-light mr-1" %>
    <%#= link_to prescription_path(format: 'pdf'), class: 'btn btn-info mr-1', target: :_blank do %>
      <%#= fa_icon "print" %>
      <%# Imprimir %>
    <%# end %>
    <% if policy(@chronic_prescription).edit? %>
      <%= link_to edit_chronic_prescription_path(@chronic_prescription), :"data-turbolinks" => false,
        class: "btn btn-warning mr-1" do %>
        <%= fa_icon "pen" %>
        Editar
      <% end %>
    <% end %>
    
    <% if policy(@chronic_prescription).dispense_new? %>
      <%= link_to new_chronic_prescription_chronic_dispensation_path(@chronic_prescription), :"data-turbolinks" => false,
        class: "btn btn-primary" do %>
        <%= fa_icon "paper-plane" %>
        Dispensar
      <% end %>
    <% end %>
  </div>
</div>

<% content_for :modal do %>
  <%# Retornar a un estado anterior (solo prescripciones dispensadas)%>
  <% if policy(@chronic_prescription).return_dispensation? %>
    <div class="modal fade" tabindex="-1" role="dialog" id="return-confirm"></div>
  <% end %>
<% end %>