<tr id="area_<%= area.id %>">
  <td><%= area.name %></td>
  <td><%= area.parent_name %></td>
  <td><span class="badge badge-pill badge-secondary"><%= area.subareas.count %></span></td>
  <td class="text-left actions-col">
    <% if policy(area).show? %>
      <%= link_to area_path(area), class: 'btn btn-secondary', 
        title: 'Ver detalles', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= fa_icon "eye" %>
      <% end %>
    <% end %>
    <% if policy(area).edit? %>
      <%= link_to edit_area_path(area), :"data-turbolinks" => false, class: 'btn btn-warning', 
        title: 'Auditar', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= fa_icon "pen" %>
      <% end %>
    <% end %>
    <% if policy(area).destroy? %>
      <%= link_to delete_area_path(area), remote: true,
            class: 'btn btn-danger', title: 'Papelera', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= fa_icon "trash" %>
      <% end %>
    <% end %>
  </td>
</tr>
