<%= form_for_filterrific @filterrific do |f| %>
  <div class="row justify-content-between">
    <div class="col-1 d-flex justify-content-end align-items-center">
      <%= render_filterrific_spinner %>
      <%= link_to areas_path(reset: true), class: 'btn btn-secondary ml-2',
        title: 'Reiniciar', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= fa_icon 'redo' %>
      <% end %>
    </div>

    <%# CÓDIGO DE PEDIDO %>
    <div class="col">
      <label>Nombre</label>
      <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
      <%= f.text_field(
        :search,
        class: 'filterrific-periodically-observed form-control input-sm',
        placeholder: 'Un nombre',
        autocomplete: 'off',
      ) %>
    </div>
  </div>
<% end %>