<div class="card fixed-custom-card">
  <div class="card-header <%= @area.new_record? ? 'bg-primary text-white' : 'bg-warning' %> d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center ml-2">
      <%= fa_icon (@area.new_record? ?  "plus" : "edit")%>
      <h5 class="card-title mb-0 ml-2">
        <%= @area.new_record? ? "Nuevo rubro" : "Editando rubro" %>
      </h5>
    </div>
    <%= link_to :back, class: @area.new_record? ? 'btn text-white' : 'btn' do %>
      <%= fa_icon "times" %>
    <% end %>
  </div>
  <div class="card-body">
    <%= simple_form_for @area, html: { role: 'check-modified' } do |f| %>
      <%= f.error_notification %>
      <%= f.input :name, label: 'Nombre' %>
      <%= f.input :parent_id, label: 'Rubro padre',
        collection: @areas.map {
          |area| [area.name, area.id]
        },
        :input_html => {
          required: true,
          id: 'provider-sector',
          class: 'selectpicker-md custom-select-pick show-tick',
          "data-width"=>"100%",
          "title"=>"Seleccionar rubro",
          "data-size"=>"10",
          "data-live-search"=>true,
          value: f.object.parent.present? ? f.object.parent.id : ""
        }
      %>
    <% end %>
  </div>
  <div class="card-footer d-flex justify-content-end">
    <%= link_to 'Volver', areas_path, class: 'btn mr-1' %>
    
    <button type='submit' name='commit' class='btn btn-success mr-1' form=<%= @area.new_record? ? 'new_area' : 'edit_area_' + @area.id.to_s%>>
      <%= fa_icon "save" %> Guardar
    </button>
  </div>
</div>