<%= render 'header' %>

<div class="card fixed-custom-card">
  <div class="card-header d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center">
      <%= fa_icon "eye" %>
      <h5 class="card-title mb-0 ml-2">
        Viendo rubro <%= @area.name %>
      </h5>
    </div>
    <div>
      <%= link_to areas_path, class: 'btn btn-light',
          :title => 'Cerrar', :'data-placement'=>'top', :'data-toggle'=>'tooltip' do %>
        <%= fa_icon "times" %>
      <% end %>
    </div>
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-4">
        <h5>Nombre</h5>
        <%= @area.name %>
      </div>
      <div class="col-4">
        <h5>Rubro padre</h5>
        <%= @area.parent_name %>
      </div>
      <div class="col-4">
        <h5>Cantidad de productos</h5>
        <%= @area.products.count %>
      </div>
      <div class="col-12 mt-3">
        <h5>Subrubros</h5>
        <% @area.subareas.each do |area| %>
          <span class="badge badge-secondary">
            <%= area.name %>
          </span>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card-footer d-flex justify-content-end">
    <%= link_to areas_path, class: 'btn btn-light' do %>
      Volver
    <% end %>
  </div>
</div>