
<div class="card fixed-custom-card">
  <div class="card-header bg-primary text-white d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center ml-2">
      <%= fa_icon "paper-plane"%>
      <h5 class="card-title mb-0 ml-2">
        Dispensar receta crónica: <%= @chronic_dispensation.chronic_prescription.patient.fullname.titleize %>
      </h5>
    </div>
    <%= link_to :back, class: 'btn text-white' do %>
      <%= fa_icon "times" %>
    <% end %>
  </div>
  
  <div class="card-body">
    <%= simple_form_for @chronic_dispensation, :url => chronic_prescription_chronic_dispensations_path(@chronic_dispensation.chronic_prescription), html: { role: 'check-modified'} do |form_chronic_dispensation| %>
      <%= form_chronic_dispensation.error_notification %>
      <%= form_chronic_dispensation.hidden_field :status, value: "pendiente" %>
      <%= form_chronic_dispensation.hidden_field :chronic_prescription_id, value: @chronic_dispensation.chronic_prescription.id %>
      <div class="row">
        <div class="col-6">
          <%# Medico %>
          <div>
            <label class="font-weight-bold">
              Médico:
            </label>
            <%= @chronic_dispensation.chronic_prescription.professional.fullname.titleize %>
          </div>
          <%# Paciente %>
          <div>
            <label class="font-weight-bold">
              Paciente:
            </label>
            <%= @chronic_dispensation.chronic_prescription.patient.fullname.titleize %>
            
            <label class="font-weight-bold">
              Dni:
            </label>
            <%= @chronic_dispensation.chronic_prescription.patient.dni %>
            
          </div>

          <%# Fecha recetada %>
          <div>
            <label class="font-weight-bold">
              Fecha recetada:
            </label>
            <%= @chronic_dispensation.chronic_prescription.date_prescribed.strftime("%d/%m/%Y") %>
          </div>
          
          <%# Duracion tratamiento %>
          <div>
            <label class="font-weight-bold">
              Duración de tratamiento:
            </label>
            <%= ((@chronic_dispensation.chronic_prescription.expiry_date.year * 12 + @chronic_dispensation.chronic_prescription.expiry_date.month) - (@chronic_dispensation.chronic_prescription.date_prescribed.year * 12 + @chronic_dispensation.chronic_prescription.date_prescribed.month))  %>
            meses
          </div>
          
          <%# Fecha expiracion %>
          <div>
            <label class="font-weight-bold">
              Fecha vencimiento:
            </label>
            <%= @chronic_dispensation.chronic_prescription.expiry_date.strftime("%d/%m/%Y") %>
          </div>
      
          <%# diagnostico %>
          <div>
            <label class="font-weight-bold">
              Diagnóstico:
            </label>
            <%= @chronic_dispensation.chronic_prescription.diagnostic %>
          </div>
        </div>
        
        
        <!-- Aqui se carga la obra social -->
        <div class="col-6">
          <div id="pat-os-body"></div>
        </div>
      </div>
      <% if form_chronic_dispensation.object.errors[:presence_of_products_into_dispensation].any? %>
        <div class="invalid-feedback d-block">
          <%= form_chronic_dispensation.object.errors[:presence_of_products_into_dispensation].first %>
        </div>
      <% end %>
      <table class="table table-bordered m-0">
        <tr>
          <th>Productos recetados</th>
          <th width="200"></th>
          <th class="text-center">dosis / mes</th>
          <th class="text-center">resto</th>
          <th class="text-center" width="100">A entregar</th>
          <th></th>
        </tr>
        
        <%= form_chronic_dispensation.simple_fields_for :dispensation_types do |dis_type| %>
          <tr class="table-<%= row_status_ocpp(dis_type.object.original_chronic_prescription_product)%>">
            <td>
              <%= dis_type.object.original_chronic_prescription_product.product.name %>
            </td>
            <td>
              <div class="custom-progress progress bg-light position-relative">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: <%= delivered_percentage_ocpp(dis_type.object.original_chronic_prescription_product) %>" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="progress-bar bg-warning" role="progressbar" style="width: <%= end_treatment_percentage_ocpp(dis_type.object.original_chronic_prescription_product) %>" aria-valuemin="0" aria-valuemax="100"></div>
                <span class="justify-content-center d-flex position-absolute align-self-center w-100"><%= progress_label_ocpp(dis_type.object.original_chronic_prescription_product ) %></span>
              </div>
            </td>
            <td class="text-center">
              <%= dis_type.object.original_chronic_prescription_product.request_quantity %>
            </td>
            <td class="text-center">
              <%= dis_type.object.original_chronic_prescription_product.total_request_quantity - dis_type.object.original_chronic_prescription_product.total_delivered_quantity %>
            </td>
            <td>
              <% if policy(dis_type.object.original_chronic_prescription_product).deliver? %>
                <div class="form-group integer optional chronic_dispensation_dispensation_types_chronic_prescription_products_delivery_quantity">
                    <%= dis_type.input :quantity, label: false, :input_html => { class: 'deliver-quantity input-sm', value: dis_type.object.quantity.present? ? dis_type.object.quantity : dis_type.object.original_chronic_prescription_product.request_quantity } %>
                </div>
                <%= dis_type.input :original_chronic_prescription_product_id, :as => :hidden, :error => false, :input_html =>  { value: dis_type.object.original_chronic_prescription_product_id } %>
              <% end %>
            </td>
            <td class="text-center">
              <% if policy(dis_type.object.original_chronic_prescription_product).deliver? %>
                <%= link_to_add_association dis_type,
                  :chronic_prescription_products,
                  class: 'btn btn-primary btn-sm',
                  partial: "prescriptions/chronic_dispensations/partials/order_products_fields", 
                  data: {
                    "association-insertion-node" => "tbody#chronic-product-cocoon-container#{dis_type.object.original_chronic_prescription_product.id}",
                    "association-insertion-method" => "append"},
                  render_options: {locals: { ocpp_id: dis_type.object.original_chronic_prescription_product.id, original_product_code: dis_type.object.original_chronic_prescription_product.product.code, original_product_name: dis_type.object.original_chronic_prescription_product.product.name, original_product_id: dis_type.object.original_chronic_prescription_product.product.id }} do %>
                  <%= fa_icon "plus" %>
                <% end %>
              <% elsif dis_type.object.original_chronic_prescription_product.terminado_manual? %>
                <a tabindex="0" class="btn btn-sm btn-light" role="button" data-toggle="popover" data-trigger="hover" \
                  title="Terminado por <%= dis_type.object.original_chronic_prescription_product.finished_by_professional.fullname %>" \ 
                  data-content="<%= dis_type.object.original_chronic_prescription_product.finished_observation %>">
                  <%= fa_icon 'check' %>
                  <%= fa_icon 'user-md' %>
                </a>
              <% end %>
            </td>
          </tr>
          <tr>
            <td colspan="6" class="pt-0 pb-0 pr-0 pl-0">
              <% if dis_type.object.original_chronic_prescription_product.observation.present? %>
                <div>
                  <label class="font-weight-bold"> Observaciones: </label>
                  <%= dis_type.object.original_chronic_prescription_product.observation %>
                </div>
              <% end %>
              <%= render 'prescriptions/chronic_dispensations/partials/order_products_table', form: dis_type, :relation => :chronic_prescription_products, :ocpp_id => dis_type.object.original_chronic_prescription_product.id %>
            </td>
          </tr>
        <%end%>
      </table>  
    <%end%>

  </div><!-- /fin .card-body -->

  <div class="card-footer d-flex justify-content-end">
    <%= link_to 'Volver', chronic_prescriptions_path, class: 'btn btn-light mr-1' %>
  
    <button type='submit' class='btn btn-success mr-2' form="new_chronic_dispensation" data-value='audit'>
      
      <div class="c-msg" style="pointer-events: none;">
        <%= fa_icon "paper-plane" %> Dispensar 
      </div>
      
      <div class="d-none" style="pointer-events: none;">
        Dispensando...
        <%= fa_icon "spinner", class: "fa-spin" %>
      </div>

    </button>
  </div>
</div>

<% content_for :modal do %>
  <%= render "shared/modals/lot_selection_dialog_deprecated" %>

<% end %>