<style>
body {
   background-image: url("<%= asset_path('bg-sifaho.jpg') %>");
}
</style>
<div class="col-md-4 pull-left" style="margin-top: 2.5em">
  <div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">¡Atención!</h3></div>
    <div class="panel-body">
      <%= image_tag("one-login.png", class:'pull-right', size: "50x50", alt: "Logo One Login") %>
      El 12/02/2019 se modificó el inicio de sesión.<br> 
      Ahora debes ingresar con tu usuario de OneLogin.
    </div>
  </div>
</div>
<div class="authform">
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f| %>
    <%= image_tag("LogoSIFAHO.png", size: "70x70", alt: "Logo Sifaho") %>
    <h3>Iniciar sesión</h3>
    <%= devise_error_messages! %>
    <div class="form-group">
      <%- if devise_mapping.registerable? %>
        <%= link_to 'Registrarse', new_registration_path(resource_name), class: 'right'  %>
      <% end -%>
      <%= f.label :username, "Usuario provincial OneLogin" %>
      <%= f.number_field :username, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%- if devise_mapping.recoverable? %>
        <%= link_to "Olvidaste tu contraseña?", new_password_path(resource_name), class: 'right' %>
      <% end -%>
      <%= f.label :password, 'Contraseña' %>
      <%= f.password_field :password, class: 'form-control' %>
    </div><br>
      <%= button_tag(type: 'submit', class: "btn btn-success btn-md btn-block show-spin") do %>
        <%= image_tag("eclipse.gif", size: "25x25", class: "spinner") %> Iniciar sesión
      <% end %>
  <% end %>
</div>
<% content_for :page_footer do %>
  <div class="col-md-5">
  <div class="well well-sm">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag("tics.svg", size: "150x150", alt: "Logo Tics") %>
      </div>
      <div class="col-md-4">
        <%= image_tag("neuquen-provincia.png", size: "150x150", alt: "Logo One Login") %>
      </div> 
      <div class="col-md-4">
        <%= image_tag("one-login.png", size: "80x80", alt: "Logo One Login") %>
      </div>  
    </div>
  </div>
<% end %>
	

