<% if order_product.new_record? %>
  <% url = polymorphic_path([order.class.name.underscore.pluralize, :provider_products], provider_id: order.id, form_id: @form_id) %>
<% else %>
  <% url = polymorphic_path([order.class.name.underscore.pluralize, :provider_product], provider_id: order.id, id: order_product.id) %>
<% end %>

<%= simple_form_for order_product, 
                    url: url,
                    remote: true,
                    html: { 
                      id: order_product.new_record? ? "ord-prod-#{@form_id}" : "ord-prod-#{order_product.id}",
                      class: "custom-form-row #{'editing' if order_product.errors.any?}",
                      role: 'check-modified'} do |form| %>

  <div class="row nested-fields m-0" id="<%= order_product.new_record? ? "row-ord-prod-#{@form_id}" : "row-ord-prod-#{order_product.id}" %>">
    <!-- Código del producto -->  
    
    <% if policy(order_product).edit_product? %>
      <div class="col-1 pl-1 pr-1">
        <div class="custom-input-group">
          <div class="form-group mt-1 mb-1 fake optional products_product_id_fake">
          
            <input type="text" 
                    name="<%="product_code_fake-#{form.object.id}"%>" 
                    value="<%= form.object.product.present? ? form.object.product.code : '' %>"
                    class="form-control fake optional product-code form-control-sm <%= ("is-invalid" if (form.object.errors[:product_id].any? || form.object.errors[:uniqueness_product_in_the_order].any?) ) %> <%= ("is-valid" if form.object.product_id.present? && (!form.object.errors[:product_id].any? || !form.object.errors[:uniqueness_product_in_the_order].any?) ) %>"
                    data-autocomplete-source="<%= search_by_code_products_path %>"
                    size="6"
                    <%= order_product.new_record? || order_product.errors.any? ? '' : 'readonly' %>                    
                    autocomplete="off" 
                    placeholder="Código">
            <div class="invalid-feedback">
              <% if form.object.errors[:product_id].any? %>
                Producto <%= form.object.errors[:product_id].first %>
              <% elsif form.object.errors[:uniqueness_product_in_the_order].any? %>
                <%= form.object.errors[:uniqueness_product_in_the_order].first %>
              <% end %>
            </div>
          </div>

          <div class="with-loading">
            <%= fa_icon 'spinner', class: "fa-spin"%>
          </div>
        </div>

        <%# Hidden product_id %>
        <input type="hidden" 
              class="product-id"
              name="order_product[product_id]"
              value="<%= "#{ if form.object.product_id.present?; form.object.product_id; end }" %>">
        
        <%# Hidden order_id %>
        <input type="hidden"
              name="order_product[order_id]"
              value="<%= "#{ if form.object.order_id.present?; form.object.order_id; end }" %>">
      </div>

      <!-- Nombre de Producto -->
      <div class="col-3 pl-1 pr-1">
          <div class="custom-input-group">
            <div class="form-group mt-1 mb-1 fake optional products_product_id_fake">
              <input type="text" 
              name="<%="product_name_fake-#{form.object.id}"%>"
              value="<%= form.object.product.present? ? form.object.product.name : '' %>"
              class="form-control fake optional product-name form-control-sm <%= ("is-invalid" if (form.object.errors[:product_id].any? || form.object.errors[:uniqueness_product_in_the_order].any?) ) %> <%= ("is-valid" if form.object.product_id.present? && (!form.object.errors[:product_id].any? || !form.object.errors[:uniqueness_product_in_the_order].any?) ) %>"
              data-autocomplete-source="<%= search_by_name_products_path %>"
              size="45" 
              autocomplete="off"
              <%= order_product.new_record? || order_product.errors.any? ? '' : 'readonly' %>
              placeholder="Nombre">
              <% if form.object.errors[:product_id].first %>
                <div id="product_id_fake" class="invalid-feedback">
                  Producto <%= form.object.errors[:product_id].first %>
                </div>
              <% end %>
            </div>

            <div class="with-loading">
              <%= fa_icon 'spinner', class: "fa-spin"%>
            </div>
          </div>
      </div>

      <!-- Unidad -->
      <div class="col-1 pl-1 pr-1">
        <div class="form-group mt-1 mb-1">
          <input class="form-control numeric integer optional product-unity form-control-sm" 
                data-tooltip="true"
                title="Unidad"
                data-placement="right"
                placeholder="Unidad"
                type="text"
                disabled
                name="order_product[supply_unity_fake]"
                value="<%= form.object.product.unity.name if form.object.product.present? %>">
        </div>
      </div>

      <!-- Stock -->
      <div class="col-1 pl-1 pr-1">
        <div class="form-group mt-1 mb-1">
          <input class="form-control numeric integer optional stock-quantity form-control-sm" 
                data-tooltip="true"
                title="Stock"
                data-placement="right"
                placeholder="Stock"
                type="number"
                disabled
                name="order_product[stock_fake]"
                value="<%= form.object.product.present? ? current_user.sector.stock_to(form.object.product) : 0 %>">
        </div>
      </div>
        
      <!-- Cantidad solicitada -->
      <div class="col-1 pl-1 pr-1">
        <div class="form-group mt-1 mb-1 integer optional order_product_request_quantity">
          <input class="form-control numeric integer optional request-quantity form-control-sm <%= 'is-invalid' if form.object.errors[:request_quantity].any? %>" 
                  data-tooltip="true"
                  title="Cantidad solicitada"
                  data-placement="right"
                  min="1"
                  step="any"
                  value="<%= form.object.request_quantity if form.object.request_quantity.present? %>"
                  placeholder="Cant"
                  type="number"
                  <%= order_product.new_record? || order_product.errors.any? ? '' : 'readonly' %>
                  name="order_product[request_quantity]">
          <div class="invalid-feedback">
            <% if form.object.errors[:request_quantity].any? %>
              Cantidad solicitada <%= form.object.errors[:request_quantity].first %>
            <% end %>
          </div>
        </div>
      </div>
    <% else %>
      <%= render "shared/orders/provider/fields_of_applicant", object: form.object %>
    <% end %>
    <!-- Cantidad entregada -->
    <div class="col-1 pl-1 pr-1">
      <div class="form-group mt-1 mb-1 integer optional order_product_delivery_quantity">
        <input class="form-control numeric integer optional delivery-quantity form-control-sm <%= 'is-invalid' if form.object.errors[:delivery_quantity].any? %>" 
                data-tooltip="true"
                title="Cantidad entregada"
                data-placement="right"
                min="1"
                step="any"
                value="<%= form.object.delivery_quantity if form.object.delivery_quantity.present? %>"
                placeholder="Cant"
                type="number"
                <%= order_product.new_record? || order_product.errors.any? ? '' : 'readonly' %>
                name="order_product[delivery_quantity]">
        <div class="invalid-feedback">
          <% if form.object.errors[:out_of_stock].any? %>
            <%= form.object.errors[:out_of_stock].first %>
          <% end %>
        </div>
      </div>
    </div>
  

    <!-- Observaciones -->
    <div class="col pl-1 pr-1">
      <div class="form-group mt-1 mb-1 text optional order_product_provider_observation">
        <textarea class="form-control text optional form-control-sm observations" 
                  rows="1"
                  <%= (order_product.new_record? || false) || order_product.errors.any? ? '' : 'readonly' %>
                  name="order_product[provider_observation]"><%= form.object.provider_observation.present? ? form.object.provider_observation : ''  %></textarea>
      </div>
    </div>
    
    <!-- Botones de accion -->
    <div class="col-action-btn pl-1 pr-1 d-flex align-items-center <%= 'hidden-content' if policy(order_product).destroy? %>"">
      <% if form.object.new_record? %>
        <div class="creating-buttons">
          <button class="btn btn-sm btn-outline-success" 
                  data-tooltip="true"
                  title="Guardar"
                  data-placemente="top"
                  type="submit" 
                  form="<%= "ord-prod-#{@form_id}" %>">
            <%= fa_icon "save", class: 'fa-fw' %>
          </button>
          <button class="btn btn-sm btn-outline-danger btn-delete-product"
                  data-tooltip="true"
                  title="Quitar"
                  data-placemente="top"
                  type="button">
            <%= fa_icon "trash-alt", class: 'fa-fw' %>
          </button>
        </div>
      <% else %>
        <%= render "shared/orders/provider/buttons_action", order: order, order_product: order_product %>
      <% end %>
    </div>
  </div>
<% end %>


