
<%= simple_form_for(@in_pre_prod_lot_stock) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :inpatient_prescription_product %>
    <%= f.association :lot_stock %>
    <%= f.association :dispensed_by %>
    <%= f.input :quantity %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
