
<div class="card fixed-custom-card">
  <div class="card-header <%= @snomed_concept.new_record? ? 'bg-primary text-white' : 'bg-warning' %> d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center ml-2">
      <%= fa_icon (@snomed_concept.new_record? ?  "plus" : "edit")%>
      <h5 class="card-title mb-0 ml-2">
        <%= @snomed_concept.new_record? ? "Agregar" : "Editando" %> concepto SNOMED
      </h5>
    </div>
    <%= link_to :back, class: @snomed_concept.new_record? ? 'btn text-white' : 'btn' do %>
      <%= fa_icon "times" %>
    <% end %>
  </div>
  <div class="card-body">
    <%= simple_form_for @snomed_concept, html: { role: 'check-modified',  class: 'h-100' } do |f| %>
      <%= f.error_notification %>
      <div class="row h-100">
        <div class="col-6 h-100">
          <!-- CATEGORY -->
          <label>Categoría</label>
          <%= select_tag :category,
            options_for_select(SnomedConcept.options_for_semantic_tag.map {
              |tag| [tag.first, data: { 'content': "<i class='fa fa-"+tag.second+"'></i> "+tag.first.humanize }]
            }, 'fármaco de uso clínico'),
            { class: "selectpicker custom-select-pick show-tick", "data-width"=>"100%", multiple: true, 
              title: "Seleccionar categoría", id: 'category' } %>
          
          <!-- SEARCH CONCEPT -->
          <div class="form-group">
            <label for="search-concept" class="col-form-label">Buscar concepto:</label>
            <div class="custom-input-group">
              <div class="form-group string required chronic_prescription_patient">
                <input class="form-control" 
                  id="search-concept"
                  data-snomed-search-url="<%= find_new_snomed_concepts_path %>"  
                  placeholder="Ingrese un concepto" 
                  type="text"
                  autocomplete="off"
                  autofocus>
              </div>
              <div class="with-loading">
                <%= fa_icon 'circle-notch', class: "fa-spin"%>
              </div>
            </div>
          </div>
          <div class="row overflow-auto pl-2" id="concepts-list">
          </div>
        </div>
        <div class="col-6 border-left">
          <h5>Concepto a agregar</h5>
          <%= f.input :concept_id, label: 'Código', input_html: { readOnly: true, 
            placeholder: "Ej: 1234", id: 'concept-id' } %>
          <%= f.input :term, label: 'Concepto', input_html: { readOnly: true, 
            placeholder: 'Ej: CITRATO DE CLOMIFENO Comp. 50 mg', id: 'term' } %>
          <%= f.input :fsn, label: 'Descripción', input_html: { readOnly: true, placeholder: "Una descripción",
            id: 'fsn', rows: 5  } %>
          <%= f.input :semantic_tag, label: 'Categoría', input_html: { readOnly: true, 
            placeholder: "Ej: Fármaco de uso clínico", id: 'semantic-tag' } %>
        </div>
      </div>
    <% end %>

  </div>

  <div class="card-footer d-flex justify-content-end">
    <%= link_to 'Volver', products_path, class: 'btn mr-2' %>
    <button type='submit' name='commit' class='btn btn-success' form="<%= @snomed_concept.new_record? ? 'new_snomed_concept' : 'edit_snomed_concept_' + @snomed_concept.id.to_s %>">
      <%= fa_icon 'save' %> Guardar
    </button>
  </div>
</div>
