<% if short_message %>          
  <div class="text-nowrap">
    <%= notification.action_type %> una receta ambulatoria
  </div>
<% else %>
  <div class="">
    <%= notification.actor.profile.first_name.titleize %> 
    <%= notification.action_type %> una
    <span class="visible-print">receta ambulatoria</span>
    de 
    <%= notification.target.professional.full_name %>
    para <%= notification.target.patient.fullname %>.
  </div>
<% end %>