
<% if short_message %>
  <div class="text-nowrap">
    <%= notification.action_type %> una receta crónica
  </div>
<% else %>
  <div class="">
    <%= notification.actor.profile.first_name.titleize %> 
    <%= notification.action_type %> 
    una
    <span class="visible-print">receta crónica</span>
    de 
    <%= notification.target.professional.full_name %>
    para <%= notification.target.patient.fullname %>.
  </div>
<% end %>
