
<%if short_message %>
  <div class="text-nowrap">
    <%= notification.action_type %> una receta de internación
  </div>

<%else %>
  <div class="">
    <%= notification.actor.profile.first_name.titleize %>
    <%= notification.action_type %>
    una
    <span class="visible-print">receta de internación</span>
    de 
    <%= osCount = notification.target.order_products.count %><%= ' producto'.pluralize(osCount) %>
    para <%= notification.target.destiny_name %> de <%= notification.target.origin_name %>.
  </div>
<% end%>
