<% unless notification.target.nil? %>
  <li class="list-group-item <%= notification.read_at.present? ? '' : 'unread'%> notification-<%= notification.id %>">
    <%= link_to main_app.polymorphic_url([notification.target.class.name.underscore.pluralize.to_sym, 
                                        (notification.target.custom_notification_url.to_sym if notification.target.class.method_defined?(:custom_notification_url)) ],
                                        id: notification.target.id, notification_id: notification.id),
                                        class:'notification-link d-flex align-items-center p-2' do %>    
    
      <div class="d-flex align-items-center h-100 mw-100">
        <%= image_tag user_avatar(notification.actor, 25), 
              class:"rounded",
              size: '25',
              :'data-toggle'=>"tooltip",
              :'data-placement'=>"left",
              :'title'=>notification.actor.profile.first_name.titleize %>
        <div class="ml-2 notification-content text-truncate">
          <%= render partial: "/notifications/notifications/#{notification.notify_type}", 
          locals: { notification: notification, short_message: short_message } %>
          <small class="text-nowrap text-truncate"><%= time_ago_in_words(notification.created_at) %>
          </small>
        </div>
      </div>

    <% end %>

    <div class="notifications-action">
      <% if !notification.read_at.present? %>
        <%= link_to main_app.notifications_set_as_read_path(notification), 
        class: "read-notification",
        method: :post,
        remote: true,
        :'data-toggle'=>"tooltip",
        :'data-placement'=>"top",
        :'title'=>"Marcar como leída" do %>
          <%= fa_icon 'check' %>  
        <% end %>
      <% end %>
      
      <% if !short_message %>
        <%= link_to notification, remote: true, method: :delete,
        class: 'text-danger ml-2', title: 'Borrar', data: { toggle: 'tooltip', placement: 'top' } do %>
          <%= fa_icon "trash" %>
        <% end %>
      <% end %>
    </div>
  </li>
<% end%>