<%if short_message %>
  <div class="text-nowrap">
    <%= notification.action_type %> una provisión
  </div>  
<% else %>
  <div class="">
    <%= notification.actor.profile.first_name.titleize %> de <%= notification.actor_sector.name %>
    <%= notification.action_type %> una 
    <span class="visible-print">provisión</span>
    de 
    <%= osCount = notification.target.quantity_ord_supply_lots.count %><%= ' insumo'.pluralize(osCount) %>
    para <%= notification.target.applicant_sector.name %>.
  </div>
<% end %>