
<%if short_message %>
  <div class="text-nowrap">
    <%= notification.action_type %> un recibo
  </div>   
<%else %>
  <div class="">
    <%= notification.actor.profile.first_name.titleize %> de <%= notification.actor_sector.establishment.name %>
    <%= notification.action_type %> un 
    <span class="visible-print">recibo</span>
    de 
    <%= osCount = notification.target.quantity_ord_supply_lots.count %><%= ' insumo'.pluralize(osCount) %>
    proveniente de <%= notification.target.provider_sector.establishment.name %>.
  </div>
<% end %>