<%= render 'header'%>

<% if @notifications.present? %>

    <div class="card fixed-custom-card">
      <div class="card-header d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
          <%= fa_icon "eye" %>
          <h5 class="card-title mb-0 ml-2">
            Lista de notificationes
          </h5>
        </div>
        <%= link_to notifications_path, class: 'btn btn-light' do %>
          <%= fa_icon 'times' %>
        <% end %>
      </div>

      
      <div class="card-body">
        <ul class="list-group notifications-list">
          <% @notification_groups.each do |group, notifications| %>

            <li class="list-group-item group-container">
              <div class="ml-2 mt-2 mb-2"><%= group %></div>
              <ul class="list-group">
                <%= render notifications %>
              </ul>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="card-footer d-flex justify-content-center">
        <%= will_paginate @notifications, list_classes: %w(pagination mb-0), renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
      </div>
    </div>

<% else %>
  <%= render(
    partial: 'shared/not_found',
    locals: { object_name: 'notificaciones' }
  ) %>
<% end %>


