<% content_for :page_header do %>
  <%= link_to notifications.notifications_path, class: "nav-item" do %>
    <%= fa_icon "bell" %>
    Notificaciones
  <% end %>
<% end %>


<% if @notifications.present? %>

    <div class="card fixed-custom-card">
      <div class="card-header d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
          <%= fa_icon "eye" %>
          <h5 class="card-title mb-0 ml-2">
            Lista de notificationes
          </h5>
          <%= link_to notifications.clean_notifications_path, class: 'btn btn-xs btn-warning', method: 'delete' do %>
            <%= t('notifications.clean_all') %>
          <% end %>
        </div>
        <%= link_to notifications_path, class: 'btn btn-light' do %>
          <%= fa_icon 'times' %>
        <% end %>
      </div>
      <div class="card-body fixed-panel-index">
        <% @notification_groups.each do |group, notifications| %>
          <div class="notification-group">
            <div class="group-title"><%= group %></div>
            <%= render notifications %>
          </div>
        <% end %>
        
        <div class="d-flex align-items-center justify-content-center" style="height: 50px">
          <%= will_paginate @notifications, list_classes: %w(pagination mb-0), renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
        </div>
      </div>
    </div>

<% else %>
  <%= render(
    partial: 'shared/not_found',
    locals: { object_name: 'notificaciones' }
  ) %>
<% end %>


