<% content_for :page_header do %>
  <li id="page-title" class="nav-item non-sel">
    <a href="" class="nav-link">Usuarios</a>
  </li>
  <li class="nav-item <%= active_action_and_controller('index', 'users_admin') %> non-sel">
    <%= link_to users_admin_index_path, class: 'nav-link' do %>
      <%= content_tag(:span, '', class: 'glyphicon glyphicon-list') %>
      Listado
    <% end %>
  </li>
  <% if policy(PermissionRequest).index? %>
    <li class="nav-item <%= active_action_and_controller('index', 'permission_requests') %> non-sel" id="efector">
      <%= link_to permission_requests_path, class: 'nav-link' do %>
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-envelope') %>
        Solicitud de permisos&nbsp;
        <% count =  PermissionRequest.nueva.count %>
        <% if count > 0 %>
          <div class="label label-info pull-right"><%= count %></div>
        <% end %>
      <% end %>
    </li>
  <% end %>
<% end %>