<tr class="table-row <%= permission_request.nueva? ? "info" : ""%>" data-href="<%= permission_request_path(permission_request) %>">
  <td><%= permission_request.user.full_name %></td>
  <td><span class="badge badge-<%= permission_request_status_label(permission_request) %>"><%= permission_request.status.humanize %></span></td>
  <td><%= permission_request.establishment.titleize %></td>
  <td><%= permission_request.sector.titleize %></td>
  <td><%= permission_request.created_at.strftime("%d/%m/%Y") %></td>
</tr>