<%= form_for_filterrific @filterrific do |f| %>
  <div class="row justify-content-between">
    <div class="col-1 d-flex justify-content-end align-items-center">
      <%= render_filterrific_spinner %>
      <%= link_to lots_path(reset: true), class: 'btn btn-secondary ml-2',
        title: 'Reiniciar', data: { toggle: 'tooltip', placement: 'top' }, 
        'data-disable-with' => "<i class='fa fa-redo fa-spin'></i>".html_safe do %>
        <%= fa_icon 'redo' %>
      <% end %>
    </div>
    <div class="col">
      <label>C贸digo lote</label>
      <%= f.text_field(
        :search_lot_code,
        class: 'filterrific-periodically-observed form-control input-sm',
        placeholder: 'C贸dgio'
      ) %>
    </div>
    <div class="col">
      <label>C贸digo producto</label>
      <%= f.text_field(
        :search_product_code,
        class: 'filterrific-periodically-observed form-control input-sm',
        placeholder: 'C贸digo',
        autocomplete: 'off'
      ) %>
    </div>
    <div class="col">
      <label>Nombre producto</label>
      <%= f.text_field(
        :search_product,
        class: 'filterrific-periodically-observed form-control input-sm',
        placeholder: 'Nombre',
        autocomplete: 'off'
      ) %>
    </div>
    <div class="col">
      <label>Laboratorio</label>
      <%= f.text_field(
        :search_laboratory,
        class: 'filterrific-periodically-observed form-control input-sm',
        placeholder: 'Nombre',
        autocomplete: 'off'
      ) %>
    </div>
  </div>
<% end %>