<tr id="lot_<%= lot.id %>">
  <td><%= lot.code %></td>
  <td><%= lot.product_code %></td>
  <td><%= lot.product_name %></td>
  <td><%= lot.laboratory_name %></td>
  <td class="text-center actions-col">
    <% if policy(lot).show? %>
      <%= link_to lot_path(lot), class: 'btn btn-default btn-sm',
            title: 'Ver detalles', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= fa_icon "eye" %>
      <% end %>
    <% end %>
    <% if policy(lot).edit? %>
      <%= link_to edit_lot_path(lot), class: 'btn btn-warning btn-sm',
            title: 'Editar', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= fa_icon "edit" %>
      <% end %>
    <% end %>
    <% if policy(lot).delete? %>
      <%= link_to delete_lot_path(lot), remote: true,
            class: 'btn btn-danger btn-sm', title: 'Papelera', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= fa_icon "trash" %>
      <% end %>
    <% end %>
  </td>
</tr>
