<%# Header buttons actions %>
<% content_for :print_and_back_button do %>
  <%= link_to external_orders_providers_path(format: 'pdf'), class: 'btn btn-light',  
    :title => 'Imprimir pdf', :'data-placement'=>'top', :'data-toggle'=>'tooltip', target: :_blank do %>
    <%= fa_icon "print" %>
  <% end %>
  <%= link_to external_orders_providers_path, class: 'btn btn-light',
      :title => 'Cerrar', :'data-placement'=>'top', :'data-toggle'=>'tooltip' do %>
    <%= fa_icon "times" %>
  <% end %>
<% end %>

<% content_for :action_buttons_left do %>
  <% if policy(:external_order_provider).nullify_order?(@external_order) %>
    <span data-toggle="modal" data-target="#anular-confirm">
      <button class="btn btn-danger btn-sm" data-toggle='tooltip' title="Anular solicitud" >
        <%= fa_icon 'ban' %>
      </button>
    </span>
  <% end %>
<% end %>

<% content_for :action_buttons do %>

  <%= link_to external_orders_providers_path,  
    'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Volviendo... ".html_safe,
    class: "btn btn-secondary mr-1" do %>
    Volver
  <% end %>

  <% if policy(:external_order_provider).show? %>
    <%= link_to external_orders_provider_path(format: 'pdf'), class: 'btn btn-info mr-1', target: :_blank do %>
      <%= fa_icon "print" %> Imprimir
    <% end %>
  <% end %>

  <% if policy(:external_order_provider).edit?(@external_order) %>
    <%= link_to edit_external_orders_provider_path(@external_order), :"data-turbolinks" => false,
      'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Editando... ".html_safe,
      class: "btn btn-warning mr-1" do %>
      <%= fa_icon "pen" %>
      Editar orden
    <% end %>
  <% end %>

  <% if policy(:external_order_provider).edit_products?(@external_order) %>
    <%= link_to edit_products_external_orders_provider_path(@external_order),
      class: 'btn btn-warning mr-1', title: 'Editar productos', data: { toggle: 'tooltip', placement: 'top' } do %>
      <%= fa_icon "file-signature" %>
      Editar productos
    <% end %>
  <% end %>
  
  <% if policy(:external_order_provider).rollback_order?(@external_order) %>
    <button type="button" class="btn btn-warning mr-1" data-toggle="modal" data-target="#return-confirm">
      <%= fa_icon "undo" %>
      Retornar
    </button>
  <% end %>
  
  <% if policy(:external_order_provider).accept_order?(@external_order) %>
    <%= link_to accept_order_external_orders_provider_path(@external_order),  
      'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Aceptando... ".html_safe,
      class: 'btn btn-primary btn-md mr-1' do %>
      <%= fa_icon "thumbs-up" %> Aceptar
    <% end %>
  <% end %>

  <% if policy(:external_order_provider).can_send?(@external_order) %>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#send-confirm">
      <%= fa_icon "paper-plane" %>
      Enviar provisión
    </button>
  <% end %>
<% end %>
  
<%= render "establishments/external_orders/show", order: @external_order %>

<% content_for :modal do %>
  <%# Retornar a un estado anterior (solo solicitudes enviadas o entregas aceptadas)%>
  <% if policy(:external_order_provider).rollback_order?(@external_order) %>
    <div class="modal" id="return-confirm">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-warning">
            <h5 class="m-0"><%= fa_icon "undo" %> Retornar a <%= prev_status = ExternalOrder.statuses.key(@external_order.status_before_type_cast - 1).humanize.underscore %></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Seguro que desea retornar la <%= @external_order.order_type %> actual a <%= prev_status %>?</p>
          </div>
          <div class="modal-footer text-right">
            <a href="#" data-dismiss="modal" class="btn">Cancelar</a>
            <%= link_to 'Confirmar', 
              rollback_order_external_orders_provider_path(@external_order), 
              method: :get, 
              'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Retornando...".html_safe, 
              :class => 'btn btn-warning' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  
  <%# Enviar provision (solo en provision aceptada) %>
  <% if policy(:external_order_provider).can_send?(@external_order) %>
    <div class="modal fade" id="send-confirm">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-primary text-white">
            <h5 class="m-0"><%= fa_icon "check" %> Confirmar envío de despacho <%= @external_order.remit_code %></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Una vez enviada la orden, no se podrán retornar los productos a stock.</p>
            <h6>Desea enviar la provisión?</h6>
          </div>
          <div class="modal-footer text-right">
            <a href="#" data-dismiss="modal" class="btn">Cancelar</a>
            <%= link_to 'Confirmar', dispatch_order_external_orders_provider_path(@external_order), method: :get, 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Enviando...".html_safe, :class => 'btn btn-warning' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  
  <%# Anular orden (solo en solicitudes enviadas) %>
  <% if policy(:external_order_provider).nullify_order?(@external_order) %>
    <div class="modal fade" id="anular-confirm">
      <div class="modal-dialog">
        <div class="modal-content panel-warning">
          <div class="modal-header panel-heading">
            <h5 class="m-0"><%= fa_icon "check" %> Confirmar anulación de <%= ExternalOrder.statuses.key(@external_order.status_before_type_cast - 1).underscore.humanize %></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Esta seguro de anular el pedido?</p>
          </div>
          <div class="modal-footer text-right">
            <a href="#" data-dismiss="modal" class="btn">Cancelar</a>
            <% link_to 'Anular', nullify_order_external_orders_provider_path(@external_order), method: :get, 'data-disable-with' => "Enviando... <i class='fa fa-spinner fa-spin'></i>".html_safe, :class => 'btn btn-danger' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>