<% content_for :print_and_back_button do %>
  <%= link_to internal_orders_applicant_path(format: 'pdf'), class: 'btn btn-light',
    :title => 'Imprimir pdf', :'data-placement'=>'top', :'data-toggle'=>'tooltip', target: :_blank do %>
    <%= fa_icon "print" %>
  <% end %>
  <%= link_to internal_orders_applicants_path, class: 'btn btn-light',
      :title => 'Cerrar', :'data-placement'=>'top', :'data-toggle'=>'tooltip' do %>
    <%= fa_icon "times" %>
  <% end %>
<% end %>

<% content_for :action_buttons do %>
  <%= link_to internal_orders_applicants_path,  
    'data-disable-with' => "Volviendo... <i class='fa fa-spinner fa-spin'></i>".html_safe,
    class: "btn btn-secondary mr-1" do %>
    Volver
  <% end %>

  <% if policy(@internal_order).show? %>
    <%= link_to internal_orders_applicant_path(format: 'pdf'), class: 'btn btn-info mr-1', target: :_blank do %>
      <%= fa_icon "print" %> Imprimir
    <% end %>
  <% end %>

  
  <% if policy(:internal_order_applicant).edit?(@internal_order) %>
    <%= link_to edit_internal_orders_applicant_path(@internal_order),  
      'data-disable-with' => "Editar... <i class='fa fa-spinner fa-spin'></i>".html_safe,
      class: 'btn btn-warning btn-md mr-1' do %>
      <%= fa_icon "pen" %>
      Editar orden
    <% end %>
  <% end %>

  <% if policy(:internal_order_applicant).edit_products?(@internal_order) %>
    <%= link_to edit_products_internal_orders_applicant_path(@internal_order),  
      'data-disable-with' => "editar productos <i class='fa fa-spinner fa-spin'></i>".html_safe,
      class: 'btn btn-warning btn-md mr-1' do %>
      <%= fa_icon "file-signature" %>
      Editar productos
    <% end %>
  <% end %>

  <% if policy(:internal_order_applicant).can_send?(@internal_order) %>
    <%= link_to dispatch_order_internal_orders_applicant_path(@internal_order), 
      'data-disable-with' => "Enviando... <i class='fa fa-spinner fa-spin'></i>".html_safe,
      class: 'btn btn-primary btn-md mr-1' do %>
      <%= fa_icon "paper-plane" %>
      Enviar solicitud
    <% end %>
  <% end %>

  <% if policy(:internal_order_applicant).rollback_order?(@internal_order) %>
    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#return-confirm">
      <%= fa_icon "undo" %>
      Retornar
    </button>
  <% end %>
  
  <% if policy(:internal_order_applicant).receive_order?(@internal_order) %>
    <button type="button" class="btn btn-success btn-md" data-toggle="modal" data-target="#receive-confirm">
      <%= fa_icon "check" %>
      Recibir
    </button>
  <% end %>
<% end %>

<%= render "sectors/internal_orders/show", order: @internal_order %>

<% content_for :modal do %>
  <% if policy(:internal_order_applicant).rollback_order?(@internal_order) %>
    <div class="modal" id="return-confirm">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-warning">
            <h5 class="m-0"><%= fa_icon "undo" %> Retornar a <%= prev_status = InternalOrder.statuses.key(@internal_order.status_before_type_cast - 1).humanize.downcase %></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Seguro que desea retornar la <%= @internal_order.order_type %> actual a <%= prev_status %>?</p>
            <p>De esta manera podrá seguir agregando o quitando productos del pedido.</p>
          </div>
          <div class="modal-footer text-right">
            <a href="#" data-dismiss="modal" class="btn">Cancelar</a>
            <%= link_to 'Confirmar', rollback_order_internal_orders_applicant_path(@internal_order), method: :get, 'data-disable-with' => "Retornando... <i class='fa fa-spinner fa-spin'></i>".html_safe, :class => 'btn btn-warning' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  
  <% if policy(:internal_order_applicant).receive_order?(@internal_order) %>
    <div class="modal fade" id="receive-confirm">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-success text-white">
            <h5 class="m-0"><%= fa_icon "check" %> Confirmar recibo de <%= @internal_order.human_name.downcase %></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Esta seguro que ha recibido el pedido código <%= @internal_order.remit_code %>?</p>
            <p>Contiene <%= pluralize(@internal_order.order_products.count, 'producto', plural: 'productos diferentes') %>.</p>
          </div>
          <div class="modal-footer text-right">
            <a href="#" data-dismiss="modal" class="btn">Cancelar</a>
            <%= link_to 'Confirmar', receive_order_internal_orders_applicant_path(@internal_order), method: :get, 'data-disable-with' => "Recibiendo... <i class='fa fa-spinner fa-spin'></i>".html_safe, :class => 'btn btn-success' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>