<tr id="chronic_prescription_<%= chronic_prescription.id %>">
  <td><%= chronic_prescription.remit_code %></th>
  <td class="pres-col-pro"><%= chronic_prescription.professional.fullname %></td>
  <%# Si esta definida la variable y esta en true debemos ocultar el campo%>
  <% if !defined?(hide_patient) || (defined?(hide_patient) && !hide_patient) %>
    <td class="pres-col-pat"><%= chronic_prescription.patient.full_info %></td>
  <% end %>
  <td>
    <span class="badge badge-<%= chronic_prescription_status_label(chronic_prescription) %>">
      <%= chronic_prescription.status.underscore.humanize %>
    </span>
  </td>
  <td>
    <%= chronic_prescription.original_chronic_prescription_products.count %>
  </td>
  <td>
    <%= chronic_prescription.movements.count %>
  </td>
  <td>
    <% if chronic_prescription.date_prescribed.present? %>
      <%= chronic_prescription.date_prescribed.strftime("%d/%m/%Y") %>
    <% else %>
      ------
    <% end %>
  <td class="text-left actions-col">
    <div class="d-flex">
      <% if policy(chronic_prescription).dispense_new? %>
        <%= link_to new_chronic_prescription_chronic_dispensation_path(chronic_prescription),
          class: 'btn btn-sm btn-primary mr-1 ml-1',
          title: t("actions.tooltip.dispense"),
          target: (dispense_target if defined?(dispense_target)),
          data: { toggle: 'tooltip', placement: 'top'} do %> 
          <%= fa_icon "paper-plane"%>
        <% end %>
      <% end %>

      <%= render(
        partial: 'shared/action_buttons',
        locals:{ 
            object: chronic_prescription, 
            show: {visible: true, target: (show_target if defined?(show_target) )},
            edit: {visible: true, target: (edit_target if defined?(edit_target) )},
            destroy: {
              visible: true, 
              title: "Eliminar prescripción",
              body: "Esta seguro que desea eliminar la prescripción de #{ chronic_prescription.professional.fullname }?",
              path: "/recetas/cronicas/#{chronic_prescription.id}"
            }
        }
      ) 
      %>
     
    </div>
  </td>
</tr>
