<% @user.sectors.each do |sector| %>
  <li class="list-group-item d-flex justify-content-between align-items-center p-1">
    <span><%= sector.name %> - <%= sector.establishment.name %></span>
    <button type="button" 
      id="linked-sector-<%= sector.id %>"
      class="btn btn-danger btn-sm delete-item"
      title="<%= t("actions.tooltip.delete") %>"
      data-toggle="tooltip"
      data-placement="top"
      data-target="#delete-item" 
      data-title="Quitar sector <%= sector.name %>"
      data-body="Esta seguro que desea remover el sector <%= sector.name %> a <%=@user.full_name%>?"
      data-href="<%= removes_sector_users_admin_path(@user, sector.id) %>">
        <%= fa_icon "times" %>
    </button>
  </li>
<% end %>