<%= simple_form_for @external_order, html: {class: "form-inline", role: 'check-modified'} do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="col-md-4">
      <%= f.input :order_type, :as => :hidden, :input_html => { value: 'solicitud_abastecimiento' } %>
      <div class="text-center"><%= f.label :applicant_sector_id, "Solicitante" %></div>
      <%= f.input :applicant_establishment_id, as: :string,
        label: 'Establecimiento',
        :input_html => {
          disabled: true,
          value: "#{ if f.object.new_record?; current_user.establishment_name; else; f.object.applicant_sector.establishment_name; end}",
          size: 41
        } 
      %>
      <%= f.input :applicant_sector_id, as: :string,
        label: 'Sector',
        :input_html => {
          disabled: true,
          value: "#{ if f.object.new_record?; current_user.sector_name; else; f.object.applicant_sector.name; end}",
          size: 41
        } 
      %>
      <%= f.hidden_field :applicant_sector_id, value: "#{ if f.object.new_record?; current_user.sector_id; else; f.object.applicant_sector.id; end }" %>
      <% if policy(current_user).change_sector? %>
        <%= link_to main_app.change_sector_users_admin_path(current_user), class:'btn btn-warning btn-sm change-btn', remote: true,
          :title => 'Cambiar sector', :'data-placement'=>'top', :'data-toggle'=>'tooltip' do %>
          <%= content_tag(:span, '', class: 'glyphicon glyphicon-refresh') %>
        <% end %>
      <% end %>
    </div>
    <div class='col-md-4'>
      <div class="text-center"><%= f.label :provider_establishment_id, "Proveedor" %></div>
      <%= f.input :provider_sector_id, as: :string,
        label: 'Establecimiento',
        placeholder: 'Buscar por nombre',
        required: true,
        :input_html => {
          autocomplete: 'off',
          id: "provider-establishment",
          data: { autocomplete_source: search_by_name_establishments_path },
          value: "#{ if f.object.provider_sector.present?; f.object.provider_sector.establishment.name; end }",
          size: 41
        } 
      %>
      <%= f.input :provider_sector_id, :as => :hidden,
        :input_html => {
          id: 'provider-establishment-id',
          value: "#{ if f.object.provider_sector.present?; f.object.provider_sector.establishment_id; end }"
        } 
      %>
      <br>
      <% if f.object.provider_sector.present? %>
        <%= f.input :provider_sector_id, label: 'Sector',
          collection: @sectors.map {
            |sector| [sector.name, sector.id]
          },
          :input_html => {
            required: true,
            id: 'provider-sector',
            class: 'selectpicker-md show-tick',
            "data-width"=>"322px",
            "title"=>"Seleccionar sector",
            "data-size"=>"10",
            "data-live-search"=>true,
            value: f.object.provider_sector.present? ? f.object.provider_sector.id : ""
          }
        %>
      <% else %>
        <%= f.input :provider_sector_id, label: 'Sector',
          collection: [],
          :input_html => {
            required: true,
            id: 'provider-sector',
            class: 'selectpicker-md show-tick',
            "data-width"=>"322px",
            "title"=>"Seleccione un establecimiento",
            "data-size"=>"10",
            "data-live-search"=>true,
          } 
        %>
      <% end %>
      <%= f.hidden_field :provider_sector_id, id: "provider-id", value: "#{ if f.object.provider_sector.present?; f.object.provider_sector.id; end }" %>
    </div>
    <div class='col-md-4'>
      <div class="row">
        <div class="col-md-6">
        <%= f.input :requested_date, label: 'Fecha solicitado', as: :string,
          :placeholder => "Seleccionar fecha",
          input_html: {
            id: "requested-date",
            required: true,
            autocomplete: 'off',
            :style => 'width: 110px',
            value: "#{f.object.requested_date unless f.object.new_record?}"
          },
          html5: false 
        %>
        </div>
      </div>
      <%= f.input :observation, label: 'Observaciones', as: :text,
      :input_html => { :cols => 38  , :rows => 2 } %>
    </div>
  </div>
  <!-- Insumos a recibir -->
  <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th>Cód Ins</th>
        <th>Insumo</th>
        <th>Tu stock</th>
        <th>Solicitar</th>
        <th>Unidad</th>
        <th>Tu observación</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="quantity_ord_supply_lots">
      <% if params[:action] == "edit" %>
        <%= f.simple_fields_for :quantity_ord_supply_lots, @external_order.quantity_ord_supply_lots.joins(:supply).order("name") do |form_quantity| %>
          <%= render "quantity_ord_supply_lot_fields", f: form_quantity %>
        <% end %>
      <% elsif params[:action] == "create" %>
        <%= f.simple_fields_for :quantity_ord_supply_lots do |form_quantity| %>
          <%= render "quantity_ord_supply_lot_fields", f: form_quantity %>
        <% end %>
      <% else %>
        <%= f.simple_fields_for :quantity_ord_supply_lots, 4.times { @external_order.quantity_ord_supply_lots.build } do |form_quantity| %>
          <%= render "quantity_ord_supply_lot_fields", f: form_quantity %>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <div class="links" id="links-quant-form">
    <div class="text-center">
      <%= link_to_add_association f, :quantity_ord_supply_lots, class: 'btn btn-primary btn-xs',
        data: {"association-insertion-node" => "tbody.quantity_ord_supply_lots", "association-insertion-method" => "append"} do %>
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-plus') %>
        Agregar insumo a solicitar
      <% end %>
    </div>
  </div>
<% end %>