<tr id="external_order_<%= external_order.id %>" class="<%= ordering_td(external_order) %>">
  <td><%= external_order.remit_code %></td>
  <% if current_page?(action: 'applicant_index') %>
    <td class="sol-col-aba">
      <%= external_order.provider_sector.name %>
      <%= external_order.provider_sector.establishment_name %></td>
    </td>
  <% else %>
    <td class="sol-col-aba">
      <%= external_order.applicant_sector.name %>
      <%= external_order.applicant_sector.establishment_name %>  
    </td>
  <% end %>
  <td>
    <span class="label label-default">
      <%= external_order.order_type.underscore.humanize %>
    </span>
  </td>
  <td>
    <span class="label label-<%= ordering_status_label(external_order) %>">
      <%= external_order.status.underscore.humanize %>
    </span>
  </td>
  <td>
    <span class="badge"><%= external_order.quantity_ord_supply_lots.count %></span>
  </td>
  <td>
    <span class="badge"><%= external_order.movements.count %></span>
  </td>
  <td>
    <span class="badge"><%= external_order.comments.count %></span>
  </td>
  <td>
    <%= external_order.requested_date.strftime("%d/%m/%Y") %>
  </td>
  <td>
    <% if external_order.provision_entregada? || external_order.recibo_realizado? %>
      <%= external_order.date_received.strftime("%d/%m/%y %H:%M") %>
    <% else %>
      ----
    <% end %>
  </td>
  <td>
    <% if policy(external_order).show? %>
      <%= link_to external_order_path(external_order),
        class: 'btn btn-default btn-xs', title: 'Ver detalles', data: { toggle: 'tooltip', placement: 'top' }, 'data-disable-with' => "<span class='glyphicon glyphicon-refresh glyphicon-spin'></span>".html_safe do %>
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-eye-open') %>
      <% end %>
    <% end %>
    <% if policy(external_order).send_provider? %>
      <%= link_to send_provider_external_order_path(external_order), remote: true,
        class: 'btn btn-primary btn-xs', title: 'Enviar', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-send') %>
      <% end %>
    <% end %>
    <% if policy(external_order).edit_applicant? %>
      <%= link_to edit_applicant_external_order_path(external_order), :"data-turbolinks" => false, 
        class: 'btn btn-warning btn-xs', title: 'Auditar', data: { toggle: 'tooltip', placement: 'top' }, 'data-disable-with' => "<span class='glyphicon glyphicon-refresh glyphicon-spin'></span>".html_safe do %>
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-edit') %>
      <% end %>
    <% end %>
    <% if policy(external_order).edit? %>
      <%= link_to edit_external_order_path(external_order), :"data-turbolinks" => false,
        class: 'btn btn-warning btn-xs', title: 'Auditar', data: { toggle: 'tooltip', placement: 'top' }, 'data-disable-with' => "<span class='glyphicon glyphicon-refresh glyphicon-spin'></span>".html_safe do %>
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-edit') %>
      <% end %>
    <% end %>
    <% if policy(external_order).edit_receipt? %>
      <%= link_to edit_receipt_external_order_path(external_order), :"data-turbolinks" => false,
        class: 'btn btn-warning btn-xs', title: 'Auditar', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-edit') %>
      <% end %>
    <% end %>
    <% if policy(external_order).delete? %>
      <%= link_to delete_external_order_path(external_order), remote: true,
            class: 'btn btn-danger btn-xs', title: 'Papelera', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-trash') %>
      <% end %>
    <% end %>
    <% if policy(external_order).nullify? %>
      <%= link_to nullify_external_order_path(external_order), remote: true,
        :"data-turbolinks" => false, class: 'btn btn-danger btn-xs', 
        title: 'anular', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= content_tag(:span, '', class: 'glyphicon fas fa-ban') %>
      <% end %>
    <% end %>
  </td>
</tr>
