<tr id="external_order_<%= external_order.id %>" class="<%= ordering_td(external_order) %>">
  <td><%= external_order.remit_code %></td>
  <% if current_page?(action: 'applicant_index') %>
    <td class="sol-col-aba">
      <%= external_order.provider_sector.name %>
      <%= external_order.provider_sector.establishment_name %></td>
    </td>
  <% else %>
    <td class="sol-col-aba">
      <%= external_order.applicant_sector.name %>
      <%= external_order.applicant_sector.establishment_name %>  
    </td>
  <% end %>
  <td>
    <span class="badge badge-secondary">
      <%= external_order.order_type.underscore.humanize %>
    </span>
  </td>
  <td>
    <span class="badge badge-<%= ordering_status_label(external_order) %>">
      <%= external_order.status.underscore.humanize %>
    </span>
  </td>
  <td>
    <%= external_order.quantity_ord_supply_lots.count %>
  </td>
  <td>
    <%= external_order.movements.count %>
  </td>
  <td>
    <%= external_order.comments.count %>
  </td>
  <td>
    <%= external_order.requested_date.strftime("%d/%m/%Y") %>
  </td>
  <td>
    <% if external_order.provision_entregada? || external_order.recibo_realizado? %>
      <%= external_order.date_received.strftime("%d/%m/%y %H:%M") %>
    <% else %>
      ----
    <% end %>
  </td>
  <td class="text-left actions-col">
    <% if policy(external_order).show? %>
      <%= link_to external_order_path(external_order),
        class: 'btn btn-secondary btn-sm', title: 'Ver detalles', data: { toggle: 'tooltip', placement: 'top' }, 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i>".html_safe do %>
        <%= fa_icon "eye" %>
      <% end %>
    <% end %>
    <% if policy(external_order).send_provider? %>
      <%= link_to send_provider_external_order_path(external_order), remote: true,
        class: 'btn btn-primary btn-sm', title: 'Enviar', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= fa_icon "paper-plane" %>
      <% end %>
    <% end %>
    <% if policy(external_order).edit_applicant? %>
      <%= link_to edit_applicant_external_order_path(external_order), :"data-turbolinks" => false, 
        class: 'btn btn-warning btn-sm', title: 'Editar', data: { toggle: 'tooltip', placement: 'top' }, 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i>".html_safe do %>
        <%= fa_icon "pen" %>
      <% end %>
    <% end %>
    <% if policy(external_order).edit? %>
      <%= link_to edit_external_order_path(external_order), :"data-turbolinks" => false,
        class: 'btn btn-warning btn-sm', title: 'Editar', data: { toggle: 'tooltip', placement: 'top' }, 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i>".html_safe do %>
        <%= fa_icon "pen" %>
      <% end %>
    <% end %>
    <% if policy(external_order).edit_receipt? %>
      <%= link_to edit_receipt_external_order_path(external_order), :"data-turbolinks" => false,
        class: 'btn btn-warning btn-sm', title: 'Editar', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= fa_icon "pen" %>
      <% end %>
    <% end %>
    <% if policy(external_order).delete? %>
      <%= link_to delete_external_order_path(external_order), remote: true,
            class: 'btn btn-danger btn-sm', title: 'Borrar', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= fa_icon "trash" %>
      <% end %>
    <% end %>
    <% if policy(external_order).nullify? %>
      <%= link_to nullify_confirm_external_order_path(external_order), remote: true,
        :"data-turbolinks" => false, class: 'btn btn-danger btn-sm', 
        title: 'Anular', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= fa_icon "ban" %>
      <% end %>
    <% end %>
  </td>
</tr>
