<tr id="external_order_<%= external_order.id %>" class="<%= ordering_td(external_order) %>">
  <td><%= external_order.remit_code %></td>
  <% if current_page?(action: 'applicant_index') %>
    <td class="sol-col-aba">
      <%= external_order.provider_sector.name %>
      <%= external_order.provider_sector.establishment_name %></td>
    </td>
  <% else %>
    <td class="sol-col-aba">
      <%= external_order.applicant_sector.name %>
      <%= external_order.applicant_sector.establishment_name %>  
    </td>
  <% end %>
  <td>
    <span class="badge badge-secondary">
      <%= external_order.order_type.underscore.humanize %>
    </span>
  </td>
  <td>
    <span class="badge badge-<%= ordering_status_label(external_order) %>">
      <%= external_order.status.underscore.humanize %>
    </span>
  </td>
  <td>
    <%= external_order.external_order_products.count %>
  </td>
  <td>
    <%= external_order.movements.count %>
  </td>
  <td>
    <%= external_order.comments.count %>
  </td>
  <td>
    <%= external_order.requested_date.strftime("%d/%m/%Y") %>
  </td>
  <td>
    <% if external_order.provision_entregada? %>
      <%= external_order.date_received.strftime("%d/%m/%y %H:%M") %>
    <% else %>
      ----
    <% end %>
  </td>
  <td class="text-left actions-col">
    <% if policy(external_order).show? %>
      <%= link_to external_order_path(external_order),
        class: 'btn btn-secondary btn-sm', title: 'Ver detalles', data: { toggle: 'tooltip', placement: 'top' }, 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i>".html_safe do %>
        <%= fa_icon "eye" %>
      <% end %>
    <% end %>
    <% if policy(external_order).send_provider? %>
      <%= link_to send_provider_external_order_path(external_order), remote: true,
        class: 'btn btn-primary btn-sm', title: 'Enviar', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= fa_icon "paper-plane" %>
      <% end %>
    <% end %>
    <% if policy(external_order).edit_applicant? %>
      <%= link_to edit_applicant_external_order_path(external_order), :"data-turbolinks" => false, 
        class: 'btn btn-warning btn-sm', title: 'Editar', data: { toggle: 'tooltip', placement: 'top' }, 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i>".html_safe do %>
        <%= fa_icon "pen" %>
      <% end %>
    <% end %>
    <% if policy(external_order).edit_provider? %>
      <%= link_to edit_provider_external_order_path(external_order), :"data-turbolinks" => false,
        class: 'btn btn-warning btn-sm', title: 'Editar', data: { toggle: 'tooltip', placement: 'top' }, 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i>".html_safe do %>
        <%= fa_icon "pen" %>
      <% end %>
    <% end %>
    <% if policy(external_order).delete? %>
      <%= link_to delete_external_order_path(external_order), remote: true,
            class: 'btn btn-danger btn-sm', title: 'Borrar', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= fa_icon "trash" %>
      <% end %>
    <% end %>
    <% if policy(external_order).nullify? %>
      <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#anular-confirm-<%=external_order.id%>">
        <%= fa_icon "ban" %>
      </button>
    <% end %>
  </td>
</tr>


<% content_for :modal do %>
  <% if policy(external_order).nullify? %>
    <div class="modal fade" id="anular-confirm-<%=external_order.id%>">
      <div class="modal-dialog">
        <div class="modal-content panel-warning">
          <div class="modal-header panel-heading">
            <h5 class="m-0"><%= fa_icon "check" %> Confirmar anulación de <%= ExternalOrder.statuses.key(external_order.status_before_type_cast - 1).underscore.humanize %></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Esta seguro de anular el pedido?</p>
          </div>
          <div class="modal-footer text-right">
            <a href="#" data-dismiss="modal" class="btn">Cancelar</a>
            <%= link_to 'Anular', nullify_external_order_path(external_order), method: :get, 'data-disable-with' => "Enviando... <i class='fa fa-spinner fa-spin'></i>".html_safe, :class => 'btn btn-danger' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>