<%= form_for_filterrific @filterrific do |f| %>
  <div class="row justify-content-between">
    <div class="col-1 d-flex justify-content-end align-items-center">
      <%= render_filterrific_spinner %>
      <%= link_to provider_index_external_orders_path(reset: true), class: 'btn btn-secondary ml-2',
        title: 'Reiniciar', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= fa_icon 'redo' %>
      <% end %>
    </div>

    <%# CÓDIGO DE PEDIDO %>
    <div class="col">
      <label>Código</label>
      <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
      <%= f.text_field(
        :search_code,
        class: 'filterrific-periodically-observed form-control input-sm',
        placeholder: 'Un código',
        autocomplete: 'off',
      ) %>
    </div>

    <%# PROVEEDOR / SOLICITANTE %>
    <div class="col">
      <% if current_page?(action: 'applicant_index') %>
        <label>Proveedor</label>
        <%= f.text_field(
          :search_provider,
          class: 'filterrific-periodically-observed form-control input-sm',
          placeholder: 'Sector/Establecimiento.',
          autocomplete: 'off'
        ) %>
      <% else %>
        <label>Solicitante</label>
        <%= f.text_field(
          :search_applicant,
          class: 'filterrific-periodically-observed form-control input-sm',
          placeholder: 'Sector/Establecimiento',
          autocomplete: 'off'
        ) %>
      <% end %>
    </div>

    <%# TIPO DE ORDEN %>
    <div class="col">
      <label>Tipo</label>
      <%= f.select(:with_order_type,
        ExternalOrder.order_types.map{ |type| [type.first.humanize, type.second] },{:include_blank => 'Todos'},
        { class: "selectpicker custom-select-pick show-tick", "data-width"=>"100%"}) %>
    </div>

    <%# ESTADO %>
    <div class="col">
       <label>Estado</label>
      <%= f.select(:with_status,
        @filterrific.select_options[:with_status].map {
          |status| [status.first, status.second, data: {'content': "<span class='label label-"+status.third+"'>"+status.first+"</span>"}]
        },{},
        { class: "selectpicker custom-select-pick show-tick", "data-width"=>"100%"}) %>
    </div>
    
    <%# ORDENAMIENTO %>
    <div class="col">
      <label>Ordernar por</label>
      <%= f.select(:sorted_by,
        @filterrific.select_options[:sorted_by].map {
          |status| [status.first, status.second, data: {'content': "<span class='badge'>"+status.first+"</span>"}]
        },{},
        { class: "selectpicker-md show-tick custom-select-pick", "data-width"=>"100%"}) %>
    </div>

    <%# FECHA SOLICITADO %>
    <div class="col">
      <label>Solicitado</label>
      <div class="row d-flex">
        <div class="col-6 p-0 pr-1">
          <%= f.text_field(:requested_date_since, class: 'form-control filterrific-periodically-observed datetimepicker input-sm',
            placeholder: "Desde", data: { date_format: 'DD/MM/YY'}) %>
        </div>
        <div class="col-6 p-0 pr-1">
          <%= f.text_field(:requested_date_to, class: 'form-control filterrific-periodically-observed datetimepicker input-sm',
            placeholder: "Hasta", data: { date_format: 'DD/MM/YY'}) %>
        </div>
      </div>
    </div>

    <%# FECHA RECIBIDO/ENTREGADO %>
    <div class="col">
      <div class="d-flex justify-content-between align-items-center">
        <label>
          <%= current_page?(action: 'applicant_index') ? 'Recibido' : 'Entregado' %>
        </label>
      </div>

      <div class="row d-flex">
        <div class="col-6 p-0 pr-1">
          <%= f.text_field(:date_received_since, class: 'form-control filterrific-periodically-observed datetimepicker input-sm',
            placeholder: "Desde", data: { date_format: 'DD/MM/YY'}) %>
        </div>
        <div class="col-6 p-0 pr-1">
          <%= f.text_field(:date_received_to, class: 'form-control filterrific-periodically-observed datetimepicker input-sm',
            placeholder: "Hasta", data: { date_format: 'DD/MM/YY'}) %>
        </div>
      </div>
    </div>

  </div>
<% end %>