<% content_for :page_header do %>
  <li class="nav-item <%= active_action('statistics') %> non-sel" id="page-title">
    <%= link_to statistics_external_orders_path, class: 'nav-link' do %>
      Abastecimiento
    <% end %>
  </li>
  <li class="nav-item <%= active_action('applicant_index') %> non-sel">
    <%= link_to applicant_index_external_orders_path, class: 'nav-link' do %>
      <%= content_tag(:span, '', class: 'glyphicon glyphicon-inbox') %>
      <span class="hidden-xs">Recibos</span>
    <% end %>
  </li>
  <li class="nav-item <%= active_action_and_controller('index', 'external_orders') %> non-sel">
    <%= link_to external_orders_path, class: 'nav-link' do %>
      <%= content_tag(:span, '', class: 'glyphicon glyphicon-send') %>
      <span class="hidden-xs">Despachos</span>
      <% count =  ExternalOrder.provider(current_user.sector).solicitud_enviada.count %>
      <% if count > 0 %>
        <div class="label label-info pull-right"><%= count %></div>
      <% end %>
    <% end %>
  </li>
  <% if policy(ExternalOrder).new_applicant? %>
    <li class="nav-item <%= active_action('new_applicant') %> non-sel">
      <%= link_to new_applicant_external_orders_path, class: 'nav-link' do %>
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-plus') %>
        S<span class="hidden-xs">olicitud</span>
      <% end %>
    </li>
  <% end %>
  <% if policy(ExternalOrder).new_provider? %>
    <li class="nav-item <%= active_action_and_controller('new', 'external_orders') %> non-sel">
      <%= link_to new_external_order_path, class: 'nav-link' do %>
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-plus') %>
        D<span class="hidden-xs">espacho</span>
      <% end %>
    </li>
  <% end %>
  <% if policy(ExternalOrderTemplate).index? %>
    <li class="nav-item <%= active_class('external_order_templates') %> non-sel" id="pedido">
      <%= link_to external_order_templates_path, class: 'nav-link' do %>
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-modal-window') %>
        Plantillas
      <% end %>
    </li>
  <% end %>
  <% if policy(ExternalOrder).new_report? %>
    <li class="nav-item <%= active_action('new_report') %> non-sel">
      <%= link_to new_report_external_orders_path, class: 'nav-link' do %>
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-list-alt') %>
        Reporte
      <% end %>
    </li>
  <% end %>
<% end %>