<% content_for :page_header do %>
  <li class="nav-item non-sel">
    <%= link_to establishments_path, class: "nav-link #{ active_action_and_controller('index', 'establishments') }" do %>
      <%= fa_icon "hospital" %>
      Establecimientos
    <% end %>
  </li>

  <li class="nav-item non-sel">
    <%= link_to new_establishment_path, class: "nav-link #{ active_action_and_controller('new', 'establishments') }" do %>
      <%= fa_icon "plus"%>
      Agregar
    <% end %>
  </li>

  <li class="nav-item non-sel">
    <%= link_to applicant_index_external_orders_path, class: "nav-link #{ active_action('applicant_index') }" do %>
      <%= fa_icon "inbox" %>
      Recibos
    <% end %>
  </li>

  <li class="nav-item non-sel d-flex align-items-center">
    <%= link_to external_orders_path, class: "nav-link #{ active_action_and_controller('index', 'external_orders') }" do %>
      <%= fa_icon "paper-plane" %>
      Despachos
    <% end %>
    <!-- Badge notification -->
    <% request_count = ExternalOrder.provider(current_user.sector).solicitud_enviada.count %>
    <% if request_count > 0%>
      <%= link_to external_orders_path(filterrific: {:with_status => 1}), class: 'badge badge-pill badge-info',
      title: "Solicitud", data: { toggle: 'tooltip', placement: 'bottom' } do %>
        <%= request_count %>
      <% end %>
    <% end %>
  </li>

  <% if policy(ExternalOrder).new_applicant? %>
    <li class="nav-item non-sel">
      <%= link_to new_applicant_external_orders_path, class: "nav-link #{ active_action('new_applicant') }" do %>
        <%= fa_icon "plus" %>
        Solicitar
      <% end %>
    </li>
  <% end %>

  <% if policy(ExternalOrder).new_provider? %>
    <li class="nav-item non-sel">
      <%= link_to new_external_order_path, class: "nav-link #{ active_action_and_controller('new', 'external_orders') }" do %>
        <%= fa_icon "plus" %>
        Despachar
      <% end %>
    </li>
  <% end %>

  <% if policy(ExternalOrderTemplate).index? %>
    <li class="nav-item non-sel" id="pedido">
      <%= link_to external_order_templates_path, class: "nav-link #{ active_class('external_order_templates') }" do %>
        <%= fa_icon "skiing" %>
        Plantillas
      <% end %>
    </li>
  <% end %>
<% end %>
