<% content_for :page_header do %>
  <li class="nav-item <%= active_action('index') %> non-sel">
    <%= link_to establishments_path, class: 'nav-link' do %>
      <%= fa_icon "hospital" %>
      Establecimientos
    <% end %>
  </li>

  <li class="nav-item <%= active_action_and_controller('new', 'establishments') %> non-sel">
    <%= link_to new_establishment_path, class: 'nav-link' do %>
      <%= fa_icon "plus"%>
      Agregar
    <% end %>
  </li>

  <li class="nav-item <%= active_action('applicant_index') %> non-sel">
    <%= link_to applicant_index_external_orders_path, class: 'nav-link' do %>
      <%= fa_icon "inbox" %>
      <span class="hidden-xs">Recibos</span>
    <% end %>
  </li>
  <li class="nav-item <%= active_action_and_controller('index', 'external_orders') %> non-sel">
    <%= link_to external_orders_path, class: 'nav-link' do %>
      <%= fa_icon "paper-plane" %>
      <span class="hidden-xs">Despachos</span>
      <% count =  ExternalOrder.provider(current_user.sector).solicitud_enviada.count %>
      <% if count > 0 %>
        <div class="label label-info pull-right"><%= count %></div>
      <% end %>
    <% end %>
  </li>
  <% if policy(ExternalOrder).new_applicant? %>
    <li class="nav-item <%= active_action('new_applicant') %> non-sel">
      <%= link_to new_applicant_external_orders_path, class: 'nav-link' do %>
        <%= fa_icon "plus" %>
        Solicitar
      <% end %>
    </li>
  <% end %>
  <% if policy(ExternalOrder).new_provider? %>
    <li class="nav-item <%= active_action_and_controller('new', 'external_orders') %> non-sel">
      <%= link_to new_external_order_path, class: 'nav-link' do %>
        <%= fa_icon "plus" %>
        Despachar
      <% end %>
    </li>
  <% end %>
  <% if policy(ExternalOrderTemplate).index? %>
    <li class="nav-item <%= active_class('external_order_templates') %> non-sel" id="pedido">
      <%= link_to external_order_templates_path, class: 'nav-link' do %>
        <%= fa_icon "skiing" %>
        Plantillas
      <% end %>
    </li>
  <% end %>
  <% if policy(ExternalOrder).new_report? %>
    <li class="nav-item <%= active_action('new_report') %> non-sel">
      <%= link_to new_report_external_orders_path, class: 'nav-link' do %>
        <%= fa_icon "chart-line" %>
        Reporte
      <% end %>
    </li>
  <% end %>
<% end %>
