<% if @external_orders.present? %>
  <div id="filterrific_results">
    <div class="card fixed-panel-list">
      <table class="table table-hover table-striped table-sm">
        <thead>
          <tr>
            <th><%= filterrific_sorting_link(@filterrific, :codigo) %></th>
            <th><%= filterrific_sorting_link(@filterrific, :solicitante) %></th>
            <th><%= filterrific_sorting_link(@filterrific, :tipo) %></th>
            <th><%= filterrific_sorting_link(@filterrific, :estado) %></th>
            <th>
              <%= fa_icon "barcode" %>
              <%= filterrific_sorting_link(@filterrific, :ins) %></th>
            <th>
              <%= fa_icon "exchange-alt" %>
              <%= filterrific_sorting_link(@filterrific, :mov) %>
            </th>
            <th>
              <%= fa_icon "comment" %>
            </th>
            <th>
              <%= fa_icon "calendar" %> 
              <%= filterrific_sorting_link(@filterrific, :solicitado) %>
            </th>
            <th>
              <%= fa_icon "calendar" %>
              <%= filterrific_sorting_link(@filterrific, :entregado) %>
            </th>
            <th class="text-center">Acciones</th>
          </tr>
        </thead>
        <tbody id=external_orders>
          <%= render @external_orders %>
        </tbody>
      </table>
    </div>
    <div class="d-flex align-items-center justify-content-center" style="height: 50px">
      <%= will_paginate @external_orders, list_classes: %w(pagination mb-0), renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
    </div>
  </div>
<% else %>
  <%= render(
    partial: 'shared/not_found_filter',
    locals: { object_name: 'despachos' }
  ) %>
<% end %>
