<div class="card fixed-custom-card">
  <div class="card-header <%= @external_order.new_record? ? 'bg-primary text-white' : 'bg-warning' %> d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center ml-2">
      <%= fa_icon (@external_order.new_record? ?  "plus" : "edit")%>
      <h5 class="card-title mb-0 ml-2">
        <%=
          @external_order.new_record? ? 'Nueva solicitud de abastecimiento' : 'Editando solicitud de abastecimiento'
        %>
      </h5>
    </div>
    <%= link_to :back, class: @external_order.new_record? ? 'btn text-white' : 'btn' do %>
      <%= fa_icon "times" %>
    <% end %>
  </div>
  <div class="card-body">

  <%= simple_form_for @external_order, :url => (@external_order.new_record? ? create_provider_external_orders_path : update_provider_external_order_path(@external_order)),
     html: { role: 'check-modified'} do |f| %>
      <%= f.error_notification %>
      <div class="row">
        <div class='col-md-3'>
          <%# ESTABLECIMIENTO SOLICITANTE %>
          <%= f.input :applicant_establishment_id, as: :string,
            label: 'Establecimiento solicitante',
            placeholder: 'Buscar por nombre',
            required: true,
            :input_html => {
              autocomplete: 'off',
              id: "effector-establishment",
              data: { autocomplete_source: search_by_name_establishments_path },
              value: "#{ if f.object.applicant_sector.present?; f.object.applicant_sector.establishment.name; end }",
              size: 41
            } 
          %>
        </div>
        <div class='col-md-3'>
          <%# SECTOR SOLICITANTE %>        
          <%= f.input :applicant_sector_id,
            label: 'Sector solicitante',
            collection: @sectors.map {
              |sector| [sector.name, sector.id]
            },
            :input_html => {
              placeholder: 'Debe seleccionar establecimiento',
              required: true,
              id: 'effector-sector',
              class: 'selectpicker-md custom-select-pick show-tick',
              "data-width"=>"100%",
              "title"=>"Seleccionar sector",
              "data-size"=>"10",
              "data-live-search"=>true,
              value: f.object.applicant_sector.present? ? f.object.applicant_sector.id : ""
            }
          %>
        </div>
        <div class="col-md-3">
          <%# SECTOR PROVEEDOR %>
          <%= f.input :provider_sector_id, as: :string,
            label: 'Sector proveedor',
            :input_html => {
              disabled: true,
              size: 30,
              value: "#{ if f.object.provider_sector.present?; f.object.provider_sector.name; else; current_user.sector_name;  end }"
            } 
          %>
        </div>
        
        <div class='col-md-3'>
          <%= f.input :observation, label: 'Observaciones', as: :text,
          :input_html => { :cols => 40  , :rows => 1 } %>
        </div>
      </div>
      
      <%# INSUMOS SOLICITADOS %>
      <%= render "shared/orders/order_products_table", form: f, :relation => :external_order_products, order_type: order_type %>

      <input name="commit" id="submit-type" type="hidden">
    <% end %>
  </div>

  <div class="card-footer d-flex justify-content-end">
    <%= link_to 'Volver', applicant_index_external_orders_path, class: 'btn mr-1' %>
  
    <button type='submit' class='btn btn-success mr-2' form="<%= @external_order.new_record? ? 'new_external_order' : 'edit_external_order_' + @external_order.id.to_s %>" data-value='audit'>
      
      <div class="c-msg" style="pointer-events: none;">
        <%= fa_icon "save" %> Guardar 
      </div>
      
      <div class="d-none" style="pointer-events: none;">
        Guardando...
        <%= fa_icon "spinner", class: "fa-spin send-audit" %>
      </div>

    </button>

    <button type='submit' class='btn btn-primary' form="<%= @external_order.new_record? ? 'new_external_order' : 'edit_external_order_' + @external_order.id.to_s %>" data-value='accepting'>
      <div class="c-msg" style="pointer-events: none;">
        <%= fa_icon "thumbs-up" %> Guardar y aceptar
      </div>
      <div class="d-none" style="pointer-events: none;">
        Guardando...
        <%= fa_icon "spinner", class: "fa-spin send-audit" %>
      </div>
    </button>
  </div>
</div>

<% content_for :modal do %>
  <%= render "shared/modals/lot_selection_dialog" %>
<% end %>