<tr class="nested-fields">
  <% if @order_type == 'recibo' %>

    <!-- Código del producto -->
    <td>
      <%= f.input :supply_id, as: :string,
        placeholder: 'Código',
        label: false,
        :input_html => {
          class: "new-supply-code select-change input-sm",
          data: { autocomplete_source: search_by_id_supplies_path },
          size: 5,
          autocomplete: 'off'
        } 
      %>
    </td>

    <!-- Nombre del producto -->
    <td>
      <%= f.input :supply_id, as: :string, id: "nom_ins",
        label: false,
        placeholder: 'Nombre',
        :input_html => {
          class: "new-supply-name select-change input-sm",
          data: { autocomplete_source: search_by_name_supplies_path },
          size: 45,
          value: "#{ if f.object.supply.present?; f.object.supply_name; end }",
          autocomplete: false
        }
      %>
      <%= f.input :supply_id, :as => :hidden, :input_html =>  { class: "new-supply-id" } %>
    </td>

    <!-- Unidad del producto -->
    <td>
      <%= f.input :supply_unity, as: :fake, label: false, disabled: true, required: false, 
        input_html: {
          class: 'unity input-sm',
          size: 10,
          placeholder: "Unidad",
          value: "#{
            if f.object.supply.present? 
              f.object.supply.unity
            end
          }"
        } 
      %>
    </td>

    <!-- Cantidad a cargar -->
    <td>
      <%= f.input :delivered_quantity, placeholder: 'Cant', required: false,
        label: false, :input_html => { class: 'new-deliver-quantity input-sm', min: '0', :style => 'width: 80px' } 
      %>
      <%= f.hidden_field :requested_quantity, :value => 0 %>
    </td>

    <!-- Lote -->
    <td>
      <%= f.input :lot_code, as: :string,
        placeholder: 'Código',
        label: false,
        required: false,
        :input_html => {
          "data-tooltip" => true,
          :title => "",
          class: "new-supply-lot-code has-tip input-sm",
          data: { autocomplete_source: search_by_lot_code_supply_lots_path },
          size: 11,
          autocomplete: 'off',
          value: "#{if f.object.lot_code.present?; f.object.lot_code; end }"
        }
      %>
    </td>

    <!-- Laboratorio -->
    <td>
      <%= f.input :laboratory_id, as: :string,
        placeholder: 'Razón social',
        label: false,
        required: false,
        :input_html => {
          class: "new-laboratory input-sm",
          data: { autocomplete_source: search_by_name_laboratories_path },
          size: 35,
          value: "#{ if f.object.laboratory_id.present?; Laboratory.find_by_id(f.object.laboratory_id).name; end }",
          autocomplete: 'off'
        } 
      %>
      <%= f.input :laboratory_id, :as => :hidden, :input_html =>  { class: "new-laboratory-id" },
        value: "#{ if f.object.laboratory_id.present?; f.object.laboratory_id; end }" %>
    </td>

    <!-- Vencimiento -->
    <td>
      <%= f.input :expiry_date, as: :string, label: false, 
        :placeholder => "M/A",
        input_html: {
          :style => 'width: 70px',
          class: "new-expiry-date input-sm",
          required: false,
          autocomplete: 'off',
          value: "#{
            if f.object.expiry_date.present? 
              f.object.expiry_date.strftime("%m/%Y")
            else 
              'n/a'
            end
          }"
        },
        html5: false 
      %>
    </td>
    <%= f.hidden_field :expiry_date, as: :string, class: "new-expiry-date-hidden" %>
  
  <% elsif @order_type == 'solicitud_abastecimiento' %> <!-- End Form recibo -->
    <!-- Código del producto -->
    <td>
      <%= f.input :supply_id, as: :string,
        placeholder: 'Código',
        label: false,
        required: false,
        :input_html => {
          class: "supply-code select-change input-sm",
          data: { autocomplete_source: search_by_id_supplies_path },
          size: 4,
          autocomplete: 'off'
        } 
      %>
    </td>

    <!-- Nombre del producto -->
    <td>
      <%= f.input :supply_id, as: :string, id: "nom_ins", class: "form-control",
        label: false,
        placeholder: 'Nombre',
        required: false,
        :input_html => {
          class: "supply-name select-change input-sm",
          data: { autocomplete_source: search_by_name_supplies_path },
          size: 36,
          value: "#{if f.object.supply.present?; f.object.supply_name; end }"
        } 
      %>
      <%= f.input :supply_id, :as => :hidden, :input_html => { class: 'supply-id'} %>
    </td>

    <!-- Stock -->
    <td>
      <% @stock = 1 %>
      <%= f.input :stock, as: :fake, label: false, disabled: true,
        input_html: {
          class: 'stock-quantity input-sm',
          size: 6, 
          placeholder: "Cant",
          value: "#{
            if f.object.supply.present? 
              @stock = SectorSupplyLot.where(sector_id: current_user.sector_id).with_supply(f.object.supply).sum(:quantity)
            end
          }"
        }
      %>
    </td>

    <!-- Cantidad solicitada -->
    <td>
      <%= f.input :requested_quantity, label: false, placeholder: 'Cant', required: false,
        input_html: {
          "data-tooltip"=>true,
          :class=>"has-tip apply-request-quant request-quantity focus-quantity input-sm",
          :title=>"Cantidad solicitada",
          "data-placement"=>"right",
          min: '0', step:'any', :style => 'width: 110px'
        }
      %>
      <%= f.input :delivered_quantity, :as => :hidden, :input_html => { class: 'apply-deliver-quant'} %>
    </td>
    
    <!-- Unidad -->
    <td>
      <%= f.input :supply_unity, as: :fake, label: false, disabled: true, required: false, 
        input_html: {
          class: 'unity input-sm',
          size: 10,
          placeholder: "Unidad",
          value: "#{
            if f.object.supply.present? 
              f.object.supply.unity
            end
        }"
      } %>
    </td>

    <!-- Observaciones solicitante -->
    <td>
      <%= f.input :applicant_observation, label: false, as: :text,
        :input_html => { :cols => 35  , :rows => 1, class: 'input-sm', placeholder: "Una observación" } %>
    </td>
  <% else %> <!-- Comienza despacho -->
    <%
      if f.object.supply.present? 
        @stock = SectorSupplyLot.where(sector_id: current_user.sector_id).with_supply(f.object.supply).sum(:quantity)
      end
    %>

    <!-- Código del producto -->
    <td>
      <%= f.input :supply_id, as: :string,
        placeholder: 'Código',
        label: false,
        :input_html => {
          class: "supply-code select-change input-sm",
          data: { autocomplete_source: search_by_id_supplies_path },
          size: 4,
          autocomplete: 'off'
        } 
      %>
    </td>

    <!-- Nombre del producto-->
    <td>
      <%= f.input :supply_id, as: :string, id: "nom_ins", class: "form-control",
        label: false,
        placeholder: 'Nombre',
        :input_html => {
          class: "supply-name select-change input-sm",
          data: { autocomplete_source: search_by_name_supplies_path },
          size: 35,
          value: "#{ if f.object.supply.present?; f.object.supply_name; end }",
          autocomplete: 'off'
        } 
      %>
      <%= f.input :supply_id, :as => :hidden, :input_html => 
        { class: "supply-id" } %>
    </td>

    <!-- Cantidad solicitada -->
    <td>
      <%= f.input :requested_quantity, label: false, placeholder: 'Cant', required: false,
        input_html: {
          "data-tooltip"=>true,
          :class=>"has-tip request-quantity focus-quantity input-sm",
          :title=>"Cantidad solicitada",
          "data-placement"=>"right",
          min: '0', step:'any', :style => 'width: 110px'
        } 
      %>
    </td>
    
    <!-- Cantidad entregada -->
    <td>
      <%= f.input :delivered_quantity, label: false, placeholder: 'Cant', required: false,
        input_html: {
          "data-tooltip"=>true,
          :class=>"has-tip deliver-quantity input-sm",
          :title=>"Cantidad entregada",
          "data-placement"=>"right",
          min: '0', step:'any', :style => 'width: 110px'
        } 
      %>
    </td>

    <!-- Lote -->
    <td>
      <%= button_tag type: "button", class: "btn btn-#{select_btn_status(f.object)} select-lot-btn" do %>
        <% if f.object.sector_supply_lot_id.present? %>
          <%= fa_icon "barcode" %> <%= f.object.sector_supply_lot.lot_code %> <%= fa_icon "cubes" %> <%= f.object.sector_supply_lot.quantity %>
        <% else %>
          <%= fa_icon "barcode" %> Seleccionar lote
        <% end %>
      <% end %>
      <%= f.input :sector_supply_lot_id, :as => :hidden, :input_html => { class: 'sector-supply-lot-id'} %>
    </td>

    <!-- Observaciones proveedor -->
    <td>
      <%= f.input :provider_observation, label: false, as: :text,
        :input_html => { :cols => 23  , :rows => 1, class: 'input-sm', placeholder: "Una observación" } %>
    </td>
  <% end %>
  
  <!-- Botón quitar -->
  <td>
    <%= link_to_remove_association  f, class: 'remove-tag btn btn-warning',
      title: 'Quitar', data: { toggle: 'tooltip', placement: 'top' } do %>
      <%= fa_icon "minus" %>
    <% end %>
  </td>
</tr>
