<%= simple_form_for @external_order, html: {role: 'check-modified'} do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="col-md-4">
      <div class="text-center"><%= f.label :applicant_sector_id, "Solicitante" %></div>
      <%= f.input :applicant_establishment_id, as: :string,
        label: 'Establecimiento',
        :input_html => {
          disabled: true,
          value: "#{ if f.object.new_record?; current_user.establishment_name; else; f.object.applicant_sector.establishment_name; end}",
          size: 41
        } 
      %>
      <% if policy(current_user).change_sector? %>
        <%= link_to main_app.change_sector_users_admin_path(current_user), class:'btn btn-warning btn-sm float-right', remote: true,
          :title => 'Cambiar sector', :'data-placement'=>'top', :'data-toggle'=>'tooltip' do %>
          <%= fa_icon "exchange-alt" %>
        <% end %>
      <% end %>
      <%= f.input :applicant_sector_id, as: :string,
        label: 'Sector',
        :input_html => {
          disabled: true,
          value: "#{ if f.object.new_record?; current_user.sector_name; else; f.object.applicant_sector.name; end}",
          size: 41
        }
      %>
      <%= f.input :order_type, :as => :hidden, :input_html => { value: 'recibo' } %>
      <%= f.hidden_field :applicant_sector_id, value: "#{ if f.object.new_record?; current_user.sector_id; else; f.object.applicant_sector.id; end }" %>
    </div>
    <div class='col-md-4'>
      <div class="text-center"><%= f.label :provider_establishment_id, "Proveedor" %></div>
      <%= f.input :provider_sector_id, as: :string,
        label: 'Establecimiento',
        placeholder: 'Buscar por nombre',
        required: true,
        :input_html => {
          autocomplete: 'off',
          id: "provider-establishment",
          data: { autocomplete_source: search_by_name_establishments_path },
          value: "#{ if f.object.provider_sector.present?; f.object.provider_sector.establishment.name; end }",
          size: 41
        } 
      %>
      <%= f.input :provider_sector_id, :as => :hidden,
        :input_html => {
          id: 'provider-establishment-id',
          value: "#{ if f.object.provider_sector.present?; f.object.provider_sector.establishment_id; end }"
        } 
      %>
      <% if f.object.provider_sector.present? %>
        <%= f.input :provider_sector_id, label: 'Sector',
          collection: @sectors.map {
            |sector| [sector.name, sector.id]
          },
          :input_html => {
            required: true,
            id: 'provider-sector',
            class: 'selectpicker-md custom-select-pick show-tick',
            "data-width"=>"100%",
            "title"=>"Seleccionar sector",
            "data-size"=>"10",
            "data-live-search"=>true,
            value: "#{ if f.object.provider_sector.present?; f.object.provider_sector.id; end }"
          } 
        %>
      <% else %>
        <%= f.input :provider_sector_id, label: 'Sector',
          collection: [],
          :input_html => {
            required: true,
            id: 'provider-sector',
            class: 'selectpicker-md custom-select-pick show-tick',
            "data-width"=>"100%",
            "title"=>"Seleccione un establecimiento",
            "data-size"=>"10",
            "data-live-search"=>true,
          } 
        %>
      <% end %>
      <%= f.hidden_field :provider_sector_id, id: "provider-id", value: "#{ if f.object.provider_sector.present?; f.object.provider_sector.id; end }" %>
    </div>
    <div class='col-md-4'>
      <div class="row">
        <div class="col-md-6">
          <%= f.input :requested_date, as: :string, label: "Fecha solicitado", html5: true, required: true,
            :input_html => {
              required: true,
              class: "form-control requested-date",
              autocomplete: "off",
              value: "#{f.object.new_record? ? DateTime.now.strftime("%d/%m/%Y") : f.object.requested_date.strftime("%d/%m/%Y")}"
            }
          %>
        </div>
        <div class="col-md-6">
          <%= f.input :remit_code, label: 'Recibo', as: :string, 
            :placeholder => "Código",
            input_html: {
              size: 11,
              id: "remit-code",
              required: true,
              autocomplete: 'off',
              value: "#{ unless f.object.remit_code.present?; current_user.sector.name[0..3].upcase+'rec'+ExternalOrder.with_deleted.maximum(:id).to_i.next.to_s; ; else; f.object.remit_code; end }"
            }
          %>
        </div>
      </div>
      <%= f.input :observation, label: 'Observaciones', as: :text,
      :input_html => { :cols => 38  , :rows => 2 } %>
    </div>
  </div>
  <!-- Productos a recibir -->
  <div class="card">
    <table class="table table-hover table-sm mb-0">
      <thead>
        <tr>
          <th>Código</th>
          <th>Producto</th>
          <th>Unidad</th>
          <th>Cantidad</th>
          <th>Lote</th>
          <th>Laboratorio</th>
          <th>Vencimiento</th>
          <th></th>
        </tr>
      </thead>
      <tbody class="quantity_ord_supply_lots" id="cocoon-container">
        <% if params[:action] == "edit" || params[:action] == "edit_receipt" %>
          <%= f.simple_fields_for :quantity_ord_supply_lots, @external_order.quantity_ord_supply_lots.joins(:supply).order("name") do |form_quantity| %>
            <%= render "quantity_ord_supply_lot_fields", f: form_quantity %>
          <% end %>
        <% elsif params[:action] == "create" %>
          <%= f.simple_fields_for :quantity_ord_supply_lots do |form_quantity| %>
            <%= render "quantity_ord_supply_lot_fields", f: form_quantity %>
          <% end %>
        <% else %>
          <%= f.simple_fields_for :quantity_ord_supply_lots, @external_order.quantity_ord_supply_lots.build do |form_quantity| %>
            <%= render "quantity_ord_supply_lot_fields", f: form_quantity %>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <%= link_to_add_association f, :quantity_ord_supply_lots, class: 'btn btn-primary btn-sm',
      data: {"association-insertion-node" => "tbody.quantity_ord_supply_lots", "association-insertion-method" => "append"} do %>
      <%= fa_icon "plus" %>
      Agregar insumo recibido
    <% end %>
  </div>
<% end %>
