<%= render 'header' %>

<div class="row">
  <div class="panel panel-warning">
    <div class="panel-heading">
      <h3 class="panel-title"><%= content_tag(:span, '', class: 'glyphicon glyphicon-edit') %> Auditando <%= @external_order.order_type.underscore.humanize.downcase %>
        <%= link_to external_orders_path, class: 'btn pull-right close-btn',
          :title => 'Cerrar', :'data-placement'=>'top', :'data-toggle'=>'tooltip' do %>
          <%= content_tag(:span, '', class: 'glyphicon glyphicon-remove') %>
        <% end %>
      </h3>
    </div>
    <div class="panel-body" id="panel-body-new">
      <%= render 'provider_form', external_order: @external_order %>
    </div>
    <div class="panel-footer text-right">
        <%= link_to 'Volver', external_orders_path, class: 'btn' %>
        <button type='submit' name='commit' class='btn btn-success' form='edit_external_order_<%=@external_order.id%>' value='Auditar'>
          <%= content_tag(:span, '', class: 'glyphicon glyphicon-floppy-saved') %> Guardar cambios
        </button>
        <button type='submit' name='commit' class='btn btn-primary' form='edit_external_order_<%=@external_order.id%>' value='Auditar y aceptar'>
          <%= content_tag(:span, '', class: 'glyphicon glyphicon-thumbs-up') %> Guardar y aceptar
        </button>
        <% if policy(@external_order).send_provider? %>
          <%= link_to send_provider_external_order_path(@external_order), remote: true,
            class: 'btn btn-primary btn-md' do %>
            <%= content_tag(:span, '', class: 'glyphicon glyphicon-send') %>
            Guardar y enviar
          <% end %>
        <% end %>
    </div>
  </div>
</div>