<%= render 'header' %>

<div class="card">
  <div class="card-header bg-warning">
    <h5 class="card-title">
      <%= fa_icon "edit" %> Editando recibo
      <%= link_to applicant_index_external_orders_path, class: 'btn float-right',
        :title => 'Cerrar', :'data-placement'=>'top', :'data-toggle'=>'tooltip' do %>
        <%= fa_icon "times" %>
      <% end %>
    </h5>
  </div>
  <div class="card-body" id="panel-body-new">
    <%= render 'receipt_form', external_order: @external_order %>
  </div>
  <div class="card-footer d-flex justify-content-end">
    <%= link_to 'Volver', applicant_index_external_orders_path, class: 'btn btn-light mr-1' %>
    <button type='submit' name='commit' class='btn btn-success' form='edit_external_order_<%=@external_order.id%>' value='Auditar'>
      <%= fa_icon "save" %> Guardar cambios
    </button>
    <button type='submit' name='commit' class='btn btn-primary' form='edit_external_order_<%=@external_order.id%>' value='Auditar y recibir'>
      <%= fa_icon "paper-plane" %> Guardar y realizar
    </button>
  </div>
</div>