<%= render 'header' %>

<div class="card">
  <div class="card-header bg-warning">
    <h5 class="card-title">
      <%= fa_icon "edit" %> Editando <%= @external_order.order_type.underscore.humanize.downcase %>
      <%= link_to external_orders_path, class: 'btn float-right',
        :title => 'Cerrar', :'data-placement'=>'top', :'data-toggle'=>'tooltip' do %>
        <%= fa_icon "times" %>
      <% end %>
    </h5>
  </div>
  <div class="card-body" id="panel-body-new">
    <%= render 'provider_form', external_order: @external_order %>
  </div>
  <div class="card-footer d-flex justify-content-end">
    <%= link_to 'Volver', external_orders_path, class: 'btn btn-light mr-1' %>
    <button type='submit' name='commit' class='btn btn-success mr-1' form='edit_external_order_<%=@external_order.id%>' value='Auditar'>
      <%= fa_icon "save" %> Guardar cambios
    </button>
    <button type='submit' name='commit' class='btn btn-primary' form='edit_external_order_<%=@external_order.id%>' value='Auditar y aceptar'>
      <%= fa_icon "paper-plane" %> Guardar y aceptar
    </button>
    <% if policy(@external_order).send_provider? %>
      <%= link_to send_provider_external_order_path(@external_order), remote: true,
        class: 'btn btn-primary btn-md' do %>
        <%= fa_icon "paper-plane" %>
        Guardar y enviar
      <% end %>
    <% end %>
  </div>
</div>