<%= render 'header' %>

<div class="col-7 mx-auto">
  <div class="card">
    <div class="card-header bg-primary text-white">
      <h5 class="card-title">
        <%= fa_icon "list-alt" %> Reporte
        <%= link_to external_orders_path, class: 'btn float-right text-white' do %>
          <%= fa_icon "times" %>
        <% end %>
      </h5>
    </div>
    <div class="card-body">
      <%= simple_form_for @external_order, method: :get, :url => { :action => :generate_report }, html: {role: 'check-modified'} do |f| %>
        <%= f.error_notification %>
        <div class="row">
          <div class="col-md-6">
            <label>Seleccione reporte</label>
            <select class="selectpicker" data-width="fit" id="report-select">
              <option data-show="none">Pedidos por establecimiento</option>
              <option data-show="establishment">Insumos entregados a un establecimiento</option>
              <option disabled data-subtext="Próximamente" data-show="supply">Insumo específico por establecimiento</option>
              <option disabled data-subtext="Próximamente" data-show="establishment">Pedidos de un establecimiento</option>
              <option disabled data-subtext="Próximamente" data-show="none">Insumos por establecimiento</option>
            </select>
          </div>
          <div class="col-md-6 establishment" style="display: none;">
              <%= f.input :applicant_sector_id, label: 'Establecimiento',
                collection:
                  @establishments.map {
                    |est| [est.second, est.first]
                  },
                :input_html => {
                  required: true,
                  include_blank: false,
                  class: 'selectpicker establishment',
                  "data-width"=>"100%",
                  "data-size"=>"15",
                  "title"=>"Seleccionar establecimiento",
                  "data-live-search"=>true,
                  "data-none-results-text" => "No se encontró el establecimiento"
                }
              %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class='col-md-3'>
            <%= f.input :since_date, as: :fake, label: 'Desde', as: :string,
              :placeholder => "Una fecha",
              required: true,
              input_html: {
                required: true,
                class: 'datetimepicker',
                autocomplete: 'off',
                :style => 'width: 110px',
                value: "#{f.object.requested_date unless f.object.new_record?}"
              },
              html5: false
            %>
          </div>
          <div class='col-md-3'>
            <%= f.input :to_date, as: :fake, label: 'Hasta', as: :string,
              :placeholder => "Una fecha",
              required: true,
              input_html: {
                required: true,
                class: 'datetimepicker',
                autocomplete: 'off',
                :style => 'width: 110px',
                value: "#{f.object.requested_date unless f.object.new_record?}"
              },
              html5: false 
            %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="card-footer d-flex justify-content-end">
      <%= link_to 'Volver', external_orders_path, class: 'btn btn-light mr-1' %>
      <button type='submit' name='commit' class='btn btn-success' form='new_external_order'>
        <%= fa_icon "check" %> Generar reporte
      </button>
    </div>
  </div>
</div>