<%= render 'header' %>


<div class="card">
  <div class="card-header bg-primary text-white">
    <h5 class="card-title mb-0">
      <%= fa_icon "plus" %> Nuevo recibo
      <%= link_to applicant_index_external_orders_path, class: 'btn float-right text-white p-0' do %>
        <%= fa_icon "times" %>
      <% end %>
    </h5>
  </div>
  <div class="card-body" id="panel-body-new">
    <%= render 'receipt_form', external_order: @external_order %>
  </div>
  <div class="card-footer d-flex justify-content-end">
    <%= link_to 'Volver', applicant_index_external_orders_path, class: 'btn btn-light mr-1' %>
    <button type='submit' name='commit' class='btn btn-success mr-1' form='new_external_order' value='Auditar'>
      <%= fa_icon "save" %> Guardar
    </button>
    <button type='submit' name='commit' class='btn btn-primary' form='new_external_order' data-disable-with="<i class='fa fa-spinner fa-spin'></i> Guardando y recibiendo" value='Auditar y recibir'>
      <%= fa_icon "check" %> Guardar y recibir
    </button>
  </div>
</div>
