<div id="filterrific_results">
  <div class="panel panel-default">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th><%= filterrific_sorting_link(@filterrific, :codigo) %></th>
          <th><%= filterrific_sorting_link(@filterrific, :proveedor) %></th>
          <th><%= filterrific_sorting_link(@filterrific, :tipo) %></th>
          <th><%= filterrific_sorting_link(@filterrific, :estado) %></th>
          <th><%= filterrific_sorting_link(@filterrific, :insumos) %></th>
          <th>
            <%= filterrific_sorting_link(@filterrific, :solicitado) %>
            <%= content_tag(:span, '', class: 'glyphicon glyphicon-calendar') %>
          </th>
          <th>
            <%= filterrific_sorting_link(@filterrific, :recibido) %>
            <%= content_tag(:span, '', class: 'glyphicon glyphicon-calendar') %>
          </th>
          <th colspan="3">Acciones</th>
        </tr>
      </thead>
      <tbody id=applicant_orders>
        <%= render @applicant_orders %>
      </tbody>
    </table>
  </div>
  <div id="page_links">
    <%= paginate @applicant_orders %>
  </div>
</div>
