<%= simple_form_for @ordering_supply, remote: true, html: {class: "form-inline"} do |f| %>
  <%= f.error_notification %>
  <div class='row'>
    <div class='col-md-7'>
      <%= f.input :applicant_id, as: :string,
        label: 'Solicitante',
        placeholder: 'Perez Juan',
        :input_html => {
          id: "professional",
          data: { autocomplete_source: search_by_name_establishments_path },
          value: "#{@prescription.professional.fullname unless @prescription.new_record?}",
          size: 33
        } 
      %>
      <%= f.hidden_field :responsable_id, value: "#{if f.new_record?; current_user.id; else; f.responsable.id; end}" %>
      <%= f.input :provider_id, as: :string,
        label: 'Proveedor',
        placeholder: 'Perez Juan',
        :input_html => {
          id: "provider",
          data: { autocomplete_source: search_by_name_establishments_path },
          value: "#{@prescription.professional.fullname unless @prescription.new_record?}",
          size: 33
        } 
      %>
      <%= f.hidden_field :provider_id, id: "provider_id", value: "#{f.object.provider_id unless f.object.new_record?}" %>
    </div>
    <div class='col-md-5'>
      <br><br>
      <%= f.input :observation, label: 'Observaciones', as: :text,
          :input_html => { :cols => 30  , :rows => 5 } %>
    </div>
  </div>

  <!-- Insumos a dispensar -->
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Cód. insumo</th>
        <th>Insumos</th>
        <th>Cant. solicitada</th>
        <th>Cant. recibida</th>
        <th>Cód. lote</th>
        <th>Laboratorio</th>
        <th>Expiración</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="quantity_ord_supply_lots">
      <%= f.simple_fields_for :quantity_ord_supply_lots do |form_quantity| %>
        <%= render "quantity_supply_lot_fields", :f => form_quantity %>
      <% end %>
    </tbody>
  </table>
  <div class="links" id="links-quant-form">
    <%= link_to_add_association f, :quantity_ord_supply_lots, class: 'btn btn-primary btn-sm',
    data: {"association-insertion-node" => "tbody.quantity_ord_supply_lots", "association-insertion-method" => "append"} do %>
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-plus') %>
    <% end %>
  </div>
<% end %>
