<tr id="applicant_order_<%= applicant_order.id %>">
  <td class="sol-col-aba"><%= applicant_order.provider_sector.name %></td>
  <td class="sol-col-aba"><%= applicant_order.provider_sector.establishment_name %></td>
  <td>
    <span class="label label-<%= applicant_order.provider_status_label %>">
      <%= applicant_order.applicant_status.split('_').map(&:capitalize).join(' ') %>
    </span>
  </td>
  <td class="pres-col-sup">
    <% if applicant_order.quantity_ord_supply_lots.present? %>
      (<%= applicant_order.quantity_ord_supply_lots.count %>)
      <% applicant_order.quantity_ord_supply_lots.each do |qosl| %>
        <span class="badge">
          <%= qosl.requested_quantity %>
        </span>
        <%= qosl.supply_name %>
      <% end %>
    <% else %>
      ------
    <% end %>
  </td>
  <td>
    <%= applicant_order.requested_date.strftime("%d/%m/%Y") %>
  </td>
</td>
<% if ordering_supply.applicant_recibido? %>
  <td>
  <%= ordering_supply.date_received.strftime("%d/%m/%y %H:%M") %>
<% else %>
  <td class="text-center">
  <%= ordering_supply.applicant_status.split('_').map(&:capitalize).join(' ') %>
<% end %>
</td>
  <td>
    <% if policy(applicant_order).show? %>
      <%= link_to applicant_order_path(applicant_order),
            class: 'btn btn-default btn-xs', title: 'Ver detalles', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-eye-open') %>
      <% end %>
    <% end %>
    <% if policy(applicant_order).delete? %>
      <%= link_to delete_applicant_order_path(applicant_order), remote: true,
            class: 'btn btn-danger btn-xs', title: 'Papelera', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-trash') %>
      <% end %>
    <% end %>
  </td>
</tr>
