<% content_for :page_header do %>
    <ul class="nav nav-tabs nav-tabs-cust">
      <li role="presentation" class="<%= active_action('statistics') %> non-sel" id="page-title">
        <%= link_to statistics_ordering_supplies_path do %>
          Abastecimiento
        <% end %>
      </li>
      <li role="presentation" class="<%= active_action('applicant_index') %> non-sel">
        <%= link_to applicant_index_ordering_supplies_path do %>
          <%= content_tag(:span, '', class: 'glyphicon glyphicon-inbox') %>
          <span class="hidden-xs">Recibos</span>
        <% end %>
      </li>
      <li role="presentation" class="<%= active_action_and_controller('index', 'ordering_supplies') %> non-sel">
        <%= link_to ordering_supplies_path do %>
          <%= content_tag(:span, '', class: 'glyphicon glyphicon-send') %>
          <span class="hidden-xs">Despachos</span>
          <% count =  OrderingSupply.provider(current_user.sector).solicitud_enviada.count %>
          <% if count > 0 %>
            <div class="label label-info pull-right"><%= count %></div>
          <% end %>
        <% end %>
      </li>
      <% if policy(OrderingSupply).new_applicant? %>
        <li role="presentation" class="<%= active_action('new_applicant') %> non-sel">
          <%= link_to new_applicant_ordering_supplies_path do %>
            <%= content_tag(:span, '', class: 'glyphicon glyphicon-plus') %>
            S<span class="hidden-xs">olicitud</span>
          <% end %>
        </li>
      <% end %>
      <% if policy(OrderingSupply).new_provider? %>
        <li role="presentation" class="<%= active_action_and_controller('new', 'ordering_supplies') %> non-sel">
          <%= link_to new_ordering_supply_path do %>
            <%= content_tag(:span, '', class: 'glyphicon glyphicon-plus') %>
            D<span class="hidden-xs">espacho</span>
          <% end %>
        </li>
      <% end %>
      <% if policy(OrderingSupplyTemplate).index? %>
        <li role="presentation" class="<%= active_class('ordering_supply_templates') %> non-sel" id="pedido">
          <%= link_to ordering_supply_templates_path do %>
            <%= content_tag(:span, '', class: 'glyphicon glyphicon-modal-window') %>
            Plantillas
          <% end %>
        </li>
      <% end %>
      <% if policy(OrderingSupply).new_report? %>
        <li role="presentation" class="<%= active_action('new_report') %> non-sel">
          <%= link_to new_report_ordering_supplies_path do %>
            <%= content_tag(:span, '', class: 'glyphicon glyphicon-list-alt') %>
            Reporte
          <% end %>
        </li>
      <% end %>
    </ul>
<% end %>