<% content_for :page_header do %>
    <ul class="nav nav-tabs nav-tabs-cust">
      <li role="presentation" id="page-title">
        <a href="">Abastecimiento</a>
      </li>
      <li role="presentation" class="<%= active_action('applicant_index') %>">
        <%= link_to applicant_index_ordering_supplies_path,
          title: 'Recibidos', data: { toggle: 'tooltip', placement: 'top' } do %>
          <%= content_tag(:span, '', class: 'glyphicon glyphicon-inbox') %>
          Recibidos
        <% end %>
      </li>
      <li role="presentation" class="<%= active_action('index') %>">
        <%= link_to ordering_supplies_path, class: 'active',
          title: 'Despachados', data: { toggle: 'tooltip', placement: 'top' } do %>
          <%= content_tag(:span, '', class: 'glyphicon glyphicon-send') %>
          Despachados
        <% end %>
      </li>
      <% if policy(OrderingSupply).new_receipt? %>
        <li role="presentation" class="<%= active_action('new_receipt') %>">
          <%= link_to new_receipt_ordering_supplies_path do %>
            <%= content_tag(:span, '', class: 'glyphicon glyphicon-plus') %>
            Recibo
          <% end %>
        </li>
      <% end %>
      <li role="presentation" class="<%= active_action('new') %>">
        <%= link_to new_ordering_supply_path do %>
          <%= content_tag(:span, '', class: 'glyphicon glyphicon-plus') %>
          Despacho
        <% end %>
      </li>
    </ul>
<% end %>