<% content_for :page_header do %>
    <ul class="nav nav-tabs nav-tabs-cust">
      <li role="presentation" class="<%= active_action('statistics') %>" id="page-title">
        <%= link_to statistics_ordering_supplies_path do %>
          Abastecimiento
        <% end %>
      </li>
      <li role="presentation" class="<%= active_action('applicant_index') %>">
        <%= link_to applicant_index_ordering_supplies_path do %>
          <%= content_tag(:span, '', class: 'glyphicon glyphicon-inbox') %>
          <span class="hidden-xs">Recibos</span>
        <% end %>
      </li>
      <li role="presentation" class="<%= active_action('index') %>">
        <%= link_to ordering_supplies_path do %>
          <%= content_tag(:span, '', class: 'glyphicon glyphicon-send') %>
          <span class="hidden-xs">Despachos</span>
          <% count =  OrderingSupply.provider(current_user.sector).solicitud_enviada.count %>
          <% if count > 0 %>
            <div class="label label-info pull-right"><%= count %></div>
          <% end %>
        <% end %>
      </li>
      <% if policy(OrderingSupply).new_receipt? %>
        <li role="presentation" class="<%= active_action('new_receipt') %>">
          <%= link_to new_receipt_ordering_supplies_path do %>
            <%= content_tag(:span, '', class: 'glyphicon glyphicon-plus') %>
            R<span class="hidden-xs">ecibo</span>
          <% end %>
        </li>
      <% end %>
      <% if policy(OrderingSupply).new_applicant? %>
        <li role="presentation" class="<%= active_action('new_applicant') %>">
          <%= link_to new_applicant_ordering_supplies_path do %>
            <%= content_tag(:span, '', class: 'glyphicon glyphicon-plus') %>
            S<span class="hidden-xs">olicitud</span>
          <% end %>
        </li>
      <% end %>
      <li role="presentation" class="<%= active_action('new') %>">
        <%= link_to new_ordering_supply_path do %>
          <%= content_tag(:span, '', class: 'glyphicon glyphicon-plus') %>
          D<span class="hidden-xs">espacho</span>
        <% end %>
      </li>
    </ul>
<% end %>