<div id="filterrific_results">
  <div class="panel panel-default">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th><%= filterrific_sorting_link(@filterrific, :codigo) %></th>
          <th><%= filterrific_sorting_link(@filterrific, :solicitante) %></th>
          <th><%= filterrific_sorting_link(@filterrific, :tipo) %></th>
          <th><%= filterrific_sorting_link(@filterrific, :estado) %></th>
          <th>
            <%= content_tag(:span, '', class: 'glyphicon glyphicon-barcode') %>
            <%= filterrific_sorting_link(@filterrific, :ins) %></th>
          <th>
            <%= content_tag(:span, '', class: 'glyphicon glyphicon-transfer') %>
            <%= filterrific_sorting_link(@filterrific, :mov) %>
          </th>
          <th>
            <%= filterrific_sorting_link(@filterrific, :solicitado) %>
            <%= content_tag(:span, '', class: 'glyphicon glyphicon-calendar') %> 
          </th>
          <th>
            <%= filterrific_sorting_link(@filterrific, :entregado) %>
            <%= content_tag(:span, '', class: 'glyphicon glyphicon-calendar') %>
          </th>
          <th colspan="3">Acciones</th>
        </tr>
      </thead>
      <tbody id=ordering_supplies>
        <%= render @ordering_supplies %>
      </tbody>
    </table>
  </div>
  <div id="page_links">
    <%= paginate @ordering_supply %>
  </div>
</div>
