<tr id="ordering_supply_<%= ordering_supply.id %>" class="<%= ordering_td(ordering_supply) %>">
  <td><%= ordering_supply.remit_code %></td>
  <% if current_page?(action: 'applicant_index') %>
    <td class="sol-col-aba">
      <%= ordering_supply.provider_sector.name %>
      <%= ordering_supply.provider_sector.establishment_name %></td>
    </td>
  <% else %>
    <td class="sol-col-aba">
      <%= ordering_supply.applicant_sector.name %>
      <%= ordering_supply.applicant_sector.establishment_name %>  
    </td>
  <% end %>
  <td>
    <span class="label label-default">
      <%= ordering_supply.order_type.underscore.humanize %>
    </span>
  </td>
  <td>
    <span class="label label-<%= ordering_status_label(ordering_supply) %>">
      <%= ordering_supply.status.underscore.humanize %>
    </span>
  </td>
  <td>
    <span class="badge"><%= ordering_supply.quantity_ord_supply_lots.count %></span>
  </td>
  <td>
    <span class="badge"><%= ordering_supply.movements.count %></span>
  </td>
  <td>
    <%= ordering_supply.requested_date.strftime("%d/%m/%Y") %>
  </td>
  <td>
    <% if ordering_supply.provision_entregada? || ordering_supply.recibo_realizado? %>
      <%= ordering_supply.date_received.strftime("%d/%m/%y %H:%M") %>
    <% else %>
      ----
    <% end %>
  </td>
  <td>
    <% if policy(ordering_supply).show? %>
      <%= link_to ordering_supply_path(ordering_supply),
            class: 'btn btn-default btn-xs', title: 'Ver detalles', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-eye-open') %>
      <% end %>
    <% end %>
    <% if policy(ordering_supply).send_provider? %>
      <%= link_to send_provider_ordering_supply_path(ordering_supply), remote: true,
        class: 'btn btn-primary btn-xs', title: 'Enviar', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-send') %>
      <% end %>
    <% end %>
    <% if policy(ordering_supply).edit_applicant? %>
      <%= link_to edit_applicant_ordering_supply_path(ordering_supply), :"data-turbolinks" => false, 
        class: 'btn btn-warning btn-xs', title: 'Auditar', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-edit') %>
      <% end %>
    <% end %>
    <% if policy(ordering_supply).edit? %>
      <%= link_to edit_ordering_supply_path(ordering_supply), :"data-turbolinks" => false,
        class: 'btn btn-warning btn-xs', title: 'Auditar', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-edit') %>
      <% end %>
    <% end %>
    <% if policy(ordering_supply).edit_receipt? %>
      <%= link_to edit_receipt_ordering_supply_path(ordering_supply), :"data-turbolinks" => false,
        class: 'btn btn-warning btn-xs', title: 'Auditar', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-edit') %>
      <% end %>
    <% end %>
    <% if policy(ordering_supply).delete? %>
      <%= link_to delete_ordering_supply_path(ordering_supply), remote: true,
            class: 'btn btn-danger btn-xs', title: 'Papelera', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-trash') %>
      <% end %>
    <% end %>
  </td>
</tr>
