<tr id="ordering_supply_<%= ordering_supply.id %>">
  <% if current_page?(action: 'applicant_index') %>
    <td class="sol-col-aba"><%= ordering_supply.provider_sector.name %></td>
    <td class="sol-col-aba"><%= ordering_supply.provider_sector.establishment_name %></td>
    <td>
      <span class="label label-<%= ordering_supply.applicant_status_label %>">
        <%= ordering_supply.applicant_status.split('_').map(&:capitalize).join(' ') %>
      </span>
    </td>
  <% else %>
    <td class="sol-col-aba"><%= ordering_supply.applicant_sector.name %></td>
    <td class="sol-col-aba"><%= ordering_supply.applicant_sector.establishment_name %></td> 
    <td>
      <span class="label label-<%= ordering_supply.provider_status_label %>">
        <%= ordering_supply.provider_status.split('_').map(&:capitalize).join(' ') %>
      </span>
    </td>
  <% end %>
  <td class="pres-col-sup">
    <% if ordering_supply.quantity_ord_supply_lots.present? %>
      (<%= ordering_supply.quantity_ord_supply_lots.count %>)
      <% ordering_supply.quantity_ord_supply_lots.each do |qosl| %>
        <span class="badge">
          <%= qosl.requested_quantity %>
        </span>
        <%= qosl.supply_name %>
      <% end %>
    <% else %>
      ------
    <% end %>
  </td>
  <td>
    <%= ordering_supply.requested_date.strftime("%d/%m/%Y") %>
  </td>
  <% if ordering_supply.provider_entregado? %>
    <td>
    <%= ordering_supply.date_received.strftime("%d/%m/%y %H:%M") %>
  <% else %>
    <td class="text-center">
    <%= ordering_supply.provider_status.split('_').map(&:capitalize).join(' ') %>
  <% end %>
  </td>
  <td>
    <% if policy(ordering_supply).show? %>
      <%= link_to ordering_supply_path(ordering_supply),
            class: 'btn btn-default btn-xs', title: 'Ver detalles', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-eye-open') %>
      <% end %>
    <% end %>
    <% if policy(ordering_supply).send_provider? %>
      <%= link_to send_provider_ordering_supply_path(ordering_supply), remote: true,
        class: 'btn btn-primary btn-xs', title: 'Enviar', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-send') %>
      <% end %>
    <% end %>
    <% if policy(ordering_supply).edit? %>
      <% unless ordering_supply.provider_en_camino? || ordering_supply.provider_entregado? %>
        <%= link_to edit_ordering_supply_path(ordering_supply), :"data-turbolinks" => false,
              class: 'btn btn-warning btn-xs', title: 'Editar', data: { toggle: 'tooltip', placement: 'top' } do %>
          <%= content_tag(:span, '', class: 'glyphicon glyphicon-edit') %>
        <% end %>
      <% end %>
    <% end %>
    <% if policy(ordering_supply).delete? %>
      <%= link_to delete_ordering_supply_path(ordering_supply), remote: true,
            class: 'btn btn-danger btn-xs', title: 'Papelera', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-trash') %>
      <% end %>
    <% end %>
  </td>
</tr>
