<tr class="nested-fields">
  <% if @order_type == 'recibo' %>
    <td>
      <%= f.input :supply_id, as: :string,
        placeholder: 'Código',
        label: false,
        :input_html => {
          class: "new-supply-code select-change",
          data: { autocomplete_source: search_by_id_supplies_path },
          size: 4,
          autocomplete: 'off'
        } 
      %>
    </td>
    <td>
      <%= f.input :supply_id, as: :string, id: "nom_ins", class: "form-control",
        label: false,
        placeholder: 'Nombre',
        :input_html => {
          class: "new-supply-name select-change",
          data: { autocomplete_source: search_by_name_supplies_path },
          size: 35,
          value: "#{ if f.object.supply.present?; f.object.supply_name; end }",
          autocomplete: 'off'
        } 
      %>
      <%= f.input :supply_id, :as => :hidden, :input_html =>  { class: "new-supply-id" } %>
    </td>
    <td>
      <%= f.input :delivered_quantity, placeholder: 'Cant', required: false,
        label: false, :input_html => { class: 'new-deliver-quantity', min: '0', :style => 'width: 80px' } 
      %>
      <%= f.hidden_field :requested_quantity, :value => 0 %>
    </td>
    <td>
      <%= f.input :lot_code, as: :string,
        placeholder: 'Código',
        label: false,
        required: false,
        :input_html => {
          "data-tooltip" => true,
          :title => "",
          class: "new-supply-lot-code has-tip",
          data: { autocomplete_source: search_by_lot_code_supply_lots_path },
          size: 11,
          autocomplete: 'off',
          value: "#{if f.object.lot_code.present?; f.object.lot_code; end }"
        }
      %>
    </td>
    <td>
      <%= f.input :laboratory_id, as: :string,
        placeholder: 'Razón social',
        label: false,
        required: false,
        :input_html => {
          class: "new-laboratory",
          data: { autocomplete_source: search_by_name_laboratories_path },
          size: 25,
          value: "#{ if f.object.laboratory_id.present?; Laboratory.find_by_id(f.object.laboratory_id).name; end }",
          autocomplete: 'off'
        } 
      %>
      <%= f.input :laboratory_id, :as => :hidden, :input_html =>  { class: "new-laboratory-id" },
        value: "#{ if f.object.laboratory_id.present?; f.object.laboratory_id; end }" %>
    </td>
    <td>
      <%= f.input :expiry_date, as: :string, label: false, 
        :placeholder => "M/A",
        input_html: {
          :style => 'width: 70px',
          class: "new-expiry-date",
          required: false,
          autocomplete: 'off',
          value: "#{
            if f.object.expiry_date.present? 
              f.object.expiry_date.strftime("%d/%m/%Y")
            else 
              'Sin asignar'
            end
          }"
        },
        html5: false 
      %>
    </td>
    <%= f.hidden_field :expiry_date, as: :string, class: "new-expiry-date-hidden" %>
  <% elsif @order_type == 'solicitud_abastecimiento' %> <!-- End Form recibo -->
    <td>
      <%= f.input :supply_id, as: :string,
        placeholder: 'Código',
        label: false,
        required: false,
        :input_html => {
          class: "supply-code select-change",
          data: { autocomplete_source: search_by_id_supplies_path },
          size: 4,
          autocomplete: 'off'
        } 
      %>
    </td>
    <td>
      <%= f.input :supply_id, as: :string, id: "nom_ins", class: "form-control",
        label: false,
        placeholder: 'Nombre',
        required: false,
        :input_html => {
          class: "supply-name select-change",
          data: { autocomplete_source: search_by_name_supplies_path },
          size: 36,
          value: "#{if f.object.supply.present?; f.object.supply_name; end }"
        } 
      %>
      <%= f.input :supply_id, :as => :hidden, :input_html => { class: 'supply-id'} %>
    </td>
    <td>
      <% @stock = 1 %>
      <%= f.input :stock, as: :fake, label: false, disabled: true,
        input_html: {
          class: 'stock-quantity',
          size: 6, 
          placeholder: "Cant",
          value: "#{
            if f.object.supply.present? 
              @stock = SectorSupplyLot.where(sector_id: current_user.sector_id).with_supply(f.object.supply).sum(:quantity)
            end
          }"
        } %>
    </td>
    <td>
      <%= f.input :requested_quantity, label: false, placeholder: 'Cant', required: false,
        input_html: {
          "data-tooltip"=>true,
          :class=>"has-tip apply-request-quant request-quantity focus-quantity",
          :title=>"Cantidad solicitada",
          "data-placement"=>"right",
          min: '1', step:'any', :style => 'width: 75px'
        }
      %>
      <%= f.input :delivered_quantity, :as => :hidden, :input_html => { class: 'apply-deliver-quant'} %>
    </td>
    <td>
      <%= f.input :supply_unity, as: :fake, label: false, disabled: true, required: false, 
        input_html: {
          class: 'unity',
          size: 10,
          placeholder: "Unidad",
          value: "#{
            if f.object.supply.present? 
              f.object.supply.unity
            end
        }"
      } %>
    </td>
    <td>
      <%= f.input :applicant_observation, label: false, as: :text,
        :input_html => { :cols => 35  , :rows => 1, placeholder: "Una observación" } %>
    </td>
  <% else %>
    <%
      if f.object.supply.present? 
        @stock = SectorSupplyLot.where(sector_id: current_user.sector_id).with_supply(f.object.supply).sum(:quantity)
      end
    %>
    <td><!-- Start form despacho -->
      <%= f.input :supply_id, as: :string,
        placeholder: 'Código',
        label: false,
        :input_html => {
          class: "supply-code select-change",
          data: { autocomplete_source: search_by_id_supplies_path },
          size: 4,
          autocomplete: 'off'
        } 
      %>
    </td>
    <td>
      <%= f.input :supply_id, as: :string, id: "nom_ins", class: "form-control",
        label: false,
        placeholder: 'Nombre',
        :input_html => {
          class: "supply-name select-change",
          data: { autocomplete_source: search_by_name_supplies_path },
          size: 35,
          value: "#{ if f.object.supply.present?; f.object.supply_name; end }",
          autocomplete: 'off'
        } 
      %>
      <%= f.input :supply_id, :as => :hidden, :input_html => 
        { class: "supply-id" } %>
    </td>
    <td>
      <%= f.input :requested_quantity, label: false, placeholder: 'Cant', required: false,
        input_html: {
          "data-tooltip"=>true,
          :class=>"has-tip request-quantity focus-quantity",
          :title=>"Cantidad solicitada",
          "data-placement"=>"right",
          min: '1', step:'any', :style => 'width: 70px'
        } 
      %>
    </td>
    <td>
      <%= f.input :delivered_quantity, label: false, placeholder: 'Cant', required: false,
        input_html: {
          "data-tooltip"=>true,
          :class=>"has-tip deliver-quantity",
          :title=>"Cantidad entregada",
          "data-placement"=>"right",
          min: '0', step:'any', :style => 'width: 70px'
        } 
      %>
    </td>
    <td>
      <% if f.object.supply_id.present?  %>
        <%= button_tag type: 'button', class: 'btn btn-xs search-lots',
          title: 'Buscar lotes', data: { html: true, toggle: 'tooltip', placement: 'top' } do %>
          <%= content_tag(:span, '', class: 'glyphicon glyphicon-zoom-in') %>
        <% end %>
      <% end %>
    <% if f.object.sector_supply_lot_id.present? %>
        <%= f.select(:sector_supply_lot_id, [],{},
          {
            class: 'selectpicker show-tick',
            "data-width"=>"fit",
            "title"=>"#{f.object.sector_supply_lot.lot_code }",
            "data-size"=>"5",
            disabled: true,
            value: "#{if f.object.sector_supply_lot.present?; f.object.sector_supply_lot.id end }"
          })
        %>
      </td>
    <% else %>
        <%= f.select(:sector_supply_lot_id, [],{},
          {
            class: 'selectpicker show-tick',
            "data-width"=>"fit",
            "title"=>"Código",
            "data-size"=>"5",
            disabled: true
          })
        %>
      </td>
    <% end %>
    <td>
      <%= f.input :sector_supply_lot_id, as: :string,
        label: false,
        placeholder: "Razón social",
        disabled: true,
        input_html: {
          size: 16,
          class: "supply-lot-laboratory",
          value: "#{if f.object.sector_supply_lot.present?; f.object.sector_supply_lot.laboratory; end }"
        },
        html5: false 
      %>
    </td>
    <td>
      <%= f.input :sector_supply_lot_id, as: :string,
        label: false,
        placeholder: "Fecha",
        disabled: true,
        input_html: {
          :style => 'width: 65px',
          class: "supply-lot-expiry",
          value: "#{if f.object.sector_supply_lot.present?; f.object.sector_supply_lot.supply_lot.expiry_date.present? ? f.object.sector_supply_lot.expiry_date.strftime("%d/%m/%Y") : 'No expira'; end}"
        },
        html5: false 
      %>
    </td>
    <%= f.hidden_field :sector_supply_lot_id, class: "supply-lot-id" %>
    <td>
      <%= f.input :provider_observation, label: false, as: :text,
        :input_html => { :cols => 23  , :rows => 1, placeholder: "Una observación" } %>
    </td>
  <% end %>
  <td>
    <%= link_to_remove_association  f, class: 'remove-tag btn btn-warning btn-xs',
      title: 'Quitar', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-minus') %>
    <% end %>
  </td>
</tr>
