<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8 text-center">
    <label>
      Estado actual:
      <span class="label label-<%= ordering_supply.provider_status_label %>">
        <%= ordering_supply.provider_status.split('_').map(&:capitalize).join(' ') %>
      </span>
    </label><br>
    <div class="col-md-12 status-bar-icons">
      <%= content_tag(:span, '', class: 'glyphicon glyphicon-zoom-in gi-2x pull-left',
        :title => @ordering_supply.audited_by_info,
        :'data-placement'=>'top', :'data-toggle'=>'tooltip', id:'zoom-glyph') %>
      <%= content_tag(:span, '', class: 'glyphicon glyphicon-thumbs-up gi-2x pull-left',
        :title => @ordering_supply.accepted_by_info,
        :'data-placement'=>'top', :'data-toggle'=>'tooltip', id: 'thumb-glyph') %>
      <%= content_tag(:span, '', class: 'glyphicon glyphicon-check gi-2x pull-right',
        :title => @ordering_supply.received_by_info,
        :'data-placement'=>'top', :'data-toggle'=>'tooltip', id: 'check-glyph') %>
      <%= content_tag(:span, '', class: 'glyphicon glyphicon-road gi-2x pull-right',
        :title => @ordering_supply.sent_by_info,
        :'data-placement'=>'top', :'data-toggle'=>'tooltip', id: 'road-glyph' ) %>
    </div>
    <div class="col-md-12">
      <div class="progress" style="height: 5px;margin-bottom: -10px;">
        <div class="progress-bar progress-bar-striped active progress-bar-<%= @ordering_supply.provider_status_label %> \
        align-left" role="progressbar" style="width:<%= @ordering_supply.percent_status %>%" id="status-bar">
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
