<%= render 'header' %>

<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title"><%= content_tag(:span, '', class: 'glyphicon glyphicon-edit') %> Auditando recibo
      <%= link_to applicant_index_ordering_supplies_path, class: 'btn pull-right close-btn' do %>
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-remove') %>
      <% end %>
    </h3>
  </div>
  <div class="panel-body" id="panel-body-new">
    <%= render 'receipt_form', ordering_supply: @ordering_supply %>
  </div>
  <div class="panel-footer text-right">
      <%= link_to 'Volver', applicant_index_ordering_supplies_path, class: 'btn' %>
      <button type='submit' name='commit' class='btn btn-success' form='edit_ordering_supply_<%=@ordering_supply.id%>' value='Auditar'>
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-floppy-saved') %> Guardar cambios
      </button>
      <button type='submit' name='commit' class='btn btn-primary' form='edit_ordering_supply_<%=@ordering_supply.id%>' value='Auditar y recibir'>
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-check') %> Guardar y realizar
      </button>
  </div>
</div>
