<% content_for :page_header do %>
  <h3>
    Abastecimiento <small><%= content_tag(:span, '', class: 'glyphicon glyphicon-send') %> entregados</small>
    <% if policy(OrderingSupply).new_provider? %>
      <%= link_to new_ordering_supply_path, class: 'btn btn-primary btn-sm' do %>
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-plus') %>
        Entrega
      <% end %>
    <% end %>
  </h3>
<% end %>
<div class="panel panel-default" id="filter-panel">
    <div class="panel-body">
      <%= form_for_filterrific @filterrific do |f| %>
        <div class="col-md-2 col-sm-2">
          <label>Proveedor</label>
          <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
          <%= f.text_field(
            :search_provider,
            class: 'filterrific-periodically-observed form-control',
            placeholder: 'Nombre',
            autocomplete: 'off',
          ) %>
        </div>
        <div class="col-md-2 col-sm-2">
          <label>Solicitante</label>
          <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
          <%= f.text_field(
            :search_applicant,
            class: 'filterrific-periodically-observed form-control',
            placeholder: 'Nombre',
            autocomplete: 'off',
          ) %>
        </div>
        <div class="col-md-2 col-sm-2">
          <label>Ordenar por</label>
          <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by],{}, {class: 'form-control'}) %>
        </div>
        <%= link_to reset_filterrific_url, class: "btn btn-default btn-md pull-right" do %>
          <%= content_tag(:span, '', class: 'glyphicon glyphicon-refresh') %>
        <% end %>
        <!-- Spinner para la carga -->
        <%= render_filterrific_spinner %>
      <% end %>
    </div>
  </div>
<%= render(
  partial: 'ordering_supplies/list',
  locals: { ordering_supplies: @ordering_supplies }
) %>
