<% content_for :page_header do %>
  Abastecimiento
<% end %>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%= content_tag(:span, '', class: 'glyphicon glyphicon-plus') %> Nueva entrega
      <%= link_to ordering_supplies_path, class: 'btn pull-right close-btn' do %>
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-remove') %>
      <% end %>
    </h3>
  </div>
  <div class="panel-body">
    <%= render 'provider_form', ordering_supply: @ordering_supply %>
  </div>
  <div class="panel-footer text-center">
    <%= link_to 'Volver', ordering_supplies_path, class: 'btn pull-left' %>
    <button type='submit' name='commit' class='btn btn-default' form='new_ordering_supply' value='Auditar'>
      <%= content_tag(:span, '', class: 'glyphicon glyphicon-zoom-in') %> Auditar
    </button>
    <button type='submit' name='commit' class='btn btn-primary pull-right' form='new_ordering_supply' value='Auditar y aceptar'>
      <%= content_tag(:span, '', class: 'glyphicon glyphicon-thumbs-up') %> Auditar y aceptar
    </button>
  </div>
</div>
