<%= render 'ordering_supplies/header' %>

<div class="row">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-plus') %> Nuevo despacho
        <%= link_to ordering_supplies_path, class: 'btn pull-right close-btn' do %>
          <%= content_tag(:span, '', class: 'glyphicon glyphicon-remove') %>
        <% end %>
      </h3>
    </div>
    <div class="panel-body" id="panel-body-new">
      <%= render 'ordering_supplies/provider_form', ordering_supply: @ordering_supply %>
    </div>
    <div class="panel-footer text-right">
      <%= link_to 'Volver', ordering_supplies_path, class: 'btn' %>
      <button type='submit' name='commit' class='btn btn-success' form='new_ordering_supply' value='Auditar'>
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-floppy-saved') %> Guardar
      </button>
      <button type='submit' name='commit' class='btn btn-primary' form='new_ordering_supply' value='Auditar y aceptar'>
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-thumbs-up') %> Guardar y aceptar
      </button>
    </div>
  </div>
</div>
