<%= render 'header' %>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%= content_tag(:span, '', class: 'glyphicon glyphicon-plus') %> Nuevo recibo
      <%= link_to applicant_index_ordering_supplies_path, class: 'btn pull-right close-btn' do %>
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-remove') %>
      <% end %>
    </h3>
  </div>
  <div class="panel-body" id="panel-body-new">
    <%= render 'receipt_form', ordering_supply: @ordering_supply %>
  </div>
  <div class="panel-footer text-right">
    <%= link_to 'Volver', applicant_index_ordering_supplies_path, class: 'btn' %>
    <button type='submit' name='commit' class='btn btn-success' form='new_ordering_supply' value='Auditar'>
      <%= content_tag(:span, '', class: 'glyphicon glyphicon-floppy-saved') %> Guardar
    </button>
    <button type='submit' name='commit' class='btn btn-primary' form='new_ordering_supply' value='Auditar y recibir'>
      <%= content_tag(:span, '', class: 'glyphicon glyphicon-check') %> Guardar y recibir
    </button>
  </div>
</div>