<tr id="bed_<%= bed.id %>">
  <td><%= bed.patient.present? ? bed.patient_fullname : '' %></td>
  <td><%= bed.name %></td>
  <td><%= bed.bedroom_name %></td>
  <td><%= bed.service_name %></td>
  <td>
    <span class="badge badge-<%= bed_status_label(bed) %>">
      <%= bed.status.underscore.humanize %>
    </span>
  </td>
  <td>
    <%= bed.updated_at.strftime("%d/%m/%Y") %>
  </td>
  <td class="text-left actions-col">
    <% if policy(bed).show? %>
      <%= link_to bed_path(bed), class: 'btn btn-secondary btn-sm', 
        title: 'Ver detalles', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= fa_icon 'eye' %>
      <% end %>
    <% end %>

    <% if policy(bed).admit_patient? %>
      <%= link_to new_inpatient_movement_path(movement_type_id: 1, bed_id: bed.id), class: 'btn btn-primary btn-sm',
        title: 'Ingresar paciente', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= fa_icon 'sign-in-alt' %>
      <% end %>
    <% end %>

    <% if policy(bed).discharge_patient? %>
      <%= link_to new_inpatient_movement_path(movement_type_id: 2, bed_id: bed.id), class: 'btn btn-danger btn-sm',
        title: 'Egresar paciente', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= fa_icon 'sign-out-alt' %>
      <% end %>
    <% end %>

    <% if policy(bed).destroy? %>
      <%= link_to delete_bed_path(bed), remote: true, class: 'btn btn-danger btn-sm', title: 'Papelera', 
      data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= fa_icon 'trash' %>
      <% end %>
    <% end %>
  </td>
</tr>
