<%= render 'inpatient_prescriptions/header' %>

<div class="card fixed-custom-card">
  <div class="card-header d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center">
      <%= fa_icon "eye" %>
      <h5 class="card-title mb-0 ml-2">
        Viendo cama
        <%= @bed.name %>
        <span class="badge badge-<%= bed_status_label(@bed) %>">
          <%= @bed.status.underscore.humanize %>
        </span>
      </h5>
    </div>
    <div>
      <%= link_to bed_path(format: 'pdf'), class: 'btn',  
        :title => 'Imprimir pdf', :'data-placement'=>'top', :'data-toggle'=>'tooltip', target: :_blank do %>
        <%= fa_icon "print" %>
      <% end %>
      <%= link_to beds_path, class: 'btn btn-light',
          :title => 'Cerrar', :'data-placement'=>'top', :'data-toggle'=>'tooltip' do %>
        <%= fa_icon "times" %>
      <% end %>
    </div>
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-4">
        <div class="d-flex justify-content-bewteen align-items-center">
          <%= fa_icon 'bed', size: '4x', class: 'text-'+bed_status_label(@bed ) %>
          <h4 class="pl-2">
              Cama
            <span class="badge badge-secondary">
              <%= @bed.name %>
            </span>
          </h4>
        </div>
      </div>
      <div class="col-4">
        <div class="d-flex justify-content-bewteen align-items-center">
          <%= fa_icon 'door-closed', size: '4x' %>
          <h4 class="pl-2">
            Habitación
            <span class="badge badge-secondary">
              <%= @bed.bedroom_name %>
            </span>
          </h4>
        </div>
      </div>
      <div class="col-4">
        <div class="d-flex justify-content-bewteen align-items-center">
          <%= fa_icon 'stethoscope', size: '4x' %>
          <h4 class="pl-2">
            Servicio
            <span class="badge badge-info">
              <%= @bed.service_name %>
            </span>
          </h4>
        </div>
      </div>  
    </div>
    <div class="row mt-4">
      <div class="col-4">
        <h5 class="border-bottom pb-2"><%= fa_icon 'user-injured' %> Paciente</h5>
        <% if @bed.patient.present? %>
          <!-- Patient profile -->
          <div class='col-12'>
            <div class="media">
              <div class="mr-3">
                <%= link_to patient_path(@bed.patient), target: :_blank, class: "link" do %>
                  <%= image_tag patient_avatar(@bed.patient, 83, 102), size: '150x200', class:"img-thumbnail media-object" %>
                <% end %>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Paciente</h4>
                <p>
                  <%= link_to patient_path(@bed.patient), target: :_blank, class: "link" do %>
                    <%= @bed.patient_fullname.titleize %>
                  <% end %> 
                </p>
                <p><strong>DNI: </strong><%= @bed.patient_dni %></p>
                <p><strong>Edad: </strong><%= @bed.patient_age_string %></p>
              </div>
            </div>
          </div> <!-- End Patient profile -->
        <% end  %>

        <% if policy(@bed).admit_patient? %>
          <%= link_to new_inpatient_movement_path(movement_type_id: 1), class: 'btn btn-primary btn-block mt-2' do %>
            <%= fa_icon 'sign-in-alt' %> Ingresar paciente
          <% end %>
        <% end %>
        
        <% if policy(@bed).discharge_patient? %>
          <%= link_to new_inpatient_movement_path(movement_type_id: 2), class: 'btn btn-danger btn-block mt-2' do %>
            <%= fa_icon 'sign-out-alt' %> Egresar paciente
          <% end %>
        <% end %>
      </div>
      <div class="col-8">
        <% if @bed.patient.present? %>
          <h5 class="border-bottom pb-2"> Tratamientos desde su ingreso <%= @bed.patient.last_hospitalization.created_at.strftime("%d/%m/%y") %></h5>
          <% @bed.patient.inpatient_prescriptions %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card-footer d-flex justify-content-between">
    <div class="text-right w-100">
      <%= link_to beds_path,  
        'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Volviendo... ".html_safe,
        class: "btn btn-light mr-1" do %>
        Volver
      <% end %>

      <% if policy(@bed).edit? %>
        <%= link_to edit_bed_path(@bed), :"data-turbolinks" => false,
          'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Editando... ".html_safe,
          class: "btn btn-warning mr-1" do %>
          <%= fa_icon "pen" %>
          Editar
        <% end %>
      <% end %>
    </div> <!-- fin botones right -->
  </div>
</div>
