<%= render 'inpatient_prescriptions/header' %>

<div class="card fixed-custom-card">
  <div class="card-header d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center">
      <%= fa_icon "eye" %>
      <h5 class="card-title mb-0 ml-2">
        Viendo cama
      </h5>
    </div>
    <div>
      <%= link_to bed_path(format: 'pdf'), class: 'btn',  
        :title => 'Imprimir pdf', :'data-placement'=>'top', :'data-toggle'=>'tooltip', target: :_blank do %>
        <%= fa_icon "print" %>
      <% end %>
      <%= link_to beds_path, class: 'btn btn-light',
          :title => 'Cerrar', :'data-placement'=>'top', :'data-toggle'=>'tooltip' do %>
        <%= fa_icon "times" %>
      <% end %>
    </div>
  </div>

  <div class="card-body">
  </div>
  <div class="card-footer d-flex justify-content-between">
    <div class="text-right w-100">
      <%= link_to beds_path,  
        'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Volviendo... ".html_safe,
        class: "btn btn-light mr-1" do %>
        Volver
      <% end %>

      <% if policy(@bed).edit? %>
        <%= link_to edit_bed_path(@bed), :"data-turbolinks" => false,
          'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Editando... ".html_safe,
          class: "btn btn-warning mr-1" do %>
          <%= fa_icon "pen" %>
          Editar
        <% end %>
      <% end %>
    </div> <!-- fin botones right -->
  </div>
</div>
