<%= form_tag(products_path, method: "get", remote: true) do %>
  <div class="d-flex justify-content-end">
    <div class="p-1 flex-fill">
      <label>Código</label>
      <%= number_field_tag :search_code, params[:search_code], placeholder: "Código", class: "form-control" %>
    </div>
    <div class="p-1 flex-fill">
      <label>Nombre</label>
      <%= text_field_tag :search_name, params[:search_name], id: "search_name", placeholder: "Nombre",
        class: "form-control", autocomplete: "off" %>
    </div>
    <div class="p-1 flex-fill">
      <label>Rubros</label>
      <%= select_tag :with_area_ids,
        options_from_collection_for_select(@areas, 'id', 'name'), 
        class: "selectpicker custom-select-pick form-control", 
        multiple: true,
        "title"=>"Rubro",
        "data-live-search"=>true
      %>
    </div>
    <div class="p-1 flex-fill">
      <%= link_to products_path, class: "btn btn-light" do %>
        <%= fa_icon "undo" %>
      <% end %>
      <%= button_tag type: 'submit', class: "btn btn-info", id: "register-button", title: 'Filtrar', 
        data: { toggle: 'tooltip', placement: 'top' }, 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i>".html_safe do %>
        <%= fa_icon "filter" %>
      <% end %>
    </div>
  </div>
<% end %>
