
<div class="card fixed-custom-card">
  <div class="card-header <%= @product.new_record? ? 'bg-primary text-white' : 'bg-warning' %> d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center ml-2">
      <%= fa_icon (@product.new_record? ?  "plus" : "edit")%>
      <h5 class="card-title mb-0 ml-2">
        <%= @product.new_record? ? "Agregar producto" : "Editando producto" %>
      </h5>
    </div>
    <%= link_to :back, class: @product.new_record? ? 'btn text-white' : 'btn' do %>
      <%= fa_icon "times" %>
    <% end %>
  </div>
  <div class="card-body">
    <%= simple_form_for @product, html: { role: 'check-modified'} do |f| %>
      <%= f.error_notification %>
      <div class="row">
        <div class="col-12">
          <%= f.input :code, label: 'Código', required: true, placeholder: "Ej: 1234", input_html: {size: 20} %>
          <%= f.input :name, label: 'Nombre de insumo', placeholder: 'Ej: CITRATO DE CLOMIFENO Comp. 50 mg',
              required: true, size: 50, autocomplete: 'off' %>
          <%= f.input :unity_id, label: 'Unidad',
            collection:
              @unities.map { |unity| [unity.name, unity.id] },
            :input_html => {
              required: true,
              include_blank: false,
              class: 'selectpicker custom-select-pick',
              "data-width"=>"100%",
              "data-size"=>"15",
              "title"=>"Seleccionar unidad",
              "data-live-search"=>true,
              "data-none-results-text" => "No se encontró la unidad"
            }
          %>
          <%= f.input :area_id, label: 'Rubro',
            collection:
              @areas,
            :input_html => {
              required: true,
              include_blank: false,
              class: 'selectpicker custom-select-pick',
              "data-width"=>"100%",
              "data-size"=>"15",
              "title"=>"Seleccionar rubro",
              "data-live-search"=>true,
              "data-none-results-text" => "No se encontró el rubro"
            }
          %>
          <%= f.input :description, label: 'Descripción', as: :text,
            :input_html => { :cols => 50, :rows => 2 } %>
          <%= f.input :observation, label: 'Observación', as: :text,
            :input_html => { :cols => 50, :rows => 2 } %>

          <!-- Nombre de Producto -->
          <label><strong>SNOMED</strong> asociado</label>
          <div class="custom-input-group">
            <div class="form-group fake optional products_snomed_concept_id_fake">
              <input type="text" 
              name="<%="product_name_fake-#{f.object.id}"%>"
              value="<%= f.object.snomed_concept.present? ? f.object.snomed_concept.name : '' %>"
              class="form-control fake optional snomed-term input-sm <%= ("is-invalid" if (f.object.errors[:snomed_concept_id].any? || f.object.errors[:uniqueness_product_in_the_order].any?) ) %> <%= ("is-valid" if f.object.snomed_concept_id.present? && (!f.object.errors[:snomed_concept_id].any? || !f.object.errors[:uniqueness_product_in_the_order].any?) ) %>"
              data-autocomplete-source="<%= snomed_concepts_path %>"
              size="45" 
              autocomplete="off" 
              placeholder="Buscar concepto">
              <% if f.object.errors[:snomed_concept_id].first %>
                <div id="snomed_concept_id_fake" class="invalid-feedback">
                  Concepto SNOMED <%= f.object.errors[:snomed_concept_id].first %>
                </div>
              <% end %>
            </div>

            <div class="with-loading">
              <%= fa_icon 'spinner', class: "fa-spin"%>
            </div>
          </div>
          <%= f.input :snomed_concept_id, as: :hidden, error: false, input_html: { class: "snomed-concept-id" },
            value: "#{ if f.object.snomed_concept_id.present?; f.object.snomed_concept_id; end }" %>
        </div>
      </div>
    <% end %>

  </div>

  <div class="card-footer d-flex justify-content-end">
    <%= link_to 'Volver', products_path, class: 'btn mr-2' %>
    <button type='submit' name='commit' class='btn btn-success' form="<%= @product.new_record? ? 'new_product' : 'edit_product_' + @product.id.to_s %>">
      <%= fa_icon 'save' %> Guardar
    </button>
  </div>
</div>
