<%= simple_form_for @product, html: { role: 'check-modified'} do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="col-md-12">
      <%# Code %>
      <%= f.input :code, label: 'Código', required: true, placeholder: "Ej: 1234", input_html: {size: 20} %>

      <%# Name %>
      <%= f.input :name, label: 'Nombre de insumo', placeholder: 'Ej: CITRATO DE CLOMIFENO Comp. 50 mg',
          required: true, size: 50, autocomplete: 'off' %>

      <%# Unity %>
      <%= f.input :unity_id, label: 'Unidad', include_blank: true,
        collection: @unities,
        :value_method => :id,
        :input_html => {
          required: true,
          class: 'selectpicker-md',
          "data-width"=>"100%",
          "data-live-search"=>true,
          title: "Seleccionar unidad",
          "data-size"=>"15",
        }
      %>

      <%# Area %>
      <%= f.input :area_id, label: 'Rubro', include_blank: true,
        collection: @areas,
        :value_method => :id,
        :input_html => {
          value: "2",
          required: true,
          class: 'selectpicker-md',
          "data-width"=>"100%",
          "data-live-search"=>true,
          title: "Seleccionar rubro",
          "data-size"=>"15",
        }
      %>
      <%= f.input :description, label: 'Descripción', as: :text,
        :input_html => { :cols => 50, :rows => 2 } %>
      <%= f.input :observation, label: 'Observación', as: :text,
        :input_html => { :cols => 50, :rows => 2 } %>
    </div>
  </div>
<% end %>
