<% content_for :page_header do %>
  <li class="nav-item <%= active_action('index') %> non-sel">
    <%= link_to products_path, class: 'nav-link' do %>
      <%= fa_icon "pills" %>
      Productos
    <% end %>
  </li>
  <% if policy(Product).new? %>
    <li class="nav-item <%= active_action('new') %> non-sel">
      <%= link_to new_product_path, class: 'nav-link text-primary' do %>
        <%= fa_icon "plus" %>
        Agregar producto
      <% end %>
    </li>
  <% end %>
  <% if policy(Product).trash_index? %>
    <li class="nav-item <%= active_action('trash_index') %> non-sel">
      <%= link_to trash_index_products_path, class: 'nav-link' do %>
        <%= fa_icon "trash" %>
        Papelera
      <% end %>
    </li>
  <% end %>
<% end %>