<% if @products.present? %>
  <div id="filter_results">
    <div class="card fixed-panel-list">
      <table class="table table-hover table-striped table-sm">
        <thead >
          <tr>
            <th><%= filterrific_sorting_link(@filterrific, :codigo) %></th>
            <th><%= filterrific_sorting_link(@filterrific, :nombre) %></th>
            <th>Unidad</th>
            <th>Rubro</th>
            <th class="text-center">Acciones</th>
          </tr>
        </thead>
        <tbody id="products">
          <%= render @products %>
        </tbody>
      </table>
    </div>
    <div class="row d-flex align-items-center" style="height: 50px">
      <div class="col-5">
        <%= will_paginate @products, list_classes: %w(pagination mb-0), 
          previous_label: '<i class="fa fa-angle-left"></i>',
          next_label: '<i class="fa fa-angle-right"></i>', 
          renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
      </div>
      <div class="col-5 d-flex justify-content-around align-items-center">
        <div>
          Productos <span class="badge badge-secondary"><%= @products.count %></span>
        </div>
      </div>
      <div class="col-2 d-flex justify-content-end align-items-center">
        <%= link_to products_path(format: 'xlsx'),
          class: "btn btn-success", target: :_blank,
          title: 'Descargar a excel', data: { toggle: 'tooltip', placement: 'top' } do %>
          <%= fa_icon "file-excel" %>
          Excel
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <%= render(
    partial: 'shared/not_found_filter',
    locals: { object_name: 'productos' }
  ) %>
<% end %>
