<tr id="receipt_<%= receipt.id %>" >
  <td><%= receipt.code %></td>

  <td class="sol-col-aba">
    <%= receipt.provider_sector.name %>
    <%= receipt.provider_sector.establishment_name %></td>
  </td>

  <td>
    <span class="badge badge-<%= receipt.auditoria? ? 'warning' : 'success' %>">
      <%= receipt.status.humanize %>
    </span>
  </td>

  <td>
    <%= receipt.receipt_products.count %>
  </td>

  <td>
    <%= receipt.movements.count %>
  </td>

  <td>
    <%#= receipt.comments.count %>
  </td>
  
  <td>
    <% if receipt.recibido? %>
      <%= receipt.received_date.strftime("%d/%m/%y %H:%M") %>
    <% else %>
      ----
    <% end %>
  </td>
  <td class="text-left actions-col">
    <% if policy(receipt).show? %>
      <%= link_to receipt_path(receipt),
        class: 'btn btn-secondary btn-sm', title: 'Ver detalles', data: { toggle: 'tooltip', placement: 'top' }, 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i>".html_safe do %>
        <%= fa_icon "eye" %>
      <% end %>
    <% end %>
 
    <% if policy(receipt).edit? %>
      <%= link_to edit_receipt_path(receipt), :"data-turbolinks" => false,
        class: 'btn btn-warning btn-sm', title: 'Editar', data: { toggle: 'tooltip', placement: 'top' }, 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i>".html_safe do %>
        <%= fa_icon "pen" %>
      <% end %>
    <% end %>
 
    <% if policy(receipt).delete? %>
      <%= link_to delete_receipt_path(receipt), remote: true,
            class: 'btn btn-danger btn-sm', title: 'Borrar', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= fa_icon "trash" %>
      <% end %>
    <% end %>
  </td>
</tr>
