<tr id="receipt_<%= receipt.id %>" >
  <td><%= receipt.code %></td>

  <td class="sol-col-aba">
    <%= receipt.provider_sector.name %>
    <%= receipt.provider_sector.establishment_name %></td>
  </td>

  <td>
    <span class="badge badge-<%= receipt.auditoria? ? 'warning' : 'success' %>">
      <%= receipt.status.humanize %>
    </span>
  </td>

  <td>
    <%= receipt.receipt_products.count %>
  </td>

  <td>
    <%= receipt.movements.count %>
  </td>
  
  <td>
    <% if receipt.recibido? %>
      <%= receipt.received_date.strftime("%d/%m/%y %H:%M") %>
    <% else %>
      ----
    <% end %>
  </td>
  <td class="text-left actions-col">
    <div class="d-flex">
      <% if policy(receipt).show? %>
        <%= link_to receipt_path(receipt, format: 'pdf'), class: 'btn btn-info btn-sm',  
          :title => 'Imprimir pdf', :'data-placement'=>'top', :'data-toggle'=>'tooltip', target: :_blank do %>
          <%= fa_icon "print" %>
        <% end %>
      <% end %>
      <%= render(
        partial: 'shared/action_buttons',
        locals:{ 
            object: receipt, 
            show: {visible: true},
            edit: {visible: true},
            destroy: {
              visible: true, 
              title: "Eliminar recibo",
              body: "Esta seguro que desea eliminar el recibo de #{ receipt.provider_sector.establishment_name }?",
              path: "#{receipt_path(receipt)}"
            }
        }
      )
      %>
    </div>
  </td>
</tr>
