<%= render "internal_orders/header" %>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-3">
        <h4>Plantillas de pedidos sectores</h4>
      </div>
      <div class="col-md-9 text-right">
        <p class="text-info">
          <span class="glyphicon glyphicon-info-sign"></span>
          Optimiza la carga de insumos en tus pedidos.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-3">
            <h4>Solicitudes</h4>
          </div>
          <div class="col-md-9 text-right">
            <%= link_to new_internal_order_template_path, class: "btn btn-md btn-primary" do %>
              <span class="glyphicon glyphicon-plus"></span>Nueva
            <% end %>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <% if @applicant_templates.present? %>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Proveedor</th>
              <th>Insumos</th>
            </tr>
          </thead>
          <tbody>
            <% @applicant_templates.each do |app_template| %>
              <tr class="table-row" data-href="<%= internal_order_template_path(app_template) %>">
                <td><%= app_template.name %></td>
                <td><%= app_template.destination_sector.name %></td>
                <td><span class="badge"><%= app_template.supplies.count %></span></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <% else %>
          Aún no tienes plantillas de solicitud! Empieza <%= link_to 'aquí', new_internal_order_template_path, class: "link" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-3">
            <h4>Provisiones</h4>
          </div>
          <div class="col-md-9 text-right">
            <%= link_to new_provider_internal_order_templates_path, class: "btn btn-md btn-primary" do %>
              <span class="glyphicon glyphicon-plus"></span>Nueva
            <% end %>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <% if @provider_templates.present? %>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Proveedor</th>
                <th>Insumos</th>
              </tr>
            </thead>
            <tbody>
              <% @provider_templates.each do |prv_template| %>
                <tr class="table-row" data-href="<%= internal_order_template_path(prv_template) %>">
                  <td><%= prv_template.name %></td>
                  <td><%= prv_template.destination_sector.name %></td>
                  <td><span class="badge"><%= prv_template.supplies.count %></span></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          Aún no tienes plantillas de provisión! Empieza <%= link_to 'aquí', new_internal_order_template_path, class: "link" %>
        <% end %>
      </div>
    </div>
  </div>
</div>