<% content_for :page_header do %>
  <% if policy(SectorSupplyLot).group_by_supply? %>
    <li class="nav-item <%= active_action('group_by_supply') %> non-sel">
      <%= link_to group_by_supply_sector_supply_lots_path, class: 'nav-link' do %>
        <%= fa_icon "cubes" %>
        Stock
      <% end %>
    </li>
  <% end %>
  <li class="nav-item <%= active_action('index') %> non-sel">
    <%= link_to sector_supply_lots_path, class: 'nav-link' do %>
      <%= fa_icon "barcode" %>
      Lotes
    <% end %>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle non-sel text-primary" data-toggle="dropdown" href="#">
      <%= fa_icon "angle-double-up" %>
      Cargar stock
      <span class="caret"></span>
    </a>
    <div class="dropdown-menu dropdown-menu-right">
      <% if policy(ExternalOrder).new_receipt? %>
        <%= link_to new_receipt_external_orders_path, class: "dropdown-item" do %>
          <%= fa_icon "plus" %>
          Cargar por recibo
        <% end %>
      <% end %>
      <% if policy(InternalOrder).new_applicant? %>
        <%= link_to new_applicant_internal_orders_path, class: "dropdown-item" do %>
          <%= fa_icon "plus" %>
          Solicitar a sector
        <% end %>
      <% end %>
      <% if policy(ExternalOrder).new_applicant? %>
        <%= link_to new_applicant_external_orders_path, class: "dropdown-item" do %>
          <%= fa_icon "plus" %>
          Solicitar a establecimiento
        <% end %>
      <% end %>
    </div>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle non-sel text-primary" data-toggle="dropdown" href="#">
      <%= fa_icon "chart-line" %>
      Reporte
      <span class="caret"></span>
    </a>
    <div class="dropdown-menu dropdown-menu-right">
      <%= link_to new_delivered_by_order_reports_path, class: "dropdown-item" do %>
        <%= fa_icon "tint" %>
        <span class="hidden-xs">Entregado por pedido</span>
      <% end %>
    </div>
  </li>
  <% if policy(SectorSupplyLot).trash_index? %>
    <li class="nav-item col-md-offset-4 <%= active_action('trash_index') %> non-sel">
      <%= link_to trash_index_sector_supply_lots_path, class: 'nav-link' do %>
        <%= fa_icon "trash" %>
        Papelera
      <% end %>
    </li>
  <% end %>
  <li class="nav-item non-sel">
    <%= link_to group_by_supply_sector_supply_lots_path(format: 'pdf'), target: :_blank, class: 'nav-link' do %>
      <%= fa_icon "print" %>
      Imprimir
    <% end %>
  </li>
<% end %>