<% content_for :page_header do %>
    <ul class="nav nav-tabs nav-tabs-cust">
      <li role="presentation" id="page-title">
        <a href="">Stock <%= current_user.sector.name %></a>
      </li>
      <% if policy(SectorSupplyLot).group_by_supply? %>
        <li role="presentation" class="<%= active_action('group_by_supply') %>">
          <%= link_to group_by_supply_sector_supply_lots_path do %>
            <%= content_tag(:span, '', class: 'glyphicon glyphicon-list') %>
            Insumos
          <% end %>
        </li>
      <% end %>
      <li role="presentation" class="<%= active_action('index') %>">
        <%= link_to sector_supply_lots_path do %>
          <%= content_tag(:span, '', class: 'glyphicon glyphicon-barcode') %>
          Lotes
        <% end %>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <%= content_tag(:span, '', class: 'glyphicon glyphicon-shopping-cart') %>
          Cargar stock
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-cust">
          <% if policy(OrderingSupply).new_receipt? %>
            <li>
              <%= link_to new_receipt_ordering_supplies_path do %>
                <%= content_tag(:span, '', class: 'glyphicon glyphicon-plus') %>
                Recibo externo
              <% end %>
            </li>
          <% end %>
          <% if policy(InternalOrder).new_applicant? %>
            <li>
              <%= link_to new_applicant_internal_orders_path do %>
                <%= content_tag(:span, '', class: 'glyphicon glyphicon-plus') %>
                Solicitud interna
              <% end %>
            </li>
          <% end %>
        </ul>
      </li>
      <% if policy(SectorSupplyLot).trash_index? %>
        <li role="presentation" class="col-md-offset-3 <%= active_action('trash_index') %>">
          <%= link_to trash_index_sector_supply_lots_path do %>
            <%= content_tag(:span, '', class: 'glyphicon glyphicon-trash') %>
            Papelera
          <% end %>
        </li>
      <% end %>
    </ul>
<% end %>