<div id="filterrific_results">
  <% if @supplies.present? %>
    <div class="card">
      <table class="table table-hover table-striped table-sm">
        <thead>
          <tr>
            <th><%= filterrific_sorting_link(@filterrific, :codigo) %></th>
            <th><%= filterrific_sorting_link(@filterrific, :nombre) %></th>
            <th>Cantidad</th>
            <th>Lotes</th>
            <th>Rubro</th>
            <th class="text-center">Acciones</th>
          </tr>
        </thead>
        <tbody id="supplies">
          <%= render @supplies %>
        </tbody>
      </table>
    </div>
    <div class="d-flex align-items-center justify-content-center" style="height: 50px">
      <%= will_paginate @supplies, list_classes: %w(pagination mb-0), renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
    </div>
  <% else %>
    <%= render(
      partial: 'shared/not_found_filter',
      locals: { object_name: 'insumos en stock' }
    ) %>
  <% end %>
</div>
