<div id="filterrific_results">
  <% if @sector_supply_lots.present? %>
    <div class="card fixed-panel-list">
      <table class="table table-hover table-striped table-sm">
        <thead>
          <tr>
            <th><%= filterrific_sorting_link(@filterrific, :cod_ins) %></th>
            <th><%= filterrific_sorting_link(@filterrific, :insumo) %></th>
            <th><%= filterrific_sorting_link(@filterrific, :estado) %></th>
            <th><%= filterrific_sorting_link(@filterrific, :cantidad) %></th>
            <th><%= filterrific_sorting_link(@filterrific, :lote) %></th>
            <th><%= filterrific_sorting_link(@filterrific, :laboratorio) %></th>
            <th><%= filterrific_sorting_link(@filterrific, :vencimiento) %></th>
            <th class="text-center">Acciones</th>
          </tr>
        </thead>
        <tbody id=sector_supply_lots>
          <%= render @sector_supply_lots %>
        </tbody>
      </table>
    </div>
    <div class="d-flex align-items-center justify-content-center" style="height: 50px">
      <%= will_paginate @sector_supply_lots, list_classes: %w(pagination mb-0), renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
    </div>
  <% else %>
    <%= render(
      partial: 'shared/not_found_filter',
      locals: { object_name: 'lotes en stock' }
    ) %>
  <% end %>
</div>
