<div id="filterrific_results">
  <div class="panel panel-default">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th><%= filterrific_sorting_link(@filterrific, :cod_ins) %></th>
          <th><%= filterrific_sorting_link(@filterrific, :insumo) %></th>
          <th><%= filterrific_sorting_link(@filterrific, :estado) %></th>
          <th><%= filterrific_sorting_link(@filterrific, :cantidad) %></th>
          <th><%= filterrific_sorting_link(@filterrific, :lote) %></th>
          <th><%= filterrific_sorting_link(@filterrific, :laboratorio) %></th>
          <th><%= filterrific_sorting_link(@filterrific, :vencimiento) %></th>
          <th colspan="3">Acciones</th>
        </tr>
      </thead>
      <tbody id=sector_supply_lots>
        <%= render @sector_supply_lots %>
      </tbody>
    </table>
  </div>
  <div id="page_links">
    <%= paginate @sector_supply_lot %>
    <% if policy(SectorSupplyLot).trash_index? %>
      <% unless current_page?(controller: 'sector_supply_lots', action: 'trash_index') %>
        <%= link_to trash_index_sector_supply_lots_path, class: "btn btn-default btn-md pull-right" do %>
          <%= content_tag(:span, '', class: 'glyphicon glyphicon-trash') %>
          Papelera
        <% end %>
      <% else %>
        <%= link_to sector_supply_lots_path, class: "btn btn-default btn-md pull-right" do %>
          <%= content_tag(:span, '', class: 'glyphicon glyphicon-arrow-left') %>
          Volver
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
