<div id="filterrific_results">
  <% if @sector_supply_lots.present? %>
    <div class="panel panel-default">
      <table class="table table-hover table-striped table-condensed">
        <thead>
          <tr>
            <th><%= filterrific_sorting_link(@filterrific, :cod_ins) %></th>
            <th><%= filterrific_sorting_link(@filterrific, :insumo) %></th>
            <th><%= filterrific_sorting_link(@filterrific, :estado) %></th>
            <th><%= filterrific_sorting_link(@filterrific, :cantidad) %></th>
            <th><%= filterrific_sorting_link(@filterrific, :lote) %></th>
            <th><%= filterrific_sorting_link(@filterrific, :laboratorio) %></th>
            <th><%= filterrific_sorting_link(@filterrific, :vencimiento) %></th>
            <th colspan="3">Acciones</th>
          </tr>
        </thead>
        <tbody id=sector_supply_lots>
          <%= render @sector_supply_lots %>
        </tbody>
      </table>
    </div>
    <div id="page_links">
      <%= paginate @sector_supply_lot %>
    </div>
  <% else %>
    <%= render(
      partial: 'shared/not_found_filter',
      locals: { object_name: 'lotes en stock' }
    ) %>
  <% end %>
</div>
