  <tr id="sector_supply_lot_<%= sector_supply_lot.id %>">
    <div class="js-fade fade-in is-paused">
      <td><%= sector_supply_lot.code %></td>
      <td class="col-sup-name"><%= sector_supply_lot.supply_name %></td>
      <td>
        <span class="badge badge-<%= sector_supply_lot.status_label %>">
          <%= sector_supply_lot.status.underscore.humanize %>
        </span>
      </td>
      <td>
        <div class="progress-bar progress-bar-<%= sector_supply_lot.quantity_label %> progress-bar-striped" id="quantity-bar" style="width: <%= sector_supply_lot.percent_stock %>%">
          <%= sector_supply_lot.quantity %>/<%= sector_supply_lot.initial_quantity %>
        </div>
      </td>
      <td><%= sector_supply_lot.lot_code %></td>
      <td><%= sector_supply_lot.laboratory %></td>
      <td><%= sector_supply_lot.supply_lot.expiry_date? ? sector_supply_lot.supply_lot.expiry_date.strftime("%m/%y") : "No vence" %></td>
      <td class="text-left actions-col">
        <% if policy(sector_supply_lot).show? %>
          <%= link_to sector_supply_lot_path(sector_supply_lot), remote:true, class: 'btn btn-secondary btn-sm',
                title: 'Ver detalles', data: { toggle: 'tooltip', placement: 'top' } do %>
            <%= fa_icon "eye" %>
          <% end %>
        <% end %>
        <% if current_page?(controller: 'sector_supply_lots', action: 'trash_index') %>
          <% if policy(sector_supply_lot).restore? %>
            <%= link_to restore_confirm_sector_supply_lot_path(sector_supply_lot), remote: true,
                  class: 'btn btn-primary btn-sm', title: 'Restaurar', data: { toggle: 'tooltip', placement: 'top' } do %>
              <%= fa_icon "trash-restore" %>
            <% end %>
          <% end %>
          <% if policy(sector_supply_lot).purge? %>
            <%= link_to purge_confirm_sector_supply_lot_path(sector_supply_lot), remote: true,
                  class: 'btn btn-danger btn-sm', title: 'Eliminar', data: { toggle: 'tooltip', placement: 'top' } do %>
              <%= fa_icon "times" %>
            <% end %>
          <% end %>
        <% else %>
          <% if policy(sector_supply_lot).delete? %>
            <%= link_to delete_sector_supply_lot_path(sector_supply_lot), remote: true,
                  class: 'btn btn-danger btn-sm', title: 'Papelera', data: { toggle: 'tooltip', placement: 'top' } do %>
              <%= fa_icon "trash" %>
            <% end %>
          <% end %>
        <% end %>
      </td>
    </div>
  </tr>
