<%= render 'header' %>

<% if @supplies.present? %>
  <%= render "supplies/filter" %>

  <div class="card" id="filter-panel">
    <div class="card-header">
      <%= render 'supplies/filter' %>
    </div>
    <div class="card-body fixed-panel-index">
      <%= render(
        partial: 'sector_supply_lots/list_supply',
        locals: { supplies: @supplies }
      ) %>
    </div>
  </div>
<% else %>
  <%= render(
    partial: 'shared/not_found',
    locals: { object_name: 'productos en stock' }
  ) %>
<% end %>