<% content_for :page_header do %>
  Stock <%= current_user.sector.name %>
  <% if policy(SectorSupplyLot).new? %>
    <%= button_tag(class: "btn btn-primary btn-xs", 'data-toggle' => 'collapse', 'data-target' => '#new') do %>
      <%= content_tag(:span, '', class: 'glyphicon glyphicon-plus') %>
      Cargar
    <% end %>
  <% end %>
<% end %>

<% if policy(SectorSupplyLot).new? %>
  <div class="panel panel-primary" id="filter-panel">
    <div class="panel-collapse collapse" id="new">
        <%= render "form" %>
    </div>
  </div>
<% end %>

<%= render "filter" %>

<%= render(
  partial: 'sector_supply_lots/list',
  locals: { sector_supply_lots: @sector_supply_lots }
) %>
