<%= render 'header' %>

<div class="panel panel-default">
  <div class="panel-heading hidden-print">
    <h3 class="panel-title">
      <%= content_tag(:span, '', class: 'glyphicon glyphicon-eye-open') %> Viendo lotes del insumo
      <%= link_to ordering_supplies_path, class: 'btn pull-right close-btn' do %>
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-remove') %>
      <% end %>
      <%= link_to '',class:'btn pull-right print-btn', :onclick => 'window.print();return false;' do %>
        <%= content_tag(:span, "", class: "glyphicon glyphicon-print") %>
      <% end %>
    </h3>
  </div>
  <div class="visible-print-block"><%= current_user.establishment_name %></div>
  <div class="panel-body" id="panel-body-new">
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th>Cód Ins</th>
            <th>Nombre</th>
            <th>Cantidad</th>
            <th>Vigentes</th>
            <th>Por vencer</th>
            <th>Vencidos</th>
            <th>Lotes</th>
            <th>Tipo</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @supply.id %></td>
            <td><%= @supply.name %></td>
            <% @lots = SectorSupplyLot.where(sector_id: current_user.sector_id).with_supply(@supply) %>
            <td><%@sum_lots = @lots.sum(:quantity)%>
              <span class="label label-default">
                <%= @sum_lots %>
              </span>
            </td>
            <td>
              <span class="label label-success">
                <%= content_tag(:span, '', class: 'glyphicon glyphicon-ok') %>
                <%= @lots.with_status(0).sum(:quantity) %>
              </span>
            </td>
            <td>
              <span class="label label-warning">
                <%= content_tag(:span, '', class: 'glyphicon glyphicon-time') %>
                <%= @lots.with_status(1).sum(:quantity) %>
              </span>
            </td>
            <td>
              <span class="label label-danger">
                <%= content_tag(:span, '', class: 'glyphicon glyphicon-warning-sign') %>
                <%= @lots.with_status(2).sum(:quantity) %>
              </span>
            </td>
            <td><span class="badge"><%= @lots.count %></span></td>
            <td><%= @supply.supply_area.name %></td>
          </tr>
        </tbody>
      </table>
      <hr>
    </div>
    <div class="row">
      <div class="col-md-8">
        <table class="table table-hover table-condensed">
          <thead>
            <tr>
              <th>Lote</th>
              <th>Laboratorio</th>
              <th>Vencimiento</th>
              <th>Estado</th>
              <th>Cantidad</th>
            </tr>
          </thead>
          <tbody>
            <% SectorSupplyLot.where(sector_id: current_user.sector_id).with_supply(@supply).each do |lot| %>
              <tr>
                <td><%= lot.lot_code %></td>
                <td><%= lot.laboratory %></td>
                <td><%= lot.supply_lot.expiry_date? ? lot.supply_lot.expiry_date.strftime("%d/%m/%Y") : "No vence" %></td>
                <td>
                  <span class="label label-<%= lot.status_label %>">
                    <%= lot.status.split('_').map(&:capitalize).join(' ') %>
                  </span>
                </td>
                <td>
                  <div class="progress-bar progress-bar-<%= lot.quantity_label %> progress-bar-striped" id="quantity-bar" style="width: <%= lot.percent_stock %>%">
                    <%= lot.quantity %>/<%= lot.initial_quantity %>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="col-md-4">
        <%
          lots = SectorSupplyLot.lots_for_sector(current_user.sector).with_supply(@supply).group(:status).count.transform_keys { |key| key.split('_').map(&:capitalize).join(' ') }
          status_colors = {"Vigente" => "#40c95e", "Por Vencer" => "#f1ae45", "Vencido" => "#d36262", "Agotado" => "#5bbae1" }
          colors = []
          lots.each do |status, _|
            colors << status_colors[status]
          end
        %>
        <%= pie_chart lots, colors: colors, label: 'Cantidad de lotes', adapter: "highcharts" %>
      </div>
    </div>
  </div>

  <!-- Botones de acción footer -->
  <div class="panel-footer text-right hidden-print">
    <%= link_to 'Volver', :back, class: "btn" %>
  </div>
</div>