<%= render 'header' %>

<div class="card fixed-custom-card">
  <div class="card-header d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center ml-2">
      <%= fa_icon "eye" %>
      <h5 class="card-title mb-0 ml-2">
        Viendo detalles del insumo
      </h5>
    </div>
    <%= link_to group_by_supply_sector_supply_lots_path, class: 'btn btn-light' do %>
      <%= fa_icon "times" %>
    <% end %>
  </div>
  <div class="card-body">
    <div class="row mb-2">
      <div class="col-12">
        <div class="card ">
          <table class="table mb-0">
            <thead>
              <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Vigentes</th>
                <th>Por vencer</th>
                <th>Vencidos</th>
                <th>Lotes</th>
                <th>Rubro</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= @supply.id %></td>
                <td><%= @supply.name %></td>
                <% @lots = SectorSupplyLot.where(sector_id: current_user.sector_id).with_supply(@supply) %>
                <td><%@sum_lots = @lots.sum(:quantity)%>
                  <%= @sum_lots %>
                </td>
                <td>
                  <span class="badge badge-success">
                    <%= fa_icon "check" %>
                    <%= @lots.with_status(0).sum(:quantity) %>
                  </span>
                </td>
                <td>
                  <span class="badge badge-warning">
                    <%= fa_icon "clock" %>
                    <%= @lots.with_status(1).sum(:quantity) %>
                  </span>
                </td>
                <td>
                  <span class="badge badge-danger">
                    <%= fa_icon "exclamation-triangle" %>
                    <%= @lots.with_status(2).sum(:quantity) %>
                  </span>
                </td>
                <td><span class="badge badge-secondary"><%= @lots.count %></span></td>
                <td><%= @supply.supply_area.name %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Tabs -->
    <div class='row'>
      <div class="col-12">
        <ul class='nav nav-tabs nav-justified'>
          <li class='nav-item'>
            <a class="nav-link active" data-toggle='tab' href='#lots-tab' role="tab">
              <%= fa_icon "barcode" %>
              Lotes
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle='tab' href='#last-movements-tab' role="tab">
              <%= fa_icon "exchange-alt"%>
              Movimientos
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle='tab' href='#charts-tab' role="tab">
              <%= fa_icon "chart-bar" %>
              Estadísticas
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle='tab' href='#archived-tab' role="tab">
              <%= fa_icon "archive" %>
              Archivados
            </a>
          </li>
        </ul>
      </div>
    </div> <!-- End tabs -->

    <div class="tab-content">
      <!-- Lots tab -->
      <div class='tab-pane fade show active' id='lots-tab' role="tab-panel">
        <div class="row">
          <div class="col-8 mr-auto">
            <div class="card">
              <table class="table table-hover table-sm">
                <thead>
                  <tr>
                    <th>Lote</th>
                    <th>Laboratorio</th>
                    <th>Vencimiento</th>
                    <th>Estado</th>
                    <th>Cantidad</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody id="lots">
                  <% SectorSupplyLot.where(sector_id: current_user.sector_id).with_supply(@supply).without_status(4).each do |lot| %>
                    <tr id="lot_<%= lot.id %>">
                      <td><%= lot.lot_code %></td>
                      <td><%= lot.laboratory %></td>
                      <td><%= lot.supply_lot.expiry_date? ? lot.supply_lot.expiry_date.strftime("%m/%y") : "No vence" %></td>
                      <td>
                        <span class="badge badge-<%= lot.status_label %>">
                          <%= lot.status.split('_').map(&:capitalize).join(' ') %>
                        </span>
                      </td>
                      <td>
                        <div class="progress-bar progress-bar-<%= lot.quantity_label %> progress-bar-striped" id="quantity-bar" style="width: <%= lot.percent_stock %>%">
                          <%= lot.quantity %>
                        </div>
                      </td>
                      <td>
                        <% if policy(lot).show? %>
                          <%= link_to sector_supply_lot_path(lot), remote:true, class: 'btn btn-secondary btn-sm',
                                title: 'Ver detalles', data: { toggle: 'tooltip', placement: 'top' } do %>
                            <%= fa_icon "eye" %>
                          <% end %>
                        <% end %>
                        <% if policy(lot).archive? %>
                          <%= link_to archive_confirm_sector_supply_lot_path(lot), remote: true,
                            class: 'btn btn-warning btn-sm', title: 'Archivar', data: { toggle: 'tooltip', placement: 'top' } do %>
                            <%= fa_icon "archive" %>
                          <% end %>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div><!-- End card -->
          </div><!-- End col-8 -->
          <div class="col-4">
            <%
              lots = SectorSupplyLot.lots_for_sector(current_user.sector).without_status(4).with_supply(@supply).group(:status).count.transform_keys { |key| key.split('_').map(&:capitalize).join(' ') }
              status_colors = {"Vigente" => "#40c95e", "Por Vencer" => "#f1ae45", "Vencido" => "#d36262", "Agotado" => "#5bbae1" }
              colors = []
              lots.each do |status, _|
                colors << status_colors[status]
              end
            %>
            <%= pie_chart lots, colors: colors, label: 'Cantidad de lotes', adapter: "highcharts" %>
          </div><!-- End col-4 -->
        </div><!-- End row -->
      </div><!-- End lots tab -->
      <!-- Last movements tab -->
      <div class='tab-pane fade' id='last-movements-tab' role="tab-panel">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <table class="table table-hover table-sm">
                <thead>
                  <tr>
                    <th>Lote</th>
                    <th>Movimiento</th>
                    <th>Origen/Destino</th>
                    <th>Código</th>
                    <th>Estado</th>
                    <th>Cantidad</th>
                    <th><span class="glyphicon glyphicon-calendar"></span> Entregado</th>
                  </tr>
                </thead>
                <tbody>
                  <% @orders.each do | qosl | %>
                    <% @order = qosl.quantifiable %>
                    <tr class="table-<%= @order.sum_to?(current_user.sector) ? 'success' : 'danger' %>">
                      <td><%= qosl.sector_supply_lot.present? ? qosl.sector_supply_lot.lot_code : qosl.lot_code %></td>
                      <td>
                          <%= @order.order_type.split('_').map(&:capitalize).join(' ') %>
                      </td>
                      <td>
                        <% if @order.class ==  InternalOrder %>
                          <%= @order.sum_to?(current_user.sector) ? @order.provider_sector.name : @order.applicant_sector.name %>
                        <% elsif @order.class == ExternalOrder %>
                          <% if  @order.sum_to?(current_user.sector) %>
                            <%= @order.provider_sector.present? ? @order.provider_sector.establishment_short_name : "----" %> 
                          <% else %>
                            <%= @order.applicant_sector.present? ? @order.applicant_sector.establishment_short_name : "----" %>
                          <% end %>
                        <% else %>
                          <%= @order.professional.last_name+" / "+@order.patient.last_name  %>
                        <% end %>
                      </td>
                      <td><%= @order.remit_code %></td>
                      <td>
                        <span class="label label-<%= order_status_label(@order) %>">
                          <%= @order.status.split('_').map(&:capitalize).join(' ') %>
                        </span>
                      </td>
                      <td><span class="label label-<%= @order.sum_to?(current_user.sector) ? 'success' : 'danger' %>"><%= qosl.delivered_quantity %></span></td>
                      <td><%= @order.sent_date.strftime("%d/%m/%Y") %></td>
                      <td>                        
                        <%= link_to polymorphic_path(@order), target: :_blank, class: 'btn btn-light btn-sm',
                          title: 'Ver '+@order.order_type.humanize.underscore, data: { toggle: 'tooltip', placement: 'top' } do %>
                          <%= fa_icon "external-link-alt" %>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div><!-- End column -->
        </div> <!-- End row -->
      </div><!-- End last movements tab pane -->
      <!-- Charts tab -->
      <div class='tab-pane fade' id='charts-tab' role="tab-panel">
        <div class="row">
          <div class="col-md-6">
            <%= line_chart @orders.collect{|i| [i['created_at'], i['delivered_quantity']]}, 
              discrete: true, label: 'Cantidad', adapter: "highcharts"%>
          </div>
          <div class="col-md-6">
            <%
              lots = SectorSupplyLot.lots_for_sector(current_user.sector).without_status(4).with_supply(@supply).group(:status).count.transform_keys { |key| key.split('_').map(&:capitalize).join(' ') }
              status_colors = {"Vigente" => "#40c95e", "Por Vencer" => "#f1ae45", "Vencido" => "#d36262", "Agotado" => "#5bbae1" }
              colors = []
              lots.each do |status, _|
                colors << status_colors[status]
              end
            %>
            <%= pie_chart lots, colors: colors, label: 'Cantidad de lotes', adapter: "highcharts" %>
          </div>
        </div>
      </div><!-- End charts tab -->
      <!-- Archived tab -->
      <div class='tab-pane fade' id='archived-tab' role="tab-panel">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <table class="table table-hover table-sm">
                <thead>
                  <tr>
                    <th>Lote</th>
                    <th>Laboratorio</th>
                    <th>Vencimiento</th>
                    <th>Estado</th>
                    <th>Cantidad</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody id="lots">
                  <% SectorSupplyLot.where(sector_id: current_user.sector_id).with_supply(@supply).archivado.each do |lot| %>
                    <tr id="lot_<%= lot.id %>">
                      <td><%= lot.lot_code %></td>
                      <td><%= lot.laboratory %></td>
                      <td><%= lot.supply_lot.expiry_date? ? lot.supply_lot.expiry_date.strftime("%m/%y") : "No vence" %></td>
                      <td>
                        <span class="label label-<%= lot.status_label %>">
                          <%= lot.status.split('_').map(&:capitalize).join(' ') %>
                        </span>
                      </td>
                      <td>
                        <div class="progress-bar progress-bar-<%= lot.quantity_label %> progress-bar-striped" id="quantity-bar" style="width: <%= lot.percent_stock %>%">
                          <%= lot.quantity %>/<%= lot.initial_quantity %>
                        </div>
                      </td>
                      <td>
                        <% if policy(lot).show? %>
                          <%= link_to sector_supply_lot_path(lot), remote:true, class: 'btn btn-default btn-xs',
                                title: 'Ver detalles', data: { toggle: 'tooltip', placement: 'top' } do %>
                            <%= content_tag(:span, '', class: 'glyphicon glyphicon-eye-open') %>
                          <% end %>
                        <% end %>
                        <% if policy(lot).archive? %>
                          <%= link_to archive_confirm_sector_supply_lot_path(lot), remote: true,
                            class: 'btn btn-warning btn-xs', title: 'Archivar', data: { toggle: 'tooltip', placement: 'top' } do %>
                            <%= content_tag(:span, '', class: 'glyphicon glyphicon-folder-close') %>
                          <% end %>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div><!-- End card -->
          </div><!-- End col-12 -->
        </div><!-- End row -->
      </div><!-- End archived tab -->
    </div> <!-- End Tab content-->
  </div> <!-- End card-body -->

  <!-- Botones de acción footer -->
  <div class="card-footer text-right hidden-print">
    <%= link_to 'Volver', group_by_supply_sector_supply_lots_path, class: "btn btn-light" %>
  </div>
</div>