<%= render 'header' %>


<div class="card fixed-custom-card">
  <div class="card-header d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center">
      <%= fa_icon "eye" %>
      <h5 class="card-title mb-0 ml-2">
        Reporte consumo de un insumo por pedido entre dos fechas 
      </h5>
    </div>
    <div>
      <%= link_to :back, class: 'btn',
          :title => 'Cerrar', :'data-placement'=>'top', :'data-toggle'=>'tooltip' do %>
        <%= fa_icon "times" %>
      <% end %>
    </div>
  </div>

  <div class="card-body">

    <%= simple_form_for @report, method: :post, :url => { :action => :create_delivered_by_order }, html: {role: 'check-modified', id: "new_supply_consumption"} do |f| %>
      <%= f.error_notification %>
      <div class="row">
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-12">
              <h4>Insumo</h4>
              <hr>
            </div>
            <div class="col-md-3">
              <%= f.input :supply_id, as: :string,
                placeholder: 'Ej: 1234',
                label: 'Código',
                :input_html => {
                  class: "report-supply-code",
                  data: { autocomplete_source: search_by_id_supplies_path },
                  autocomplete: 'off'
                }
              %>
            </div>
            <div class="col-md-9">
              <%= f.input :supply_id, as: :string, id: "nom_ins",
                label: 'Nombre',
                placeholder: 'Ej: IBUPROFENO 600 mg',
                :input_html => {
                  class: "report-supply-name",
                  data: { autocomplete_source: search_by_name_supplies_path },
                  value: "#{ if f.object.supply.present?; f.object.supply_name; end }",
                  autocomplete: false
                }
              %>
              <%= f.input :supply_id, :as => :hidden, :input_html =>  { class: "report-supply-id" } %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h4>Fecha</h4>
              <hr>
            </div>
            <div class="col-md-3">
              <%= f.input :since_date, as: :tempus_dominus,
                label: 'Hasta',
                required: true,
                input_html: {
                  placeholder: "Elegir una fecha hasta",
                  class: 'input-sm',
                  autocomplete: 'off'
                },
                html5: false 
              %>
            </div>
            <div class="col-md-3">
              <%= f.input :to_date, as: :tempus_dominus,
                label: 'Hasta',
                required: true,
                input_html: {
                  placeholder: "Elegir una fecha hasta",
                  class: 'input-sm',
                  autocomplete: 'off'
                },
                html5: false 
              %>
              
            </div>
          </div>
        <% end %>
        
      </div>
      <div class="col-md-3">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">
              <%= content_tag(:span, '', class: 'glyphicon glyphicon-info-sign') %>
              Descripción
            </h3>
          </div>
          <div class="panel-body">
            <p>Reporte para conocer la cantidad total entregada de un determinado insumo entre dos fechas. Se tienen en cuenta las prescripciones, pedidos de sectores y pedidos de abastecimiento.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer text-right">
    <%= link_to 'Volver', external_orders_path, class: 'btn' %>
    <button type='submit' name='commit' class='btn btn-success' form='new_supply_consumption'>
      <%= fa_icon 'check' %> Generar reporte
    </button>
  </div>
</div>