<%= render 'header' %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading hidden-print">
        <h3 class="panel-title">
          <%= content_tag(:span, '', class: 'glyphicon glyphicon-eye-open') %> Viendo <%= @report.name.downcase %>
          <%= link_to reports_path, class: 'btn pull-right close-btn',
            :title => 'Cerrar', :'data-placement'=>'top', :'data-toggle'=>'tooltip' do %>
            <%= content_tag(:span, '', class: 'glyphicon glyphicon-remove') %>
          <% end %>
        </h3>
      </div>
      <div class="panel-body" id="panel-body-new">
        <div class="row">
          <div class='col-md-6 col-xs-4'>
            <div class="text-center"><h5><strong>Insumo</strong></h5></div>
            <hr>
            <strong>Código: </strong><%= @report.supply.id %> <strong>Nombre: </strong><%= @report.supply.name %> 
          </div>
          <div class="col-md-6 col-xs-4">
            <div class="text-center"><h5><strong>Fecha</strong></h5></div>
            <hr>
            <strong>Desde: </strong><%= @report.since_date.strftime("%d/%m/%Y") %>&nbsp;&nbsp;&nbsp;<strong>Hasta: </strong><%= @report.to_date.strftime("%d/%m/%Y") %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12">
            <% if @report.delivered_by_order? %>
              <%= render "delivered_by_order" %>
            <% elsif @report.delivered_by_establishment? %>
              <%= render "delivered_by_establishment" %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <%= @report.user.sector_and_establishment %>
      </div>
    </div>
  </div>
</div>
      
