<tr id="establishment_<%= establishment.id %>">
  <div class="js-fade fade-in is-paused">
    <td><%= establishment.code %></td>
    <td><%= establishment.name %></td>
    <td><%= establishment.sectors_count %></td>
    <td>
      <% if policy(establishment).show? %>
        <%= link_to establishment_path(establishment), class: 'btn btn-default btn-xs',
              title: 'Ver detalles', data: { toggle: 'tooltip', placement: 'top' } do %>
          <%= content_tag(:span, '', class: 'glyphicon glyphicon-eye-open') %>
        <% end %>
      <% end %>
      <% if policy(establishment).edit? %>
        <%= link_to edit_establishment_path(establishment), class: 'btn btn-warning btn-xs',
              title: 'Editar', data: { toggle: 'tooltip', placement: 'top' } do %>
          <%= content_tag(:span, '', class: 'glyphicon glyphicon-edit') %>
        <% end %>
      <% end %>
      <% if policy(establishment).destroy? %>
        <%= link_to delete_establishment_path(establishment), remote: true,
              class: 'btn btn-danger btn-xs', title: 'Borrar', data: { toggle: 'tooltip', placement: 'top' } do %>
          <%= content_tag(:span, '', class: 'glyphicon glyphicon-trash') %>
        <% end %>
      <% end %>
    </td>
  </div>
</tr>
