<div class="card">
  <div class="card-header <%= @establishment.new_record? ? 'bg-primary text-white' : 'bg-warning' %> d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center">
      <h5 class="card-title mb-0 ml-2">
        <%= fa_icon (@establishment.new_record? ?  "plus" : "edit") %>
        <%= @establishment.new_record? ? "Agregar establecimiento" : "Editar establecimiento" %>
      </h5>
    </div>
    <%= link_to :back, class: @establishment.new_record? ? 'btn text-white' : 'btn' do %>
      <%= fa_icon "times" %>
    <% end %>
  </div>
  <div class="card-body" id="panel-body-new">

    <%= simple_form_for @establishment, html: {class: "", role: 'check-modified'} do |f| %>
      <%= f.error_notification %>

      <div class="row">
        <div class="col-md-4">
          <%= f.input :code, required: true, label: 'Código' %>
        </div>
        <div class="col-md-4">
          <%= f.input :name, required: true, label: 'Nombre' %>
        </div>

        <div class="col-md-4">
          <%= f.input :cuit, required: true, label: 'Cuit' %>
        </div>
        <div class="col-md-4">
          <%= f.input :domicile, required: true, label: 'Domicilio' %>
        </div>
        <div class="col-md-4">
          <%= f.input :phone, required: true, label: 'Teléfono' %>
        </div>
        <div class="col-md-4">
          <%= f.input :email, required: true, label: 'Email' %>
        </div>
      </div>
    <% end %>

  </div>

  <div class="card-footer d-flex justify-content-end">
    <%= link_to 'Volver', establishments_path, class: 'btn mr-2' %>
    <button type='submit' name='commit' class='btn btn-success' form="<%= @establishment.new_record? ? 'new_establishment' : 'edit_establishment_' + @establishment.id.to_s %>">
      <%= fa_icon 'save' %> Guardar
    </button>
  </div>
</div>


