<%= render 'header' %>

<% if @establishments.present? %>
  <div class="panel panel-info" id="filter-panel">
    <div class="panel-leftheading">
      <%= content_tag(:span, '', class: 'glyphicon glyphicon-filter gi-2x') %>
    </div>
    <div class="panel-rightbody">
      <%= form_for_filterrific @filterrific do |f| %>
          <div class="row">
            <label class="col-md-4">Nombre</label>
            <div class="col-md-5 col-sm-3">
              <%= f.text_field(
                :search_name,
                class: 'filterrific-periodically-observed form-control input-sm'
                  ) %>
            </div>
          </div>
          <%#= link_to reset_filterrific_url, class: "btn btn-sm pull-right" do %>
            <%#= content_tag(:span, '', class: 'glyphicon glyphicon-refresh') %>
          <%# end %>
          <!-- Spinner para la carga -->
          <%= render_filterrific_spinner %>
      <% end %>
    </div>
    <div class="clearfix">
    </div>
  </div>

  <%= render(
    partial: 'establishments/list',
    locals: { establishments: @establishments }
  ) %>
<% else %>
  <%= render(
    partial: 'shared/not_found',
    locals: { object_name: 'establecimientos' }
  ) %>
<% end %>
