<%= render 'header' %>

<% if @establishments.present? %>

    <div class="card">
      <div class="card-header">
        <%= form_for_filterrific @filterrific do |f| %>
          <div class="d-flex align-items-center">
            <%= fa_icon "filter" %>
            <%= f.text_field(
                :search_name,
                class: 'filterrific-periodically-observed form-control input-sm ml-2 w-25',
                placeholder: 'Nombre'
                  ) %>
            <%= %>
            <%= render_filterrific_spinner %>
          </div>
        <% end %>
      </div>
      <div class="card-body">
        <%= render(
          partial: 'establishments/list',
          locals: { establishments: @establishments }
        ) %>
      </div>
    </div>

<% else %>
  <%= render(
    partial: 'shared/not_found',
    locals: { object_name: 'establecimientos' }
  ) %>
<% end %>
