<%= render 'header' %>

<% if @establishments.present? %>
  <div class="panel panel-info" id="filter-panel">
    <%# <div class="panel-leftheading"> %>

  <%# </div> %>
    <div class="panel-rightbody">
      <%= form_for_filterrific @filterrific do |f| %>
        <div class="d-flex align-items-center mt-3 mb-3">
          <%= fa_icon "filter" %>
          <%= f.text_field(
              :search_name,
              class: 'filterrific-periodically-observed form-control input-sm ml-2 w-25',
              placeholder: 'Nombre'
                ) %>
          <%= %>
          <%= render_filterrific_spinner %>
        </div>
      <% end %>
    </div>
  </div>

  <%= render(
    partial: 'establishments/list',
    locals: { establishments: @establishments }
  ) %>
<% else %>
  <%= render(
    partial: 'shared/not_found',
    locals: { object_name: 'establecimientos' }
  ) %>
<% end %>
