<%= render 'establishments/external_orders/header' %>

<div class="card fixed-custom-card">
  <div class="card-header d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center">
      <%= fa_icon "eye" %>
      <h5 class="card-title mb-0 ml-2">
        Viendo establecimiento <%= @establishment.name %>
      </h5>
    </div>
    <%= link_to establishments_path, class: 'btn btn-light' do %>
      <%= fa_icon 'times' %>
    <% end %>
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-9">
        <ul class='nav nav-tabs'>
          <li class='nav-item'>
            <a class="nav-link active" data-toggle='tab' href='#profile'>
              <%= fa_icon "user-injured" %>
              Información
            </a>
          </li>
          <li class='nav-item'>
            <a class="nav-link" data-toggle='tab' href='#location'>
              <%= fa_icon "map-marker-alt" %>
              Ubicación
            </a>
          </li>
          <li class='nav-item'>
            <a class="nav-link" data-toggle='tab' href='#sectors'>
              <%= fa_icon "bezier-curve" %>
              Sectores
            </a>
          </li>
          <li class='nav-item'>
            <a class="nav-link" data-toggle='tab' href='#users'>
              <%= fa_icon "users" %>
              Usuarios
            </a>
          </li>
        </ul>
        <div class="tab-content">

          <!-- Perfil -->
          <div id='profile' class='tab-pane fade show active pt-2'>
            <div class="row">
              <div class="col-4">
                <h5><strong>CUIE</strong></h5><p><%= @establishment.cuie %></p>
              </div>
              <div class="col-4">
                <h5><strong>Email</strong></h5><p><%= @establishment.email %></p>
              </div>
              <div class="col-4">
                <h5><strong>Teléfono</strong></h5><p><%= @establishment.phone %></p>
              </div>
              <div class="col-4">
                <h5><strong>Domicilio</strong></h5><p><%= @establishment.domicile %></p>
              </div>
              <div class="col-4">
                <h5><strong>Cuit</strong></h5><p><%= @establishment.cuit %></p>
              </div>
              <div class="col-4">
                <h5><strong>SISA</strong></h5><p><%= @establishment.siisa %></p>
              </div>
            </div>
          </div>

          <%# Ubicación %>
          <div id='location' class='tab-pane fade pt-2'>
            <% if @establishment.latitude.present? && @establishment.longitude.present? %>
              <iframe
                width="1140"
                height="630"
                style="border:0"
                loading="lazy"
                allowfullscreen
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAC45udxXu_GFnHefBcBLJcRHdHGFDIru4
                  &q=<%= @establishment.latitude %>,<%= @establishment.longitude %>">
              </iframe>
            <% else %>
              Sin ubicación
            <% end %>
          </div>
          <div id='sectors' class='tab-pane fade pt-2'>
            <%= render 'shared/sectors_table', sectors: @establishment.sectors, title: 'Sectores' %>
          </div>
          <div id='users' class='tab-pane fade pt-2'>
            <%= render 'shared/users_table', users: @establishment.users.to_set %>
          </div>
        </div>
      </div>
      <div class="col-3 border-left">
        <% if @establishment.latitude.present? && @establishment.longitude.present? %>
          <iframe
            width="372"
            height="400"
            style="border:0"
            loading="lazy"
            allowfullscreen
            src="https://www.google.com/maps/embed/v1/streetview?key=AIzaSyAC45udxXu_GFnHefBcBLJcRHdHGFDIru4
              &location=<%= @establishment.latitude %>,<%= @establishment.longitude %> &heading=210&pitch=10&fov=35">
          </iframe>
        <% elsif @establishment.image.attached? %>
          <%= image_tag @establishment.image.variant(resize: "x500", gravity: "center"), class:"img-thumbnail" %>
        <% else %>
          <%= image_tag('hospital-solid.svg', width: '180px', class: 'text-light') %>
        <% end %>

        <%= @establishment.name %>
      </div>
    </div>
  </div>

  <div class="card-footer d-flex justify-content-end">
    <%= link_to :back, class: "btn btn-light mr-2" do %>
      Volver
    <% end %>
    <% if policy(@establishment).edit? %>
      <%= link_to edit_establishment_path(@establishment), :"data-turbolinks" => false, class: "btn btn-warning" do %>
        <%= fa_icon "pen" %>
        Editar
      <% end %>
    <% end %>
  </div>
</div>
