<%= render 'external_orders/header' %>

<div class="card">
  <div class="card-header">
    <%= content_tag(:span, '', class: 'glyphicon glyphicon-eye-open') %> Viendo establecimiento <%= @establishment.name %>
    <%= link_to establishments_path, class: 'btn pull-right close-btn',
      :title => 'Cerrar', :'data-placement'=>'top', :'data-toggle'=>'tooltip' do %>
      <%= content_tag(:span, '', class: 'glyphicon glyphicon-remove') %>
    <% end %>
  </div>
  <div class="card-body">
    <%= @establishment.name %>
    <%# sectores de un establecimiento %>
    <% @establishment.sectors.each do |sector| %>
    <li class="list-group-item"><%= sector.name %></li>
    <% end %>
  </div>
  <div class="card-footer">
    <%= link_to 'Volver', establishments_path, class: "btn" %>
  </div>
</div>
