<%= render 'external_orders/header' %>

<div class="card fixed-custom-card">
  <div class="card-header d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center">
      <%= fa_icon "eye" %>
      <h5 class="card-title mb-0 ml-2">
        Viendo establecimiento <%= @establishment.name %>
      </h5>
    </div>
    <%= link_to establishments_path, class: 'btn btn-light' do %>
      <%= fa_icon 'times' %>
    <% end %>
  </div>


    <%# <div class="card mb-4">
      <div class="card-body">
        
      </div>
    </div> %>



    <div class="card-body">
      <div class="mb-4">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><span class="font-weight-bold">Email:</span> <%= @establishment.email%> </li>
          <li class="list-group-item"><span class="font-weight-bold">Teléfono:</span> <%= @establishment.phone%></li>
          <li class="list-group-item"><span class="font-weight-bold">Domicilio:</span> <%= @establishment.domicile%> </li>
          <li class="list-group-item"><span class="font-weight-bold">Cuit:</span> <%= @establishment.cuit%> </li>
          <li class="list-group-item"><span class="font-weight-bold">Código:</span> <%= @establishment.code%> </li>
        </ul>
      </div>
      <%# sectores de un establecimiento %>
      <div class="row h-row-custom">
        <div class="col-4 mh-col-custom">
          <%= render 'shared/sectors_table', sectors: @establishment.sectors, title: 'Sectores' %>
        </div>
        <div class="col-8 mh-col-custom">
          <%= render 'shared/users_table', users: @establishment.users.to_set %>
        </div>
      </div>
    </div>

  <div class="card-footer d-flex justify-content-end">
    <%= link_to :back, class: "btn btn-light mr-2" do %>
      Volver
    <% end %>
    <% if policy(@establishment).edit? %>
      <%= link_to edit_establishment_path(@establishment), :"data-turbolinks" => false, class: "btn btn-warning" do %>
        <%= fa_icon "pen" %>
        Editar
      <% end %>
    <% end %>
  </div>
</div>
