<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
 <!--Brand-->
  <div class="brand-container d-flex">
    <button class="btn btn-light" id="menu-toggle"><%= fa_icon "bars" %></button>
    <%= link_to root_path, data: { turbolinks: false }, class: "navbar-brand #{active_class('welcome')}" do %>
      <%= image_tag("LogoSIFAHO.png", size: "30x30", alt: "Logo SIFAHO", class: 'logo') %>
      SIFAHO
    <% end %>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <%= yield :page_header %>
    </ul>
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <%= render 'layouts/navigation_links' %>
      <%= render 'layouts/login_items'%>
    </ul>
  </div>
</nav>
