<nav class="navbar navbar-expand-custom border-bottom">
 <!--Brand-->
  <div class="brand-container d-flex">
    <div class="brand-container d-flex justify-content-between position-relative">
      <%= link_to main_app.root_path, data: { turbolinks: false }, class: "navbar-brand #{active_class('welcome')} d-flex justify-content-start align-items-center" do %>
        <%= image_tag("sifaho-brand-dark.svg", alt: "Logo SIFAHO", class: 'logo dark-logo') %>
        <%= image_tag("sifaho-logo.svg", alt: "Logo SIFAHO", class: 'logo light-logo') %>
        <% if ENV['DEMO_RIBBON'] %>
          <span class="badge badge-warning demo-badge-nav"><strong>DEMO</strong></span>
        <% end %>
      <% end %>
      <% if policy(:dashboard).sidebar? %>
        <button type="button" class="btn" id="menu-toggle" data-target="#wrapper"  onClick="toggleSidabar(this);" data-url="<%= main_app.profile_path(current_user.profile) %>"><%= fa_icon "bars" %></button>
      <% end %>
    </div>
  </div>
  <div class="navbar-toggle-custom align-items-center">
    <%= render 'layouts/navigation_links' %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#dropdown-menu-header" aria-controls="dropdown-menu-header" aria-expanded="false" aria-label="Toggle navigation">
      <%= fa_icon "bars" %>
    </button>
  </div>
  <div class="collapse navbar-collapse d-flex align-items-center justify-content-between" id="dropdown-menu-header">
    <ul class="navbar-nav module-links-navbar modules-links">
      <%= yield :page_header %>
    </ul>
    <ul class="navbar-nav module-links-navbar">
      <li class="nav-item d-flex align-items-center <%= active_class('notifications/notifications') %> mr-2 notification-container">
        <%= render 'layouts/navigation_links' %>
      </li>
      <%= render 'layouts/login_items' %>
    </ul>
  </div>
  
</nav>
