<% if policy(Notification).index? %>
    <li class="nav-item d-flex align-items-center <%= active_class('notifications/notifications') %> mr-2 notification-container">
      <div class="btn-group">
        <button role="button" class="nav-link btn notification-btn" title="Ver notificaciones" data-placement="bottom" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <% count = Notification.unread_count(current_user) %>
          <%= fa_icon "bell" %>
          <% if count > 0 %>
            <div class="badge badge-danger badge-notify c-badge"><%= count %></div>
          <% end %>
        </button>
        <div class="dropdown-menu dropdown-menu-right notification-dropdown p-0 m-0">
          <ul class="list-group">
            <% Notification.last_notifications(current_user.id).each do |notification| %>
              <%= render partial: "/notifications/notifications/notification_link", 
              locals: { notification: notification, short_message: true } %>
            <% end %>
            <li class="list-group-item">
              <%= link_to main_app.notifications_path, class: "nav-link" do %>
                Ver más notificaciones
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </li>
<% end %>