<nav class="navbar navbar-expand-custom border-bottom">
 <!--Brand-->
  <div class="brand-container d-flex">
    <% if policy(:dashboard).sidebar? %>
      <button class="btn btn-light" id="menu-toggle"><%= fa_icon "bars" %></button>
    <% end %>
    <%= link_to main_app.root_path, data: { turbolinks: false }, class: "navbar-brand #{active_class('welcome')} d-flex justify-content-start align-items-center" do %>
      <%= image_tag("sifaho-brand.png", alt: "Logo SIFAHO", class: 'logo') %>
    <% end %>
    <% if ENV['DEMO_RIBBON'] %>
      <span class="badge badge-warning demo-badge-nav"><strong>DEMO</strong></span>
    <% end %>
  </div>
  <div class="navbar-toggle-custom">
    <%= render 'layouts/navigation_links' %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#dropdown-menu-header" aria-controls="dropdown-menu-header" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse" id="dropdown-menu-header">
    <ul class="navbar-nav mr-auto module-links-navbar">
      <%= yield :page_header %>
    </ul>
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item d-flex align-items-center <%= active_class('notifications/notifications') %> mr-2 notification-container">
        <%= render 'layouts/navigation_links' %>
      </li>
      <%= render 'layouts/login_items' %>
    </ul>
  </div>
  
</nav>
