<li class="<%= active_class(root_path) %>">
  <%= link_to root_path do %>
    <%= content_tag(:span, '', class: 'glyphicon glyphicon-home') %>
    Inicio
  <% end %>
</li>


<!--  Menu PEDIDOS -->
<li class="nav-header" data-toggle="collapse" data-target="#pedidos"><div id="pedidos-label" class="well well-sm">
  <span class="glyphicon glyphicon-list-alt"><strong> Pedidos</strong></div></li>
<ul class="nav nav-list" id="pedidos">
  <li id="pedidos-li" class="<%= active_class(prescriptions_path) %>">
    <%= link_to prescriptions_url do %>
      Prescripciones
    <% end %>
  </li>
  <li id="pedidos-li" class="<%= active_class(internal_orders_path) %>">
    <%= link_to internal_orders_path do %>
      Internos
    <% end %>
  </li>
</ul>



<!-- Menu STOCK -->
<li class="nav-header" data-toggle="collapse" data-target="#stock"><div id="stock-label" class="well well-sm">
  <span class="glyphicon glyphicon-barcode"><strong> Stock</strong></div></li>
<ul class="nav nav-list" id="stock">
  <li id="stock-li" class="<%= active_class(medications_path) %>">
    <%= link_to medications_url do %>
      Medicamentos
    <% end %>
  </li>
  <li id="stock-li" class="<%= active_class(supplies_path) %>">
    <%= link_to supplies_url do %>
      Suministros
    <% end %>
  </li>
  <li id="stock-li"><a href="#">Abastecimiento</a></li>
</ul>



<!-- Menu USUARIOS -->
  <li class="nav-header" data-toggle="collapse" data-target="#usuarios"><div id="usuarios-label" class="well well-sm">
    <span class="glyphicon glyphicon-user"><strong> Usuarios</strong></div></li>
  <ul class="nav nav-list" id="usuarios">
  <li id="usuarios-li" class="<%= active_class(professionals_path) %>">
    <%= link_to professionals_url do %>
      Profesionales
    <% end %>
  </li>
  <li id="usuarios-li" class="<%= active_class(patients_path) %>">
    <%= link_to patients_url do %>
      Pacientes
    <% end %>
  </li>
</ul>
