<li class="<%= active_class('welcome') %>">
  <%= link_to root_path do %>
    <%= content_tag(:span, '', class: 'glyphicon glyphicon-home') %>
    Inicio
  <% end %>
</li>


<!--  Menu PEDIDOS -->
<li class="nav-header" data-toggle="collapse" data-target="#pedidos"><div id="pedidos-label" class="well well-sm">
  <span class="glyphicon glyphicon-list-alt"><strong> Pedidos</strong></div></li>
<ul class="nav nav-list" id="pedidos">
  <li id="pedidos-li" class="<%= active_class('prescriptions') %>">
    <% if policy(Prescription).index? %>
      <%= link_to prescriptions_url do %>
        Prescripciones
        <% if policy(Prescription).new? %>
          <div class="btn-add-pres">
            <%= link_to new_prescription_path, remote: true, class: 'btn btn-primary btn-xs' do %>
              <%= content_tag(:span, '', class: 'glyphicon glyphicon-plus') %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </li>
  <li id="pedidos-li" class="<%= active_class('internal_orders') %>">
    <% if policy(InternalOrder).index? %>
      <%= link_to internal_orders_url do %>
        Internos
        <% if policy(InternalOrder).new? %>
          <div class="btn-add-int">
            <%= link_to new_provider_internal_orders_path, class: 'btn btn-primary btn-xs' do %>
              <%= content_tag(:span, '', class: 'glyphicon glyphicon-plus') %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </li>
  <li id="pedidos-li" class="<%= active_class('ordering_supplies') %>">
    <% if policy(OrderingSupply).index? %>
      <%= link_to ordering_supplies_url do %>
        Abastecimiento
        <% if policy(OrderingSupply).new? %>
          <div class="btn-add-int">
            <%= link_to new_ordering_supply_path, class: 'btn btn-primary btn-xs' do %>
              <%= content_tag(:span, '', class: 'glyphicon glyphicon-plus') %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </li>
</ul>



<!-- Menu STOCK -->
<li class="nav-header" data-toggle="collapse" data-target="#stock"><div id="stock-label" class="well well-sm">
  <span class="glyphicon glyphicon-barcode"><strong> Stock</strong></div></li>
<ul class="nav nav-list" id="stock">
  <li id="stock-li" class="<%= active_class('sector_supply_lots') %>">
    <% if policy(SectorSupplyLot).index? %>
      <%= link_to sector_supply_lots_url do %>
        <%= current_user.sector.name %>
      <% end %>
    <% end %>
  </li>
  <li id="stock-li" class="<%= active_class('supply_lots') %>">
    <% if policy(SupplyLot).index? %>
      <%= link_to supply_lots_url do %>
        Lotes Provincia
      <% end %>
    <% end %>
  </li>
  <li id="stock-li" class="<%= active_class('supplies') %>">
    <% if policy(Supply).index? %>
      <%= link_to supplies_url do %>
        Listado insumos
      <% end %>
    <% end %>
  </li>
</ul>



<!-- Menu USUARIOS -->
  <li class="nav-header" data-toggle="collapse" data-target="#efectores"><div id="efectores-label" class="well well-sm">
    <span class="glyphicon glyphicon-user"><strong> Efectores</strong></div></li>
  <ul class="nav nav-list" id="efectores">
  <li id="efectores-li" class="<%= active_class('professionals') %>">
    <% if policy(Professional).index? %>
      <%= link_to professionals_url do %>
        Profesionales
      <% end %>
    <% end %>
  </li>
  <li id="efectores-li" class="<%= active_class('patients') %>">
    <% if policy(Patient).index? %>
      <%= link_to patients_url do %>
        Pacientes
      <% end %>
    <% end %>
  </li>
  <li id="efectores-li" class="<%= active_class('laboratories') %>">
    <% if policy(Laboratory).index? %>
      <%= link_to laboratories_url do %>
        Laboratorios
      <% end %>
    <% end %>
  </li>
</ul>
