<li class="<%= active_class(root_path) %>">
  <%= link_to root_path do %>
    <%= content_tag(:span, '', class: 'glyphicon glyphicon-home') %>
    Inicio
  <% end %>
</li>


<!--  Menu PEDIDOS -->
<li class="nav-header" data-toggle="collapse" data-target="#pedidos"><div id="pedidos-label" class="well well-sm">
  <span class="glyphicon glyphicon-list-alt"><strong> Pedidos</strong></div></li>
<ul class="nav nav-list" id="pedidos">
  <li id="pedidos-li" class="<%= active_class(prescriptions_path) %>">
    <% if policy(Prescription).index? %>
      <%= link_to prescriptions_url do %>
        Prescripciones
      <% end %>
    <% end %>
  </li>
  <li id="pedidos-li" class="<%= active_class(internal_orders_path) %>">
    <% if policy(InternalOrder).index? %>
      <%= link_to internal_orders_path do %>
        Internos
      <% end %>
    <% end %>
  </li>
</ul>



<!-- Menu STOCK -->
<li class="nav-header" data-toggle="collapse" data-target="#stock"><div id="stock-label" class="well well-sm">
  <span class="glyphicon glyphicon-barcode"><strong> Stock</strong></div></li>
<ul class="nav nav-list" id="stock">
  <li id="stock-li" class="<%= active_class(sector_supply_lots_path) %><%= active_class(trash_index_sector_supply_lots_path) %>">
    <% if policy(SectorSupplyLot).index? %>
      <%= link_to sector_supply_lots_url do %>
        <%= current_user.sector.sector_name %>
      <% end %>
    <% end %>
  </li>
  <li id="stock-li" class="<%= active_class(supply_lots_path) %><%= active_class(trash_index_supply_lots_path) %>">
    <% if policy(SupplyLot).index? %>
      <%= link_to supply_lots_url do %>
        Lotes Provincia
      <% end %>
    <% end %>
  </li>
  <li id="stock-li" class="<%= active_class(supplies_path) %><%= active_class(trash_index_supplies_path) %>">
    <% if policy(Supply).index? %>
      <%= link_to supplies_url do %>
        Listado insumos
      <% end %>
    <% end %>
  </li>
</ul>



<!-- Menu USUARIOS -->
  <li class="nav-header" data-toggle="collapse" data-target="#efectores"><div id="efectores-label" class="well well-sm">
    <span class="glyphicon glyphicon-user"><strong> Efectores</strong></div></li>
  <ul class="nav nav-list" id="efectores">
  <li id="efectores-li" class="<%= active_class(professionals_path) %>">
    <% if policy(Professional).index? %>
      <%= link_to professionals_url do %>
        Profesionales
      <% end %>
    <% end %>
  </li>
  <li id="efectores-li" class="<%= active_class(patients_path) %>">
    <% if policy(Patient).index? %>
      <%= link_to patients_url do %>
        Pacientes
      <% end %>
    <% end %>
  </li>
  <li id="efectores-li" class="<%= active_class(laboratories_path) %>">
    <% if policy(Laboratory).index? %>
      <%= link_to laboratories_url do %>
        Laboratorios
      <% end %>
    <% end %>
  </li>
</ul>
