<li class="<%= active_class('welcome') %>">
  <%= link_to main_app.root_path do %>
    <%= content_tag(:span, '', class: 'glyphicon glyphicon-home') %>
    Inicio
  <% end %>
</li>

<!--  Menu PEDIDOS -->
<li class="nav-header" data-toggle="collapse" data-target="#pedidos"><div id="pedidos-label" class="well well-sm">
  <span class="glyphicon glyphicon-list-alt"><strong> Pedidos</strong></div></li>
<ul class="nav nav-cust nav-list" id="pedidos">
  <li id="pedidos-li" class="<%= active_class('prescriptions') %>">
    <% if policy(Prescription).index? %>
      <%= link_to main_app.prescriptions_path do %>
        Prescripciones
        <% if policy(Prescription).new? %>
          <div class="btn-add-pres">
            <%= link_to main_app.new_prescription_path, class: 'btn btn-primary btn-xs' do %>
              <%= content_tag(:span, '', class: 'glyphicon glyphicon-plus') %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </li>
  <li id="pedidos-li" class="<%= active_class('internal_orders') %>">
    <% if policy(InternalOrder).index? %>
      <%= link_to main_app.applicant_index_internal_orders_path do %>
        Internos
        <% if policy(InternalOrder).new? %>
          <div class="btn-add-int">
            <%= link_to main_app.new_provider_internal_orders_path, class: 'btn btn-primary btn-xs' do %>
              <%= content_tag(:span, '', class: 'glyphicon glyphicon-plus') %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </li>
  <li id="pedidos-li" class="<%= active_class('ordering_supplies') %>">
    <% if policy(OrderingSupply).index? %>
      <%= link_to main_app.applicant_index_ordering_supplies_path do %>
        Abastecimiento
      <% end %>
    <% end %>
  </li>
</ul>


<!-- Menu STOCK -->
<li class="nav-header" data-toggle="collapse" data-target="#stock"><div id="stock-label" class="well well-sm">
  <span class="glyphicon glyphicon-barcode"><strong> Stock</strong></div></li>
<ul class="nav nav-cust nav-list" id="stock">
  <li id="stock-li" class="<%= active_class('sector_supply_lots') %>">
    <% if policy(SectorSupplyLot).index? %>
      <%= link_to main_app.group_by_supply_sector_supply_lots_path do %>
        <%= current_user.sector.name %>
      <% end %>
    <% end %>
  </li>
  <li id="stock-li" class="<%= active_class('supply_lots') %>">
    <% if policy(SupplyLot).index? %>
      <%= link_to main_app.supply_lots_path do %>
        Lotes Provincia
      <% end %>
    <% end %>
  </li>
  <li id="stock-li" class="<%= active_class('office_supplies') %>">
    <% if policy(OfficeSupply).index? %>
      <%= link_to main_app.office_supplies_path do %>
        Insumos Oficina
      <% end %>
    <% end %>
  </li>
  <li id="stock-li" class="<%= active_class('supplies') %>">
    <% if policy(Supply).index? %>
      <%= link_to main_app.supplies_path do %>
        Vademécum
      <% end %>
    <% end %>
  </li>
</ul>

<!-- Menu USUARIOS -->
  <li class="nav-header" data-toggle="collapse" data-target="#efectores"><div id="efectores-label" class="well well-sm">
    <span class="glyphicon glyphicon-user"><strong> Efectores</strong></div>
  </li>
  <ul class="nav nav-cust nav-list" id="efectores">
    <li id="efectores-li" class="<%= active_class('professionals') %>">
      <% if policy(Professional).index? %>
        <%= link_to main_app.professionals_path do %>
          Profesionales
        <% end %>
      <% end %>
    </li>
    <li id="efectores-li" class="<%= active_class('patients') %>">
      <% if policy(Patient).index? %>
        <%= link_to main_app.patients_path do %>
          Pacientes
        <% end %>
      <% end %>
    </li>
    <li id="efectores-li" class="<%= active_class('laboratories') %>">
      <% if policy(Laboratory).index? %>
        <%= link_to main_app.laboratories_path do %>
          Laboratorios
        <% end %>
      <% end %>
    </li>
  </ul>

<!-- Menu NOTIFICACIONES -->
  <li class="nav-header hidden"data-toggle="collapse" data-target="#notificaciones">
    <div id="notificaciones-label" class="well well-sm">
      <span class="glyphicon glyphicon-bell"></span><strong> Notificaciones</strong>
    </div>
  </li>
  <ul class="nav nav-cust nav-list hidden"  id="notificaciones">
    <li id="notificaciones-li" class="<%= active_class('notifications/notifications') %>">
      <%= link_to main_app.notifications_path do %>
        Notificaciones
      <% end %>
    </li>
  </ul>
  