<li>
  <%= link_to root_path do %>
    <%= content_tag(:span, '', class: 'glyphicon glyphicon-home') %>
    Inicio
  <% end %>
</li>
<li><div id="pedidos-label" class="well well-sm">Pedidos</div></li>
<li>
  <%= link_to prescriptions_url do %>
    Prescripciones
  <% end %>
</li>
<li><a href="#">Internos</a></li>
<li><div id="stock-label" class="well well-sm">Stock</div></li>
<li>
  <%= link_to medications_url do %>
    Medicamentos
  <% end %>
</li>
<li><a href="#">Suministros</a></li>
<li><a href="#">Abastecimiento</a></li>
<li><div id="usuarios-label" class="well well-sm">Usuarios</div></li>
<li>
  <%= link_to professionals_url do %>
    Profesionales
  <% end %>
</li>
<li>
  <%= link_to patients_url do %>
    Pacientes
  <% end %>
</li>
