<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "SIFAHO" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "SIFAHO App farmacia HSMA" %>">
    <%= favicon_link_tag 'sifaho-favicon.png' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= yield(:head) %>
    <%= csrf_meta_tags %>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script><!-- Fix dropdown navbar -->
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
      <div class="col-md-10 cols-sm-10">
        <% if user_signed_in? %>
          <div class="panel-heading" id="page-header"><h3 class="panel-heading custom-header"><%= yield :page_header %></h3></div>
        <% end %>
        <div class="container-fluid">
          <div class="row">
            <%= render "layouts/flash_notices" %>
            <%= yield %>
            <%= render "shared/dialog" %>
            <div class="footer">
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
