<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "SIFAHO" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "SIFAHO App farmacia HSMA" %>">
    <%= favicon_link_tag 'sifaho-favicon.png' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= yield(:head) %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% if ENV['DEMO_RIBBON'] %>
      <div class="corner-ribbon bottom-right sticky green shadow"><strong>DEMO</strong></div>
    <% end %>

    <div id="wrapper">
      <% if user_signed_in? %>
        <!-- General Navbar -->
        <%= render 'layouts/navigation' %>
      <% end %>

      <!-- Flash message -->
      <div id="flash_messages" class="alert-container">
        <%= render "layouts/flash_notices" %>
      </div>

      <!-- Page Content -->
      <div class="d-flex" id="wrapper-2">

         <!-- Sidebar -->
        <% if user_signed_in? %>
          <% if policy(:dashboard).sidebar? %>
            <%= render 'layouts/side_navigation' %>
          <% end %>
        <% end %>

        <div id="page-content-wrapper">
          <div class="mt-3 container-fluid">

            <!-- Modal -->
            <%= render "shared/dialog" %>

            <!-- Main yield -->
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
